@use '_variables' as *;
@use '_mixins' as *;
@use '_actor' as *;
@use '_miniature' as *;

.root {
  --myGlobalTopPadding: 60px;
  --myImgMargin: 30px;
  --myFontSize: 16px;
  --myGreyFontSize: 16px;
}

.section-label {
  @include section-label-responsive;
}

.links {
  @include grid-videos-miniature-margins;

  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: $max-channels-width;

  simple-search-input {
    @include margin-left(auto);
  }
}

my-user-moderation-dropdown,
.badge {
  @include margin-left(10px);

  position: relative;
  top: 3px;
}

.badge {
  font-size: 13px;
}

.copy-button {
  border: 0;
}

.account-info {
  @include grid-videos-miniature-margins(false, 15px);

  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-rows: auto auto;

  background-color: pvar(--submenuBackgroundColor);
  margin-bottom: 45px;
  padding-top: var(--myGlobalTopPadding);
  padding-bottom: var(--myGlobalTopPadding);
  font-size: var(--myFontSize);
}

.account-avatar-row {
  @include avatar-row-responsive(var(--myImgMargin), var(--myGreyFontSize));
}

.description {
  grid-column: 1 / 3;
  max-width: 1000px;
  word-break: break-word;
}

.show-more {
  @include show-more-description;

  display: none;
  text-align: center;
}

.buttons {
  grid-column: 2;
  grid-row: 1;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: flex-start;

  > *:not(:last-child) {
    margin-bottom: 15px;
  }

  > a {
    white-space: nowrap;
  }
}

@media screen and (max-width: $small-view) {
  .root {
    --myGlobalTopPadding: 45px;
    --myChannelImgMargin: 15px;
  }

  .account-info {
    display: block;
    padding-bottom: 60px;
  }

  .description:not(.expanded) {
    @include fade-text(30px, pvar(--submenuBackgroundColor));

    max-height: 70px;
  }

  .show-more {
    display: block;
  }

  .buttons {
    justify-content: center;
  }
}

@media screen and (max-width: $mobile-view) {
  .root {
    --myGlobalTopPadding: 15px;
    --myFontSize: 14px;
    --myGreyFontSize: 13px;
  }

  .account-info {
    display: block;
    padding-bottom: 30px;
  }

  .links {
    margin: auto !important;
    width: min-content;
  }

  .show-more {
    margin-bottom: 30px;
  }
}
