// Bootstrap grid utilities require functions, variables and mixins
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';
@import 'node_modules/bootstrap/scss/grid';

@import '_variables';
@import '_mixins';

.sub-menu {
  @include sub-menu-with-actor;

  .actor {
    width: 100%;
  }
}

.right-buttons {
  display: flex;
  height: max-content;
  margin-left: auto;
  margin-top: 10px;

  @include media-breakpoint-down(lg) {
    flex-flow: column-reverse;

    a {
      margin-top: 0.25rem;
      margin-right: 0 !important;
    }
  }

  a {
    @include peertube-button-outline;
  }

  my-subscribe-button {
    min-height: 30px;
  }
}

my-user-moderation-dropdown,
.badge {
  margin-left: 10px;

  position: relative;
  top: 3px;
}

.badge {
  font-size: 13px;
}

.copy-button {
  border: none;
  padding: 5px;
  margin-top: -2px;
}
