<div i18n class="alert alert-warning" *ngIf="isVideoToImport()">
  The video is being imported, it will be available when the import is finished.
</div>

<div i18n class="alert alert-warning" *ngIf="isVideoToTranscode()">
  The video is being transcoded, it may not work properly.
</div>

<div i18n class="alert alert-info" *ngIf="hasVideoScheduledPublication()">
  This video will be published on {{ video.scheduledUpdate.updateAt | date: 'full' }}.
</div>

<div i18n class="alert alert-info" *ngIf="isWaitingForLive()">
  This live has not started yet.
</div>

<div i18n class="alert alert-info" *ngIf="isLiveEnded()">
  This live has ended.
</div>

<div class="alert alert-danger" *ngIf="video?.blacklisted">
  <div class="blocked-label" i18n>This video is blocked.</div>
  {{ video.blockedReason }}
</div>
