@use '_variables' as *;
@use '_mixins' as *;

input#username + .muted {
  margin-top: 5px;
}

input[type=text] {
  @include peertube-input-text(340px);
}

input[type=submit] {
  margin-top: 15px;

  @include peertube-button;
  @include orange-button;
}

textarea {
  max-width: 100%;

  display: block;

  @include peertube-textarea(100%, 150px);
}
