@import '_variables';
@import '_mixins';

label {
  font-weight: $font-regular;
  font-size: 100%;
}

.form-group:first-child {
  margin-bottom: 15px;
}

input[type=text] {
  @include peertube-input-text(340px);

  display: block;
}

input[type=submit] {
  @include peertube-button;
  @include orange-button;

  margin-top: 15px;
}

textarea {
  @include peertube-textarea(500px, 150px);
  max-width: 100%;

  display: block;
}
