<div *ngIf="error" class="alert alert-danger">{{ error }}</div>

<form role="form" (ngSubmit)="updateMyProfile()" [formGroup]="form">

  <label for="display-name">Display name</label>
  <input
    type="text" id="display-name"
    formControlName="display-name" [ngClass]="{ 'input-error': formErrors['display-name'] }"
  >
  <div *ngIf="formErrors['display-name']" class="form-error">
    {{ formErrors['display-name'] }}
  </div>

  <label for="description">Description</label>
  <textarea
    id="description" formControlName="description"
    [ngClass]="{ 'input-error': formErrors['description'] }"
  ></textarea>
  <div *ngIf="formErrors.description" class="form-error">
    {{ formErrors.description }}
  </div>

  <input type="submit" value="Update my profile" [disabled]="!form.valid">
</form>
