@use '_variables' as *;
@use '_mixins' as *;

label {
  font-weight: $font-regular;
  font-size: 100%;
}

input#username + .muted {
  margin-top: 5px;
}

input[type=text] {
  @include peertube-input-text(340px);

  display: block;
}

input[type=submit] {
  @include peertube-button;
  @include orange-button;

  margin-top: 15px;
}

textarea {
  @include peertube-textarea(100%, 150px);
  max-width: 100%;

  display: block;
}
