<form role="form" (ngSubmit)="updateDetails()" [formGroup]="form">
  <div class="form-group">
    <label i18n for="nsfwPolicy">Default policy on videos containing sensitive content</label>
    <my-help
      helpType="custom" i18n-customHtml
      customHtml="With <strong>Do not list</strong> or <strong>Blur thumbnails</strong>, a confirmation will be requested to watch the video."
    ></my-help>

    <div class="peertube-select-container">
      <select id="nsfwPolicy" formControlName="nsfwPolicy">
        <option i18n value="do_not_list">Do not list</option>
        <option i18n value="blur">Blur thumbnails</option>
        <option i18n value="display">Display</option>
      </select>
    </div>
  </div>

  <my-peertube-checkbox
    inputName="autoPlayVideo" formControlName="autoPlayVideo"
    i18n-labelText labelText="Automatically plays video"
  ></my-peertube-checkbox>

  <input type="submit" i18n-value value="Save" [disabled]="!form.valid">
</form>
