.title-page-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 25px;
  flex-wrap: wrap-reverse;

  .title-page.active, .title-page.title-page-single {
    margin-bottom: unset;
    margin-right: .5rem !important;
  }
}

.title-page-autoplay {
  display: flex;
  width: max-content;
  height: max-content;
  align-items: center;
  margin-left: auto;

  span {
    margin-right: 0.3rem;
    text-transform: uppercase;
    font-size: 85%;
    font-weight: 600;
  }
}

hr {
  margin-top: 0;
}
