.title-page-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 25px;
  flex-wrap: wrap-reverse;

  .title-page.active, .title-page.title-page-single {
    margin-bottom: unset;
    margin-right: .5rem !important;
  }
}

.title-page-autoplay {
  display: flex;
  width: max-content;
  height: max-content;
  align-items: center;
  margin-left: auto;

  span {
    margin-right: 0.3rem;
    text-transform: uppercase;
    font-size: 85%;
    font-weight: 600;
  }
}

/* p-inputSwitch styles to reduce the switch size */

::ng-deep {
  p-inputswitch {
    height: 20px;
  }

  .ui-inputswitch {
    width: 2.5em !important;
    height: 1.45em !important;

    .ui-inputswitch-slider::before {
      height: 1em !important;
      width: 1em !important;
    }
  }

  .ui-inputswitch-checked .ui-inputswitch-slider::before {
    transform: translateX(1em) !important;
  }
}
