<div class="other-videos">
  <ng-container *ngIf="hasVideos$ | async">
    <div class="title-page-container">
      <div i18n class="title-page title-page-single">
        Other videos
      </div>
      <div *ngIf="!playlist" class="title-page-autoplay"
        [ngbTooltip]="autoPlayNextVideoTooltip" placement="bottom-right auto"
      >
        <span i18n>AUTOPLAY</span>
        <p-inputSwitch class="small" [(ngModel)]="autoPlayNextVideo" (ngModelChange)="switchAutoPlayNextVideo()"></p-inputSwitch>
      </div>
    </div>

    <div *ngFor="let video of (videos$ | async); let i = index; let length = count">
      <my-video-miniature [video]="video" [user]="user" (videoBlacklisted)="onVideoRemoved()" (videoRemoved)="onVideoRemoved()">
      </my-video-miniature>
      
      <hr *ngIf="!playlist && i == 0 && length > 1" />
    </div>
  </ng-container>
</div>
