@import '_variables';
@import '_mixins';

.about-instance-title {
  display: flex;
  justify-content: space-between;

  .title {
    font-size: 20px;
    font-weight: $font-semibold;
  }

  .contact-admin {
    @include peertube-button;
    @include orange-button;

    height: fit-content;
  }
}

.instance-badges {
  font-size: 16px;
  margin-bottom: 20px;

  .badge {
    font-size: 12px;
    font-weight: $font-semibold;
    margin-right: 5px;

    &.category {
      background-color: pvar(--mainColor);
    }
  }
}

.section-title {
  font-weight: $font-semibold;
  font-size: 16px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.middle-title {
  @include in-content-small-title;

  margin-top: 0;
  margin-bottom: 25px;
}

.block {
  margin-bottom: 75px;
  font-size: 15px;
}

.short-description .dedicated-to-nsfw {
  margin-top: 20px;
  font-weight: $font-semibold;
}

.anchor-link {
  @include disable-outline;

  position: relative;

  &:hover, &:active {
    &::after {
      content: '#';
      display: inline-block;
      margin-left: 0.2em;
    }
  }

  .middle-title, .section-title {
    display: inline-block;
  }

  .section-title {
    color: var(--mainForegroundColor);
  }
}
