@import '_variables';
@import '_mixins';

.about-instance-title {
  display: flex;
  justify-content: space-between;

  & > div {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
  }

  & > .contact-admin {
    @include peertube-button;
    @include orange-button;
  }
}

.section-title {
  font-weight: $font-semibold;
  font-size: 20px;
  margin-bottom: 5px;
}

.short-description, .description, .terms, .signup {
  margin-bottom: 30px;
}
