@use '_variables' as *;
@use '_bootstrap-variables' as *;
@use '_mixins' as *;

.content {
  display: flex;

  @include rfs(4rem, gap);
}

my-instance-stat-rules {
  min-width: 600px;
}

@media screen and (max-width: #{breakpoint(xl)}) {
  .content {
    flex-wrap: wrap;
  }

  my-instance-stat-rules {
    min-width: 100%;
  }
}
