<div class="row">
  <div class="col-md-12 col-xl-6">

    <div class="about-instance-title">
      <div i18n class="title">About {{ instanceName }} instance</div>

      <div *ngIf="isContactFormEnabled" (click)="openContactModal()" i18n role="button" class="contact-admin">Contact administrator</div>
    </div>

    <div class="short-description">
      <div class="block short-description">{{ shortDescription }}</div>

      <div *ngIf="isNSFW" class="block dedicated-to-nsfw">This instance is dedicated to sensitive/NSFW content.</div>

      <div class="block">
        <div class="section-title" *ngIf="languages.length !== 0">Main instance languages</div>

        <ul>
          <li *ngFor="let language of languages">{{ language }}</li>
        </ul>
      </div>

      <div class="block">
        <div class="section-title" *ngIf="categories.length !== 0">Main instance categories</div>

        <ul>
          <li *ngFor="let category of categories">{{ category }}</li>
        </ul>
      </div>
    </div>

    <div class="middle-title" *ngIf="html.administrator || maintenanceLifetime || businessModel">
      Administrators & sustainability
    </div>

    <div class="block administrator" *ngIf="html.administrator">
      <div i18n class="section-title">Who are we?</div>

      <div [innerHTML]="html.administrator"></div>
    </div>

    <div class="block maintenance-lifetime" *ngIf="maintenanceLifetime">
      <div i18n class="section-title">How long do we plan to maintain this instance?</div>

      <p>{{ maintenanceLifetime }}</p>
    </div>

    <div class="block business-model" *ngIf="businessModel">
      <div i18n class="section-title">How will we pay this instance?</div>

      <p>{{ businessModel }}</p>
    </div>

    <div class="middle-title" *ngIf="html.description">
      Information
    </div>

    <div class="block description">
      <div i18n class="section-title">Description</div>

      <div [innerHTML]="html.description"></div>
    </div>

    <div class="middle-title" *ngIf="html.moderationInformation || html.codeOfConduct || html.terms">
      Moderation
    </div>

    <div class="block moderation-information" *ngIf="html.moderationInformation">
      <div i18n class="section-title">Moderation information</div>

      <div [innerHTML]="html.moderationInformation"></div>
    </div>

    <div class="block code-of-conduct" *ngIf="html.codeOfConduct">
      <div i18n class="section-title">Code of conduct</div>

      <div [innerHTML]="html.codeOfConduct"></div>
    </div>

    <div class="block terms" id="terms-section">
      <div i18n class="section-title">Terms</div>

      <div [innerHTML]="html.terms"></div>
    </div>
  </div>

  <div class="col-md-12 col-xl-6">
    <label>Features found on this instance</label>
    <my-instance-features-table></my-instance-features-table>
  </div>
</div>

<my-contact-admin-modal #contactAdminModal></my-contact-admin-modal>
