@use '_variables' as *;
@use '_mixins' as *;

.pt-badge {
  @include margin-right(5px);
}

.section-title {
  font-weight: $font-semibold;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.middle-title {
  margin-top: 0;
  text-transform: uppercase;
  color: pvar(--fg);
  font-weight: $font-bold;

  @include font-size(22px);
  @include margin-bottom(1.5rem);
}

.block {
  @include margin-bottom(4.5rem);
}

.anchor-link {
  position: relative;

  @include disable-outline;

  &:hover,
  &:active {
    &::after {
      content: '#';
      display: inline-block;

      @include margin-left(0.2em);
    }
  }

  .middle-title,
  .section-title {
    display: inline-block;
    color: pvar(--fg-400);
  }
}
