@use '_variables' as *;
@use '_mixins' as *;

h3 {
  font-size: 1.25rem;
}

.stat {
  text-align: center;
  margin-bottom: 1em;
  overflow: hidden;

  .stat-value {
    font-size: 2.25em;
    line-height: 1em;
    margin: 0;
  }

  .stat-label {
    font-size: 1.15em;
    margin: 0;
  }

  .card-body {
    z-index: 2;
  }
}

my-global-icon {
  opacity: 0.12;
  position: absolute;
  left: 16px;
  top: -24px;
  width: 110px;
  height: 110px;

  &.icon-bottom {
    top: 4px;
  }
}
