@use '_variables' as *;
@use '_mixins' as *;
@use '_bootstrap-variables' as *;
@use '_components' as *;

.root {
  position: relative;
}

img {
  width: 30px;
  height: 30px;
  border: 1px solid pvar(--bg-secondary-400);
  border-radius: $instance-img-radius;
  position: absolute;
  top: 9px;
  left: 15px;
}
