@import '_mixins';

.wrapper {
  $avatar-size: 35px;

  width: $avatar-size;
  height: $avatar-size;
  min-width: $avatar-size;
  min-height: $avatar-size;
  position: relative;
  margin-right: 5px;

  &.avatar-sm {
    min-width: 28px;
    min-height: 28px;
  }

  a {
    @include disable-outline;
  }

  a img {
    height: 100%;
    object-fit: cover;
    position: absolute;
    top:50%;
    left:50%;
    border-radius: 50%;
    transform: translate(-50%,-50%)
  }

  a:nth-of-type(2) img {
    height: 60%;
    width: 60%;
    border: 2px solid var(--mainBackgroundColor);
    transform: translateX(15%);
    position: relative;
    background-color: var(--mainBackgroundColor);
  }
}
