@import 'variables';
@import 'mixins';

$width-size: 190px;

.peertube-select-container {
  @include peertube-select-container($width-size);
}

.import-video-url {
  display: flex;
  flex-direction: column;
  align-items: center;

  .icon.icon-upload {
    @include icon(90px);
    margin-bottom: 25px;
    cursor: default;

    background-image: url('../../../../assets/images/video/upload.svg');
  }

  input[type=text] {
    @include peertube-input-text($width-size);
    display: block;
  }

  input[type=button] {
    @include peertube-button;
    @include orange-button;

    width: $width-size;
    margin-top: 30px;
  }
}


