@use '_variables' as *;
@use '_mixins' as *;
@use '_form-mixins' as *;
@import 'bootstrap/scss/mixins';

.root {
  display: flex;
}

@media screen and (max-width: 1000px) {
  .root {
    margin-bottom: 150px;
  }
}

.video-header-block {
  border-radius: 14px;
  background-color: pvar(--bg-secondary-350);
}

.video-header {
  display: flex;
  flex-direction: column;

  .video-actions {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: 1.5rem;

    h2 {
      font-size: 1.5rem;
      flex-shrink: 1;
      color: pvar(--fg-350);
      font-weight: $font-bold;
      margin-bottom: 0;
      line-height: normal;

      @include ellipsis;
    }

    .watch-save {
      display: flex;
      gap: 1rem;
    }

    @media screen and (max-width: 1200px) {
      flex-direction: column;
      text-align: center;

      .cancel-button {
        display: none;
      }

      .watch-save {
        justify-content: center;
      }
    }
  }

  @include on-small-main-col {
    .watch-button-label {
      display: none;
    }
  }
}

.video-state {
  color: pvar(--fg-300);
  padding: 1rem 1.5rem;

  @include font-size(14px);
}
