<div class="root">
  <div>
    <div class="menu">
      <h1 i18n>MANAGE MY VIDEO</h1>

      <ul class="ul-unstyle">
        <li>
          <a routerLink="." queryParamsHandling="merge" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <div class="global-icon-wrapper">
              <my-global-icon iconName="film"></my-global-icon>
            </div>

            <span i18n>Main information</span>
          </a>
        </li>

        <li *ngIf="getVideo().isLive">
          <a routerLink="live-settings" queryParamsHandling="merge" routerLinkActive="active">
            <div class="global-icon-wrapper">
              <my-global-icon iconName="live"></my-global-icon>
            </div>

            <span i18n>Live settings</span>
          </a>
        </li>

        <div class="separator">
          <div></div>
        </div>

        <li>
          <a routerLink="customization" queryParamsHandling="merge" routerLinkActive="active">
            <div class="global-icon-wrapper">
              <my-global-icon iconName="cog"></my-global-icon>
            </div>

            <span i18n>Customization</span>
          </a>
        </li>

        <li>
          <a routerLink="moderation" queryParamsHandling="merge" routerLinkActive="active">
            <div class="global-icon-wrapper">
              <my-global-icon iconName="moderation"></my-global-icon>
            </div>

            <span i18n>Moderation</span>
          </a>
        </li>

        @if (!getVideo().isLive) {
          <li>
            <a routerLink="captions" queryParamsHandling="merge" routerLinkActive="active">
              <div class="global-icon-wrapper">
                <my-global-icon iconName="captions"></my-global-icon>
              </div>

              <span i18n>Captions</span>
            </a>
          </li>

          <li>
            <a routerLink="chapters" queryParamsHandling="merge" routerLinkActive="active">
              <div class="global-icon-wrapper">
                <my-global-icon iconName="chapters"></my-global-icon>
              </div>

              <span i18n>Chapters</span>
            </a>
          </li>

          <div class="separator">
            <div></div>
          </div>

          <li>
            <a routerLink="studio" queryParamsHandling="merge" routerLinkActive="active">
              <div class="global-icon-wrapper">
                <my-global-icon iconName="studio"></my-global-icon>
              </div>

              <span i18n>Studio</span>
            </a>
          </li>

          <li>
            <a routerLink="replace-file" queryParamsHandling="merge" routerLinkActive="active">
              <div class="global-icon-wrapper">
                <my-global-icon iconName="upload"></my-global-icon>
              </div>

              <span i18n>Replace file</span>
            </a>
          </li>
        }

        @if (canWatch()) {
          <div class="separator">
            <div></div>
          </div>

          <li>
            <a routerLink="stats" queryParamsHandling="merge" routerLinkActive="active">
              <div class="global-icon-wrapper">
                <my-global-icon iconName="stats"></my-global-icon>
              </div>

              <span i18n>Statistics</span>
            </a>
          </li>
        }
      </ul>
    </div>

    <div class="menu-placeholder"></div>
  </div>

  <div class="w-100 min-width-0">

    <div class="mb-3">
      <div class="video-header mb-2">
        <div class="video-actions video-header-block mb-2">
          <my-button class="cancel-button" icon="arrow-left" theme="secondary" i18n [ptRouterLink]="cancelLink()">Cancel</my-button>

          <h2>{{ getVideo().name }}</h2>

          <div class="watch-save">
            <my-button *ngIf="canWatch()" class="watch-button" icon="external-link" theme="secondary" class="me-3" [href]="getWatchUrl()">
              <span i18n class="watch-button-label">Watch the video</span>
            </my-button>

            <my-button
              theme="primary" class="save-button"
              icon="circle-tick"
              [disabled]="!canUpdate() || !hasPendingChanges()"  (click)="onWantToUpdate()"
            >
              @if (hasStudioTasks()) {
                <ng-container i18n>Save and run studio tasks</ng-container>
              } @else if (hasReplaceFile()) {
                <ng-container i18n>Save and replace file</ng-container>
              } @else {
                <ng-container i18n>Save</ng-container>
              }
            </my-button>
          </div>
        </div>

        <div *ngIf="getStateWarning()?.title" class="video-state video-header-block mb-2">
          <div class="alert-title">{{ getStateWarning().title }}</div>

          <strong class="me-1">{{ getStateWarning().manageMain }}</strong>
          <span>{{ getStateWarning().manageSecondary }}</span>
        </div>

        <my-manage-errors *ngIf="displayFormErrorsMsg && hasFormErrors()" class="d-block mb-2"></my-manage-errors>

        <my-upload-progress
          [isUploading]="isUploadingFile()"
          [uploadPercents]="getUploadPercents()" [error]="getUploadError()" [uploaded]="hasUploadedFile()"
          [enableRetryAfterError]="canRetryUpload" (retry)="retryUpload()"
        >
        </my-upload-progress>
      </div>

      <ng-content></ng-content>
    </div>

    <router-outlet></router-outlet>
  </div>
</div>
