<div class="menu">
  <h1 i18n>MANAGE MY VIDEO</h1>

  <ul class="ul-unstyle">
    <li>
      <a routerLink="." queryParamsHandling="merge" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <div class="global-icon-wrapper">
          <my-global-icon iconName="film"></my-global-icon>
        </div>

        <span i18n>Main information</span>
      </a>
    </li>

    <li *ngIf="getVideo().isLive">
      <a routerLink="live-settings" queryParamsHandling="merge" routerLinkActive="active">
        <div class="global-icon-wrapper">
          <my-global-icon iconName="live"></my-global-icon>
        </div>

        <span i18n>Live settings</span>
      </a>
    </li>

    <div class="separator">
      <div></div>
    </div>

    <li>
      <a routerLink="customization" queryParamsHandling="merge" routerLinkActive="active">
        <div class="global-icon-wrapper">
          <my-global-icon iconName="cog"></my-global-icon>
        </div>

        <span i18n>Customization</span>
      </a>
    </li>

    <li>
      <a routerLink="moderation" queryParamsHandling="merge" routerLinkActive="active">
        <div class="global-icon-wrapper">
          <my-global-icon iconName="moderation"></my-global-icon>
        </div>

        <span i18n>Moderation</span>
      </a>
    </li>

    @if (!getVideo().isLive) {
      <li>
        <a routerLink="captions" queryParamsHandling="merge" routerLinkActive="active">
          <div class="global-icon-wrapper">
            <my-global-icon iconName="captions"></my-global-icon>
          </div>

          <span i18n>Captions</span>
        </a>
      </li>

      <li>
        <a routerLink="chapters" queryParamsHandling="merge" routerLinkActive="active">
          <div class="global-icon-wrapper">
            <my-global-icon iconName="chapters"></my-global-icon>
          </div>

          <span i18n>Chapters</span>
        </a>
      </li>

      <div class="separator">
        <div></div>
      </div>

      <li>
        <ng-template #iconStudio>
          <div class="global-icon-wrapper">
            <my-global-icon iconName="studio"></my-global-icon>
          </div>
        </ng-template>

        <ng-template #labelStudio>
          <span i18n>Studio</span>
        </ng-template>

        @if (studioUnavailable()) {
          <my-unavailable-menu-entry [help]="studioUnavailable()">
            <span class="icon" *ngTemplateOutlet="iconStudio"></span>
            <span class="label" *ngTemplateOutlet="labelStudio"></span>
          </my-unavailable-menu-entry>
        } @else {
          <a routerLink="studio" queryParamsHandling="merge" routerLinkActive="active">
            <ng-container *ngTemplateOutlet="iconStudio"></ng-container>
            <ng-container *ngTemplateOutlet="labelStudio"></ng-container>
          </a>
        }
      </li>

      <li>
        <ng-template #iconReplaceFile>
          <div class="global-icon-wrapper">
            <my-global-icon iconName="upload"></my-global-icon>
          </div>
        </ng-template>

        <ng-template #labelReplaceFile>
          <span i18n>Replace file</span>
        </ng-template>

        @if (replaceFileUnavailable()) {
          <my-unavailable-menu-entry [help]="replaceFileUnavailable()">
            <span class="icon" *ngTemplateOutlet="iconReplaceFile"></span>
            <span class="label" *ngTemplateOutlet="labelReplaceFile"></span>
          </my-unavailable-menu-entry>
        } @else {
          <a routerLink="replace-file" queryParamsHandling="merge" routerLinkActive="active">
            <ng-container *ngTemplateOutlet="iconReplaceFile"></ng-container>
            <ng-container *ngTemplateOutlet="labelReplaceFile"></ng-container>
          </a>
        }
      </li>
    }

    @if (canWatch()) {
      <div class="separator">
        <div></div>
      </div>

      <li>
        <a routerLink="stats" queryParamsHandling="merge" routerLinkActive="active">
          <div class="global-icon-wrapper">
            <my-global-icon iconName="stats"></my-global-icon>
          </div>

          <span i18n>Statistics</span>
        </a>
      </li>
    }
  </ul>
</div>

<div class="menu-placeholder"></div>
