<ng-template #modal>
  <div class="modal-body">
    <my-admin-config-wizard-stepper #stepper>
      @if (showWelcome) {
        <cdk-step i18n-label label="Welcome introduction">
          <my-admin-config-wizard-welcome (back)="stepper.previous()" (next)="stepper.next()" (hide)="hide($event)"></my-admin-config-wizard-welcome>
        </cdk-step>
      }

      <cdk-step i18n-label label="Edit general information">
        <my-admin-config-wizard-edit-info
          [currentStep]="currentStep()" totalSteps="3"
          (back)="stepper.previous()" (next)="instanceInfo = $event; stepper.next()" (hide)="hide()"
          [showBack]="showWelcome"
        ></my-admin-config-wizard-edit-info>
      </cdk-step>

      <cdk-step i18n-label label="Usage type">
        <my-admin-config-wizard-form
          [currentStep]="currentStep()" totalSteps="3"
          (back)="stepper.previous()" (next)="usageType = $event; stepper.next()" (hide)="hide()"
        ></my-admin-config-wizard-form>
      </cdk-step>

      <cdk-step i18n-label label="Configuration preview">
        <my-admin-config-wizard-preview
          [usageType]="usageType" [instanceInfo]="instanceInfo" [dryRun]="dryRun"
          [currentStep]="currentStep()" totalSteps="3"
          (back)="stepper.previous()" (next)="showWelcome ? stepper.next() : hide()" (hide)="hide()"
          ></my-admin-config-wizard-preview>
      </cdk-step>

      @if (showWelcome) {
        <cdk-step i18n-label label="Post configuration documentation">
          <my-admin-config-wizard-documentation (hide)="hide({ doNotOpenAgain: true })"></my-admin-config-wizard-documentation>
        </cdk-step>
      }
    </my-admin-config-wizard-stepper>
  </div>
</ng-template>
