.label-description {
  display: inline-block;
  font-weight: bold;
  color: black;
}

.requests-general {
  .label-description {
    width: 320px;
  }
}

.requests-limit {
  margin-top: 20px;

  .label-description {
    width: 430px;
  }
}
