@import '_variables';
@import '_mixins';

.user {
  display: flex;

  img {
    @include avatar(50px);

    margin-right: 15px;
  }

  .user-info {
    .user-info-username {
      font-size: 20px;
      font-weight: $font-bold;
    }

    .user-info-followers {
      font-size: 15px;
    }
  }
}

.button-file {
  @include peertube-button-file(160px);

  margin-top: 10px;
  margin-bottom: 5px;
}

.file-max-size {
  display: inline-block;
  font-size: 13px;

  position: relative;
  top: -10px;
}

.user-quota {
  font-size: 15px;
  margin-top: 20px;

  .user-quota-label {
    font-weight: $font-semibold;
  }
}

.account-title {
  text-transform: uppercase;
  color: $orange-color;
  font-weight: $font-bold;
  font-size: 13px;
  margin-top: 55px;
  margin-bottom: 30px;
}
