@use '_variables' as *;
@use '_mixins' as *;

.dropdown-item {
  font-size: 14px;
}

input {
  @include peertube-input-text(250px);
}

.input-group-text {
  background-color: transparent;
}

my-global-icon {
  $size: 18px;
  $margin: 2px;

  @include margin-right($margin);

  opacity: 1;
  width: 18px;
  height: 18px;

  &.no-visible {
    @include margin-right($size + $margin);

    width: 0;
    height: 0;
  }
}

div[role=menu] {
  max-height: 50vh;
  overflow: auto;
}
