@use "_variables" as *;
@use "_mixins" as *;
@use "_form-mixins" as *;

input:not([type="submit"]) {
  max-width: 340px;
  width: 100%;

  display: block;

  @include peertube-input-text(340px);
}

textarea {
  display: block;

  @include peertube-textarea(340px, 200px);
}

.peertube-select-container {
  @include responsive-width(340px);
}

my-markdown-textarea {
  display: block;
  max-width: 500px;
}
