@use '_variables' as *;
@use '_mixins' as *;
@use '_form-mixins' as *;

input:not([type=submit]) {
  max-width: 340px;
  width: 100%;

  display: block;

  @include peertube-input-text(340px);
}

textarea {
  display: block;

  @include peertube-textarea(340px, 200px);
}

.peertube-select-container {
  @include peertube-select-container(340px);
}

.label-small-info {
  font-style: italic;
  margin-bottom: 10px;
  font-size: 13px;
}

my-peertube-checkbox + .label-small-info {
  margin-top: 5px;
}

my-markdown-textarea {
  display: block;
  max-width: 500px;
}
