@use "_variables" as *;
@use "_mixins" as *;

:host {
  display: block;
}

.preview-container,
.preview {
  height: 100%;
  width: 100%;
}

.preview-container {
  position: relative;

  .buttons {
    display: flex;
    gap: 10px;
  }

  .preview {
    object-fit: cover;
    border-radius: 4px;
    max-width: 100%;
  }
}

.preview-container:not(.buttons-aside) {
  .buttons {
    position: absolute;
    bottom: 10px;
    left: 10px;
    flex-wrap: wrap;
  }

  .preview.no-image {
    border: 2px solid pvar(--secondary-icon-color);
    background-color: pvar(--bg);
  }
}

.preview-container.buttons-aside {
  text-align: center;
  border: 1px solid pvar(--secondary-icon-color);
  border-radius: 4px;
  width: min-content;

  @include padding(1rem, 1.5rem);

  .buttons {
    margin-top: 1rem;
  }
}
