<ng-template #previewContent>
  <div #previewElement></div>
  <div [innerHTML]="previewHTML"></div>
</ng-template>

<div class="root" [ngClass]="{ 'maximized': maximized, monospace: monospace() }">

  <textarea #textarea
    [(ngModel)]="content" (ngModelChange)="onModelChange()"
    [ngClass]="{ 'input-error': formError() }"
    [attr.disabled]="disabled || null"
    [id]="inputId()" [name]="inputId()" [dir]="dir()">
  </textarea>

  @if (maximized) {
    <div class="preview-maximized muted-2">
      <ng-container *ngTemplateOutlet="previewContent"></ng-container>
    </div>
  }

  @if (withPreview()) {
    <div class="buttons mt-3">
      @if (!maximized) {
        <button
          type="button" class="peertube-button secondary-button" (click)="previewCollapsed = !previewCollapsed"
          [attr.aria-expanded]="!previewCollapsed" [attr.aria-controls]="inputId() + '-collapse'"
          >
          <my-global-icon iconName="arrow-down" [ngClass]="{ 'scale-y--1': !previewCollapsed }"></my-global-icon>
          @if (previewCollapsed) {
            <ng-container i18n>Show preview</ng-container>
          } @else {
            <ng-container i18n>Hide preview</ng-container>
          }
        </button>
      }
      <button type="button" (click)="onMaximizeClick()" class="maximize-button button-as-link" [disabled]="disabled">
        @if (maximized) {
          <ng-container i18n>Exit full-screen editor</ng-container>
        } @else {
          <ng-container i18n>Full-screen editor</ng-container>
        }
      </button>
    </div>
  }

  @if (!maximized) {
    <div
      class="preview-collapse preview mt-3 muted-2"
      [ngClass]="{ 'ellipsis-multiline-3': truncated }"
      #collapse="ngbCollapse" [(ngbCollapse)]="previewCollapsed" [id]="inputId() + '-collapse'" #previewEl
      >
      <ng-container *ngTemplateOutlet="previewContent"></ng-container>
    </div>
  }
</div>

@if (!maximized) {
  @if (withShowMoreButton() && (!truncated || hasEllipsis())) {
    <button type="button" (click)="truncated = !truncated" class="button-unstyle show-more-toggle">
      @if (truncated) {
        <ng-container i18n>Show more</ng-container>
        <span class="chevron-down"></span>
      } @else {
        <ng-container i18n>Show less</ng-container>
        <span class="chevron-up"></span>
      }
    </button>
  }

  @if (formError()) {
    <div class="form-error" role="alert">{{ formError() }}</div>
  }
}
