@use '_variables' as *;
@use '_mixins' as *;

.root {
  display: flex;

  label {
    display: flex;
    font-size: $form-input-font-size;

    input {
      @include peertube-checkbox(1px);
    }
  }

  label {
    margin-bottom: 0;
  }

  my-help {
    line-height: 17px;
  }

  .form-group-description {
    margin-top: 2px;
  }

  .wrapper:empty {
    display: none;
  }

  .recommended {
    align-self: baseline;
    display: inline-block;
    padding: 4px 6px;
    cursor: default;
    border-radius: 3px;
    font-size: 12px;
    line-height: 12px;
    font-weight: 500;
    color: pvar(--inputPlaceholderColor);
    background-color: rgba(217, 225, 232, .1);
    border: 1px solid rgba(217, 225, 232, .5);

    @include margin-left(.5rem);
  }
}
