@use '_variables' as *;
@use '_mixins' as *;
@use 'form-mixins' as *;

.root {
  display: flex;

  label {
    display: flex;
    align-items: center;
    font-size: $form-input-font-size;

    input {
      @include peertube-checkbox;
    }
  }

  label {
    margin-bottom: 0;
  }

  my-help {
    line-height: 17px;
  }

  .form-group-description {
    margin-top: 2px;
  }

  .wrapper:empty {
    display: none;
  }
}

.pt-badge {
  height: fit-content;
}
