@import '_variables';
@import '_mixins';

.root {
  display: flex;

  .form-group-checkbox {
    display: flex;
    align-items: center;

    .label-text {
      font-weight: $font-regular;
      margin: 0;
    }

    input {
      @include peertube-checkbox(1px);
    }
  }

  label {
    margin-bottom: 0;
  }

  my-help {
    position: relative;
    top: 2px;
  }

  small {
    font-size: 90%;
  }

  .wrapper:empty {
    display: none;
  }

  .recommended {
    margin-left: .5rem;
    align-self: baseline;
    display: inline-block;
    padding: 4px 6px;
    cursor: default;
    border-radius: 3px;
    font-size: 12px;
    line-height: 12px;
    font-weight: 500;
    color: pvar(--inputPlaceholderColor);
    background-color: rgba(217,225,232,.1);
    border: 1px solid rgba(217,225,232,.5);
  }
}