<div class="d-flex align-items-center gap-4">
  <p-colorpicker 
    class="d-block" 
    [inputId]="inputId()" 
    [(ngModel)]="value" 
    (ngModelChange)="onValueModelChange()" 
    />
  <div class="d-flex align-items-center gap-1">
    {{ numberSign }}
    <input 
      [id]="sixCharactersInputId" 
      [name]="sixCharactersInputId" 
      [(ngModel)]="sixCharacters" 
      (ngModelChange)="onSixCharactersModelChange()" 
      type="text" 
      class="form-control" 
      [ngClass]="{ 'input-error': formError() }" 
      />
  </div>
</div>

@if (formError()) {
  <div class="form-error" role="alert">{{ formError() }}</div>
}
