@use '_variables' as *;
@use '_mixins' as *;

.root {
  height: auto;
  display: flex;
  flex-direction: column;

  .preview-container {
    position: relative;

    my-reactive-file {
      position: absolute;
      bottom: 10px;
      left: 10px;
    }

    .preview {
      object-fit: cover;
      border-radius: 4px;
      max-width: 100%;

      &.no-image {
        border: 2px solid #808080;
        background-color: pvar(--bg);
      }
    }
  }
}
