<div class="preview-container" [ngClass]="{ 'buttons-aside': buttonsAside() }">
  @if (imageSrc) {
    <img [ngStyle]="previewSize()" [src]="imageSrc" class="preview" alt="Preview" i18n-alt />
  } @else {
    <div [ngStyle]="previewSize()" class="preview no-image"></div>
  }

  <div class="buttons">
    <my-reactive-file
      #reactiveFile
      [(ngModel)]="file"
      [inputName]="inputName()"
      [inputLabel]="inputLabel()"
      [extensions]="videoImageExtensions"
      [maxFileSize]="maxVideoImageSize"
      placement="right"
      icon="upload"
      (fileChanged)="onFileChanged($event)"
      [buttonTooltip]="getReactiveFileButtonTooltip()"
      theme="primary"
    ></my-reactive-file>

    @if (displayDelete() && file) {
      <my-delete-button i18n-title title="Delete the image" (click)="reactiveFile.reset()" theme="danger"></my-delete-button>
    }
  </div>
</div>
