@use '_variables' as *;
@use '_mixins' as *;

.root {
  height: auto;
  display: flex;
  align-items: center;

  .button-file {
    @include peertube-button-file(auto);

    &.with-icon {
      @include button-with-icon;
    }
  }

  .filename {
    @include margin-left(5px);

    font-weight: $font-semibold;
  }

  .reset-button {
    @include peertube-button;
    @include grey-button;

    font-size: 80%;
    margin-left: 5px;
    line-height: initial;
    padding: 2px 5px;
    height: auto;
  }
}
