@use '_variables' as *;
@use '_mixins' as *;
@use '_button-mixins' as *;

.root {
  height: auto;
  display: flex;
  align-items: center;

  .button-file {
    &.with-icon {
      @include button-with-icon;
    }
  }

  .filename {
    font-weight: $font-semibold;

    @include margin-left(5px);
  }
}
