$width-size: auto;

ng-select {
  width: $width-size;
  @media screen and (max-width: $width-size) {
    width: 100%;
  }
}

// make sure the image is vertically adjusted
ng-select ::ng-deep .ng-value-label img {
  position: relative;
  top: -1px;
}

ng-select ::ng-deep img {
  border-radius: 50%;
  height: 20px;
  width: 20px;
}
