@use '_variables' as *;
@use '_mixins' as *;

p-inputmask {
  ::ng-deep input {
    width: 80px;
    text-align: center;

    &:focus-within,
    &:focus {
      box-shadow: #{$focus-box-shadow-form} pvar(--mainColorLightest);
    }

    &:disabled {
      background: pvar(--mainBackgroundColor);
      opacity: 0.5;
    }
  }

  &.border-disabled {
    ::ng-deep input {
      border: 0;
    }
  }

  &:not(.border-disabled) {
    ::ng-deep input {
      @include peertube-input-text(80px);

      & {
        padding: 3px 10px;
      }
    }
  }
}
