@import '_variables';
@import '_mixins';
@import '_miniature';

.miniature {
  display: inline-block;

  &.no-videos:not(.to-manage){
    a {
      cursor: default !important;
    }
  }

  &.to-manage,
  &.no-videos {
    .play-overlay {
      display: none;
    }
  }

  .miniature-thumbnail {
    @include miniature-thumbnail;

    .miniature-playlist-info-overlay {
      @include static-thumbnail-overlay;

      position: absolute;
      right: 0;
      bottom: 0;
      height: $video-thumbnail-height;
      padding: 0 10px;
      display: flex;
      align-items: center;
      font-size: 14px;
      font-weight: $font-semibold;
    }
  }

  .miniature-info {
    width: 200px;
    margin-top: 2px;
    line-height: normal;

    .miniature-name {
      @include miniature-name;

      @include ellipsis-multiline(1.3em, 2);

      margin: 0;
    }

    .by {
      @include disable-default-a-behaviour;

      display: block;
      color: pvar(--greyForegroundColor);
    }

    .privacy-date {
      margin-top: 5px;

      .video-info-privacy {
        font-size: 14px;
        font-weight: $font-semibold;

        &::after {
          content: '-';
          margin: 0 3px;
        }
      }
    }

    .video-info-description {
      margin-top: 10px;
      color: pvar(--greyForegroundColor);
    }
  }
}
