<div class="miniature" [ngClass]="{ 'no-videos': playlist.videosLength === 0, 'to-manage': toManage }">
  <a
    [routerLink]="getPlaylistUrl()" [attr.title]="playlist.displayName"
    class="miniature-thumbnail"
  >
    <img alt="" [attr.aria-labelledby]="playlist.displayName" [attr.src]="playlist.thumbnailUrl" />

    <div class="miniature-playlist-info-overlay">
      <ng-container i18n>{playlist.videosLength, plural, =0 {No videos} =1 {1 video} other {{{playlist.videosLength}} videos}}</ng-container>
    </div>

    <div class="play-overlay">
      <div class="icon"></div>
    </div>
  </a>

  <div class="miniature-bottom">
    <a tabindex="-1" class="miniature-name" [routerLink]="getPlaylistUrl()" [attr.title]="playlist.displayName">
      {{ playlist.displayName }}
    </a>
  </div>
</div>
