<div class="root">

  <div class="margin-content">
    <a i18n class="visually-hidden-focusable skip-to-content-sub-menu" href="#my-library-content-content" (click)="$event.preventDefault(); myLibraryContent.focus()">Skip the sub menu</a>

    <my-horizontal-menu i18n-h1 h1="My library" [menuEntries]="menuEntries"></my-horizontal-menu>
  </div>

  <div #myLibraryContent tabindex="-1" id="my-library-content" class="margin-content pb-5 outline-0">
    <router-outlet></router-outlet>
  </div>
</div>
