@use '_variables' as *;
@use '_mixins' as *;
@use '_form-mixins' as *;

.sub-title my-global-icon {
  position: relative;
  top: -3px;
}

input[type=text] {
  @include peertube-input-text(300px);
}

my-edit-button {
  @include margin-right(10px);
}

.video-channel {
  padding-bottom: 0;

  @include row-blocks;

  my-actor-avatar {
    @include margin-right(10px);
  }
}

.video-channel-info {
  flex-grow: 1;
}

.video-channel-names {
  width: fit-content;
  display: flex;
  align-items: baseline;
  color: pvar(--fg);

  @include disable-default-a-behaviour;
}

.video-channel-display-name {
  font-weight: $font-semibold;
  font-size: 18px;
}

.video-channel-name {
  font-size: 14px;
  color: pvar(--fg-300);

  @include margin-left(5px);
}

.video-channel-followers {
  color: pvar(--fg);
  text-decoration: none;
}

.video-channel-buttons {
  margin-top: 10px;
  min-width: 190px;
}

.chart-container {
  // Sync these values with the template
  width: 40vw;
  height: 100px;
}

.video-channels-header {
  margin-bottom: 30px;
}

@media screen and (max-width: $small-view) {
  .video-channel {
    padding-bottom: 10px;

    img {
      @include margin-right(0);
    }

    .video-channel-buttons {
      align-self: center;
    }
  }

  .video-channel-info {
    padding-bottom: 10px;
    text-align: center;
  }

  .video-channel-names {
    flex-direction: column;
    align-items: center !important;
    margin: auto;
  }

  .video-channel-name {
    @include margin-left(0 !important);
  }
}

@media screen and (min-width: $small-view) {
  .video-channel-buttons {
    float: right;
  }
}
