@use 'sass:math';
@use '_variables' as *;

.root {
  height: auto;
  display: flex;
  flex-direction: column;
}

.preview-container {
  position: relative;

  .preview {
    object-fit: cover;
    border-radius: 4px;

    &.no-image {
      border: 2px solid #808080;
      background-color: pvar(--mainBackgroundColor);
    }
  }
}

.preview,
my-embed {
  max-width: 500px;
  width: 500px;

  max-height: 280px;
  height: 280px;
}
