<div class="other-videos">
  <ng-container *ngIf="hasVideos$ | async">
    <div class="title-page-container">
      <h2 i18n class="title-page title-page-single">
        Other videos
      </h2>
      <div *ngIf="!playlist" class="title-page-autoplay"
        [ngbTooltip]="autoPlayNextVideoTooltip" placement="bottom-right auto"
      >
        <span i18n>AUTOPLAY</span>
        <p-inputSwitch class="small" [(ngModel)]="autoPlayNextVideo" (ngModelChange)="switchAutoPlayNextVideo()"></p-inputSwitch>
      </div>
    </div>

    <ng-container *ngFor="let video of (videos$ | async); let i = index; let length = count">
      <my-video-miniature
        [displayOptions]="displayOptions" [video]="video" [user]="userMiniature"
        (videoBlocked)="onVideoRemoved()" (videoRemoved)="onVideoRemoved()" (videoAccountMuted)="onVideoRemoved()">
      </my-video-miniature>

      <hr *ngIf="!playlist && i == 0 && length > 1" />
    </ng-container>
  </ng-container>
</div>
