<my-videos-list
  *ngIf="videoChannel"

  [title]="title"
  [displayTitle]="false"

  [getVideosObservableFunction]="getVideosObservableFunction"
  [getSyndicationItemsFunction]="getSyndicationItemsFunction"

  [defaultSort]="defaultSort"

  [displayFilters]="true"
  [displayModerationBlock]="true"
  [displayOptions]="displayOptions"
  [displayAsRow]="displayAsRow()"

  [hideScopeFilter]="true"

  [loadUserVideoPreferences]="true"

  [disabled]="disabled"

  (videosLoaded)="onVideosLoaded($event)"
>
</my-videos-list>
