@import '_variables';
@import '_mixins';

a {
  @include disable-default-a-behaviour;
  display: inline-block;

  &, &:hover {
    color: pvar(--mainForegroundColor);
  }

  span {
    font-size: 80%;
    color: pvar(--inputPlaceholderColor);
  }
}

.caption {
  justify-content: flex-end;

  input {
    @include peertube-input-text(250px);
  }
}

.follow-button {
  @include create-button;
}
