<div class="row">
  <div class="content-padding">
    <h3>Following list</h3>

    <p-dataTable
        [value]="following" [lazy]="true" [paginator]="true" [totalRecords]="totalRecords" [rows]="rowsPerPage"
        sortField="createdAt" (onLazyLoad)="loadLazy($event)"
    >
      <p-column field="id" header="ID"></p-column>
      <p-column field="following.host" header="Host"></p-column>
      <p-column field="state" header="State"></p-column>
      <p-column field="createdAt" header="Created date" [sortable]="true"></p-column>
      <p-column header="Unfollow" styleClass="action-cell">
        <ng-template pTemplate="body" let-following="rowData">
          <span (click)="removeFollowing(following)" class="glyphicon glyphicon-remove glyphicon-black" title="Unfollow"></span>
        </ng-template>
      </p-column>
    </p-dataTable>
  </div>
</div>
