@use '_variables' as *;
@use '_mixins' as *;

#highlighted-comment {
  margin-bottom: 25px;
}

.view-replies {
  font-weight: $font-semibold;
  cursor: pointer;
  position: relative;

  .chevron-down {
    @include margin-left(0);
  }
}

.title-block {
  .title-page {
    @include margin-right(0);
  }

  my-feed {
    @include margin-left(5px);

    display: inline-block;
    opacity: 0;
    transition: ease-in .2s opacity;
    width: 12px;
    position: relative;
    top: -3px;
  }

  &:hover my-feed {
    opacity: 1;
  }
}

#dropdown-sort-comments {
  font-weight: $font-semibold;
  text-transform: uppercase;
  border: 0;
}

@media screen and (max-width: 450px) {
  .view-replies {
    font-size: 14px;
  }
}
