@import '_variables';
@import '_mixins';

.help-tooltip-button {
  @include icon(17px);

  position: relative;
  top: -2px;
  background-image: url('../../../assets/images/global/help.svg');
  background-color: #fff;
  border: none;
  margin: 5px;
}

/deep/ {
  .popover-body {
    text-align: left;
    padding: 10px;
    max-width: 300px;

    font-size: 13px;
    font-family: $main-fonts;
    background-color: #fff;
    color: #000;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);

    ul {
      padding-left: 20px;
    }
  }
}
