@use '_variables' as *;
@use '_mixins' as *;
@use '_button-mixins' as *;

.video-actions {
  height: 40px; // Align with the title
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  max-width: initial;

  ::ng-deep.action-button {
    font-size: 100%;
    display: inline-block;
    white-space: nowrap;
    text-transform: uppercase;
    border: 0;

    @include peertube-button;
    @include button-with-icon(21px, 0, -1px);

    & { // Override some peertube-button properties
      padding: 4px 13px;
      background-color: transparent !important;
      color: pvar(--fg-300);
    }

    &::after {
      display: none;
    }

    &:hover {
      opacity: 0.7;
    }

    .icon-text {
      @include margin-right(0 !important);
    }
  }
}

.likes-dislikes-bar-outer-container {
  position: relative;
}

.likes-dislikes-bar-inner-container {
  position: absolute;
  height: 20px;
}

.likes-dislikes-bar {
  $likes-bar-height: 2px;

  height: $likes-bar-height;
  margin-top: -$likes-bar-height;

  width: 120px;
  background-color: #ccc;
  position: relative;
  top: 10px;

  .likes-bar {
    height: 100%;
    background-color: #909090;

    &.liked {
      background-color: pvar(--fg-400);
    }
  }
}

@media screen and (max-width: $small-view) {
  .action-button .icon-text {
    display: none !important;
  }
}
