@use '_variables' as *;
@use '_mixins' as *;
@use '_form-mixins' as *;

.peertube-select-container {
  @include peertube-select-container(auto);
}

my-peertube-checkbox {
  display: block;
  margin-bottom: 1rem;
}

my-timestamp-input {
  width: 100px;
}

.nav-tabs {
  margin-bottom: 15px;
}

.video-edit {
  height: 100%;
  min-height: 300px;

  input {
    display: block;

    @include peertube-input-text(100%);
  }
}

.caption-entry {
  display: flex;
  min-height: 40px;
  align-items: center;
  flex-wrap: wrap;

  a.caption-entry-label {
    color: pvar(--fg);

    @include disable-default-a-behaviour;

    &:hover {
      opacity: 0.8;
    }
  }

  .caption-entry-label {
    font-weight: bold;
    min-width: 100px;

    @include margin-right(20px);
  }

  .caption-entry-state {
    min-width: 250px;

    @include margin-right(15px);
  }
}

.no-caption {
  text-align: center;
}

.submit-container {
  text-align: end;

  .message-submit {
    display: inline-block;
    color: pvar(--fg-300);

    @include margin-right(25px);
  }
}

p-calendar {
  display: block;

  ::ng-deep {
    .p-calendar {
      width: 100%;
    }
  }
}

.form-columns {
  display: grid;

  grid-template-columns: 66% 1fr;
  grid-gap: 30px;
}

.col-video-edit {
  max-width: 100%;
  min-width: 1px;
}

.hide-chapter-label {
  height: 0;
  opacity: 0;
}

.chapter {
  display: grid;
  grid-template-columns: auto auto minmax(150px, 350px) 1fr;
  grid-template-rows: auto auto;
  column-gap: 1rem;

  .position {
    height: 38px;
    min-width: 16px;
    display: flex;
    align-items: center;
  }

  my-delete-button {
    width: fit-content;
  }

  .form-error {
    margin-top: 0;
  }
}

@include on-small-main-col {
  .form-columns {
    grid-template-columns: 1fr;
  }
}
