<ng-template #modal>
  <ng-container [formGroup]="form">

    <div class="modal-header">
      <h4 i18n class="modal-title">Add caption</h4>
      <my-global-icon iconName="cross" aria-label="Close" role="button" (click)="hide()"></my-global-icon>
    </div>

    <div class="modal-body">
      <label i18n for="language">Language</label>
      <div class="peertube-ng-select-container">
        <ng-select
          labelForId="language" [items]="videoCaptionLanguages" formControlName="language"
          bindLabel="label" bindValue="id"
        ></ng-select>
      </div>

      <div *ngIf="formErrors.language" class="form-error">
        {{ formErrors.language }}
      </div>

      <div class="caption-file">
        <my-reactive-file
          formControlName="captionfile" inputName="captionfile" i18n-inputLabel inputLabel="Select the caption file"
          [extensions]="videoCaptionExtensions" [maxFileSize]="videoCaptionMaxSize" [displayFilename]="true"
          i18n-ngbTooltip [ngbTooltip]="'(extensions: ' + videoCaptionExtensions.join(', ') + ')'"
        ></my-reactive-file>
      </div>

      <div *ngIf="isReplacingExistingCaption()" class="warning-replace-caption" i18n>
        This will replace an existing caption!
      </div>
    </div>

    <div class="modal-footer inputs">
      <input
        type="button" role="button" i18n-value value="Cancel" class="peertube-button grey-button"
        (click)="hide()" (key.enter)="hide()"
      >

      <input
        type="submit" i18n-value value="Add this caption" class="peertube-button orange-button"
        [disabled]="!form.valid" (click)="addCaption()"
      >
    </div>
  </ng-container>
</ng-template>
