@use '_variables' as *;
@use '_mixins' as *;

.peertube-select-container {
  @include peertube-select-container(auto);
}

my-peertube-checkbox {
  display: block;
  margin-bottom: 1rem;
}

.nav-tabs {
  margin-bottom: 15px;
}

.video-edit {
  height: 100%;
  min-height: 300px;

  input {
    @include peertube-input-text(100%);
    display: block;
  }
}

.caption-entry {
  display: flex;
  height: 40px;
  align-items: center;

  a.caption-entry-label {
    @include disable-default-a-behaviour;

    color: #000;

    &:hover {
      opacity: 0.8;
    }
  }

  .caption-entry-label {
    @include margin-right(20px);

    font-weight: bold;
    min-width: 100px;
  }

  .caption-entry-state {
    @include margin-right(15px);

    min-width: 250px;

    &.caption-entry-state-create {
      color: #39CC0B;
    }

    &.caption-entry-state-delete {
      color: #FF0000;
    }
  }

  .caption-entry-edit {
    @include peertube-button;
  }

  .caption-entry-delete {
    @include peertube-button;
    @include grey-button;
  }
}

.no-caption {
  text-align: center;
}

.submit-container {
  text-align: end;

  .message-submit {
    @include margin-right(25px);

    display: inline-block;
    color: pvar(--greyForegroundColor);
  }
}

p-calendar {
  display: block;

  ::ng-deep {
    .p-calendar {
      width: 100%;
    }

    .p-inputtext {
      @include peertube-input-text(100%);
      color: #000;
    }
  }
}

.form-columns {
  display: grid;

  grid-template-columns: 66% 1fr;
  grid-gap: 30px;
}

.button-file {
  @include peertube-button-file(max-content);
  @include orange-button;
}

.hide-chapter-label {
  height: 0;
  opacity: 0;
}

.chapter {
  display: grid;
  grid-template-columns: auto auto minmax(150px, 350px) 1fr;
  grid-template-rows: auto auto;
  column-gap: 1rem;

  .position {
    height: 31px;
    min-width: 16px;
    display: flex;
    align-items: center;
  }

  my-delete-button {
    width: fit-content;
  }

  .form-error {
    margin-top: 0;
  }
}

@include on-small-main-col {
  .form-columns {
    grid-template-columns: 1fr;
  }
}
