<div class="video-edit" [formGroup]="form">
  <div ngbNav #nav="ngbNav" class="nav-tabs">

    <ng-container ngbNavItem>
      <a ngbNavLink i18n>Basic info</a>

      <ng-template ngbNavContent>
        <div class="row">
          <div class="col-video-edit">
            <div class="form-group">
              <label i18n for="name">Title</label>
              <input type="text" id="name" class="form-control" formControlName="name" />
              <div *ngIf="formErrors.name" class="form-error">
                {{ formErrors.name }}
              </div>
            </div>

            <div class="form-group">
              <label i18n class="label-tags">Tags</label>

              <my-help>
                <ng-template ptTemplate="customHtml">
                  <ng-container i18n>
                    Tags could be used to suggest relevant recommendations. <br />
                    There is a maximum of 5 tags. <br />
                    Press <kbd>Enter</kbd> to add a new tag.
                  </ng-container>
                </ng-template>
              </my-help>

              <tag-input
                [validators]="tagValidators" [errorMessages]="tagValidatorsMessages"
                i18n-placeholder placeholder="+ Tag" i18n-secondaryPlaceholder secondaryPlaceholder="Enter a new tag"
                formControlName="tags" [maxItems]="5" [modelAsStrings]="true"
              ></tag-input>
            </div>

            <div class="form-group">
              <label i18n for="description">Description</label>

              <my-help helpType="markdownText">
                <ng-template ptTemplate="preHtml">
                  <ng-container i18n>
                    Video descriptions are truncated by default and require manual action to expand them.
                  </ng-container>
                </ng-template>
              </my-help>

              <my-markdown-textarea [truncate]="250" formControlName="description" [markdownVideo]="true"></my-markdown-textarea>

              <div *ngIf="formErrors.description" class="form-error">
                {{ formErrors.description }}
              </div>
            </div>
          </div>

          <div class="col-video-edit">
            <div class="form-group">
              <label i18n>Channel</label>
              <div class="peertube-select-container">
                <select formControlName="channelId" class="form-control">
                  <option *ngFor="let channel of userVideoChannels" [value]="channel.id">{{ channel.label }}</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label i18n for="category">Category</label>
              <div class="peertube-select-container">
                <select id="category" formControlName="category" class="form-control">
                  <option></option>
                  <option *ngFor="let category of videoCategories" [value]="category.id">{{ category.label }}</option>
                </select>
              </div>

              <div *ngIf="formErrors.category" class="form-error">
                {{ formErrors.category }}
              </div>
            </div>

            <div class="form-group">
              <label i18n for="licence">Licence</label>
              <div class="peertube-select-container">
                <select id="licence" formControlName="licence" class="form-control">
                  <option></option>
                  <option *ngFor="let licence of videoLicences" [value]="licence.id">{{ licence.label }}</option>
                </select>
              </div>

              <div *ngIf="formErrors.licence" class="form-error">
                {{ formErrors.licence }}
              </div>
            </div>

            <div class="form-group">
              <label i18n for="language">Language</label>
              <div class="peertube-select-container">
                <select id="language" formControlName="language" class="form-control">
                  <option></option>
                  <option *ngFor="let language of videoLanguages" [value]="language.id">{{ language.label }}</option>
                </select>
              </div>

              <div *ngIf="formErrors.language" class="form-error">
                {{ formErrors.language }}
              </div>
            </div>

            <div class="form-group">
              <label i18n for="privacy">Privacy</label>
              <div class="peertube-select-container">
                <select id="privacy" formControlName="privacy" class="form-control">
                  <option></option>
                  <option *ngFor="let privacy of videoPrivacies" [value]="privacy.id">{{ privacy.label }}</option>
                  <option *ngIf="schedulePublicationPossible" [value]="SPECIAL_SCHEDULED_PRIVACY">Scheduled</option>
                </select>
              </div>

              <div *ngIf="formErrors.privacy" class="form-error">
                {{ formErrors.privacy }}
              </div>
            </div>

            <div *ngIf="schedulePublicationEnabled" class="form-group">
              <label i18n for="schedulePublicationAt">Schedule publication ({{ calendarTimezone }})</label>
              <p-calendar
                id="schedulePublicationAt" formControlName="schedulePublicationAt" [dateFormat]="calendarDateFormat"
                [locale]="calendarLocale" [minDate]="minScheduledDate" [showTime]="true" [hideOnDateTimeSelect]="true"
              >
              </p-calendar>

              <div *ngIf="formErrors.schedulePublicationAt" class="form-error">
                {{ formErrors.schedulePublicationAt }}
              </div>
            </div>

            <my-peertube-checkbox inputName="nsfw" formControlName="nsfw" helpPlacement="bottom-right">
              <ng-template ptTemplate="label">
                <ng-container i18n>This video contains mature or explicit content</ng-container>
              </ng-template>

              <ng-template ptTemplate="help">
                <ng-container i18n>Some instances do not list videos containing mature or explicit content by default.</ng-container>
              </ng-template>
            </my-peertube-checkbox>

            <my-peertube-checkbox *ngIf="waitTranscodingEnabled" inputName="waitTranscoding" formControlName="waitTranscoding" helpPlacement="bottom-right">
              <ng-template ptTemplate="label">
                <ng-container i18n>Wait transcoding before publishing the video</ng-container>
              </ng-template>

              <ng-template ptTemplate="help">
                <ng-container i18n>If you decide not to wait for transcoding before publishing the video, it could be unplayable until transcoding ends.</ng-container>
              </ng-template>
            </my-peertube-checkbox>

          </div>
        </div>
      </ng-template>
    </ng-container>

    <ng-container ngbNavItem>
      <a ngbNavLink i18n>Captions</a>

      <ng-template ngbNavContent>
        <div class="captions">

          <div class="captions-header">
            <a (click)="openAddCaptionModal()" class="create-caption">
              <my-global-icon iconName="add" aria-hidden="true"></my-global-icon>
              <ng-container i18n>Add another caption</ng-container>
            </a>
          </div>

          <div class="form-group" *ngFor="let videoCaption of videoCaptions">

            <div class="caption-entry">
              <ng-container *ngIf="!videoCaption.action">
                <a
                  i18n-title title="See the subtitle file" class="caption-entry-label" target="_blank" rel="noopener noreferrer"
                  [href]="videoCaption.captionPath"
                >{{ videoCaption.language.label }}</a>

                <div i18n class="caption-entry-state">Already uploaded	&#10004;</div>

                <span i18n class="caption-entry-delete" (click)="deleteCaption(videoCaption)">Delete</span>
              </ng-container>

              <ng-container *ngIf="videoCaption.action === 'CREATE'">
                <span class="caption-entry-label">{{ videoCaption.language.label }}</span>

                <div i18n class="caption-entry-state caption-entry-state-create">Will be created on update</div>

                <span i18n class="caption-entry-delete" (click)="deleteCaption(videoCaption)">Cancel create</span>
              </ng-container>

              <ng-container *ngIf="videoCaption.action === 'REMOVE'">
                <span class="caption-entry-label">{{ videoCaption.language.label }}</span>

                <div i18n class="caption-entry-state caption-entry-state-delete">Will be deleted on update</div>

                <span i18n class="caption-entry-delete" (click)="deleteCaption(videoCaption)">Cancel deletion</span>
              </ng-container>
            </div>
          </div>

          <div i18n class="no-caption" *ngIf="videoCaptions?.length === 0">
            No captions for now.
          </div>

        </div>
      </ng-template>
    </ng-container>

    <ng-container ngbNavItem>
      <a ngbNavLink i18n>Advanced settings</a>

      <ng-template ngbNavContent>
        <div class="row advanced-settings">
          <div class="col-md-12 col-xl-8">

            <div class="form-group">
              <label i18n for="previewfile">Video preview</label>

              <my-preview-upload
                i18n-inputLabel inputLabel="Edit" inputName="previewfile" formControlName="previewfile"
                previewWidth="360px" previewHeight="200px"
              ></my-preview-upload>
            </div>

            <div class="form-group">
              <label i18n for="support">Support</label>
              <my-help helpType="markdownEnhanced">
                <ng-template ptTemplate="preHtml">
                  <ng-container i18n>
                    Short text to tell people how they can support you (membership platform...).
                  </ng-container>
                </ng-template>
              </my-help>
              <my-markdown-textarea
                id="support" formControlName="support" markdownType="enhanced"
                [classes]="{ 'input-error': formErrors['support'] }"
              ></my-markdown-textarea>
              <div *ngIf="formErrors.support" class="form-error">
                {{ formErrors.support }}
              </div>
            </div>
          </div>

          <div class="col-md-12 col-xl-4">
            <div class="form-group originally-published-at">
              <label i18n for="originallyPublishedAt">Original publication date</label>
              <my-help>
                <ng-template ptTemplate="preHtml">
                  <ng-container i18n>
                    This is the date when the content was originally published (e.g. the release date for a film)
                  </ng-container>
                </ng-template>
              </my-help>
              <p-calendar
                id="originallyPublishedAt" formControlName="originallyPublishedAt" [dateFormat]="calendarDateFormat"
                [locale]="calendarLocale" [showTime]="true" [hideOnDateTimeSelect]="true" [monthNavigator]="true" [yearNavigator]="true" [yearRange]="myYearRange"
              >
              </p-calendar>

              <div *ngIf="formErrors.originallyPublishedAt" class="form-error">
                {{ formErrors.originallyPublishedAt }}
              </div>
            </div>

            <my-peertube-checkbox
              inputName="commentsEnabled" formControlName="commentsEnabled"
              i18n-labelText labelText="Enable video comments"
            ></my-peertube-checkbox>

            <my-peertube-checkbox
              inputName="downloadEnabled" formControlName="downloadEnabled"
              i18n-labelText labelText="Enable download"
            ></my-peertube-checkbox>
          </div>
        </div>
      </ng-template>
    </ng-container>

  </div>

  <div [ngbNavOutlet]="nav"></div>
</div>

<my-video-caption-add-modal
  #videoCaptionAddModal [existingCaptions]="existingCaptions" [serverConfig]="serverConfig" (captionAdded)="onCaptionAdded($event)"
></my-video-caption-add-modal>
