@use "_variables" as *;
@use "_mixins" as *;
@use "_form-mixins" as *;

my-actor-banner-edit {
  max-width: 500px;
}

input[type="text"] {
  @include peertube-input-text(340px);
}

.markdown-block {
  max-width: 500px;
}

my-select-player-theme {
  display: block;

  @include responsive-width(340px);
}

.danger-zone {
  h3 {
    color: pvar(--red);
    font-weight: $font-bold;
    font-size: 1rem;
  }
}
