<div>
  <h2 class="form-title">
    <my-global-icon iconName="calendar"></my-global-icon>

    <ng-container i18n>Activity</ng-container>
  </h2>

  @if (pagination.totalItems === 0) {
    <div class="no-results" i18n>
    No activity in the channel yet
  </div>
  }

  <div class="activities" myInfiniteScroller (nearOfBottom)="onNearOfBottom()" [dataObservable]="onDataSubject.asObservable()">
    @for (activity of activities; track activity.id; let even = $even) {
      <my-date-group-label [date]="activity.createdAt" [store]="groupByDateStore"></my-date-group-label>

      <div class="activity-container" [ngClass]="{ even: even }">
        <my-video-channel-activity [activity]="activity"></my-video-channel-activity>
      </div>
    }
  </div>

</div>
