<div>
  <h2 class="form-title">
    <my-global-icon iconName="calendar"></my-global-icon>

    <ng-container i18n>Activity</ng-container>
  </h2>

  <div class="no-results" *ngIf="pagination.totalItems === 0" i18n>
    No activity in the channel yet
  </div>

  <div class="activities" myInfiniteScroller (nearOfBottom)="onNearOfBottom()" [dataObservable]="onDataSubject.asObservable()">
    @for (activity of activities; track activity.id; let i = $index) {
      <my-date-group-label [date]="activity.createdAt" [store]="groupByDateStore"></my-date-group-label>

      <div class="activity-container" [ngClass]="{ even: i % 2 === 0 }">
        <my-video-channel-activity [activity]="activity"></my-video-channel-activity>
      </div>
    }
  </div>

</div>
