@import '_variables';
@import '_mixins';

.sub-menu {
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: start;

  .account {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;

    img {
      @include avatar(80px);

      margin-right: 20px;
    }

    .account-info {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .account-display-name {
        font-size: 23px;
        font-weight: $font-bold;
      }

      .account-followers {
        font-size: 15px;
      }
    }
  }

  .links {
    margin-top: 0;
    margin-bottom: 10px;

    a {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}