<ng-template #confirmModal let-close="close" let-dismiss="dismiss">

  <div class="modal-header">
    <h4 class="modal-title">{{ title }}</h4>
    <span class="close" aria-label="Close" role="button" (click)="dismiss()"></span>
  </div>

  <div class="modal-body" >
    <div [innerHtml]="message"></div>

    <div *ngIf="inputLabel && expectedInputValue" class="form-group">
      <label for="confirmInput">{{ inputLabel }}</label>
      <input type="text" id="confirmInput" name="confirmInput" [(ngModel)]="inputValue" />
    </div>
  </div>

  <div class="modal-footer inputs">
    <span i18n class="action-button action-button-cancel" (click)="dismiss()" role="button">Cancel</span>

    <input
      type="submit" [value]="confirmButtonText" class="action-button-submit" [disabled]="isConfirmationDisabled()"
      (click)="close()"
    >
  </div>
</ng-template>
