# NPM instalation
/node_modules/
/server/tools/node_modules
*npm-debug.log
yarn-error.log

# Testing
/test1/
/test2/
/test3/
/test4/
/test5/
/test6/
/server/tests/fixtures/video_high_bitrate_1080p.mp4
/server/tests/fixtures/video_59fps.mp4

# Production
/storage/
/config/production.yaml
/config/local*
/ffmpeg/
/ffmpeg-3/
/ffmpeg-4/
/thumbnails/
/torrents/
/videos/
/previews/
/logs/

# IDE
/*.sublime-project
/*.sublime-workspace
/**/.idea
/dist
/PeerTube.iml

# Zanata
/.zanata-cache
/scripts/i18n/generate-iso639-target.ts

# Other
/dump.rdb
/.theia/
/profiling/
/*.zip
/*.tar.xz
/*.asc
/server/tools/import-mediacore.ts
/docker-volume/
/init.mp4
