# NPM instalation
node_modules
*npm-debug.log
yarn-error.log
*-ci.log
.yarn

# Testing
/test1/
/test2/
/test3/
/test4/
/test5/
/test6/

# Big fixtures generated/downloaded on-demand
/packages/tests/fixtures/video_high_bitrate_1080p.mp4
/packages/tests/fixtures/video_59fps.mp4
/packages/tests/fixtures/video_50fps.mp4
/packages/tests/fixtures/transcription/models-v1/

# PeerTube
/storage
/dev1
/config/production.yaml
/config/local*
/ffmpeg/
/ffmpeg-3/
/ffmpeg-4/
/thumbnails/
/torrents/
/web-videos/
/videos/
/previews/
/logs/

# IDE
/*.sublime-project
/*.sublime-workspace
/*.vscode
/**/.idea
/dist
/PeerTube.iml
*.swp

# Zanata
/.zanata-cache
/scripts/i18n/generate-iso639-target.ts

# Other
/dump.rdb
/.theia/
/profiling/
/*.zip
/*.tar.xz
/*.asc
*.DS_Store
/docker-volume/
/init.mp4

# TypeScript
*.tsbuildinfo

# EsLint
.eslintcache

# Compiled output
dist
