@use "_variables" as *;
@use "_mixins" as *;
@use "_actor" as *;

my-select-checkbox {
  min-width: 250px;
}

.pt-badge {
  @include margin-right(5px);
}

.playlists {
  .pt-badge {
    max-width: 200px;
    vertical-align: bottom;

    @include ellipsis;
  }
}

.video-info > div {
  display: flex;

  my-global-icon {
    position: relative;
    top: -2px;

    @include global-icon-size(16px);
    @include margin-left(3px);
  }
}

td {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.channel-label {
  @include channel-label;
}

.channel-filters {
  @include channel-filters;
}

@media screen and (min-width: $small-view) {
  .video-cell-name {
    width: 300px;
    display: block;
  }
}

@media screen and (max-width: $small-view) {
  my-video-cell {
    max-width: 120px;
    display: block;
  }
}
