@use "_variables" as *;
@use "_mixins" as *;

my-select-checkbox {
  min-width: 250px;
}

.pt-badge {
  @include margin-right(5px);
}

.playlists {
  .pt-badge {
    max-width: 200px;

    @include ellipsis;
  }
}

.video-info > div {
  display: flex;

  my-global-icon {
    position: relative;
    top: -2px;

    @include global-icon-size(16px);
    @include margin-left(3px);
  }
}

.right-form {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

td {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.channel-filters {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid $separator-border-color;
  margin-bottom: 1rem;
  gap: 1rem;
  overflow: hidden;

  &:hover {
    overflow: auto;
  }

  .channels-label {
    color: pvar(--fg-200);
    font-weight: $font-bold;
    white-space: nowrap;
  }
}

@media screen and (min-width: $small-view) {
  .video-cell-name {
    width: 300px;
    display: block;
  }
}

@media screen and (max-width: $small-view) {
  my-video-cell {
    max-width: 120px;
    display: block;
  }
}
