@import '_variables';
@import '_mixins';

input[type=text] {
  @include peertube-input-text(300px);
}

.peertube-select-container {
  @include peertube-select-container(auto);
  margin-left: 0.5rem;
}

h1 {
  display: flex;
  justify-content: space-between;

  .button-link {
    @include peertube-button-link;
    @include grey-button;
    @include button-with-icon(18px, 3px, -1px);

    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.action-button-delete-selection {
  display: inline-block;

  @include peertube-button;
  @include orange-button;
  @include button-with-icon(21px);

  my-global-icon {
    @include apply-svg-color(#fff);
  }
}

.action-button {
  display: flex;
  margin-left: 10px;
  align-self: flex-end;
}

my-edit-button {
  margin-right: 10px;
}

@include on-small-main-col {
  h1 {
    flex-direction: column;

    > span,
    .button-link {
      margin-bottom: 10px;
    }
  }

  .action-button {
    margin-top: 10px;
    margin-left: auto;
  }
}

@include on-mobile-main-col {
  .videos-header {
    flex-direction: column;

    input[type=text] {
      width: 100%;
      margin-bottom: 12px;
    }
    .peertube-select-container {
      margin-left: 0;
    }
  }

  .action-button {
    margin-left: 0;
  }
}
