<div class="videos-header d-flex justify-content-between align-items-end gap-2 flex-wrap">
  <my-advanced-input-filter [emitOnInit]="false" [filters]="inputFilters" (search)="onSearch($event)"></my-advanced-input-filter>

  <span class="total-items" *ngIf="pagination.totalItems"> {{ getTotalTitle() }}</span>

  <div class="peertube-select-container">
    <select [(ngModel)]="sort" (ngModelChange)="onChangeSortColumn()" class="form-control" i18n-ariaLabel aria-label="Sort by">
      <option value="-publishedAt" i18n>Last published first</option>
      <option value="-createdAt" i18n>Last created first</option>
      <option value="-views" i18n>Most viewed first</option>
      <option value="-likes" i18n>Most liked first</option>
      <option value="-duration" i18n>Longest first</option>
    </select>
  </div>
</div>

<my-videos-selection
  [videosContainedInPlaylists]="videosContainedInPlaylists"
  [pagination]="pagination"
  [(selection)]="selection"
  [(videosModel)]="videos"
  [miniatureDisplayOptions]="miniatureDisplayOptions"
  [titlePage]="titlePage"
  [getVideosObservableFunction]="getVideosObservableFunction"
  [user]="user"
  [disabled]="disabled"
  #videosSelection
>
  <ng-template ptTemplate="globalButtons">
    <my-delete-button class="delete-selection" (click)="deleteSelectedVideos()"></my-delete-button>
  </ng-template>

  <ng-template ptTemplate="rowButtons" let-video>
    <div class="action-button">
      <my-edit-button label [ptRouterLink]="[ '/videos', 'update', video.shortUUID ]"></my-edit-button>

      <my-video-actions-dropdown
        [video]="video" [displayOptions]="videoDropdownDisplayOptions" [moreActions]="moreVideoActions"
        buttonStyled="true" buttonDirection="horizontal" (videoRemoved)="onVideoRemoved(video)"
      ></my-video-actions-dropdown>
    </div>
  </ng-template>
</my-videos-selection>

<my-video-change-ownership #videoChangeOwnershipModal></my-video-change-ownership>
