@use '_variables' as *;
@use '_mixins' as *;
@use '_form-mixins' as *;

$form-base-input-width: 480px;

input[type=text] {
  @include peertube-input-text($form-base-input-width);
}

my-select-channel {
  display: block;
  max-width: $form-base-input-width;
}
