.videos-info {

  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #f1f1f1;
  height: 40px;
  line-height: 40px;
  width: 765px;
  margin-left: 15px;

  my-video-sort {
    padding-right: 0;
  }

  .videos-total-results {
    font-size: 13px;
    padding-left: 0;
  }

  my-loader {
    display: inline-block;
    margin-left: 5px;
  }
}

.videos-miniatures {
  min-height: 650px;

  my-video-miniature {
    transition: all 0.5s ease;

    &.ng-enter {
      opacity: 0;
    }

    &.ng-enter-active {
      opacity: 1;
    }

    &.ng-leave {
      opacity: 0;
    }
  }

  .no-video {
    margin-top: 50px;
    text-align: center;
  }
}

pagination {
  display: block;
  text-align: center;
}
