.video-miniature {
  margin-top: 30px;
  display: inline-block;
  position: relative;

  .video-miniature-thumbnail {
    display: inline-block;
    position: relative;

    .video-miniature-duration {
      position: absolute;
      right: 5px;
      bottom: 2px;
      display: inline-block;
      background-color: rgba(0, 0, 0, 0.8);
      color: rgba(255, 255, 255, 0.8);
      padding: 2px;
      font-size: 11px;
    }
  }

  .video-miniature-remove {
    display: inline-block;
    position: absolute;
    left: 16px;
    background-color: rgba(0, 0, 0, 0.8);
    color: rgba(255, 255, 255, 0.8);
    padding: 2px;
    cursor: pointer;

    &:hover {
      color: rgba(255, 255, 255, 0.9);
    }
  }

  .video-miniature-informations {
    margin-left: 3px;
    width: 200px;

    .video-miniature-name-tags {
      display: block;

      .video-miniature-name {
        font-weight: bold;

        &:hover {
          text-decoration: none;
        }

        &::after {
          content: '\002022';
          margin-left: 3px;
        }
      }

      .video-miniature-tag {
        font-size: 12px;
        cursor: pointer;
        transition: opacity 0.5s;
        position: relative;
        top: -2px;

        &:hover {
          opacity: 0.9;
        }
      }
    }

    .video-miniature-author, .video-miniature-created-date {
      display: block;
      margin-left: 1px;
      font-size: 11px;
      color: rgb(54, 118, 173);
    }

    .video-miniature-author {
      transition: opacity 0.5s;

      &:hover {
        text-decoration: none;
        opacity: 0.9;
      }
    }
  }
}
