.videos-info {
  @media screen and (max-width: 400px) {
    margin-left: 0;
  }

  border-bottom: 1px solid #f1f1f1;
  height: 40px;
  line-height: 40px;

  .videos-total-results {
    font-size: 13px;
  }

  my-loader {
    display: inline-block;
    margin-left: 5px;
  }
}

.videos-miniatures {
  text-align: center;
  padding-top: 0;

  my-video-miniature {
    text-align: left;
  }

  .no-video {
    margin-top: 50px;
    text-align: center;
  }
}

pagination {
  display: block;
  text-align: center;
}
