<div class="video-miniature" (mouseenter)="onHover()" (mouseleave)="onBlur()">
  <a
    [routerLink]="['/videos/watch', video.id]" [attr.title]="video.description"
    class="video-miniature-thumbnail"
  >
    <img *ngIf="isVideoNSFWForThisUser() === false" [attr.src]="video.thumbnailPath" alt="video thumbnail" />
    <div *ngIf="isVideoNSFWForThisUser()" class="thumbnail-nsfw">
      NSFW
    </div>

    <div class="video-miniature-thumbnail-overlay">
      <span class="video-miniature-thumbnail-overlay-views">{{ video.views }} views</span>
      <span class="video-miniature-thumbnail-overlay-duration">{{ video.duration }}</span>
    </div>
  </a>

  <div class="video-miniature-informations">
    <span class="video-miniature-name">
      <a [routerLink]="['/videos/watch', video.id]" [attr.title]="getVideoName()" class="video-miniature-name">{{ getVideoName() }}</a>
    </span>

    <div class="video-miniature-tags">
      <span *ngFor="let tag of video.tags" class="video-miniature-tag">
        <a [routerLink]="['/videos/list', { field: 'tags', search: tag, sort: currentSort }]" class="label label-primary">{{ tag }}</a>
      </span>
    </div>

    <a [routerLink]="['/videos/list', { field: 'author', search: video.author, sort: currentSort }]" class="video-miniature-author">{{ video.by }}</a>
    <span class="video-miniature-created-at">{{ video.createdAt | date:'short' }}</span>
  </div>
</div>
