<div class="row videos-info">
  <div class="col-md-9 videos-total-results">
    <span *ngIf="pagination.totalItems !== null">{{ pagination.totalItems }} videos</span>

    <my-loader [loading]="loading | async"></my-loader>
  </div>
  <my-video-sort class="col-md-3" [currentSort]="sort" (sort)="onSort($event)"></my-video-sort>
</div>

<div class="videos-miniatures">
  <div class="col-md-12 no-video" *ngIf="noVideo()">There is no video.</div>

  <my-video-miniature class="ng-animate "*ngFor="let video of videos" [video]="video" [user]="user" (removed)="onRemoved(video)">
  </my-video-miniature>
</div>

<pagination *ngIf="pagination.totalItems !== null"
  [totalItems]="pagination.totalItems" [itemsPerPage]="pagination.itemsPerPage" [maxSize]="6" [boundaryLinks]="true" [rotate]="false"
  [(ngModel)]="pagination.currentPage" (pageChanged)="getVideos()"
></pagination>
