<div class="video-miniature">
  <a
    [routerLink]="['/videos/watch', video.uuid]" [attr.title]="video.description"
    class="video-miniature-thumbnail"
  >
    <img [attr.src]="video.thumbnailUrl" alt="video thumbnail" [ngClass]="{ 'blur-filter': isVideoNSFWForThisUser() }" />

    <div class="video-miniature-thumbnail-overlay">
      <span class="video-miniature-thumbnail-overlay-views">{{ video.views }} views</span>
      <span class="video-miniature-thumbnail-overlay-duration">{{ video.durationLabel }}</span>
    </div>
  </a>

  <div class="video-miniature-information">
    <span class="video-miniature-name">
      <a
        class="video-miniature-name"
        [routerLink]="['/videos/watch', video.uuid]" [attr.title]="video.name" [ngClass]="{ 'blur-filter': isVideoNSFWForThisUser() }"
      >
          {{ video.name }}
      </a>
    </span>

    <div class="video-miniature-tags">
      <span *ngFor="let tag of video.tags" class="video-miniature-tag">
        <a [routerLink]="['/videos/list', { field: 'tags', search: tag, sort: currentSort }]" class="label label-primary">{{ tag }}</a>
      </span>
    </div>

    <a [routerLink]="['/videos/list', { field: 'author', search: video.author, sort: currentSort }]" class="video-miniature-author">{{ video.by }}</a>
    <span class="video-miniature-created-at">{{ video.createdAt | date:'short' }}</span>
  </div>
</div>
