@import "../../../sass/pre-customizations.scss";

.video-miniature {
  margin-top: 30px;
  display: inline-block;
  position: relative;

  .video-miniature-thumbnail {
    display: inline-block;
    position: relative;

    .video-miniature-duration {
      position: absolute;
      right: 5px;
      bottom: 2px;
      display: inline-block;
      background-color: rgba(0, 0, 0, 0.8);
      color: rgba(255, 255, 255, 0.8);
      padding: 2px;
      font-size: 11px;
    }
  }

  .video-miniature-remove {
    display: inline-block;
    position: absolute;
    left: 16px;
    background-color: rgba(0, 0, 0, 0.8);
    color: rgba(255, 255, 255, 0.8);
    padding: 2px;
    cursor: pointer;

    &:hover {
      color: rgba(255, 255, 255, 0.9);
    }
  }

  .video-miniature-informations {
    width: 200px;

    .video-miniature-name-tags {
      display: block;

      .video-miniature-name {
        height: 23px;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: bold;
        transition: color 0.2s;
        font-size: 15px;

        &:hover {
          text-decoration: none;
        }
      }

      .video-miniature-tags {
        // Fix for chrome when tags a long
        width: 201px;

        .video-miniature-tag {
          font-size: 13px;
          cursor: pointer;
          position: relative;
          top: -2px;

          .label {
            line-height: $line-height-base;
            transition: background-color 0.2s;
          }
        }
      }
    }

    .video-miniature-author, .video-miniature-created-date {
      display: block;
      margin-left: 1px;
      font-size: 12px;
      color: #337ab7;
      opacity: 0.9;
    }

    .video-miniature-author {
      transition: color 0.2s;

      &:hover {
        color: #23527c;
        text-decoration: none;
      }
    }
  }
}
