<div class="row">
  <div class="content-padding">
    <div class="videos-info">
      <div class="col-md-9 col-xs-5 videos-total-results">
        <span *ngIf="pagination.totalItems !== null">{{ pagination.totalItems }} videos</span>

        <my-loader [loading]="loading | async"></my-loader>
      </div>

      <my-video-sort class="col-md-3 col-xs-7" [currentSort]="sort" (sort)="onSort($event)"></my-video-sort>
    </div>
  </div>
</div>

<div class="content-padding videos-miniatures">
  <div class="no-video" *ngIf="isThereNoVideo()">There is no video.</div>

  <my-video-miniature
    class="ng-animate"
    *ngFor="let video of videos" [video]="video" [user]="user" [currentSort]="sort"
  >
  </my-video-miniature>
</div>

<pagination *ngIf="pagination.totalItems !== null && pagination.totalItems !== 0"
  [totalItems]="pagination.totalItems" [itemsPerPage]="pagination.itemsPerPage" [maxSize]="6" [boundaryLinks]="true" [rotate]="false"
  [(ngModel)]="pagination.currentPage" (pageChanged)="onPageChanged($event)"
></pagination>
