@import '_variables';
@import '_mixins';
@import '_miniature';

.section {
  padding-top: 10px;

  &:first-child {
    padding-top: 30px;
  }

  my-video-miniature {
    text-align: left;
  }
}

.section-title {
  font-size: 24px;
  font-weight: $font-semibold;
  margin-bottom: 10px;

  a {
    &:hover, &:focus:not(.focus-visible), &:active {
      text-decoration: none;
      outline: none;
    }

    color: var(--mainForegroundColor);
  }
}

.channel {
  .section-title a {
    display: flex;
    width: fit-content;
    align-items: center;

    img {
      @include avatar(28px);

      margin-right: 8px;
    }
  }
}

@media screen and (max-width: 500px) {
  .section-title {
    font-size: 17px;
  }

  .section {
    @include video-miniature-small-screen;
  }
}
