@import "../../../sass/pre-customizations.scss";

.video-miniature {
  @media screen and (max-width: 400px) {
    padding: 0;
  }

  margin-top: 30px;
  display: inline-block;
  position: relative;
  min-width: 220px;
  height: 190px;

  .video-miniature-thumbnail {
    display: inline-block;
    position: relative;

    &:hover {
      text-decoration: none !important;
    }

    .thumbnail-nsfw {
      background-color: #000;
      color: #fff;
      text-align: center;
      font-size: 30px;
      line-height: 110px;

      width: 200px;
      height: 110px;
    }

    .video-miniature-duration {
      position: absolute;
      right: 5px;
      bottom: 2px;
      display: inline-block;
      background-color: rgba(0, 0, 0, 0.8);
      color: rgba(255, 255, 255, 0.8);
      padding: 2px;
      font-size: 11px;
    }
  }

  .video-miniature-informations {
    width: 200px;

    .video-miniature-name-tags {
      display: block;

      .video-miniature-name {
        height: 23px;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: bold;
        transition: color 0.2s;
        font-size: 15px;

        &:hover {
          text-decoration: none;
        }
      }

      .video-miniature-tags {
        // Fix for chrome when tags a long
        width: 201px;

        .video-miniature-tag {
          font-size: 13px;
          cursor: pointer;
          position: relative;
          top: -2px;

          .label {
            line-height: $line-height-base;
            transition: background-color 0.2s;
          }
        }
      }
    }

    .video-miniature-author, .video-miniature-views-created-at {
      display: block;
      margin-left: 1px;
      font-size: 12px;
      color: #337ab7;
      opacity: 0.9;

      .video-miniature-created-at::before {
        content: '\002022';
        margin: 0 2px 0 1px;
      }
    }

    .video-miniature-author {
      transition: color 0.2s;

      &:hover {
        color: #23527c;
        text-decoration: none;
      }
    }
  }
}
