<div class="row videos-info">
  <div class="col-md-9 videos-total-results">
    {{ pagination.total }} videos

    <my-loader [loading]="loading"></my-loader>
  </div>
  <my-video-sort class="col-md-3" [currentSort]="sort" (sort)="onSort($event)"></my-video-sort>
</div>

<div class="videos-miniatures">
  <div class="col-md-12 no-video" *ngIf="noVideo()">There is no video.</div>

  <my-video-miniature class="ng-animate "*ngFor="let video of videos" [video]="video" [user]="user" (removed)="onRemoved(video)">
  </my-video-miniature>
</div>

<pagination
  [totalItems]="pagination.total" [itemsPerPage]="pagination.itemsPerPage" [(ngModel)]="pagination.currentPage"
  (ngModelChange)="getVideos()"
></pagination>
