<div class="header">
  <a routerLink="/my-account/settings" fragment="notifications" i18n>
    <my-global-icon iconName="cog"></my-global-icon>
    Notification preferences
  </a>

  <button class="btn" [disabled]="!getUnreadNotifications()" (click)="markAllAsRead()">
    <my-global-icon *ngIf="getUnreadNotifications()" iconName="inbox-full"></my-global-icon>
    <span i18n *ngIf="getUnreadNotifications()">Mark all as read</span>

    <my-global-icon *ngIf="!getUnreadNotifications()" iconName="circle-tick"></my-global-icon>
    <span i18n *ngIf="!getUnreadNotifications()">All read</span>
  </button>
</div>

<my-user-notifications #userNotification></my-user-notifications>
