<div class="header">
  <div class="peertube-select-container me-auto">
    <select [(ngModel)]="notificationSortType" (ngModelChange)="onChangeSortColumn()" class="form-control" i18n-ariaLabel aria-label="Sort by">
      <option value="createdAt" i18n>Newest first</option>
      <option value="read" [disabled]="!hasUnreadNotifications()" i18n>Unread first</option>
    </select>
  </div>

  <a class="peertube-button-link secondary-button" routerLink="/my-account/settings" fragment="notifications">
    <my-global-icon iconName="cog" aria-hidden="true"></my-global-icon>
    <span i18n>Notification preferences</span>
  </a>

  <button class="peertube-button secondary-button" [disabled]="!hasUnreadNotifications()" (click)="markAllAsRead()">
    <ng-container *ngIf="hasUnreadNotifications()">
      <my-global-icon iconName="tick" aria-hidden="true"></my-global-icon>

      <span i18n>Mark all as read</span>
    </ng-container>

    <ng-container *ngIf="!hasUnreadNotifications()">
      <my-global-icon iconName="circle-tick" aria-hidden="true"></my-global-icon>

      <span i18n>All read</span>
    </ng-container>
  </button>
</div>

<my-user-notifications #userNotification></my-user-notifications>
