<h1 class="sr-only" i18n>Notifications</h1>
<div class="header">
  <a routerLink="/my-account/settings" fragment="notifications" i18n>
    <my-global-icon iconName="cog" aria-hidden="true"></my-global-icon>
    Notification preferences
  </a>

  <div class="peertube-select-container peertube-select-button ml-2 mr-2">
    <select [(ngModel)]="notificationSortType" (ngModelChange)="onChangeSortColumn()" class="form-control">
      <option value="undefined" disabled>Sort by</option>
      <option value="createdAt" i18n>Newest first</option>
      <option value="read" [disabled]="!hasUnreadNotifications()" i18n>Unread first</option>
    </select>
  </div>

  <button class="btn ml-auto" [disabled]="!hasUnreadNotifications()" (click)="markAllAsRead()">
    <ng-container *ngIf="hasUnreadNotifications()">
      <my-global-icon iconName="inbox-full" aria-hidden="true"></my-global-icon>

      <span i18n>Mark all as read</span>
    </ng-container>

    <ng-container *ngIf="!hasUnreadNotifications()">
      <my-global-icon iconName="circle-tick" aria-hidden="true"></my-global-icon>

      <span i18n>All read</span>
    </ng-container>
  </button>
</div>

<my-user-notifications #userNotification></my-user-notifications>
