<div class="margin-content">
  <div i18n class="title-page title-page-single">
    Login
  </div>

  <div *ngIf="error" class="alert alert-danger">{{ error }}</div>

  <form role="form" (ngSubmit)="login()" [formGroup]="form">
    <div class="form-group">
      <div>
        <label i18n for="username">User</label>
        <input
          type="text" id="username" i18n-placeholder placeholder="Username or email address" required tabindex="1"
          formControlName="username" [ngClass]="{ 'input-error': formErrors['username'] }"
        >
        <a i18n *ngIf="signupAllowed === true" routerLink="/signup" class="create-an-account">
          or create an account
        </a>

        <a i18n *ngIf="signupAllowed === false" href="https://joinpeertube.org/en/#getting-started" target="_blank" title="Click here to see how to get started!" class="create-an-account">
          or create an account on another instance
        </a>

        <my-help
          *ngIf="signupAllowed === false" helpType="custom" i18n-customHtml
          customHtml="User registration is not allowed on this instance, but you can register on many others!"
        ></my-help>
      </div>

      <div *ngIf="formErrors.username" class="form-error">
        {{ formErrors.username }}
      </div>
    </div>

    <div class="form-group">
      <label i18n for="password">Password</label>
      <div>
        <input
          type="password" name="password" id="password" i18n-placeholder placeholder="Password" required tabindex="2"
          formControlName="password" [ngClass]="{ 'input-error': formErrors['password'] }"
        >
        <a i18n class="forgot-password-button" (click)="openForgotPasswordModal()" title="Click here to reset your password">I forgot my password</a>
      </div>
      <div *ngIf="formErrors.password" class="form-error">
        {{ formErrors.password }}
      </div>
    </div>

    <input type="submit" value="Login" [disabled]="!form.valid">
  </form>
</div>

<ng-template #forgotPasswordModal>
  <div class="modal-header">
    <h4 i18n class="modal-title">Forgot your password</h4>
    <span class="close" aria-hidden="true" (click)="hideForgotPasswordModal()"></span>
  </div>

  <div class="modal-body">
    <div class="form-group">
      <label i18n for="forgot-password-email">Email</label>
      <input
        type="email" id="forgot-password-email" i18n-placeholder placeholder="Email address" required
        [(ngModel)]="forgotPasswordEmail" #forgotPasswordEmailInput
      >
    </div>
  </div>

  <div class="modal-footer inputs">
    <span i18n class="action-button action-button-cancel" (click)="hideForgotPasswordModal()">Cancel</span>

    <input
      type="submit" i18n-value value="Send me an email to reset my password" class="action-button-submit"
      (click)="askResetPassword()" [disabled]="!forgotPasswordEmailInput.validity.valid"
    >
  </div>
</ng-template>
