@import '_variables';
@import '_mixins';

a {
  @include disable-default-a-behaviour;
  display: inline-block;

  &, &:hover {
    color: var(--mainForegroundColor);
  }

  span {
    font-size: 80%;
    color: var(--inputPlaceholderColor);
  }
}

.unblock-button {
  @include peertube-button;
  @include grey-button;
}

.block-button {
  @include create-button;
}
