@use '_variables' as *;
@use '_mixins' as *;
@use 'nav' as *;

$border-width: 0;
$border-type: solid;
$border-color: #fff;
$nav-link-height: 40px;

.upload-message {
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 0;

  &:last-child {
    margin-bottom: 1rem;
  }
}

.upload-image {
  width: 100%;
  text-align: center;

  img {
    margin-top: 10px;
    margin-bottom: 75px;
    width: 220px;
    height: auto;
  }

  @media screen and (max-height: 600px) {
    img {
      margin-top: 5px;
      width: 160px;
    }
  }
}

:host ::ng-deep .video-add-nav {
  @include peertube-nav-tabs($border-width, $border-type, $border-color, $nav-link-height);

  a.nav-link {
    &.active {
      background-color: pvar(--bg-secondary-400) !important;
    }
  }
}

:host ::ng-deep .upload-video-container {
  border: $border-width $border-type $border-color;
  border-top: transparent;

  background-color: pvar(--bg-secondary-400);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  width: 100%;
  min-height: 440px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  padding-top: 20px;

  &.dragover {
    border: 3px dashed pvar(--primary);
  }
}

@mixin nav-scroll {
  ::ng-deep .video-add-nav {
    height: #{$nav-link-height + $border-width * 2};
    overflow-x: auto;
    white-space: nowrap;
    flex-wrap: unset;

    /* Hide active tab style to not have a moving tab effect */
    a.nav-link.active {
      border-color: transparent;
      background-color: pvar(--bg) !important;
    }
  }
}

/* Make .video-add-nav tabs scrollable on small devices */
@media screen and (max-width: $small-view) {
  @include nav-scroll();
}
