<ng-template #tooltipTemplate>
  Supported markdown formats:

  <ul>
    @for (rule of markdownRules; track rule) {
      <li>{{ rule }}</li>
    }

    <li>
      <a href="https://docs.joinmastodon.org/user/profile/#verification" target="_blank" rel="noopener noreferrer">Mastodon verification link</a>
    </li>
  </ul>

  <a class="pt" href="https://wikipedia.org/wiki/Markdown#Example" target="_blank" rel="noopener noreferrer">Learn more about Markdown</a>
</ng-template>

<span class="root fake-link" [ngbPopover]="tooltipTemplate">
  <ng-content></ng-content>
</span>
