@use '_variables' as *;
@use '_mixins' as *;

.privacy-concerns {
  position: fixed;
  bottom: 0;

  width: calc(100% - #{$menu-width} - (#{pvar(--x-margin-content)} * 2));
  z-index: z(privacymsg);

  padding: 5px 15px;
  border-radius: 5px 5px 0 0;

  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;

  @include margin-left(pvar(--x-margin-content));
}

.privacy-concerns-text {
  margin: 0 5px;
}

a {
  color: #fff;
}

:host-context(.main-col.expanded) {
  .privacy-concerns {
    width: calc(100% - #{$menu-collapsed-width} - (#{pvar(--x-margin-content)} * 2));
  }
}

// Or if we are in the small view
@media screen and (max-width: $mobile-view) {
  .privacy-concerns {
    width: 100% !important;
    border-radius: 0 !important;

    @include margin-left(0 !important);
  }
}
