<h1>
  <span>
    <my-global-icon iconName="subscriptions" aria-hidden="true"></my-global-icon>
    <ng-container i18n>My subscriptions</ng-container>
    <span class="badge badge-secondary"> {{ pagination.totalItems }}</span>
  </span>
</h1>

<div class="video-subscriptions-header d-flex justify-content-between">
  <div class="has-feedback has-clear">
    <input type="text" placeholder="Search your subscriptions" i18n-placeholder [(ngModel)]="subscriptionsSearch"
      (ngModelChange)="onSubscriptionsSearchChanged()" />
    <a class="glyphicon glyphicon-remove-sign form-control-feedback form-control-clear" (click)="resetSearch()"></a>
    <span class="sr-only" i18n>Clear filters</span>
  </div>
</div>

<div class="no-results" i18n *ngIf="pagination.totalItems === 0">You don't have any subscriptions yet.</div>

<div class="video-channels" myInfiniteScroller [autoInit]="true" (nearOfBottom)="onNearOfBottom()" [dataObservable]="onDataSubject.asObservable()">
  <div *ngFor="let videoChannel of videoChannels" class="video-channel">
    <a [routerLink]="[ '/video-channels', videoChannel.nameWithHost ]">
      <img [src]="videoChannel.avatarUrl" alt="Avatar" />
    </a>

    <div class="video-channel-info">
      <a [routerLink]="[ '/video-channels', videoChannel.nameWithHost ]" class="video-channel-names" i18n-title title="Channel page">
        <div class="video-channel-display-name">{{ videoChannel.displayName }}</div>
        <div class="video-channel-name">{{ videoChannel.nameWithHost }}</div>
      </a>

      <div i18n class="video-channel-followers">{{ videoChannel.followersCount }} subscribers</div>

      <a [routerLink]="[ '/accounts', videoChannel.ownerBy ]" i18n-title title="Owner account page" class="actor-owner">
        <span i18n>Created by {{ videoChannel.ownerBy }}</span>
        <img [src]="videoChannel.ownerAvatarUrl" alt="Owner account avatar" />
      </a>
    </div>

    <my-subscribe-button [videoChannels]="[videoChannel]"></my-subscribe-button>
  </div>
</div>
