<div myInfiniteScroller [autoInit]="true" (nearOfBottom)="onNearOfBottom()" class="search-result">
  <div class="results-header">
    <div class="first-line">
      <div class="results-counter" *ngIf="pagination.totalItems">
        <span i18n>{{ pagination.totalItems | myNumberFormatter }} {pagination.totalItems, plural, =1 {result} other {results}} </span>

        <span i18n *ngIf="advancedSearch.searchTarget === 'local'">on this instance</span>
        <span i18n *ngIf="advancedSearch.searchTarget === 'search-index'">on the vidiverse</span>

        <span *ngIf="currentSearch" i18n>
          for <span class="search-value">{{ currentSearch }}</span>
        </span>
      </div>

      <div
        class="results-filter-button ml-auto" (click)="isSearchFilterCollapsed = !isSearchFilterCollapsed" role="button"
        [attr.aria-expanded]="!isSearchFilterCollapsed" aria-controls="collapseBasic"
      >
        <span class="icon icon-filter"></span>
        <ng-container i18n>
          Filters
          <span *ngIf="numberOfFilters() > 0" class="badge badge-secondary">{{ numberOfFilters() }}</span>
        </ng-container>
      </div>
    </div>

    <div class="results-filter collapse-transition" [ngbCollapse]="isSearchFilterCollapsed">
      <my-search-filters [advancedSearch]="advancedSearch" (filtered)="onFiltered()"></my-search-filters>
    </div>
  </div>

  <div i18n *ngIf="pagination.totalItems === 0 && results.length === 0" class="no-results">
    No results found
  </div>

  <ng-container *ngFor="let result of results">
    <div *ngIf="isVideoChannel(result)" class="entry video-channel">
      <a *ngIf="!isExternalChannelUrl()" [routerLink]="getChannelUrl(result)">
        <img [src]="result.avatarUrl" alt="Avatar" />
      </a>

      <a *ngIf="isExternalChannelUrl()" [href]="getChannelUrl(result)" target="_blank">
        <img [src]="result.avatarUrl" alt="Avatar" />
      </a>

      <div class="video-channel-info">
        <a *ngIf="!isExternalChannelUrl()" [routerLink]="getChannelUrl(result)" class="video-channel-names">
          <ng-container *ngTemplateOutlet="aContent"></ng-container>
        </a>

        <a *ngIf="isExternalChannelUrl()" [href]="getChannelUrl(result)" target="_blank" class="video-channel-names">
          <ng-container *ngTemplateOutlet="aContent"></ng-container>
        </a>

        <ng-template #aContent>
          <div class="video-channel-display-name">{{ result.displayName }}</div>
          <div class="video-channel-name">{{ result.nameWithHost }}</div>
        </ng-template>

        <div i18n class="video-channel-followers">{{ result.followersCount }} subscribers</div>
      </div>

      <my-subscribe-button *ngIf="!hideActions()" [videoChannels]="[result]"></my-subscribe-button>
    </div>

    <div *ngIf="isVideo(result)" class="entry video">
      <my-video-miniature
        [video]="result" [user]="userMiniature" [displayAsRow]="true" [displayVideoActions]="!hideActions()"
        [displayOptions]="videoDisplayOptions" [videoLinkType]="getVideoLinkType()"
        (videoBlocked)="removeVideoFromArray(result)" (videoRemoved)="removeVideoFromArray(result)"
      ></my-video-miniature>
    </div>
  </ng-container>

</div>
