@use '_variables' as *;
@use '_mixins' as *;
@use '_form-mixins' as *;

form {
  margin-top: 40px;
}

.radio-label {
  font-weight: $font-bold;
}

.peertube-radio-container {
  display: inline-block;

  @include margin-right(30px);
}

.peertube-select-container {
  margin-bottom: 1rem;

  @include peertube-select-container(auto);
}

input[type=text] {
  @include peertube-input-text(100%);
}

.submit-button {
  text-align: end;
}
