<form role="form" (ngSubmit)="formUpdated()">

  <div class="row">
    <div class="col-lg-4 col-md-6 col-xs-12">
      <fieldset class="form-group" role="radiogroup">
        <div class="radio-label label-container">
          <label for="sort" i18n>Sort</label>
          <button i18n class="reset-button reset-button-small" (click)="resetField('sort', '-match')" *ngIf="advancedSearch.sort !== '-match'">
            Reset
          </button>
        </div>

        <div class="peertube-radio-container" *ngFor="let sort of sorts">
          <input type="radio" name="sort" [id]="sort.id" [value]="sort.id" [(ngModel)]="advancedSearch.sort">
          <label [for]="sort.id" class="radio">{{ sort.label }}</label>
        </div>
      </fieldset>

      <div class="form-group" role="radiogroup">
        <div class="radio-label label-container">
          <label for="isLive" i18n>Display only</label>
          <button i18n class="reset-button reset-button-small" (click)="resetField('isLive')" *ngIf="advancedSearch.isLive !== undefined">
            Reset
          </button>
        </div>

        <div class="peertube-radio-container">
          <input type="radio" name="isLive" id="isLiveTrue" value="true" [(ngModel)]="advancedSearch.isLive">
          <label i18n for="isLiveTrue" class="radio">Live videos</label>
        </div>

        <div class="peertube-radio-container">
          <input type="radio" name="isLive" id="isLiveFalse" value="false" [(ngModel)]="advancedSearch.isLive">
          <label i18n for="isLiveFalse" class="radio">VOD videos</label>
        </div>
      </div>

      <div class="form-group" role="radiogroup">
        <div class="radio-label label-container">
          <label for="sensitiveContent" i18n>Display sensitive content</label>
          <button i18n class="reset-button reset-button-small" (click)="resetField('nsfw')" *ngIf="advancedSearch.nsfw !== undefined">
            Reset
          </button>
        </div>

        <div class="peertube-radio-container">
          <input type="radio" name="sensitiveContent" id="sensitiveContentYes" value="both" [(ngModel)]="advancedSearch.nsfw">
          <label i18n for="sensitiveContentYes" class="radio">Yes</label>
        </div>

        <div class="peertube-radio-container">
          <input type="radio" name="sensitiveContent" id="sensitiveContentNo" value="false" [(ngModel)]="advancedSearch.nsfw">
          <label i18n for="sensitiveContentNo" class="radio">No</label>
        </div>
      </div>

      <div class="form-group">
        <div class="radio-label label-container">
          <label for="publishedDateRange" i18n>Published date</label>
          <button i18n class="reset-button reset-button-small" (click)="resetLocalField('publishedDateRange')" *ngIf="publishedDateRange !== undefined">
            Reset
          </button>
        </div>

        <div class="peertube-radio-container" *ngFor="let date of publishedDateRanges">
          <input type="radio" (change)="onDurationOrPublishedUpdated()" name="publishedDateRange" [id]="date.id" [value]="date.id" [(ngModel)]="publishedDateRange">
          <label [for]="date.id" class="radio">{{ date.label }}</label>
        </div>
      </div>

      <div class="form-group">
        <div class="label-container">
          <label i18n for="original-publication-after">Original publication year</label>
          <button i18n class="reset-button reset-button-small" (click)="resetOriginalPublicationYears()" *ngIf="originallyPublishedStartYear || originallyPublishedEndYear">
            Reset
          </button>
        </div>

        <div class="row">
          <div class="ps-0 col-sm-6">
            <input
              (change)="onDurationOrPublishedUpdated()"
              (keydown.enter)="$event.preventDefault()"
              type="text" id="original-publication-after" name="original-publication-after"
              i18n-placeholder placeholder="After..."
              [(ngModel)]="originallyPublishedStartYear"
              class="form-control"
            >
          </div>
          <div class="pe-0 col-sm-6">
            <input
              (change)="onDurationOrPublishedUpdated()"
              (keydown.enter)="$event.preventDefault()"
              type="text" id="original-publication-before" name="original-publication-before"
              i18n-placeholder placeholder="Before..."
              [(ngModel)]="originallyPublishedEndYear"
              class="form-control"
            >
          </div>
        </div>
      </div>

    </div>

    <div class="col-lg-4 col-md-6 col-xs-12">
      <div class="form-group" role="radiogroup">
        <div class="radio-label label-container">
          <label for="durationRange" i18n>Duration</label>
          <button i18n class="reset-button reset-button-small" (click)="resetLocalField('durationRange')" *ngIf="durationRange !== undefined">
            Reset
          </button>
        </div>

        <div class="peertube-radio-container" *ngFor="let duration of durationRanges">
          <input type="radio" (change)="onDurationOrPublishedUpdated()" name="durationRange" [id]="duration.id" [value]="duration.id" [(ngModel)]="durationRange">
          <label [for]="duration.id" class="radio">{{ duration.label }}</label>
        </div>
      </div>

      <div class="form-group">
        <label i18n for="category">Category</label>
        <button i18n class="reset-button reset-button-small" (click)="resetField('categoryOneOf')" *ngIf="advancedSearch.categoryOneOf !== undefined">
          Reset
        </button>
        <div class="peertube-select-container">
          <select id="category" name="category" [(ngModel)]="advancedSearch.categoryOneOf" class="form-control">
            <option [ngValue]="undefined" i18n>Display all categories</option>
            <option *ngFor="let category of videoCategories" [value]="category.id">{{ category.label }}</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label i18n for="licence">Licence</label>
        <button i18n class="reset-button reset-button-small" (click)="resetField('licenceOneOf')" *ngIf="advancedSearch.licenceOneOf !== undefined">
          Reset
        </button>
        <div class="peertube-select-container">
          <select id="licence" name="licence" [(ngModel)]="advancedSearch.licenceOneOf" class="form-control">
            <option [ngValue]="undefined" i18n>Display all licenses</option>
            <option *ngFor="let licence of videoLicences" [value]="licence.id">{{ licence.label }}</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label i18n for="language">Language</label>
        <button i18n class="reset-button reset-button-small" (click)="resetField('languageOneOf')" *ngIf="advancedSearch.languageOneOf !== undefined">
          Reset
        </button>
        <div class="peertube-select-container">
          <select id="language" name="language" [(ngModel)]="advancedSearch.languageOneOf" class="form-control">
            <option [ngValue]="undefined" i18n>Display all languages</option>
            <option *ngFor="let language of videoLanguages" [value]="language.id">{{ language.label }}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-xs-12">
      <div class="form-group">
        <label i18n for="tagsAllOf">All of these tags</label>
        <button i18n class="reset-button reset-button-small" (click)="resetField('tagsAllOf')" *ngIf="advancedSearch.tagsAllOf">
          Reset
        </button>
        <my-select-tags name="tagsAllOf" labelForId="tagsAllOf" id="tagsAllOf" [(ngModel)]="advancedSearch.tagsAllOf"></my-select-tags>
      </div>

      <div class="form-group">
        <label i18n for="tagsOneOf">One of these tags</label>
        <button i18n class="reset-button reset-button-small" (click)="resetField('tagsOneOf')" *ngIf="advancedSearch.tagsOneOf">
          Reset
        </button>
        <my-select-tags name="tagsOneOf" labelForId="tagsOneOf" id="tagsOneOf" [(ngModel)]="advancedSearch.tagsOneOf"></my-select-tags>
      </div>

      <div class="form-group">
        <label i18n for="host">PeerTube instance host</label>

        <input (change)="onDurationOrPublishedUpdated()" (keydown.enter)="$event.preventDefault()" type="text" id="host" name="host"
          placeholder="example.com" [(ngModel)]="advancedSearch.host" class="form-control"
        >
      </div>

      <div class="form-group" role="radiogroup">
        <div class="radio-label label-container">
          <label for="resultType" i18n>Result types</label>
          <button i18n class="reset-button reset-button-small" (click)="resetField('resultType')" *ngIf="advancedSearch.resultType !== undefined">
            Reset
          </button>
        </div>

        <div class="peertube-radio-container">
          <input type="radio" name="resultType" id="resultTypeVideos" value="videos" [(ngModel)]="advancedSearch.resultType">
          <label i18n for="resultTypeVideos" class="radio">Videos</label>
        </div>

        <div class="peertube-radio-container">
          <input type="radio" name="resultType" id="resultTypeChannels" value="channels" [(ngModel)]="advancedSearch.resultType">
          <label i18n for="resultTypeChannels" class="radio">Channels</label>
        </div>

        <div class="peertube-radio-container">
          <input type="radio" name="resultType" id="resultTypePlaylists" value="playlists" [(ngModel)]="advancedSearch.resultType">
          <label i18n for="resultTypePlaylists" class="radio">Playlists</label>
        </div>

      </div>

      <div class="form-group" *ngIf="isSearchTargetEnabled()" role="radiogroup">
        <div class="radio-label label-container">
          <label for="searchTarget" i18n>Search target</label>
        </div>

        <div class="peertube-radio-container">
          <input type="radio" name="searchTarget" id="searchTargetLocal" value="local" [(ngModel)]="advancedSearch.searchTarget">
          <label i18n for="searchTargetLocal" class="radio">Instance</label>
        </div>

        <div class="peertube-radio-container">
          <input type="radio" name="searchTarget" id="searchTargetSearchIndex" value="search-index" [(ngModel)]="advancedSearch.searchTarget">
          <label i18n for="searchTargetSearchIndex" class="radio">Vidiverse</label>
        </div>
      </div>
    </div>
  </div>

  <div class="submit-button">
    <button i18n class="reset-button me-3" (click)="reset()" *ngIf="advancedSearch.size()">
      Reset
    </button>

    <input type="submit" i18n-value value="Filter" i18n-ariaLabel aria-label="Filter the results and automatically close the filters panel">
  </div>
</form>
