{{#> base title=(t "New PeerTube version available")}}
  <p>
    {{t "A new version of PeerTube is available: {latestVersion}." latestVersion=latestVersion}}

    {{{t "You can check the latest news on <a href=\"https://joinpeertube.org/news\">JoinPeerTube</a>."}}}
  </p>
{{/base}}
