@import '_variables';
@import '_mixins';

label {
  font-size: 15px;
  font-weight: $font-regular;
  margin-left: 5px;
}

input[type=submit] {
  @include peertube-button;
  @include orange-button;

  display: block;
  margin-top: 15px;
}
