<form role="form" (ngSubmit)="updateDetails()" [formGroup]="form">
  <div class="form-group">
    <input
      type="checkbox" id="displayNSFW"
      formControlName="displayNSFW"
    >
    <label for="displayNSFW"></label>
    <label for="displayNSFW">Display videos that contain mature or explicit content</label>
  </div>

  <div class="form-group">
    <input
      type="checkbox" id="autoPlayVideo"
      formControlName="autoPlayVideo"
    >
    <label for="autoPlayVideo"></label>
    <label for="autoPlayVideo">Automatically plays video</label>
  </div>

  <input type="submit" value="Save" [disabled]="!form.valid">
</form>
