@use "sass:color";
@use "_variables" as *;
@use "_mixins" as *;
@use "bootstrap/scss/functions" as *;

.banned-info {
  font-style: italic;
}

.ban-reason-label {
  font-weight: $font-semibold;
}

.cell-username .pt-badge {
  @include margin-left(15px);
}

my-progress-bar {
  display: block;
  min-width: 120px;
}
