@use 'sass:color';
@use '_variables' as *;
@use '_mixins' as *;
@use 'bootstrap/scss/functions' as *;

.banned-info {
  font-style: italic;
}

.ban-reason-label {
  font-weight: $font-semibold;
}

.cell-username .pt-badge {
  @include margin-left(15px);
}

p-tableCheckbox {
  position: relative;
  top: -2.5px;
}

my-global-icon {
  width: 18px;
}

.progress {
  width: auto;
  max-width: 100%;

  @include progressbar($small: true);
}

@media screen and (max-width: $primeng-breakpoint) {
  .progress {
    width: 100%;
  }

  .empty-cell {
    padding: 0;
  }
}
