@use '_variables' as *;
@use '_mixins' as *;

.two-columns {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.mascot-fw {
  width: 170px;
}

.mascot {
  display: block;
  min-width: 170px;

  @include margin-right(2rem);
}

.subtitle {
  font-weight: $font-semibold;
  margin-bottom: 10px;
}

.block-documentation {
  .subtitle {
    margin-bottom: 20px;
  }
}

li {
  margin-bottom: 10px;
}

.configure-instance {
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  margin: 20px 0 40px;
}

.columns {
  display: flex;
}

.link-block {
  color: pvar(--mainForegroundColor);
  padding: 10px;
  transition: background-color 0.2s ease-in;
  flex-basis: 33%;

  @include disable-default-a-behaviour;

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  .link-title {
    font-weight: $font-semibold;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
  }

  .link-title,
  div {
    text-align: center;
  }
}
