<ng-template #modal let-hide="close">
  <div class="modal-header">
    <h4 class="modal-title">{{title}}</h4>
    <my-global-icon *ngIf="close" iconName="cross" aria-label="Close" role="button" (click)="hide()"></my-global-icon>
  </div>
    
  <div class="modal-body" [innerHTML]="content"></div>

  <div ng-show='typeof(cancel) !== "undefined" || typeof(confirm) !== "undefined"' class="modal-footer inputs">
    <input
      ng-show='typeof(cancel) !== "undefined"' type="button" role="button" value="{{cancel && cancel.value}}" class="action-button action-button-cancel"
      (click)="hide(); cancel.action && cancel.action()" (key.enter)="hide(); cancel.action && cancel.action()"
    >

    <input
      ng-show='typeof(confirm) !== "undefined"' type="button" role="button" value="{{confirm && confirm.value}}" class="action-button action-button-confirm"
      (click)="hide(); confirm.action && confirm.action()" (key.enter)="hide(); confirm.action && confirm.action()"
    >
  </div>
</ng-template>
  