<ng-template #modal let-hide="close">
  <div class="modal-header">
    <h4 i18n class="modal-title">Configuration warning!</h4>
    <button class="border-0 p-0" title="Close this modal" i18n-title (click)="hide()">
      <my-global-icon iconName="cross"></my-global-icon>
    </button>
  </div>

  <div class="modal-body">
    <img class="mascot" src="/client/assets/images/mascot/oh.svg" alt="mascot" />

    <p i18n>You enabled user registration on your instance but did not configure the following fields:</p>

    <ul>
      @if (about.instance.name.toLowerCase() === 'peertube') {
        <li i18n>Instance name</li>
      }
      @if (isDefaultShortDescription(about.instance.shortDescription)) {
        <li i18n>Instance short description</li>
      }

      @if (!about.instance.administrator) {
        <li i18n>Who you are</li>
      }
      @if (!about.instance.maintenanceLifetime) {
        <li i18n>How long you plan to maintain your instance</li>
      }
      @if (!about.instance.businessModel) {
        <li i18n>How you plan to pay for keeping your instance running</li>
      }

      @if (!about.instance.moderationInformation) {
        <li i18n>How you will moderate your instance</li>
      }
      @if (!about.instance.terms) {
        <li i18n>Instance terms</li>
      }
    </ul>

    <p i18n>
      Please consider configuring these fields to help people to choose <strong>the appropriate instance</strong>.
      Without them, your instance may not be referenced on the <a target="_blank" rel="noopener noreferrer" href="https://joinpeertube.org">JoinPeerTube website</a>.
    </p>
  </div>

  <div class="modal-footer inputs">
    <my-peertube-checkbox
      inputName="stopDisplayModal" [(ngModel)]="stopDisplayModal"
      i18n-labelText labelText="Don't show me this warning anymore"
      >
    </my-peertube-checkbox>

    <input
      type="button" role="button" i18n-value value="Close" class="peertube-button secondary-button"
      (click)="hide()" (key.enter)="hide()"
      >

    <a i18n class="peertube-button-link primary-button" ngbAutofocus
      href="/admin/settings/config/edit-custom" target="_blank" rel="noopener noreferrer">
       Configure
    </a>
  </div>

</ng-template>
