@import '_mixins';
@import '_variables';

.action-button-cancel {
  margin-right: 0 !important;
}

.modal-body {
  font-size: 15px;
}

li {
  margin-bottom: 10px;
}

.mascot {
  display: block;
  margin: 0 auto 50px;
  width: 25%;
}

.action-button-configure {
  display: inline-block;

  @include peertube-button;
  @include orange-button;
  @include disable-default-a-behaviour;
}
