@import '_mixins';

.modal-button {
  @include disable-default-a-behaviour;
  transform: translateY(2px);

  button {
    @include peertube-button;
    @include grey-button;
    @include button-with-icon(18px, 4px, -1px);

    my-global-icon {
      @include apply-svg-color(#585858);
    }
  }

  & + .modal-button {
    margin-left: 1rem;
  }
}

.icon {
  @include disable-outline;
  @include icon(22px);
  opacity: 0.6;
  margin-left: -1px;

  &.icon-shortcuts  {
    position: relative;
    top: -1px;
    margin-right: 4px;

    background-image: url('../../assets/images/misc/keyboard.png');
  }
}

.quick-settings-title {
  @include in-content-small-title;
}