@import '_mixins';

.modal-button {
  @include disable-default-a-behaviour;
  transform: translateY(2px);

  button {
    @include peertube-button;
    @include grey-button;
    @include button-with-icon(18px, 4px, -1px);

    my-global-icon {
      @include apply-svg-color(#585858);
    }
  }

  & + .modal-button {
    margin-left: 1rem;
  }
}

.quick-settings-title {
  @include in-content-small-title;
}
