@import '_variables';
@import '_mixins';

.sub-menu {
  @include sub-menu-with-actor;

  .actor, .actor-info {
    width: 100%;
  }

  .actor-name {
    flex-grow: 1;

    .copy-button {
      border: none;
      padding: 5px;
      margin-top: -2px;
    }
  }
}