@import '_variables';
@import '_mixins';

.help-tooltip-button {
  cursor: pointer;
  border: none;

  my-global-icon {
    width: 17px;
    position: relative;
    top: -1px;
    margin: 5px;

    @include apply-svg-color(pvar(--greyForegroundColor))
  }
}

::ng-deep {
  .help-popover {
    z-index: z(help-popover) !important;
    max-width: 300px;

    .popover-body {
      font-family: $main-fonts;
      text-align: left;
      padding: 10px;
      font-size: 13px;
      background-color: pvar(--mainBackgroundColor);
      color: pvar(--mainForegroundColor);
      border-radius: 3px;

      p {
        margin-bottom: 0;
      }

      ul {
        padding-left: 20px;
        margin-bottom: 0;
      }
    }
  }
}
