@use '_variables' as *;
@use '_mixins' as *;

.help-tooltip-button {
  my-global-icon {
    @include apply-svg-color(pvar(--greyForegroundColor));

    width: 17px;
    position: relative;
    top: -1px;
  }
}

::ng-deep {
  .help-popover {
    min-width: 200px;
    max-width: 300px;

    .popover-body {
      padding: 10px;
      font-size: 13px;
      border-radius: 3px;

      p {
        margin-bottom: 0;
      }

      ul {
        @include padding-left(20px);

        margin-bottom: 0;
      }
    }
  }
}
