@import '_variables';
@import '_mixins';

.root {
  display: flex;
}

my-global-icon {
  height: 26px;
  width: 26px;
  margin-left: 10px;
  cursor: pointer;

  &:hover {
    color: pvar(--mainHoverColor);
  }

  &[iconName=search] {
    color: pvar(--mainColor);
  }

  &[iconName=cross] {
    color: pvar(--mainForegroundColor);
  }
}

input {
  @include peertube-input-text(200px);
}
