@use '_variables' as *;
@use '_mixins' as *;

.root {
  display: flex;
}

.root > my-global-icon {
  @include margin-left(10px);

  height: 28px;
  width: 28px;
  cursor: pointer;
  color: pvar(--mainColor);

  &:hover {
    color: pvar(--mainHoverColor);
  }
}

input {
  @include peertube-input-text(200px);

  &:focus {
    box-shadow: 0 0 5px 0 #a5a5a5;
  }
}

.input-group > my-global-icon {
  width: 20px;
}
