<div class="root">
  <div class="input-group has-clear">
    <input
      #ref
      type="text"
      [(ngModel)]="value"
      (keyup.enter)="sendSearch()"
      [hidden]="!inputShown"
      [name]="name"
      [placeholder]="placeholder"
    >

    <my-global-icon iconName="cross" role="button" class="form-control-clear" title="Clear filter" i18n-title (click)="onResetFilter()"></my-global-icon>
  </div>

  <my-global-icon iconName="search" aria-label="Search" role="button" (click)="onIconClick()" [title]="iconTitle"></my-global-icon>

  <my-global-icon *ngIf="!alwaysShow && inputShown" i18n-title title="Close search" iconName="cross" (click)="hideInput()"></my-global-icon>
</div>
