@use '_variables' as *;
@use '_mixins' as *;

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sub-menu ::ng-deep .dropdown-toggle::after {
  position: relative;
  top: 2px;
}

.sub-menu ::ng-deep .dropdown-menu {
  margin-top: 0 !important;
}

.dropdown-menu .dropdown-item {
  @include dropdown-with-icon-item;

  top: -1px;
}

.sub-menu.no-scroll {
  overflow-x: hidden;
}

.modal-body {
  .hidden {
    display: none;
  }

  a {
    @include disable-default-a-behaviour;

    color: currentColor;
    box-sizing: border-box;
    display: block;
    font-size: 1.2rem;
    padding: 9px 12px;
    text-align: initial;
    text-transform: unset;
    width: 100%;

    &.active {
      color: pvar(--mainBackgroundColor) !important;
      background-color: pvar(--mainHoverColor);
      opacity: .9;
    }
  }
}
