#search-video {
  display: inline-block;
  height: $button-height;
  width: $search-input-width;
  margin-right: 15px;
  padding-right: 25px; // For the search icon
  background: #fff;
  border: 1px solid #C6C6C6;
  border-radius: 3px;
  padding-left: 15px;

  &::placeholder {
    color: #000;
  }
}

.icon.icon-search {
  display: inline-block;
  background: url('../../../assets/header/search.svg') no-repeat;
  background-size: contain;
  width: 25px;
  height: 21px;
  vertical-align: middle;
  cursor: pointer;
  // yolo
  position: absolute;
  margin-left: -50px;
  margin-top: 5px;
}

.upload-button {
  display: inline-block;
  color: #fff;
  font-weight: $font-semibold;
  font-size: 15px;
  height: $button-height;
  line-height: $button-height;
  border-radius: 3px;
  text-align: center;
  margin-right: 25px;
  background-color: $orange-color;
  padding: 0 17px 0 13px;

  @include disable-default-a-behaviour;

  .icon.icon-upload {
    display: inline-block;
    background: url('../../../assets/header/upload.svg') no-repeat;
    background-size: contain;
    width: 22px;
    height: 24px;
    vertical-align: middle;
    margin-right: 6px;
  }
}
