.icon-addon {
  background-color: #fff;
  border-radius: 0;
  border-color: $header-border-color;
  border-width: 0 0 1px 0;
  text-align: right;

  .glyphicon-search {
    width: 30px;
    font-size: 20px;
  }
}

input, button, .input-group {
  height: 100%;
}

input, .input-group-btn {
  border-radius: 0;
  border-top: none;
  border-left: none;
}

input {
  height: $header-height;
  border-right: none;
  font-weight: bold;
  box-shadow: none;

  &, &:focus {
    border-bottom: 1px solid $header-border-color !important;
    outline: none !important;
    box-shadow: none !important;
  }
}

button {

  &, &:hover, &:focus, &:active, &:visited {
    background-color: #fff !important;
    border-color: $header-border-color !important;
    color: #858585 !important;
    outline: none !important;

    height: $header-height;
    border-width: 0 0 1px 0;
    font-weight: bold;
    text-decoration: none;
    box-shadow: none;
  }
}
