#search-video {
  @include peertube-input-text($search-input-width);
  margin-right: 15px;
  padding-right: 25px; // For the search icon

  &::placeholder {
    color: #000;
  }
}

.icon.icon-search {
  display: inline-block;
  background: url('../../../assets/header/search.svg') no-repeat;
  background-size: contain;
  width: 25px;
  height: 21px;
  vertical-align: middle;
  cursor: pointer;
  // yolo
  position: absolute;
  margin-left: -50px;
  margin-top: 5px;
}

.upload-button {
  @include peertube-button-link;

  margin-right: 25px;

  .icon.icon-upload {
    display: inline-block;
    background: url('../../../assets/header/upload.svg') no-repeat;
    background-size: contain;
    width: 22px;
    height: 24px;
    vertical-align: middle;
    margin-right: 6px;
  }
}
