<h2>
  <my-global-icon iconName="moderation"></my-global-icon>

  <ng-container i18n>Moderation</ng-container>
</h2>

<div [formGroup]="form">

  <div class="form-columns">
    <div>
      <div class="form-group">
        <label i18n for="commentsPolicy">Comments policy</label>

        <div class="form-group-description" i18n>
          You can require comments to be approved depending on <a routerLink="/my-account/auto-tag-policies" target="_blank">your auto-tags policies</a>
        </div>

        <my-select-options inputId="commentsPolicy" [items]="commentPolicies" formControlName="commentsPolicy"></my-select-options>

        <div *ngIf="formErrors.commentsPolicy" class="form-error" role="alert">
          {{ formErrors.commentsPolicy }}
        </div>
      </div>

      <my-peertube-checkbox inputName="nsfw" formControlName="nsfw" helpPlacement="bottom-right">
        <ng-template ptTemplate="label">
          <ng-container i18n>Contains sensitive content</ng-container>
        </ng-template>

        <ng-template ptTemplate="help">
          <ng-container i18n>Some instances hide videos containing mature or explicit content by default.</ng-container>
        </ng-template>
      </my-peertube-checkbox>
    </div>
  </div>
</div>
