@use '_variables' as *;
@use '_mixins' as *;

.channel {
  padding: 20px;
  background-color: pvar(--bg-secondary-350);
  margin-bottom: 30px;
  width: fit-content;
}

.channel-avatar-row,
.video {
  width: 280px;
}

.channel-avatar-row {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto 1fr;
  column-gap: 15px;

  a {
    color: pvar(--fg);

    @include peertube-word-wrap;
  }

  my-actor-avatar {
    grid-column: 1;
    grid-row: 1 / 4;
  }

  h6 {
    grid-column: 2;
    margin: 0;
  }

  .actor-counters {
    font-size: 13px;
    grid-column: 2;

    @include actor-counters(5px);
  }

  .description-html {
    max-height: 60px;
    grid-column: 2;

    @include fade-text(30px, pvar(--bg-secondary-350));
  }
}

.video-label {
  font-size: 12px;
  color: pvar(--fg-300);
  margin: 15px 0 5px;
}
