@use '_variables' as *;
@use '_mixins' as *;
@use 'form-mixins' as *;

.modal-body ::ng-deep {

  .nav-content {
    margin-top: 30px;
  }

  my-global-icon[iconName=shield] {
    width: 16px;
    position: relative;
    top: -2px;

    @include margin-left(10px);
  }

  .modal-footer {
    padding-inline-end: 0;
    margin-top: 1rem;

    > *:last-child {
      margin-inline-end: 0;
    }
  }
}

.peertube-select-container.title-select {
  @include peertube-select-container(auto);
}

#dropdown-download-type {
  cursor: pointer;
}


