@use '_variables' as *;
@use '_mixins' as *;

form {
  max-width: 340px;
}

my-input-text {
  display: block;
  width: 100%;
}

input[type=email] {
  @include peertube-input-text(100%);
}

input[type=submit] {
  @include peertube-button;
  @include orange-button;
}

.pending-email {
  margin-bottom: 15px;
}
