@import '_variables';
@import '_mixins';

label {
  font-weight: $font-regular;
  font-size: 100%;
}

input[type=password],
input[type=email] {
  @include peertube-input-text(340px);

  display: block;
}

input[type=submit] {
  @include peertube-button;
  @include orange-button;
}

.current-email,
.pending-email {
  font-size: 16px;
  margin-bottom: 15px;

  .email {
    font-weight: $font-semibold;
  }
}
