@import '_variables';
@import '_mixins';

label {
  font-weight: $font-regular;
  font-size: 100%;
}

my-input-toggle-hidden {
  width: 340px;
  display: block;
}

input[type=email] {
  @include peertube-input-text(340px);

  display: block;
}

input[type=submit] {
  @include peertube-button;
  @include orange-button;
}

.current-email,
.pending-email {
  margin-bottom: 15px;

  .email {
    font-weight: $font-semibold;
  }
}

.form-group {
  width: max-content;
}
