<ng-container [formGroup]="form">

  <ng-container formGroupName="instanceCustomHomepage">

    <div class="homepage pt-two-cols mt-5"> <!-- homepage grid -->
      <div class="title-col">
        <h2 i18n>INSTANCE HOMEPAGE</h2>
      </div>

      <div class="content-col">

        <div class="form-group">
          <label i18n for="instanceCustomHomepageContent">Homepage</label>
          <div class="label-small-info">
            <my-custom-markup-help></my-custom-markup-help>
          </div>

          <my-markdown-textarea
            inputId="instanceCustomHomepageContent" formControlName="content"
            [customMarkdownRenderer]="getCustomMarkdownRenderer()" [debounceTime]="500"
            [formError]="formErrors['instanceCustomHomepage.content']"
            dir="ltr"
          ></my-markdown-textarea>

          <div *ngIf="formErrors.instanceCustomHomepage.content" class="form-error" role="alert">{{ formErrors.instanceCustomHomepage.content }}</div>
        </div>
      </div>
    </div>

  </ng-container>

</ng-container>
