.navbar.navbar-default
  .container-fluid
    .navbar-header
      a.navbar-brand(href='/') PeerTube
    .navbar-header
      form.navbar-form(role='search')
        .form-group.search-group
          input.form-control#search-video(type='text' name='search_video' placeholder='Search a video...')
          a.search-btn.btn.btn-link.glyphicon.glyphicon-search(type='submit')