extends layout

block content
  div(class='container')
    div(class='row')
      include panel

      div(id='ajax_load' class='col-md-9')


    include footer

  // build:js /javascripts/global.min.js
  script(src='/javascripts/bundle.js')
  // endbuild
