extends layout  

block content
  
  div(class='container')
  
    header(class='row')
      div(class='col-md-2')
        h4 PeopleTube
        
      div(class='col-md-8')
        input(type='text' id='search_video' name='search_video' class='form-control' placeholder='Search a video...')
  
    div(class='row')
      include panel
      
      div(id='ajax_load' class='col-md-9')
    
    
    include footer

  // build:js /javascripts/global.min.js 
  script(src='/javascripts/bundle.js')
  // endbuild 