doctype html
html
  head
    link(rel='icon' type='image/png' href='/images/favicon.png')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title= title

    // build:css /stylesheets/global.min.css
    each file in [ 'global' ]
      link(rel='stylesheet', href='/stylesheets/' + file + '.css')
    // endbuild

  body
    include header
    block content
