doctype html
html
  head
    link(rel='icon' type='image/png' href='/images/favicon.png')

    title= title

    // build:css /stylesheets/global.min.css
    each file in [ 'global' ]
      link(rel='stylesheet', href='/stylesheets/' + file + '.css')
    // endbuild

  body
    block content
