menu(class='col-md-2')

  div(id='panel_get_videos' class='panel_button')
    span(class='glyphicon glyphicon-list')
    | Get videos

  div(id='panel_upload_video' class='panel_button')
    span(class='glyphicon glyphicon-cloud-upload')
    | Upload a video

  div(id='panel_make_friends' class='panel_button')
    span(class='glyphicon glyphicon-user')
    | Make friends

  div(id='panel_quit_friends' class='panel_button')
    span(class='glyphicon glyphicon-plane')
    | Quit friends
