<div class="row videos-info">
  <div class="col-md-9 videos-total-results"> {{ pagination.total }} videos</div>
  <my-video-sort class="col-md-3" [currentSort]="sort" (sort)="onSort($event)"></my-video-sort>
</div>

<div class="videos-miniatures">
  <div *ngIf="videos.length === 0">There is no video.</div>

  <my-video-miniature *ngFor="let video of videos" [video]="video" [user]="user" (removed)="onRemoved(video)">
  </my-video-miniature>
</div>

<pagination
  [totalItems]="pagination.total" [itemsPerPage]="pagination.itemsPerPage" [(ngModel)]="pagination.currentPage"
  (ngModelChange)="getVideos()"
></pagination>
