<div class="videos-info">
  <span class="videos-total-results"> {{ pagination.total }}</span>
  <my-video-sort [currentSort]="sort" (sort)="onSort($event)"></my-video-sort>
</div>

<div class="videos-miniatures">
  <div *ngIf="videos.length === 0">There is no video.</div>

  <my-video-miniature *ngFor="let video of videos" [video]="video" [user]="user" (removed)="onRemoved(video)">
  </my-video-miniature>
</div>

<pagination
  [totalItems]="pagination.total" [itemsPerPage]="pagination.itemsPerPage" [(ngModel)]="pagination.currentPage"
  (ngModelChange)="getVideos()"
></pagination>
