<form novalidate [formGroup]="form" (ngSubmit)="formValidated()">
  <div class="form-group mb-2">
    <input type="email"
      formControlName="text"
      class="form-control"
      (keyup.control.enter)="onValidKey()" (keyup.meta.enter)="onValidKey()"
      placeholder="jane_doe@example.com">
  </div>

  <button type="submit" [disabled]="!form.valid" class="btn btn-sm btn-remote-follow" i18n>
    <span *ngIf="!interact">Remote subscribe</span>
    <span *ngIf="interact">Remote interact</span>
  </button>

  <my-help *ngIf="!interact && showHelp">
    <ng-template ptTemplate="customHtml">
      <ng-container i18n>
        You can subscribe to the channel via any ActivityPub-capable fediverse instance.<br /><br />
        For instance with Mastodon or Pleroma you can type the channel URL in the search box and subscribe there.
      </ng-container>
    </ng-template>
  </my-help>

  <my-help *ngIf="showHelp && interact">
    <ng-template ptTemplate="customHtml">
      <ng-container i18n>
        You can interact with this via any ActivityPub-capable fediverse instance.<br /><br />
        For instance with Mastodon or Pleroma you can type the current URL in the search box and interact with it there.
      </ng-container>
    </ng-template>
  </my-help>
</form>
