@import '_variables';
@import '_mixins';

.btn-group-subscribe {
  @include peertube-button;
  @include disable-default-a-behaviour;
  float: right;
  padding: 0;

  &.subscribe-button {
    /deep/ .btn {
      @include orange-button;
      font-weight: 600;
    }

    span.followers-count {
      padding-left:5px;
    }
  }
  &.unsubscribe-button {
    /deep/ .btn {
      @include grey-button;
      font-weight: 600;
    }
  }

  input {
    @include peertube-input-text(100%);
  }
}
