@use '_variables' as *;
@use '_mixins' as *;

.instance-name {
  line-height: 1.7rem;
}

.instance-short-description {
  font-size: 1rem;
  margin: 25px 0;
}

.block {
  margin-bottom: 15px;
}

my-global-icon {
  @include global-icon-size(24px);
  @include margin-right(15px);
}

