@use '_variables' as *;
@use '_mixins' as *;

table {
  font-size: 14px;
  color: pvar(--mainForegroundColor);

  .label,
  .sub-label {
    &.label {
      font-weight: $font-semibold;
    }

    &.sub-label {
      @include padding-left(30px);

      font-weight: $font-regular;
    }

    .more-info {
      font-style: italic;
      font-weight: initial;
      font-size: 14px;
    }
  }

  td {
    vertical-align: middle;
  }

  caption {
    caption-side: top;
    font-size: 15px;
    font-weight: $font-semibold;
    color: pvar(--mainForegroundColor);
  }
}


