@use '_variables' as *;
@use '_mixins' as *;

.instance-name {
  line-height: 1.7rem;
}

.instance-short-description {
  @include ellipsis-multiline(1rem, 3, inherit);

  margin: 25px 0;
}

.block {
  margin-bottom: 15px;
}

my-global-icon {
  line-height: 24px;
  margin-right: 15px;
}

