@use '_variables' as *;
@use '_mixins' as *;

table {
  font-size: 14px;
  color: pvar(--mainForegroundColor);
  width: 100%;

  .label,
  .sub-label {
    &.label {
      font-weight: $font-semibold;
    }

    &.sub-label {
      font-weight: $font-regular;

      @include padding-left(30px);
    }

    .more-info {
      font-style: italic;
      font-weight: initial;
      font-size: 14px;
    }
  }

  th,
  td {
    padding: 0.75rem;
    border-top: 1px solid #dee2e6;
  }

  caption {
    caption-side: top;
    font-weight: $font-semibold;
    color: pvar(--mainForegroundColor);
  }

  .plugin,
  .theme {
    &:not(:last-child)::after {
      content: '•';
    }
  }
}
