<div class="margin-content">
  <div i18n class="title-page title-page-single">
    Request email for account verification
  </div>
  <div *ngIf="!requiresEmailVerification; else emailVerificationRequired" i18n>
    This instance does not require email verification.
  </div>
  <ng-template #emailVerificationRequired>
    <div *ngIf="isEmailDisabled(); else askSendVerifyEmailForm" class="alert alert-danger" i18n>
      We are sorry, you cannot receive a verification email because your instance administrator did not configure the PeerTube email system.
    </div>
    <ng-template #askSendVerifyEmailForm>
      <form role="form" (ngSubmit)="askSendVerifyEmail()" [formGroup]="form">
        <div class="form-group">
          <label i18n for="verify-email-email">Email</label>
          <input
            type="email" id="verify-email-email" i18n-placeholder placeholder="Email address" required
            formControlName="verify-email-email" [ngClass]="{ 'input-error': formErrors['verify-email-email'] }"
          >
          <div *ngIf="formErrors['verify-email-email']" class="form-error">
              {{ formErrors['verify-email-email'] }}
          </div>
        </div>
        <input type="submit" i18n-value value="Send verification email" [disabled]="!form.valid">
      </form>
    </ng-template>
  </ng-template>
</div>
