@use '_variables' as *;
@use '_mixins' as *;

.no-notification {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.notification {
  display: flex;
  align-items: center;
  font-size: inherit;
  padding: 15px 5px 15px 10px;
  border-bottom: 1px solid $separator-border-color-on-secondary;
  word-break: break-word;

  &.unread {
    background-color: pvar(--bg-secondary-400);
    cursor: pointer;
  }

  &:hover {
    background-color: pvar(--bg-secondary-350);
  }

  my-global-icon {
    color: pvar(--secondary-icon-color);

    @include margin-right(11px);
    @include margin-left(3px);
  }

  .avatar {
    width: 30px;
    height: 30px;
    min-width: 30px;
    min-height: 30px;
    border-radius: 5px;

    @include margin-right(10px);
  }

  .message {
    flex-grow: 1;

    a {
      font-weight: $font-semibold;
      text-decoration: underline;
    }
  }

  .from-date {
    font-size: 0.85em;
    color: pvar(--fg-300);
    min-width: 70px;
    text-align: end;

    @include padding-left(5px);
    @include margin-left(auto);
  }
}
