@use "_variables" as *;
@use "_mixins" as *;

.root {
  display: flex;
  align-items: center;
  font-size: inherit;
  padding: 1rem 0.5rem;
  word-break: break-word;

  > my-actor-avatar,
  > my-account-on-channel-avatar {
    display: inline-block;

    @include margin-right(10px);
  }

  > my-global-icon {
    color: pvar(--secondary-icon-color);

    @include margin-right(11px);
    @include margin-left(3px);
  }
}

my-global-icon {
  color: pvar(--secondary-icon-color);
}

.message {
  flex-grow: 1;

  a {
    font-weight: $font-semibold;
    text-decoration: underline;
  }
}

.from-date {
  font-size: 0.85em;
  color: pvar(--fg-200);
  min-width: 70px;
  text-align: end;
  text-decoration: none;

  @include padding-left(5px);
  @include margin-left(auto);
}

.limit-characters {
  display: inline-block;
  max-width: 800px;
  vertical-align: bottom;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
