@use "_variables" as *;
@use "_mixins" as *;

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.no-notification {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.notification {
  display: block;
  border-bottom: 1px solid $separator-border-color-on-secondary;
  text-decoration: none;

  &.unread {
    background-color: pvar(--bg-secondary-400);

    &:hover {
      opacity: 1;
    }
  }

  &:hover {
    background-color: pvar(--bg-secondary-350);
  }

  &.button-unstyle {
    width: 100%;
    text-align: left;
  }
}
