<h1>
  <my-global-icon iconName="videos" aria-hidden="true"></my-global-icon>
  <ng-container i18n>Videos redundancies</ng-container>
</h1>

<div class="admin-sub-header">
  <div class="select-filter-block">
    <label for="displayType" i18n>Display</label>

    <div class="peertube-select-container">
      <select id="displayType" name="displayType" [(ngModel)]="displayType" (ngModelChange)="onDisplayTypeChanged()" class="form-control">
        <option value="my-videos" i18n>My videos duplicated by remote instances</option>
        <option value="remote-videos" i18n>Remote videos duplicated by my instance</option>
      </select>
    </div>
  </div>
</div>

<p-table
  [value]="videoRedundancies" [lazy]="true" [paginator]="totalRecords > 0" [totalRecords]="totalRecords" [rows]="rowsPerPage" [rowsPerPageOptions]="rowsPerPageOptions"
  [sortField]="sort.field" [sortOrder]="sort.order" (onLazyLoad)="loadLazy($event)" dataKey="id"
  (onPage)="onPage($event)" [expandedRowKeys]="expandedRows"
>
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 40px;"></th>
      <th style="width: 150px;">Action</th>
      <th style="width: 160px;" i18n *ngIf="isDisplayingRemoteVideos()">Strategy</th>
      <th i18n pSortableColumn="name">Video <p-sortIcon field="name"></p-sortIcon></th >
      <th style="width: 100px;" i18n *ngIf="isDisplayingRemoteVideos()">Total size</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-expanded="expanded" let-redundancy>
    <tr>
      <td>
        <span class="expander" i18n-ngbTooltip ngbTooltip="List redundancies" [pRowToggler]="redundancy">
          <i [ngClass]="expanded ? 'glyphicon glyphicon-menu-down' : 'glyphicon glyphicon-menu-right'"></i>
        </span>
      </td>

      <td class="action-cell">
        <my-delete-button label (click)="removeRedundancy(redundancy)"></my-delete-button>
      </td>

      <td *ngIf="isDisplayingRemoteVideos()">{{ getRedundancyStrategy(redundancy) }}</td>

      <td>
        <a [href]="redundancy.url" i18n-title title="Open video in a new tab" target="_blank" rel="noopener noreferrer">
          {{ redundancy.name }}
          <span class="glyphicon glyphicon-new-window"></span>
        </a>
      </td>

      <td *ngIf="isDisplayingRemoteVideos()">{{ getTotalSize(redundancy) | bytes: 1 }}</td>
    </tr>
  </ng-template>

  <ng-template pTemplate="rowexpansion" let-redundancy>
    <tr *ngIf="redundancy.redundancies.files.length !== 0">
      <td class="expand-cell" [attr.colspan]="getColspan()">
        <div *ngFor="let file of redundancy.redundancies.files" class="expansion-block">
          <my-video-redundancy-information [redundancyElement]="file"></my-video-redundancy-information>
        </div>
      </td>
    </tr>

    <tr *ngIf="redundancy.redundancies.streamingPlaylists.length !== 0">
      <td class="expand-cell" [attr.colspan]="getColspan()">
        <div *ngFor="let playlist of redundancy.redundancies.streamingPlaylists">
          <my-video-redundancy-information [redundancyElement]="playlist"></my-video-redundancy-information>
        </div>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="6">
        <div class="no-results">
          <ng-container *ngIf="isDisplayingRemoteVideos()" i18n>Your instance doesn't mirror any video.</ng-container>
          <ng-container *ngIf="!isDisplayingRemoteVideos()" i18n>Your instance has no mirrored videos.</ng-container>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>


<div class="redundancies-charts" *ngIf="isDisplayingRemoteVideos()">
  <div class="form-sub-title" i18n>Enabled strategies stats</div>

  <div class="chart-blocks">

    <div *ngIf="noRedundancies" i18n class="no-results">
      No redundancy strategy is enabled on your instance.
    </div>

    <div class="chart-block" *ngFor="let r of redundanciesGraphsData">
      <p-chart type="pie" [data]="r.graphData" [options]="r.options" width="300px" height="300px"></p-chart>
    </div>

  </div>
</div>
