@use '_variables' as *;
@use '_mixins' as *;
@use '_form-mixins' as *;

a {
  color: pvar(--fg);
}

.expansion-block {
  margin-bottom: 20px;
}

.admin-sub-header {
  justify-content: flex-end;

  .peertube-select-container {
    @include peertube-select-container(auto);
  }
}

.redundancies-charts {
  margin-top: 50px;

  .chart-blocks {
    display: flex;
    justify-content: center;

    .chart-block {
      margin: 0 20px;
    }
  }
}
