<div>
  <span class="label">Url</span>
  <a target="_blank" rel="noopener noreferrer" [href]="redundancyElement.fileUrl">{{ redundancyElement.fileUrl }}</a>
</div>

<div>
  <span class="label">Created on</span>
  <span>{{ redundancyElement.createdAt | ptDate: 'medium' }}</span>
</div>

<div>
  <span class="label">Expires on</span>
  <span>{{ redundancyElement.expiresOn | ptDate: 'medium' }}</span>
</div>

<div>
  <span class="label">Size</span>
  <span>{{ redundancyElement.size | bytes: 1 }}</span>
</div>
