@import '_variables';
@import '_mixins';

textarea {
  height: 250px;
}

.form-control {
  &, &:focus {
    background-color: var(--inputBackgroundColor);
    color: var(--mainForegroundColor);
  }
}

input[type=submit] {
  @include peertube-button;
  @include orange-button;
}
