@use '_variables' as *;
@use '_mixins' as *;

.upload-progress-retry,
.upload-progress-cancel {
  display: flex;
  margin-bottom: 40px;

  .progress {
    @include progressbar;

    flex-grow: 1;
    height: 30px;
    font-size: 14px;
    background-color: rgba(11, 204, 41, 0.16);

    .progress-bar {
      background-color: $green;
      line-height: 30px;
      text-align: start;
      font-weight: $font-semibold;

      span {
        @include margin-left(13px);

        color: pvar(--mainBackgroundColor);
      }
    }
  }
}
