@import '_variables';

my-top-menu-dropdown {
  flex-grow: 1;
}

::ng-deep h1 {
  font-size: 1.5rem;
  border-bottom: 2px solid $grey-background-color;
  padding-bottom: 15px;
  margin-bottom: $sub-menu-margin-bottom;
}
