extends ../common/greetings

block title
  | The #{pluginType} #{pluginName} has been #{actionPerfect}

block content
  p
    | To see all installed plugin and themes you can visit #[a(href=pluginUrl) the PeerTube admin interface].
