.parent-entry {
  span[role=button] {
    cursor: pointer;
  }

  a {
    display: block;
  }
}

/deep/ .dropdown-toggle::after {
  position: relative;
  top: 2px;
}

/deep/ .dropdown-menu {
  margin-top: 0 !important;
}
