@import '_variables';
@import '_mixins';

.parent-entry {
  span[role=button] {
    cursor: pointer;
  }

  a {
    display: block;
  }
}

::ng-deep .dropdown-toggle::after {
  position: relative;
  top: 2px;
}

::ng-deep .dropdown-menu {
  margin-top: 0 !important;
}

.icon {
  @include dropdown-with-icon-item;

  top: -1px;
}
