<my-admin-save-bar i18n-title title="Advanced configuration" (save)="save()" [form]="form" [formErrors]="formErrors" [validationMessages]="validationMessages"></my-admin-save-bar>

<form [formGroup]="form" id="admin-config-form">

  <div class="pt-two-cols">

    <div class="title-col">
      <h2 i18n>CACHE</h2>
      <div i18n class="inner-form-description">
        Some files are not federated, and fetched when necessary. Define their caching policies.
      </div>
    </div>
  </div>

  <div class="pt-two-cols mt-4">
    <div class="title-col">
      <h2 i18n>TWITTER/X</h2>

      <div i18n class="inner-form-description">
        Extra configuration required by Twitter/X. All other social media (Facebook, Mastodon, etc.) are supported out of the box.
      </div>
    </div>

    <div class="content-col">

      <ng-container formGroupName="services">
        <ng-container formGroupName="twitter">

          <div class="form-group">
            <label for="servicesTwitterUsername" i18n>Your Twitter/X username</label>

            <div class="form-group-description">
              <p i18n class="mb-0">Indicates the Twitter/X account for the website or platform where the content was published.</p>

              <p i18n>This is just an extra information injected in PeerTube HTML that is required by Twitter/X. If you don't have a Twitter/X account, just leave the default value.</p>
            </div>

            <input
              type="text" id="servicesTwitterUsername" class="form-control"
              formControlName="username" [ngClass]="{ 'input-error': formErrors.services.twitter.username }"
              >

            @if (formErrors.services.twitter.username) {
              <div class="form-error" role="alert">{{ formErrors.services.twitter.username }}</div>
            }
          </div>

        </ng-container>
      </ng-container>

    </div>
  </div>

  <div class="pt-two-cols mt-4">

    <div class="title-col">
      <h2 i18n>AUTHENTICATION</h2>
      <div i18n class="inner-form-description">
        Extra auth configuration behaviors
      </div>
    </div>

    <div class="content-col">
      <ng-container formGroupName="advancedAuth">
        <div class="form-group">
          <my-peertube-checkbox
            inputName="advancedAuthAllowCrossAuth"
            formControlName="allowCrossAuth"
            i18n-labelText
            labelText="Allow cross authentication between all authentication plugins"
            >
            <ng-container ngProjectAs="description">
              <p i18n class="mb-0">
                When enabled, a user who registered with one authentication source is now allowed to login to their account using any other authentication source available.
              </p>
              <p i18n>
                ⚠️ Only enable this if you know what you are doing, this can lead to account takeover if used in the wrong context.
                To be used safely, you MUST ensure that the union of each authentication source associates a globally unique uid to each unique user. (If a user is present in more than one source, it must have the same uid in all sources. If a user is not present in all sources, another user cannot take the uid of the former in the sources where it does not exist.)
              </p>
            </ng-container>
          </my-peertube-checkbox>
        </div>
      </ng-container>
    </div>
  </div>

</form>
