@use "_variables" as *;
@use "_mixins" as *;
@use "_form-mixins" as *;

.peertube-select-container {
  @include responsive-width(340px);
}

my-select-languages {
  display: block;

  width: 340px;
  max-width: 100%;
}
