.action-selection-mode {
  width: 174px;

  .action-selection-mode-child {
    position: fixed;
  }
}

/deep/ .action-button {

  &.action-button-delete {
    margin-right: 10px;
  }

  &.action-button-delete-selection {
    background-color: $orange-color;
    color: #fff;

    &:hover {
      background-color: $orange-hoover-color;
    }
  }

  .icon {
    &.icon-delete-white {
      background-image: url('../../../assets/images/global/delete-white.svg');
    }
  }
}

.video {
  display: flex;
  height: 130px;
  padding-bottom: 20px;

  input[type=checkbox] {
    margin-right: 20px;
    outline: 0;
  }

  &:first-child {
    margin-top: 47px;
  }

  &:not(:last-child) {
    margin-bottom: 20px;
    border-bottom: 1px solid #C6C6C6;
  }

  my-video-thumbnail {
    margin-right: 10px;
  }

  .video-info {
    flex-grow: 1;

    .video-info-name {
      font-size: 16px;
      font-weight: $font-semibold;
    }

    .video-info-date-views {
      font-size: 13px;
    }
  }
}
