<h1>
  <my-global-icon iconName="videos" aria-hidden="true"></my-global-icon>
  <ng-container i18n>Videos</ng-container>
</h1>

<p-table
  [value]="videos" [paginator]="totalRecords > 0" [totalRecords]="totalRecords" [rows]="rowsPerPage" [first]="pagination.start"
  [rowsPerPageOptions]="rowsPerPageOptions" [sortField]="sort.field" [sortOrder]="sort.order" dataKey="id" [resizableColumns]="true"
  [(selection)]="selectedVideos" [lazy]="true" (onLazyLoad)="loadLazy($event)" [lazyLoadOnInit]="false" [selectionPageOnly]="true"
  [showCurrentPageReport]="true" i18n-currentPageReportTemplate
  currentPageReportTemplate="Showing {{'{first}'}} to {{'{last}'}} of {{'{totalRecords}'}} videos"
  [expandedRowKeys]="expandedRows" [ngClass]="{ loading: loading }"
>
  <ng-template pTemplate="caption">
    <div class="caption">
      <div class="left-buttons">
        <my-action-dropdown
          *ngIf="isInSelectionMode()" i18n-label label="Batch actions" theme="orange"
          [actions]="bulkVideoActions" [entry]="selectedVideos"
        >
        </my-action-dropdown>
      </div>

      <div class="ms-auto right-form">
        <my-advanced-input-filter [filters]="inputFilters" (search)="onSearch($event)"></my-advanced-input-filter>

        <my-button i18n-label label="Refresh" icon="refresh" (click)="reloadData()"></my-button>
      </div>

    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th style="width: 40px">
        <p-tableHeaderCheckbox ariaLabel="Select all rows" i18n-ariaLabel></p-tableHeaderCheckbox>
      </th>
      <th style="width: 40px"></th>
      <th style="width: 60px;"></th>
      <th i18n>Video</th>
      <th i18n>Info</th>
      <th i18n>Files</th>
      <th style="width: 150px;" i18n pSortableColumn="publishedAt">Published <p-sortIcon field="publishedAt"></p-sortIcon></th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-expanded="expanded" let-video>

    <tr [pSelectableRow]="video">
      <td class="checkbox-cell">
        <p-tableCheckbox [value]="video" ariaLabel="Select this row" i18n-ariaLabel></p-tableCheckbox>
      </td>

      <td class="expand-cell" [pRowToggler]="video">
        <my-table-expander-icon [expanded]="expanded"></my-table-expander-icon>
      </td>

      <td class="action-cell">
        <my-video-actions-dropdown
          placement="bottom auto" buttonDirection="horizontal" [buttonStyled]="true" [video]="video" [displayOptions]="videoActionsOptions"
          (videoRemoved)="reloadData()" (videoFilesRemoved)="reloadData()" (transcodingCreated)="reloadData()"
        ></my-video-actions-dropdown>
      </td>

      <td>
        <my-video-cell [video]="video"></my-video-cell>
      </td>

      <td>
        <span class="pt-badge badge-blue" *ngIf="video.isLocal">Local</span>
        <span class="pt-badge badge-purple" *ngIf="!video.isLocal">Remote</span>

        <span [ngClass]="getPrivacyBadgeClass(video)" class="pt-badge">{{ video.privacy.label }}</span>

        <span *ngIf="video.nsfw" class="pt-badge badge-red" i18n>NSFW</span>

        <span *ngIf="isUnpublished(video)" class="pt-badge badge-yellow" i18n>{{ video.state.label }}</span>

        <span *ngIf="isAccountBlocked(video)" class="pt-badge badge-red" i18n>Account muted</span>
        <span *ngIf="isServerBlocked(video)" class="pt-badge badge-red" i18n>Server muted</span>

        <span *ngIf="isVideoBlocked(video)" class="pt-badge badge-red" i18n>Blocked</span>
      </td>

      <td>
        <span *ngIf="isHLS(video)" class="pt-badge badge-blue">HLS</span>
        <span *ngIf="isWebTorrent(video)" class="pt-badge badge-blue">WebTorrent ({{ video.files.length }})</span>
        <span *ngIf="video.isLive" class="pt-badge badge-blue">Live</span>

        <span *ngIf="!isImport(video) && !video.isLive && video.isLocal">{{ getFilesSize(video) | bytes: 1 }}</span>
      </td>

      <td>
        {{ video.publishedAt | date: 'short' }}
      </td>

    </tr>
  </ng-template>

  <ng-template pTemplate="rowexpansion" let-video>
    <tr>
      <td class="video-info expand-cell" colspan="7">
        <div>
          <div *ngIf="isWebTorrent(video)">
            WebTorrent:

            <ul>
              <li *ngFor="let file of video.files">
                {{ file.resolution.label }}: {{ file.size | bytes: 1 }}

                <my-global-icon
                  *ngIf="canRemoveOneFile(video)"
                  i18n-ngbTooltip ngbTooltip="Delete this file" iconName="delete" role="button"
                  (click)="removeVideoFile(video, file, 'webtorrent')"
                ></my-global-icon>
              </li>
            </ul>
          </div>

          <div *ngIf="isHLS(video)">
            HLS:

            <ul>
              <li *ngFor="let file of video.streamingPlaylists[0].files">
                {{ file.resolution.label }}: {{ file.size | bytes: 1 }}

                <my-global-icon
                  *ngIf="canRemoveOneFile(video)"
                  i18n-ngbTooltip ngbTooltip="Delete this file" iconName="delete" role="button"
                  (click)="removeVideoFile(video, file, 'hls')"
                ></my-global-icon>
              </li>
            </ul>
          </div>

          <my-embed class="ms-auto" [video]="video"></my-embed>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>

<my-video-block #videoBlockModal (videoBlocked)="reloadData()"></my-video-block>
