@if (firstStep) {
  <div class="upload-video-container" myDragDrop (fileDropped)="onFileDropped($event)">
    <div class="first-step-block">
      <my-global-icon class="upload-icon" iconName="upload" aria-hidden="true"></my-global-icon>

      <div class="button-file primary-button form-control" [ngbTooltip]="'(extensions: ' + getVideoExtensions() + ')'">
        <span i18n>Select the file to upload</span>
        <input
          aria-label="Select the file to upload"
          i18n-aria-label
          #videoFileInput
          [accept]="getVideoExtensions()"
          (change)="onFileChange($event)"
          id="videofile"
          type="file"
          />
      </div>

      <div class="form-group form-group-channel">
        <label i18n for="first-step-channel">Channel</label>
        <my-select-channel inputId="first-step-channel" [items]="userChannels()" [(ngModel)]="firstStepChannelId"></my-select-channel>
      </div>

      @if (uploadingAudioFile) {
        <div  class="form-group audio-preview">
          <label i18n for="previewfileUpload">Video background image</label>
          <div i18n class="audio-image-info">
            Image that will be merged with your audio file.
            <br />
            The chosen image will be definitive and cannot be modified.
          </div>
          <my-preview-upload i18n-inputLabel inputLabel="Edit" inputName="previewfileUpload" [(ngModel)]="audioPreviewFile"></my-preview-upload>
        </div>
        <div class="form-group upload-audio-button">
          <my-button theme="primary" [label]="getAudioUploadLabel()" icon="upload" (click)="uploadAudio()"></my-button>
        </div>
      }
    </div>
  </div>
} @else {
  <my-video-manage-container
    [canUpdate]="hasUploadedFile()" [canWatch]="hasUploadedFile()"
    (videoUpdated)="onVideoUpdated()" [cancelLink]="getCancelLink()"
    i18n-uploadedLabel uploadedLabel="File uploaded! Your video is now available in your private library."
    >
  </my-video-manage-container>
}
