@use "_variables" as *;
@use "_mixins" as *;

.first-step-block {
  .form-group-channel {
    margin-bottom: 20px;
    margin-top: 35px;
  }

  .audio-image-info {
    margin-bottom: 10px;
  }

  .audio-preview {
    margin: 30px 0;

    my-preview-upload {
      width: 360px;
      height: 200px;
    }
  }
}
