<div myInfiniteScroller [autoInit]="true" (nearOfBottom)="onNearOfBottom()" class="search-result">
  <div class="results-header">
    <div class="first-line">
      <div class="results-counter" *ngIf="pagination.totalItems">
        <span i18n>{{ pagination.totalItems | myNumberFormatter }} results</span>
        <span *ngIf="currentSearch" i18n>
          for <span class="search-value">{{ currentSearch }}</span>
        </span>
      </div>

      <div
        class="results-filter-button" (click)="isSearchFilterCollapsed = !isSearchFilterCollapsed" role="button"
        [attr.aria-expanded]="!isSearchFilterCollapsed" aria-controls="collapseBasic"
      >
        <span class="icon icon-filter"></span>
        <ng-container i18n>Filters</ng-container>
      </div>
    </div>

    <div class="results-filter" [ngbCollapse]="isSearchFilterCollapsed">
      <my-search-filters [advancedSearch]="advancedSearch" (filtered)="onFiltered()"></my-search-filters>
    </div>
  </div>

  <div i18n *ngIf="pagination.totalItems === 0 && videoChannels.length === 0" class="no-result">
    No results found
  </div>

  <div *ngFor="let videoChannel of videoChannels" class="entry video-channel">
    <a [routerLink]="[ '/video-channels', videoChannel.nameWithHost ]">
      <img [src]="videoChannel.avatarUrl" alt="Avatar" />
    </a>

    <div class="video-channel-info">
      <a [routerLink]="[ '/video-channels', videoChannel.nameWithHost ]" class="video-channel-names">
        <div class="video-channel-display-name">{{ videoChannel.displayName }}</div>
        <div class="video-channel-name">{{ videoChannel.nameWithHost }}</div>
      </a>

      <div i18n class="video-channel-followers">{{ videoChannel.followersCount }} subscribers</div>
    </div>

    <my-subscribe-button [videoChannel]="videoChannel"></my-subscribe-button>
  </div>

  <div *ngFor="let video of videos" class="entry video">
    <my-video-thumbnail [video]="video"></my-video-thumbnail>

    <div class="video-info">
      <a class="video-info-name" [routerLink]="['/videos/watch', video.uuid]" [attr.title]="video.name">{{ video.name }}</a>
      <span i18n class="video-info-date-views">{{ video.publishedAt | myFromNow }} - {{ video.views | myNumberFormatter }} views</span>
      <a class="video-info-account" [routerLink]="[ '/accounts', video.by ]">{{ video.by }}</a>
    </div>
  </div>
</div>
