<div i18n *ngIf="pagination.totalItems === 0" class="no-result">
  No results found
</div>

<div myInfiniteScroller [autoLoading]="true" (nearOfBottom)="onNearOfBottom()" class="search-result">
  <div i18n *ngIf="pagination.totalItems" class="results-counter">
    {{ pagination.totalItems | myNumberFormatter }} results for <span class="search-value">{{ currentSearch }}</span>
  </div>

  <div *ngFor="let video of videos" class="entry video">
    <my-video-thumbnail [video]="video"></my-video-thumbnail>

    <div class="video-info">
      <a class="video-info-name" [routerLink]="['/videos/watch', video.uuid]" [attr.title]="video.name">{{ video.name }}</a>
      <span i18n class="video-info-date-views">{{ video.publishedAt | myFromNow }} - {{ video.views | myNumberFormatter }} views</span>
      <a class="video-info-account" [routerLink]="[ '/accounts', video.by ]">{{ video.by }}</a>
    </div>
  </div>
</div>
