@import '_variables';
@import '_mixins';
@import '_miniature';

.miniature {
  display: inline-block;
  width: 100%;

  &.no-videos:not(.to-manage){
    a {
      cursor: default !important;
    }
  }

  &.to-manage,
  &.no-videos {
    .play-overlay {
      display: none;
    }
  }
}

.miniature-thumbnail {
  @include miniature-thumbnail;

  .miniature-playlist-info-overlay {
    @include static-thumbnail-overlay;

    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
    padding: 0 10px;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: $font-semibold;
  }
}

.miniature-info {

  .miniature-name {
    @include miniature-name;
    @include ellipsis-multiline(1.3em, 2);

    margin: 0;
  }

  .by {
    @include disable-default-a-behaviour;

    display: block;
    color: pvar(--greyForegroundColor);
  }

  .privacy-date {
    margin-top: 5px;

    .video-info-privacy {
      font-size: 14px;
      font-weight: $font-semibold;

      &::after {
        content: '-';
        margin: 0 3px;
      }
    }
  }

  .video-info-description {
    margin-top: 10px;
    color: pvar(--greyForegroundColor);
  }
}

.miniature:not(.display-as-row) {
  .miniature-thumbnail {
    margin-top: 10px;
    margin-bottom: 5px;
  }
}

.miniature.display-as-row {
  --rowThumbnailWidth: #{$video-thumbnail-width};
  --rowThumbnailHeight: #{$video-thumbnail-height};

  display: flex;

  .miniature-thumbnail {
    width: var(--rowThumbnailWidth);
    height: var(--rowThumbnailHeight);
    margin-right: 10px;
  }
}

@include on-small-main-col {
  .miniature.display-as-row {
    --rowThumbnailWidth: #{$video-thumbnail-medium-width};
    --rowThumbnailHeight: #{$video-thumbnail-medium-height};
  }
}

@include on-mobile-main-col {
  .miniature.display-as-row {
    --rowThumbnailWidth: #{$video-thumbnail-small-width};
    --rowThumbnailHeight: #{$video-thumbnail-small-height};
  }
}
