<h3>Add user</h3>

<div *ngIf="error" class="alert alert-danger">{{ error }}</div>

<form role="form" (ngSubmit)="addUser()" [formGroup]="form">
  <div class="form-group">
    <label for="username">Username</label>
    <input
      type="text" class="form-control" id="username" placeholder="Username"
      formControlName="username"
    >
    <div *ngIf="formErrors.username" class="alert alert-danger">
      {{ formErrors.username }}
    </div>
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <input
      type="text" class="form-control" id="email" placeholder="Email"
      formControlName="email"
    >
    <div *ngIf="formErrors.email" class="alert alert-danger">
      {{ formErrors.email }}
    </div>
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input
      type="password" class="form-control" id="password" placeholder="Password"
      formControlName="password"
    >
    <div *ngIf="formErrors.password" class="alert alert-danger">
      {{ formErrors.password }}
    </div>
  </div>

  <input type="submit" value="Add user" class="btn btn-default" [disabled]="!form.valid">
</form>
