input[type=password] {
  @include peertube-input-text(340px);
  display: block;

  &#new-confirmed-password {
    margin-top: 15px;
  }
}

input[type=submit] {
  @include peertube-button;
  margin-top: 15px;
}

