<div *ngIf="error" class="alert alert-danger">{{ error }}</div>

<form role="form" (ngSubmit)="changePassword()" [formGroup]="form">
  <input
    type="password" class="form-control" id="new-password" placeholder="Old password"
    formControlName="new-password"
  >
  <div *ngIf="formErrors['new-password']" class="alert alert-danger">
    {{ formErrors['new-password'] }}
  </div>

  <input
    type="password" id="new-confirmed-password" placeholder="New password"
    formControlName="new-confirmed-password"
  >

  <input type="submit" value="Change password" [disabled]="!form.valid">
</form>
