<div bsModal #confirmModal="bs-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <span class="close" aria-hidden="true" (click)="cancel()"></span>
        <h4 class="modal-title">{{ title }}</h4>
      </div>

      <div class="modal-body" >
        <div [innerHtml]="message"></div>

        <div class="form-group inputs">
          <span class="action-button action-button-cancel" (click)="cancel()">
            Cancel
          </span>

          <input
            type="submit" value="Confirm" class="action-button-submit"
            (click)="confirm()"
          >
        </div>
      </div>
    </div>
  </div>
</div>
