@import '_variables';
@import '_mixins';

.no-history {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  font-weight: $font-semibold;
  font-size: 16px;
}

.top-buttons {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .history-switch {
    display: flex;
    flex-grow: 1;

    label {
      margin: 0 0 0 5px;
    }
  }

  .delete-history {
    @include peertube-button;
    @include grey-button;
    @include button-with-icon;

    font-size: 15px;
  }
}

.video {
  @include row-blocks;

  .my-video-miniature {
    flex-grow: 1;
  }
}

@media screen and (max-width: $mobile-view) {
  .top-buttons {
    .history-switch label, .delete-history {
      @include ellipsis;
    }

    .history-switch label {
      width: 60%;
    }

    .delete-history {
      margin-left: auto;
      max-width: 32%;
    }
  }
}
