<h1>
  <my-global-icon iconName="history" aria-hidden="true"></my-global-icon>
  <ng-container i18n>My history</ng-container>
</h1>

<div class="top-buttons">
  <div class="history-switch">
    <p-inputSwitch [(ngModel)]="videosHistoryEnabled" (ngModelChange)="onVideosHistoryChange()"></p-inputSwitch>
    <label i18n>Video history</label>
  </div>

  <button class="delete-history" (click)="deleteHistory()" i18n>
    <my-global-icon iconName="delete" aria-hidden="true"></my-global-icon>
    Delete history
  </button>
</div>


<div class="no-history" i18n *ngIf="pagination.totalItems === 0">You don't have any video history yet.</div>

<div myInfiniteScroller (nearOfBottom)="onNearOfBottom()" [autoInit]="true" [dataObservable]="onDataSubject.asObservable()" class="videos">
  <div class="video" *ngFor="let video of videos">
    <my-video-miniature
      [video]="video" [displayAsRow]="true"
      (videoRemoved)="removeVideoFromArray(video)" (videoBlocked)="removeVideoFromArray(video)"
    ></my-video-miniature>
  </div>
</div>
