ng-select ::ng-deep {
  .ng-arrow-wrapper {
    display: none;
  }

  .ng-value-container {
    padding-top: 2px !important;
  }

  .ng-value {
    margin-bottom: 2px !important;
    max-height: 24px;
  }
}
