<p-select
  [inputId]="inputId()"

  [options]="items()"
  [group]="group()"

  [(ngModel)]="selectedId"
  (ngModelChange)="onModelChange()"

  optionValue="id"

  label

  [showClear]="clearable()"

  [filter]="filter()"
  filterBy="label"
  [resetFilterOnHide]="resetFilterOnHide()"

  [virtualScroll]="virtualScroll()"
  [virtualScrollItemSize]="virtualScrollItemSize()"

  fluid="true"
  [appendTo]="appendTo()"

  [class.small]="small()"

  [placeholder]="placeholder()"
  [filterPlaceholder]="filterPlaceholder()"
  [emptyFilterMessage]="emptyFilterMessage()"
  [emptyMessage]="emptyMessage()"

  (onHide)="onHide.emit()"
  (onFilter)="onFilter.emit($event)"
  >
  <ng-template #itemTemplate let-item let-description="description">
    @if (selectOptionTemplate) {
      <ng-template [ngTemplateOutlet]="selectOptionTemplate" [ngTemplateOutletContext]="{ $implicit: item }"></ng-template>

      @if (itemExtraTemplate) {
        <ng-template [ngTemplateOutlet]="itemExtraTemplate" [ngTemplateOutletContext]="{ $implicit: item }"></ng-template>
      }
    } @else {
      <div>
        <div class="d-flex align-items-center item-label custom-item">
          @if (item?.imageUrl) {
            <img alt="" [src]="item.imageUrl" />
          }

          <span class="ellipsis" [ngClass]="item?.classes">{{ item?.label }}</span>

          @if (itemExtraTemplate) {
            <ng-template [ngTemplateOutlet]="itemExtraTemplate" [ngTemplateOutletContext]="{ $implicit: item }"></ng-template>
          }
        </div>

        @if (description) {
          <span class="muted" [class.has-image]="item?.imageUrl">{{ description }}</span>
        }
      </div>
    }
  </ng-template>

  <ng-template #selectedItem>
    <ng-template [ngTemplateOutlet]="itemTemplate" [ngTemplateOutletContext]="{ $implicit: getSelectedItem() }"></ng-template>
  </ng-template>

  <ng-template let-item #item>
    <ng-template [ngTemplateOutlet]="itemTemplate" [ngTemplateOutletContext]="{ $implicit: item, description: item.description }"></ng-template>
  </ng-template>
</p-select>
