@import '_variables';
@import '_mixins';

$form-base-input-width: auto;

ng-select {
  width: $form-base-input-width;

  @media screen and (max-width: $form-base-input-width) {
    width: 100%;
  }
}

ng-select ::ng-deep {
  .ng-value-container {
    max-height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  // make sure the image is vertically adjusted
  .ng-value-label img {
    position: relative;
    top: -1px;
  }

  img {
    border-radius: 50%;
    height: 20px;
    width: 20px;
  }
}

.root {
  display:flex;
  align-items: center;

  > my-select-options {
    flex-grow: 1;
  }
}

my-select-options + input {
  margin-left: 5px;

  @include peertube-input-text($form-base-input-width);
  display: block;
}

.input-suffix {
  margin-left: 5px;
}
