@use '_variables' as *;
@use '_mixins' as *;

ng-select ::ng-deep {
  .ng-option {
    display: flex;
    align-items: center;
  }

  .form-group-checkbox {
    display: flex;
    align-items: center;

    input {
      @include peertube-checkbox(1px);
    }
  }
}
