@use "_variables" as *;
@use "_mixins" as *;

img {
  border-radius: 50%;
  height: 21px;
  width: 21px;
  margin-top: -1px;
}

.muted {
  font-size: 90%;
  line-height: 1.2;
  display: block;
  white-space: normal;
}

.item-label {
  min-height: 24px;
}

p-select ::ng-deep p-overlay {
  max-width: 100%;
}
