@use "_variables" as *;
@use "_mixins" as *;

$image-size: 21px;

img {
  border-radius: 50%;
  height: $image-size;
  width: $image-size;
  margin-top: -1px;

  @include margin-right(0.5rem);
}

.muted {
  font-size: 90%;
  line-height: 1.2;
  display: block;
  white-space: normal;

  &.has-image {
    @include margin-left(calc(0.5rem + $image-size));
  }
}

.item-label {
  min-height: 24px;
}

p-select ::ng-deep p-overlay {
  max-width: 100%;
}
