<div class="margin-content">
  <div i18n class="title-page title-page-single">
    Created {{ pagination.totalItems }} playlists
  </div>

  <div i18n class="no-results" *ngIf="pagination.totalItems === 0">This channel does not have playlists.</div>

  <div class="video-playlist" myInfiniteScroller (nearOfBottom)="onNearOfBottom()" [dataObservable]="onDataSubject.asObservable()">
    <div *ngFor="let playlist of videoPlaylists" class="playlist-miniature-container">
      <my-video-playlist-miniature [playlist]="playlist" [toManage]="false"></my-video-playlist-miniature>
    </div>
  </div>
</div>
