<div class="margin-content">
  @if (pagination.totalItems === 0) {
    <div i18n class="no-results">This channel does not have playlists.</div>
  }

  <div class="playlists" myInfiniteScroller (nearOfBottom)="onNearOfBottom()" [dataObservable]="onDataSubject.asObservable()">
    @for (playlist of videoPlaylists; track playlist) {
      <div class="playlist-wrapper">
        <my-video-playlist-miniature [playlist]="playlist" toManage="false" [displayAsRow]="displayAsRow()"></my-video-playlist-miniature>
      </div>
    }
  </div>
</div>
