@use '_variables' as *;
@use '_mixins' as *;
@use '_miniature' as *;

.playlists {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .playlist-wrapper {
    padding-bottom: 15px;

    @include margin-right(15px);
  }
}

.margin-content {
  @include grid-videos-miniature-layout-with-margins;
}

@media screen and (max-width: $mobile-view) {
  .playlists {
    justify-content: left;

    @include margin-left(pvar(--x-margin-content) !important);
    @include margin-right(pvar(--x-margin-content) !important);
  }
}
