@import '_bootstrap-variables';
@import '_variables';
@import '_mixins';
@import '_miniature';

$iconSize: 16px;

.videos-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .title-page.title-page-single {
    display: flex;
    flex-grow: 1;
  }

  .action-block {
    ::ng-deep my-feed {
      my-global-icon {
        width: calc(#{$iconSize} - 2px);
      }
    }

    a button {
      @include peertube-button;
      @include grey-button;
      @include button-with-icon($iconSize, 3px, -1px);
    }
  }

  .moderation-block {
    div {
      @include button-with-icon($iconSize, 3px, -1px);
    }

    margin-left: .2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.date-title {
  font-size: 16px;
  font-weight: $font-semibold;
  margin-bottom: 20px;
  margin-top: -10px;

  // make the element span a full grid row within .videos grid
  grid-column: 1 / -1;

  &:not(:first-child) {
    margin-top: .5rem;
    padding-top: 20px;
    border-top: 1px solid $separator-border-color;
  }
}

.margin-content {
  @include fluid-videos-miniature-layout;
}

@media screen and (max-width: $mobile-view) {
  .videos-header {
    flex-direction: column;
    align-items: center;
    height: auto;
    margin-bottom: 10px;

    .title-page {
      margin-bottom: 10px;
      margin-right: 0px;
    }
  }
}
