@use '_bootstrap-variables';
@use '_variables' as *;
@use '_mixins' as *;
@use '_miniature' as *;

$icon-size: 16px;

::ng-deep my-video-list-header {
  display: flex;
  flex-grow: 1;
}

.videos-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  my-feed {
    display: inline-block;
    width: calc(#{$icon-size} - 2px);
  }

  .moderation-block {
    @include margin-left(.4rem);

    display: flex;
    justify-content: flex-end;
    align-items: center;

    my-global-icon {
      position: relative;
      width: $icon-size;
    }
  }
}

.date-title {
  font-size: 16px;
  font-weight: $font-semibold;
  margin-bottom: 20px;
  margin-top: -10px;

  // make the element span a full grid row within .videos grid
  grid-column: 1 / -1;

  &:not(:first-child) {
    margin-top: .5rem;
    padding-top: 20px;
    border-top: 1px solid $separator-border-color;
  }
}

.margin-content {
  @include grid-videos-miniature-layout-with-margins;
}

.display-as-row.videos {
  @include margin-left(pvar(--horizontalMarginContent));
  @include margin-right(pvar(--horizontalMarginContent));

  .video-wrapper {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: $mobile-view) {
  .videos-header {
    flex-direction: column;
    align-items: center;
    height: auto;
    margin-bottom: 10px;

    .title-page {
      @include margin-right(0);

      margin-bottom: 10px;
    }
  }
}
