@use '_variables' as *;
@use '_mixins' as *;

.root {
  margin-bottom: 45px;
}

.first-row {
  display: flex;
  justify-content: space-between;
}

.active-filters {
  display: flex;
  flex-wrap: wrap;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;

  border-bottom: 1px solid $separator-border-color;

  input[type=radio] + label {
    font-weight: $font-regular;
  }

  .form-group > label:first-child {
    display: block;

    &.with-description {
      margin-bottom: 0;
    }

    &:not(.with-description) {
      margin-bottom: 10px;
    }
  }

  .form-group {
    @include margin-right(30px);
  }
}

.pastille {
  border-radius: 24px;
  padding: 4px 15px;
  margin-bottom: 15px;
  cursor: pointer;

  @include margin-right(15px);

  &:focus-visible {
    outline: pvar(--mainColor) auto 1px;
  }
}

.filters-toggle {
  border: 2px solid pvar(--mainForegroundColor);

  my-global-icon {
    @include margin-left(5px);
  }

  &.active my-global-icon {
    position: relative;
    top: -1px;
  }

  &:not(.active) {
    my-global-icon ::ng-deep svg {
      transform: rotate(180deg);
    }
  }
}

// Than have an icon
.filters-toggle,
.active-filter.can-remove {
  padding: 4px 11px 4px 15px;
}

.active-filter {
  background-color: pvar(--channelBackgroundColor);
  display: flex;
  align-items: center;

  &:not(.can-remove) {
    cursor: default;
  }

  &.can-remove:hover {
    opacity: 0.9;
  }

  > .remove-button {
    border: 0;
    padding: 0;

    @include margin-left(10px);

    my-global-icon {
      width: 16px;
      color: pvar(--greyForegroundColor);
    }
  }
}

.sort {
  min-width: 250px;
  max-width: 300px;
  height: min-content;
}

my-select-languages,
my-select-categories {
  width: 300px;
  display: inline-block;
}

.update-your-settings {
  font-size: 12px;
  margin-bottom: 10px;

  a {
    color: pvar(--mainColor);
    text-decoration: underline;
  }
}

@media screen and (max-width: $small-view) {
  .first-row {
    flex-direction: column;
  }
}
