<ng-template #modal let-hide="close">
  <div class="modal-header">
    <h4 class="modal-title">
      <ng-container i18n>Download</ng-container>

      <div class="peertube-select-container title-select" *ngIf="hasCaptions()">
        <select id="type" name="type" [(ngModel)]="type" class="form-control">
          <option value="video" i18n>Video</option>
          <option value="subtitles" i18n>Subtitles</option>
        </select>
      </div>
    </h4>

    <button class="border-0 p-0" title="Close this modal" i18n-title (click)="hide()">
      <my-global-icon iconName="cross"></my-global-icon>
    </button>
  </div>

  <div class="modal-body" [ngClass]="{ 'opacity-0': !loaded }">
    <div class="alert alert-warning" *ngIf="isConfidentialVideo()" i18n>
      The following link contains a private token and should not be shared with anyone.
    </div>

    <!-- Subtitle tab -->
    <ng-container *ngIf="type === 'subtitles'">
      <div ngbNav #subtitleNav="ngbNav" class="nav-tabs" [activeId]="subtitleLanguageId" (activeIdChange)="onSubtitleIdChange($event)">

        <ng-container *ngFor="let caption of getCaptions()" [ngbNavItem]="caption.language.id">
          <a ngbNavLink i18n>{{ caption.language.label }}</a>

          <ng-template ngbNavContent>
            <div class="nav-content">
              <my-input-text
                *ngIf="!isConfidentialVideo()"
                [show]="true" [readonly]="true" [withCopy]="true" [withToggle]="false" [value]="getLink()"
              ></my-input-text>
            </div>
          </ng-template>
        </ng-container>
      </div>

      <div [ngbNavOutlet]="subtitleNav"></div>
    </ng-container>

    <!-- Video tab -->
    <ng-container *ngIf="type === 'video'">
      <div ngbNav #resolutionNav="ngbNav" class="nav-tabs" [activeId]="resolutionId" (activeIdChange)="onResolutionIdChange($event)">

        <ng-template #rootNavContent>
          <div class="nav-content">
            <my-input-text [show]="true" [readonly]="true" [withCopy]="true" [withToggle]="false" [value]="getLink()"></my-input-text>
          </div>
        </ng-template>

        <ng-container *ngIf="originalVideoFile" ngbNavItem="original">
          <a ngbNavLink i18n>
            <ng-container>Original file</ng-container>

            <my-global-icon ngbTooltip="Other users cannot download the original file" iconName="shield"></my-global-icon>
          </a>

          <ng-template ngbNavContent>
            <ng-template [ngTemplateOutlet]="rootNavContent"></ng-template>
          </ng-template>
        </ng-container>

        <ng-container *ngFor="let file of getVideoFiles()" [ngbNavItem]="file.resolution.id">
          <a ngbNavLink>{{ file.resolution.label }}</a>

          <ng-template ngbNavContent>
            <ng-template [ngTemplateOutlet]="rootNavContent"></ng-template>
          </ng-template>
        </ng-container>
      </div>

      <div [ngbNavOutlet]="resolutionNav"></div>

      <div class="advanced-filters" [ngbCollapse]="isAdvancedCustomizationCollapsed" [animation]="true">
        <div ngbNav #navMetadata="ngbNav" class="nav-tabs nav-metadata">

          <ng-template #metadataInfo let-item>
            <div class="metadata-attribute">
              <span>{{ item.value.label }}</span>

              @if (item.value.value) {
                <span>{{ item.value.value }}</span>
              } @else {
                <span i18n>Unknown</span>
              }
            </div>
          </ng-template>

          <ng-container ngbNavItem>
            <a ngbNavLink i18n>Format</a>

            <ng-template ngbNavContent>
              <div class="file-metadata">
                @for (item of videoFileMetadataFormat | keyvalue; track item) {
                  <ng-template [ngTemplateOutlet]="metadataInfo" [ngTemplateOutletContext]="{ $implicit: item }"></ng-template>
                }
              </div>
            </ng-template>
          </ng-container>

          <ng-container ngbNavItem [disabled]="videoFileMetadataVideoStream === undefined">
            <a ngbNavLink i18n>Video stream</a>

            <ng-template ngbNavContent>
              <div class="file-metadata">
                @for (item of videoFileMetadataVideoStream | keyvalue; track item) {
                  <ng-template [ngTemplateOutlet]="metadataInfo" [ngTemplateOutletContext]="{ $implicit: item }"></ng-template>
                }
              </div>
            </ng-template>
          </ng-container>

          <ng-container ngbNavItem [disabled]="videoFileMetadataAudioStream === undefined">
            <a ngbNavLink i18n>Audio stream</a>

            <ng-template ngbNavContent>
              <div class="file-metadata">
                @for (item of videoFileMetadataAudioStream | keyvalue; track item) {
                  <ng-template [ngTemplateOutlet]="metadataInfo" [ngTemplateOutletContext]="{ $implicit: item }"></ng-template>
                }
              </div>
            </ng-template>
          </ng-container>
        </div>

        <div *ngIf="hasMetadata()" [ngbNavOutlet]="navMetadata"></div>

        <div [hidden]="originalVideoFile || !getVideoFile()?.torrentDownloadUrl" class="download-type">
          <div class="peertube-radio-container">
            <input type="radio" name="download" id="download-direct" [(ngModel)]="downloadType" value="direct">
            <label i18n for="download-direct">Direct download</label>
          </div>

          <div class="peertube-radio-container">
            <input type="radio" name="download" id="download-torrent" [(ngModel)]="downloadType" value="torrent">
            <label i18n for="download-torrent">Torrent (.torrent file)</label>
          </div>
        </div>
      </div>

      <button
        (click)="isAdvancedCustomizationCollapsed = !isAdvancedCustomizationCollapsed"
        class="advanced-filters-button button-unstyle"
        [attr.aria-expanded]="!isAdvancedCustomizationCollapsed" aria-controls="collapseBasic"
      >
        <ng-container *ngIf="isAdvancedCustomizationCollapsed">
          <span class="chevron-down"></span>

          <ng-container i18n>More information/options</ng-container>
        </ng-container>

        <ng-container *ngIf="!isAdvancedCustomizationCollapsed">
          <span class="chevron-up"></span>

          <ng-container i18n>Less information/options</ng-container>
        </ng-container>
      </button>
    </ng-container>
  </div>

  <div class="modal-footer inputs">
    <input
      type="button" role="button" i18n-value value="Cancel" class="peertube-button grey-button"
      (click)="hide()" (key.enter)="hide()"
    >

    <input type="submit" i18n-value value="Download" class="peertube-button orange-button" (click)="download()" />
  </div>
</ng-template>
