@use '_variables' as *;
@use '_mixins' as *;

.nav-content {
  margin-top: 30px;
}

.advanced-filters-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;

  .nav-tabs {
    margin-top: 10x;
  }

  .glyphicon {
    @include margin-right(5px);
  }
}

.peertube-select-container.title-select {
  @include peertube-select-container(auto);

  display: inline-block;
  margin-left: 10px;
  vertical-align: top;
}

#dropdown-download-type {
  cursor: pointer;
}

.download-type {
  margin-top: 20px;

  .peertube-radio-container {
    @include peertube-radio-container;
    @include margin-right(30px);

    display: inline-block;
  }
}

.nav-metadata {
  margin-top: 20px;
}

.file-metadata {
  padding: 1rem;
}

.file-metadata .metadata-attribute {
  font-size: 13px;
  display: block;
  margin-bottom: 12px;

  .metadata-attribute-label {
    @include padding-right(5px);

    min-width: 142px;
    display: inline-block;
    color: pvar(--greyForegroundColor);
    font-weight: $font-bold;
  }

  a.metadata-attribute-value {
    @include disable-default-a-behaviour;

    color: pvar(--mainForegroundColor);

    &:hover {
      opacity: 0.9;
    }
  }

  &.metadata-attribute-tags {
    .metadata-attribute-value:not(:nth-child(2)) {
      &::before {
        content: ', ';
      }
    }
  }
}
