<div class="video-miniature" [ngClass]="{ 'display-as-row': displayAsRow, 'fit-width': fitWidth }" (mouseenter)="loadActions()">
  <my-video-thumbnail
    [video]="video" [nsfw]="isVideoBlur" [videoRouterLink]="videoRouterLink" [videoHref]="videoHref" [videoTarget]="videoTarget"
    [displayWatchLaterPlaylist]="isWatchLaterPlaylistDisplayed()" [inWatchLaterPlaylist]="inWatchLaterPlaylist" (watchLaterClick)="onWatchLaterClick($event)"
  >
    <ng-container ngProjectAs="label-warning" *ngIf="displayOptions.privacyLabel && isUnlistedVideo()" i18n>Unlisted</ng-container>
    <ng-container ngProjectAs="label-danger" *ngIf="displayOptions.privacyLabel && isPrivateVideo()" i18n>Private</ng-container>
  </my-video-thumbnail>

  <div class="video-bottom">
    <div class="video-miniature-information">
      <div class="d-inline-flex video-miniature-meta">
        <a *ngIf="displayOptions.avatar" class="avatar" [routerLink]="[ '/video-channels', video.byVideoChannel ]" [title]="channelLinkTitle">
          <img [src]="getAvatarUrl()" alt="" />
        </a>

        <div class="w-100 d-flex flex-column">
          <a *ngIf="!videoHref" tabindex="-1" class="video-miniature-name"
            [routerLink]="videoRouterLink" [attr.title]="video.name" [ngClass]="{ 'blur-filter': isVideoBlur }"
          >{{ video.name }}</a>

          <a *ngIf="videoHref" tabindex="-1" class="video-miniature-name"
            [href]="videoHref" [target]="videoTarget" [attr.title]="video.name" [ngClass]="{ 'blur-filter': isVideoBlur }"
          >{{ video.name }}</a>

          <span class="video-miniature-created-at-views">
            <my-date-toggle *ngIf="displayOptions.date" [date]="video.publishedAt"></my-date-toggle>

            <span class="views">
              <ng-container *ngIf="displayOptions.date && displayOptions.views"> • </ng-container>
              <ng-container i18n *ngIf="displayOptions.views">{video.views, plural, =1 {1 view} other {{{ video.views | myNumberFormatter }} views}}</ng-container>
            </span>
          </span>

          <a tabindex="-1" *ngIf="displayOptions.by && displayOwnerAccount()" class="video-miniature-account" [routerLink]="[ '/accounts', video.byAccount ]">
            {{ video.byAccount }}
          </a>
          <a tabindex="-1" *ngIf="displayOptions.by && displayOwnerVideoChannel()" class="video-miniature-channel" [routerLink]="[ '/video-channels', video.byVideoChannel ]">
            {{ video.byVideoChannel }}
          </a>

          <div class="video-info-privacy">
            <ng-container *ngIf="displayOptions.privacyText">{{ video.privacy.label }}</ng-container>
            <ng-container *ngIf="displayOptions.privacyText && displayOptions.state && getStateLabel(video)"> - </ng-container>
            <ng-container *ngIf="displayOptions.state">{{ getStateLabel(video) }}</ng-container>
          </div>
        </div>
      </div>

      <div *ngIf="displayOptions.blacklistInfo && video.blacklisted" class="video-info-blocked">
        <span class="blocked-label" i18n>Blocked</span>
        <span class="blocked-reason" *ngIf="video.blockedReason">{{ video.blockedReason }}</span>
      </div>

      <div i18n *ngIf="displayOptions.nsfw && video.nsfw" class="video-info-nsfw">
        Sensitive
      </div>
    </div>

    <div class="video-actions">
      <!-- FIXME: remove bottom placement when overflow is fixed in bootstrap dropdown: https://github.com/ng-bootstrap/ng-bootstrap/issues/3495 -->
      <my-video-actions-dropdown
        *ngIf="showActions" [video]="video" [displayOptions]="videoActionsDisplayOptions" placement="bottom-left bottom-right left auto"
        (videoRemoved)="onVideoRemoved()" (videoBlocked)="onVideoBlocked()" (videoUnblocked)="onVideoUnblocked()" (videoAccountMuted)="onVideoAccountMuted()"
      ></my-video-actions-dropdown>
    </div>
  </div>
</div>
