@if (videoActions.length !== 0) {
  @if (isUserLoggedIn() && displayOptions().playlist) {
    <div
      class="playlist-dropdown"
      ngbDropdown
      #playlistDropdown="ngbDropdown"
      autoClose="outside"
      container="body"
      [placement]="getPlaylistDropdownPlacement()"
    >
      <span class="anchor" ngbDropdownAnchor></span>
      <div ngbDropdownMenu>
        @defer (when dropdownOpened) {
          <my-video-add-to-playlist
            #playlistAdd
            [video]="video()"
            (videoExistsInPlaylistChange)="videoExistsInPlaylistChange.emit()"
          ></my-video-add-to-playlist>
        }
      </div>
    </div>
  }

  <my-action-dropdown
    [actions]="videoActions"
    [label]="label()"
    [ariaLabel]="ariaLabel()"
    [entry]="{ video: video() }"
    [buttonSize]="buttonSize()"
    [placement]="placement()"
    [buttonIcon]="buttonIcon()"
    [buttonStyled]="buttonStyled()"
    container="body"
    (openChange)="dropdownOpened = true"
  ></my-action-dropdown>

  <my-video-download #videoDownloadModal (modalClosed)="modalClosed.emit('download')"></my-video-download>

  <my-video-report #videoReportModal [video]="video()" (modalClosed)="modalClosed.emit('report')"></my-video-report>

  <my-video-block #videoBlockModal (videoBlocked)="onVideoBlocked()" (modalClosed)="modalClosed.emit('block')"></my-video-block>
}
