@use "_bootstrap-variables";
@use "_variables" as *;
@use "_mixins" as *;
@use "_miniature" as *;

// Cannot set margin top to videos-header because of the main header fixed position
$margin-top: 2rem;

.videos {
  // Prevent scroll when reloading videos
  min-height: 50vh;
}

.videos-header {
  display: grid;
  grid-template-columns: auto 1fr auto;

  .action-block {
    grid-column: 3;
    grid-row: 1/3;
  }
}

my-date-group-label:not(.date-displayed) {
  display: none;
}

my-date-group-label.date-displayed,
.videos-section-title {
  font-weight: $font-semibold;
  margin-bottom: 20px;
  font-size: 1rem;

  // Make the element span a full grid row within .videos grid
  grid-column: 1 / -1;

  &:not(:first-child) {
    margin-top: 0.5rem;
    padding-top: 20px;
    border-top: 1px solid $separator-border-color;
  }
}

.margin-content {
  @include grid-videos-miniature-layout-with-margins;
}

.display-as-row.videos {
  @include margin-left(pvar(--x-margin-content));
  @include margin-right(pvar(--x-margin-content));

  .video-wrapper {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: $mobile-view) {
  my-video-filters-header {
    display: inline-block;

    @include margin-left(1rem);
    @include margin-right(1rem);
  }

  my-date-group-label.date-displayed {
    text-align: center;
    display: block;
  }

  .videos-header {
    text-align: center;
    width: 100%;
    margin-bottom: 1rem;
    display: block;
  }
}
