@import 'variables';
@import 'mixins';

.peertube-select-container {
  @include peertube-select-container(100px);

  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;

  select {
    height: inherit;
  }
}

#dropdownDownloadType {
  cursor: pointer;
}

.download-type {
  margin-top: 30px;

  .peertube-radio-container {
    @include peertube-radio-container;

    display: inline-block;
    margin-right: 30px;
  }
}

.file-metadata {
  padding: 1rem;
}

.file-metadata .metadata-attribute {
  font-size: 13px;
  display: block;
  margin-bottom: 12px;

  .metadata-attribute-label {
    min-width: 142px;
    padding-right: 5px;
    display: inline-block;
    color: pvar(--greyForegroundColor);
    font-weight: $font-bold;
  }

  a.metadata-attribute-value {
    @include disable-default-a-behaviour;
    color: pvar(--mainForegroundColor);

    &:hover {
      opacity: 0.9;
    }
  }

  &.metadata-attribute-tags {
    .metadata-attribute-value:not(:nth-child(2)) {
      &::before {
        content: ', '
      }
    }
  }
}
