@import '_variables';
@import '_mixins';

.action-selection-mode {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;

  .action-selection-mode-child {
    position: fixed;

    .action-button {
      display: inline-block;
    }

    .action-button-cancel-selection {
      @include peertube-button;
      @include grey-button;

      margin-right: 10px;
    }
  }
}

.video {
  @include row-blocks;

  &:first-child {
    margin-top: 47px;
  }

  .checkbox-container {
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-left: 12px;
  }

  my-video-miniature {
    flex-grow: 1;
  }
}

@media screen and (max-width: $small-view) {
  .video {
    flex-direction: column;
    height: auto;

    .checkbox-container {
      display: none;
    }

    my-button {
      margin-top: 10px;
    }
  }
}
