body {
  padding: 20px;
}

footer {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding-top: 10px;
  text-align: center;
  font-size: small;
}

.search-group {
  .search-btn {
    position: relative;
    left: -40px;
    top: 0;

    &:hover { text-decoration: none; }
  }
}

.panel_block:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
