@use '_variables' as *;
@use '_mixins' as *;

.no-notification {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.notification {
  display: flex;
  align-items: center;
  font-size: inherit;
  padding: 15px 5px 15px 10px;
  border-bottom: 1px solid $separator-border-color;
  word-break: break-word;

  &.unread {
    background-color: rgba(0, 0, 0, 0.05);
  }

  my-global-icon {
    @include apply-svg-color(#333);
    @include margin-right(11px);
    @include margin-left(3px);

    width: 24px;
  }

  .avatar {
    @include margin-right(10px);

    width: 30px;
    height: 30px;
    min-width: 30px;
    min-height: 30px;
    border-radius: 5px;
  }

  .message {
    flex-grow: 1;

    a {
      font-weight: $font-semibold;
    }
  }

  .from-date {
    @include padding-left(5px);
    @include margin-left(auto);

    font-size: 0.85em;
    color: pvar(--greyForegroundColor);
    min-width: 70px;
    text-align: end;
  }
}
