@import '_variables';
@import '_mixins';

.user-quota {
  font-size: 15px;
  margin-top: 20px;

  label {
    margin-right: 5px;
  }

  &, .progress {
    width: 100% !important;
  }

  .user-quota-title, .progress {
    @include disable-outline;
    @include button-focus(pvar(--mainColorLightest));
  }

  .progress {
    @include progressbar;

    height: 2rem;

    span {
      align-self: center;
    }
  }
}

