@use '_mixins' as *;

.peertube-button {
  @include peertube-button;
}

.peertube-button-big {
  @include peertube-button-big;
}

.peertube-button-link {
  @include peertube-button-link;
}

.peertube-button-big-link {
  @include peertube-button-big-link;
}

.orange-button {
  @include orange-button;
}

.orange-button-inverted {
  @include orange-button-inverted;
}

.grey-button {
  @include grey-button;
}

.tertiary-button {
  @include tertiary-button;
}

.peertube-radio-container {
  @include peertube-radio-container;
}

.peertube-button-icon {
  @include button-with-icon(18px, 3px, -1px);
}
