@use '_badges' as *;
@use '_icons' as *;
@use '_variables' as *;
@use '_mixins' as *;

// ---------------------------------------------------------------------------

.pt-badge {
  @include peertube-badge;
}

// ---------------------------------------------------------------------------

.no-results {
  height: 40vh;
  max-height: 500px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: $font-semibold;
}

// ---------------------------------------------------------------------------

.chevron-down {
  @include chevron-down-default;
}

.chevron-up {
  @include chevron-up-default;
}

.chevron-right {
  @include chevron-right-default;
}

.chevron-left {
  @include chevron-left-default;
}

// ---------------------------------------------------------------------------

.callout {
  padding: 1.25rem;
  border: 1px solid #eee;
  border-radius: 0.25rem;
  position: relative;

  > .callout-title {
    position: relative;
    top: -5px;
    left: -10px;
    color: #6c757d !important;
    font-size: 1rem;
    font-weight: $font-bold;
    margin-bottom: 0.5rem;
    line-height: inherit;
  }

  &:not(.callout-light) {
    border-left-width: 0.25rem;
  }

  &.callout-orange {
    border-color: pvar(--mainColorLightest);

    &:not(.callout-light) {
      border-left-color: pvar(--mainColor);
    }
  }
}

// ---------------------------------------------------------------------------

.anchor {
  position: relative;
  top: #{- ($header-height + 20px)};
}

.sub-menu-offset-content {

  // if sub-menu fixed
  .anchor {
    top: #{- ($header-height + $sub-menu-height + 20px)};
  }
}

// ---------------------------------------------------------------------------

.alert {
  &.pt-alert-primary {
    background-color: pvar(--mainColorVeryLight);
    border: 2px solid pvar(--mainColorLightest);
  }
}

// ---------------------------------------------------------------------------

.chip {
  @include chip;
}
