@use '_variables' as *;
@use '_mixins' as *;
@use '_form-mixins' as *;

.peertube-radio-container {
  @include peertube-radio-container;
}

.pt-input-text {
  @include peertube-input-text(100%);
}

.form-group {
  margin-bottom: 1rem;
}

.input-error:not(:focus) {

  &,
  +.nav-preview,
  // Markdown textarea
  +*+.tab-content {
    border-color: pvar(--red) !important;
  }
}

.input-group .input-error {
  z-index: 3;
}

.form-error,
.form-warning {
  display: block;
  margin-top: 5px;
  font-size: 0.9em;
}

.form-error {
  color: pvar(--red);
}

// Disable red error on input focus
.input-error:focus,
.input-group:focus-within {

  +.form-error,
  +*+.form-error,
  // Markdown textarea
  +*+*+.form-error {
    color: pvar(--fg);
  }
}

.form-group-description {
  font-size: 14px;
  margin-top: 10px;

  @include muted;
}

// Useful with a "reset" button
.label-container {
  display: flex;
  white-space: nowrap;
  align-items: baseline;
}

label + .form-group-description,
.label-container + .form-group-description {
  margin-bottom: 10px;
  margin-top: 0;
}
