@use '_variables' as *;
@use '_mixins' as *;

.sub-menu-entry {
  @include disable-default-a-behaviour;
  @include margin-right(55px);

  opacity: 0.7;
  color: pvar(--mainForegroundColor);
  display: inline-block;
  font-weight: $font-semibold;
  border-bottom: 2px solid transparent;
  white-space: nowrap;
  font-size: 1rem;

  &.active {
    border-bottom-color: pvar(--mainColor);
  }

  &:hover,
  &:active,
  &:focus {
    color: pvar(--mainForegroundColor);
  }

  &.active,
  &:hover,
  &:active,
  &:focus {
    opacity: 1;
    outline: 0 hidden !important;
  }

  @media screen and (max-width: $mobile-view) {
    @include margin-left(15px);
  }
}

.title-page-v2 {
  font-weight: normal;
  font-size: 15px;
  padding: 35px 25px;
}

.title-page {
  @include margin-right(55px);

  margin-top: 30px;
  margin-bottom: 25px;

  color: pvar(--mainForegroundColor);
  display: inline-block;
  font-weight: $font-semibold;
  font-size: 1.25rem;

  a {
    @include disable-default-a-behaviour;

    color: inherit;

    &:hover {
      color: inherit;
      opacity: 0.8;
    }
  }

  @media screen and (max-width: $mobile-view) {
    @include margin-left(15px);
  }
}

.admin-sub-header {
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  @media screen and (max-width: $small-view) {
    flex-direction: column;
  }
}
