@use '_variables' as *;
@use '_mixins' as *;

.sub-menu-entry {
  border: 0;
  padding: 0;
  opacity: 0.7;
  color: pvar(--mainForegroundColor);
  display: inline-block;
  font-weight: $font-semibold;
  border-bottom: 2px solid transparent;
  white-space: nowrap;
  font-size: 1rem;

  @include disable-default-a-behaviour;
  @include margin-right(55px);

  &.active {
    border-bottom-color: pvar(--mainColor);
  }

  &:hover,
  &:active,
  &:focus {
    color: pvar(--mainForegroundColor);
  }

  &.active,
  &:hover,
  &:active,
  &:focus {
    opacity: 1;
    outline: 0 hidden !important;
  }

  @media screen and (max-width: $mobile-view) {
    @include margin-left(15px);
  }
}

.title-page-v2 {
  font-weight: normal;
  font-size: 15px;
  padding: 35px 25px;
}

.title-page {
  margin-top: 30px;
  margin-bottom: 25px;

  color: pvar(--mainForegroundColor);
  display: inline-block;
  font-weight: $font-semibold;
  font-size: 1.25rem;

  @include margin-right(55px);

  a {
    color: inherit;

    @include disable-default-a-behaviour;

    &:hover {
      color: inherit;
      opacity: 0.8;
    }
  }

  @media screen and (max-width: $mobile-view) {
    @include margin-left(15px);
  }
}

.admin-sub-header {
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  @media screen and (max-width: $small-view) {
    flex-direction: column;
  }
}

.pt-breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 1rem;
  list-style: none;
  font-weight: $font-semibold;

  .breadcrumb-item {
    display: flex;

    a {
      color: pvar(--mainColor);
    }

    + .breadcrumb-item {
      @include padding-left(0.5rem);

      &::before {
        display: inline-block;
        color: #6c757d;
        content: '/';

        @include padding-right(0.5rem);
      }
    }

    &.active {
      color: #6c757d;
    }
  }
}
