@use 'sass:color';
@use '_badges' as *;
@use '_icons' as *;
@use '_variables' as *;
@use '_mixins' as *;

.red {
  color: pvar(--red);
}

.green {
  color: pvar(--green);
}

.link-orange {
  color: pvar(--mainForegroundColor);
  font-weight: $font-semibold;
  border-bottom: 0.18em solid pvar(--mainColor);
  display: inline-block;
  line-height: 1.1;

  &:hover {
    color: pvar(--mainForegroundColor);
    opacity: 0.8;
  }
}

.underline-orange {
  display: inline-block;
  border-bottom: 0.19em solid pvar(--mainColor);
}

// ---------------------------------------------------------------------------

.muted {
  @include muted;
}

// ---------------------------------------------------------------------------

@mixin ellipsis-multiline($number-of-lines) {
  display: -webkit-box; /* stylelint-disable-line value-no-vendor-prefix */
  -webkit-line-clamp: $number-of-lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.ellipsis-multiline-1 {
  @include ellipsis-multiline(1);
}

.ellipsis-multiline-2 {
  @include ellipsis-multiline(2);
}

.ellipsis-multiline-3 {
  @include ellipsis-multiline(3);
}

// ---------------------------------------------------------------------------

.ellipsis {
  @include ellipsis;
}
