@use 'sass:color';
@use '_badges' as *;
@use '_icons' as *;
@use '_variables' as *;
@use '_mixins' as *;

.red {
  color: pvar(--red);
}

.green {
  color: pvar(--green);
}

@mixin underline-orange {
  text-decoration: underline !important;
  text-decoration-color: pvar(--mainColor) !important;
  text-underline-offset: 0.25em !important;
  text-decoration-thickness: 0.15em !important;
}

.link-orange {
  color: pvar(--mainForegroundColor);
  font-weight: $font-semibold;
  line-height: 1.1;

  @include underline-orange;

  &:hover {
    color: pvar(--mainForegroundColor);
    opacity: 0.8;

    @include underline-orange;
  }
}

.underline-orange {
  @include underline-orange;
}

// ---------------------------------------------------------------------------

.muted {
  @include muted;
}

// ---------------------------------------------------------------------------

@mixin ellipsis-multiline($number-of-lines) {
  display: -webkit-box; /* stylelint-disable-line value-no-vendor-prefix */
  -webkit-line-clamp: $number-of-lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.ellipsis-multiline-1 {
  @include ellipsis-multiline(1);
}

.ellipsis-multiline-2 {
  @include ellipsis-multiline(2);
}

.ellipsis-multiline-3 {
  @include ellipsis-multiline(3);
}

// ---------------------------------------------------------------------------

.ellipsis {
  @include ellipsis;
}
