@import '_variables';
@import '_mixins';

.caption {
  justify-content: flex-end;

  input {
    @include peertube-input-text(250px);
    flex-grow: 1;
  }
}

.chip {
  @include chip;
}

.unblock-button {
  @include peertube-button;
  @include grey-button;
}