<p-table
  [value]="blockedAccounts" [lazy]="true" [paginator]="totalRecords > 0" [totalRecords]="totalRecords"
  [rows]="rowsPerPage" [rowsPerPageOptions]="rowsPerPageOptions" [first]="pagination.start"
  [sortField]="sort.field" [sortOrder]="sort.order" (onLazyLoad)="loadLazy($event)"
  [showCurrentPageReport]="true" [currentPageReportTemplate]="getPaginationTemplate()"
>
  <ng-template pTemplate="caption">
    <div class="caption">
      <div class="ms-auto">
        <my-advanced-input-filter (search)="onSearch($event)"></my-advanced-input-filter>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th scope="col" style="width: 150px;" i18n>Action</th> <!-- column for action buttons -->
      <th scope="col" i18n>Account</th>
      <th scope="col" style="width: 150px;" i18n [ngbTooltip]="sortTooltip" container="body" pSortableColumn="createdAt">Muted at <p-sortIcon field="createdAt"></p-sortIcon></th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-accountBlock>
    <tr>
      <td class="action-cell">
        <button class="peertube-button secondary-button" (click)="unblockAccount(accountBlock)" i18n>Unmute</button>
      </td>
      <td>
        <a [href]="accountBlock.blockedAccount.url" i18n-title title="Open account in a new tab" target="_blank" rel="noopener noreferrer">
          <div class="chip two-lines">
            <my-actor-avatar [actor]="accountBlock.blockedAccount" actorType="account" size="32"></my-actor-avatar>
            <div>
              {{ accountBlock.blockedAccount.displayName }}
              <span class="muted">{{ accountBlock.blockedAccount.nameWithHost }}</span>
            </div>
          </div>
        </a>
      </td>

      <td>{{ accountBlock.createdAt | ptDate: 'short' }}</td>
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr>
      <td myAutoColspan>
        <div class="no-results">
          <ng-container *ngIf="search" i18n>No account found matching current filters.</ng-container>
          <ng-container *ngIf="!search" i18n>No account found.</ng-container>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
