@use 'sass:math';
@use '_variables' as *;
@use '_mixins' as *;
@use '_miniature' as *;

.moderation-expanded {
  font-size: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .moderation-expanded-label {
    font-weight: $font-semibold;
    display: inline-block;
    vertical-align: top;
    text-align: end;
    min-width: 100px;

    @include margin-right(5px);
  }

  .moderation-expanded-text {
    display: inline-flex;
    word-wrap: break-word;

    ::ng-deep p:last-child {
      margin-bottom: 0 !important;
    }
  }

  .right {
    width: 50%;
    max-width: 500px;
  }

  @media screen and (max-width: $primeng-breakpoint) {
    .right {
      width: 100%;
    }
  }
}

my-action-dropdown.show {
  ::ng-deep .dropdown-root {
    display: block !important;
  }
}

.table-comment-link,
.table-account-link {
  text-decoration: none;
  color: pvar(--fg);

  @include disable-outline;

  ::ng-deep p:last-child {
    margin: 0;
  }
}

.table-account-link {
  display: flex;
  flex-direction: column;
}

my-abuse-details {
  width: 100%;
}

@media screen and (max-width: $primeng-breakpoint) {
  .abuse-messages {
    justify-content: flex-start !important;
  }
}
