@import '_variables';
@import '_mixins';

a {
  @include disable-default-a-behaviour;
  display: inline-block;

  &, &:hover {
    color: pvar(--mainForegroundColor);
  }

  span {
    font-size: 80%;
    color: pvar(--inputPlaceholderColor);
  }
}

.caption {
  justify-content: flex-end;

  input {
    @include peertube-input-text(250px);
    flex-grow: 1;
  }
}

.unblock-button {
  @include peertube-button;
  @include grey-button;
}

.block-button {
  @include create-button;
}

.caption {
  justify-content: flex-end;

  input {
    @include peertube-input-text(250px);
    flex-grow: 1;
  }
}

.chip {
  @include chip;
}
