@use '_variables' as *;
@use '_mixins' as *;

a {
  @include disable-default-a-behaviour;
  display: inline-block;

  &,
  &:hover {
    color: pvar(--mainForegroundColor);
  }

  span {
    font-size: 80%;
    color: pvar(--inputPlaceholderColor);
  }
}

.unblock-button {
  @include peertube-button;
  @include grey-button;
}

.block-button {
  @include create-button;
}

.chip {
  @include chip;
}
