<div class="admin-sub-header">
  <div class="admin-sub-title">Jobs list</div>

  <div class="peertube-select-container">
    <select [(ngModel)]="jobState" (ngModelChange)="onJobStateChanged()">
      <option *ngFor="let state of jobStates" [value]="state">{{ state }}</option>
    </select>
  </div>
</div>



<p-dataTable
    [value]="jobs" [lazy]="true" [paginator]="true" [totalRecords]="totalRecords" [rows]="rowsPerPage"
    sortField="createdAt" (onLazyLoad)="loadLazy($event)" [scrollable]="true" [virtualScroll]="true" [scrollHeight]="scrollHeight"
>
  <p-column field="id" header="ID" [style]="{ width: '60px' }"></p-column>
  <p-column field="type" header="Type" [style]="{ width: '210px' }"></p-column>
  <p-column field="state" header="State" [style]="{ width: '130px' }"></p-column>
  <p-column header="Payload">
    <ng-template pTemplate="body" let-job="rowData">
      <pre>{{ job.data }}</pre>
    </ng-template>
  </p-column>
  <p-column field="createdAt" header="Created date" [sortable]="true" [style]="{ width: '250px' }"></p-column>
  <p-column field="updatedAt" header="Updated date" [style]="{ width: '250px' }"></p-column>
</p-dataTable>
