<div class="row">
  <div class="content-padding">
    <h3>Jobs list</h3>

    <p-dataTable
        [value]="jobs" [lazy]="true" [paginator]="true" [totalRecords]="totalRecords" [rows]="rowsPerPage"
        sortField="createdAt" (onLazyLoad)="loadLazy($event)"
    >
      <p-column field="id" header="ID"></p-column>
      <p-column field="category" header="Category"></p-column>
      <p-column field="handlerName" header="Handler name"></p-column>
      <p-column field="handlerInputData" header="Input data"></p-column>
      <p-column field="state" header="State"></p-column>
      <p-column field="createdAt" header="Created date" [sortable]="true"></p-column>
      <p-column field="updatedAt" header="Updated date"></p-column>
    </p-dataTable>
  </div>
</div>
