<table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" style="margin: auto;">
  <tr>
    <td style="border-radius: 4px; background: {{primary}};">
      <a class="no-color" href="{{actionUrl}}" style="background: {{primary}}; font-family: sans-serif; font-size: 15px; line-height: 15px; text-decoration: none; padding: 13px 17px; display: block; border-radius: 4px; font-weight: bold;">{{actionText}}</a>
    </td>
  </tr>
</table>
