@import '_variables';
@import '_mixins';
@import '_bootstrap-variables';
@import '_miniature';

.playlist {
  min-width: 200px;
  max-width: 470px;
  height: 66vh;
  background-color: pvar(--mainBackgroundColor);
  overflow-y: auto;
  border-bottom: 1px solid $separator-border-color;

  .playlist-info {
    padding: 5px 30px;
    background-color: #e4e4e4;

    .playlist-display-name {
      font-size: 18px;
      font-weight: $font-semibold;
      margin-bottom: 5px;
    }

    .playlist-by-index {
      color: pvar(--greyForegroundColor);
      display: flex;

      .playlist-by {
        margin-right: 5px;
      }

      .playlist-index span:first-child::after {
        content: '/';
        margin: 0 3px;
      }
    }

    .playlist-controls {
      display: flex;
      margin: 10px 0;

      my-global-icon:not(:last-child) {
        margin-right: .5rem;
      }

      my-global-icon {
        &:not(.active) {
          opacity: .5
        }

        ::ng-deep {
          cursor: pointer;
        }
      }
    }
  }

  my-video-playlist-element-miniature {
    ::ng-deep {
      .video {
        .position {
          margin-right: 0;
        }

        .video-info {
          .video-info-name {
            font-size: 15px;
          }
        }
      }

      my-video-thumbnail {
        @include thumbnail-size-component(90px, 50px);
      }

      .fake-thumbnail {
        width: 90px;
        height: 50px;
      }
    }
  }
}

