$grey-color: #555;

$black-background: #1d2125;
$grey-background: #f6f2f2;

$header-height: 65px;
$header-border-color: #e9eff6;

$video-miniature-title-color: #16a2b7;
$video-miniature-other-infos: #686767;

$video-watch-border-color: #eceef4;
$video-watch-title-height: 90px;
$video-watch-info-color: #8e909b;
$video-watch-info-height: 150px;
