$grey-color: #555;

$black-background: #1d2125;
$grey-background: #f6f2f2;

$menu-color-link: #9cabb8;
$menu-color-block: #686f77;

$header-height: 65px;
$header-border-color: #e9eff6;

$footer-border-color: $header-border-color;

$video-miniature-other-infos: #686767;

$video-watch-border-color: #eceef4;
$video-watch-title-height: 90px;
$video-watch-info-color: #9da0ae;
$video-watch-info-height: 120px;
$video-watch-info-padding-left: 40px;
