$font-regular: 400;
$font-semibold: 600;
$font-bold: 700;

$grey-color: #555;
$orange-color: #F1680D;

$black-background: #000;
$grey-background: #f6f2f2;

$expanded-horizontal-margins: 150px;
$not-expanded-horizontal-margins: 30px;

$button-height: 30px;

$header-height: 50px;
$header-border-color: #e9eff6;

$search-input-width: 375px;

$menu-color: #fff;
$menu-width: 240px;

$footer-height: 30px;
$footer-margin: 30px;

$footer-border-color: $header-border-color;

$video-miniature-other-infos: #686767;

$video-watch-border-color: #eceef4;
$video-watch-title-height: 90px;
$video-watch-info-color: #9da0ae;
$video-watch-info-height: 120px;
$video-watch-info-padding-left: 40px;
