peertube-container {
  > .layout-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
  }

  > .layout-column {
    display: flex;
    flex-direction: column;
  }

   .header {
    margin: 30px 0 15px;

    > h4 {
      margin-bottom: 0;
    }
  }
}

// Workaround to detect iOS that doesn't support gap in flexbox
@supports not (inset: 0) {
  peertube-video-miniature,
  peertube-playlist-miniature,
  peertube-channel-miniature {
    margin-inline-end: 2rem;
  }
}
