@import '_variables';
@import '_mixins';

.caption {
  justify-content: flex-end;

  input {
    @include peertube-input-text(250px);
  }
}

a {
  @include disable-default-a-behaviour;
  display: inline-block;

  &, &:hover {
    color: pvar(--mainForegroundColor);
  }

  span {
    font-size: 80%;
    color: pvar(--inputPlaceholderColor);
  }
}

.action-cell {
  my-button:first-child {
    margin-right: 10px;
  }
}
