@use '_variables' as *;
@use '_mixins' as *;

a {
  @include disable-default-a-behaviour;
  display: inline-block;

  &,
  &:hover {
    color: pvar(--mainForegroundColor);
  }

  span {
    font-size: 80%;
    color: pvar(--inputPlaceholderColor);
  }
}

.action-cell {
  my-button:first-child {
    @include margin-right(10px);
  }
}
