@import '_variables';
@import '_mixins';

.caption {
  justify-content: flex-end;

  input {
    @include peertube-input-text(250px);
  }
}

.action-cell {
  my-button:first-child {
    margin-right: 10px;
  }
}
