<p-dataTable
    [value]="followers" [lazy]="true" [paginator]="true" [totalRecords]="totalRecords" [rows]="rowsPerPage"
    sortField="createdAt" (onLazyLoad)="loadLazy($event)"
>
  <p-column field="id" header="ID" [style]="{ width: '60px' }"></p-column>
  <p-column field="score" header="Score"></p-column>
  <p-column field="follower.name" header="Name"></p-column>
  <p-column field="follower.host" header="Host"></p-column>
  <p-column field="state" header="State"></p-column>
  <p-column field="createdAt" header="Created date" [sortable]="true"></p-column>
</p-dataTable>
