{{#> base title=(t "{channelName} just published a new video" channelName=channelName)}}
  <p>
    {{#if isLive}}
      {{{t "Your subscription {channelName} is live streaming {videoName}" channelUrl=channelUrl channelName=channelName videoName=videoName}}}
    {{else}}
      {{{t "Your subscription {channelName} just published a new video: {videoName}." channelUrl=channelUrl channelName=channelName videoName=videoName}}}
    {{/if}}
  </p>
{{/base}}
