@import '_variables';
@import '_mixins';

.root {
  height: auto;
  display: flex;
  align-items: center;

  .preview {
    border: 2px solid grey;
    border-radius: 4px;
    margin-left: 50px;

    &.no-image {
      background-color: #ececec;
    }
  }
}
