@import '_variables';
@import '_mixins';

.peertube-select-container {
  @include peertube-select-container(auto);
}

.video-edit {
  height: 100%;

  .form-group {
    margin-bottom: 25px;
  }

  input {
    @include peertube-input-text(100%);
    display: block;

    &[type=checkbox] {
      @include peertube-checkbox(1px);
    }
  }

  input, select {
    font-size: 15px
  }

  .form-group-checkbox {
    display: flex;
    align-items: center;

    label {
      font-weight: $font-regular;
      margin: 0;
    }

    input {
      width: 10px;
      margin-right: 10px;
    }
  }

  .label-tags + span {
    font-size: 15px;
  }

  .root-tabset /deep/ > .nav {
    margin-left: 15px;
    margin-bottom: 15px;

    .nav-link {
      display: flex !important;
      align-items: center;
      height: 30px !important;
      padding: 0 15px !important;
    }
  }

  .advanced-settings .form-group {
    margin-bottom: 20px;
  }
}

.submit-container {
  text-align: right;

  .message-submit {
    display: inline-block;
    margin-right: 25px;

    color: #585858;
    font-size: 15px;
  }

  .submit-button {
    @include peertube-button;
    @include orange-button;

    display: inline-block;

    input {
      cursor: inherit;
      background-color: inherit;
      border: none;
      padding: 0;
      outline: 0;
    }

    .icon.icon-validate {
      @include icon(20px);

      cursor: inherit;
      position: relative;
      top: -1px;
      margin-right: 4px;
      background-image: url('../../../../assets/images/global/validate.svg');
    }
  }
}

/deep/ {
  .ng2-tag-input {
    border: none !important;
  }

  .ng2-tags-container {
    display: flex;
    align-items: center;
    border: 1px solid #C6C6C6;
    border-radius: 3px;
    padding: 5px !important;
    height: 40px;
  }

  tag-input-form {
    input {
      height: 30px !important;
      background-color: #fff !important;
    }
  }

  tag {
    background-color: #E5E5E5 !important;
    border-radius: 3px !important;
    font-size: 15px !important;
    color: #000 !important;
    height: 30px !important;
    line-height: 30px !important;
    margin: 0 5px 0 0 !important;
    cursor: default !important;
    padding: 0 8px 0 10px !important;

    div {
      height: 100% !important;
    }
  }

  delete-icon {
    cursor: pointer !important;
    height: auto !important;
    vertical-align: middle !important;
    padding-left: 6px !important;

    svg {
      position: relative;
      top: -1px;
      height: auto !important;
      vertical-align: middle !important;
      fill: #585858 !important;
    }

    &:hover {
      transform: none !important;
    }
  }
}
