@import '_variables';
@import '_mixins';

.peertube-select-container {
  @include peertube-select-container(auto);
}

.caption-file {
  margin-top: 20px;
  width: max-content;

  ::ng-deep .root {
    width: max-content;
  }
}

.warning-replace-caption {
  color: red;
  margin-top: 10px;
}