@import '_variables';
@import '_mixins';

label {
  font-weight: $font-regular;
  font-size: 100%;
}

.account-title {
  @include settings-big-title;

  &.account-title-danger {
    color: lighten($color: #c54130, $amount: 10);
  }
}

input:not([type=submit]) {
  @include peertube-input-text(340px);
  display: block;
}

.peertube-select-container {
  @include peertube-select-container(340px);
}

input[type=submit], button {
  @include peertube-button;
  @include orange-button;

  margin-top: 10px;
}

.transcoding-information {
  margin-top: 5px;
  font-size: 11px;
}

.danger-zone {
  .reset-password-email {
    margin-bottom: 30px;

    button {
      @include peertube-button;
      @include danger-button;
      @include disable-outline;

      display: block;
      margin-top: 0;
    }
  }
}

.breadcrumb {
  @include breadcrumb;
}

.dashboard {
  @include dashboard;
  max-width: 900px;
}

my-actor-avatar-info ::ng-deep {
  .actor-img-edit-container,
  .actor-info-followers,
  .actor-info-username {
    display: none;
  }
}
