<div class="row">
  <div class="content-padding">

    <h3 *ngIf="isCreation() === true">Add user</h3>
    <h3 *ngIf="isCreation() === false">Edit user {{ username }}</h3>

    <div *ngIf="error" class="alert alert-danger">{{ error }}</div>

    <form role="form" (ngSubmit)="formValidated()" [formGroup]="form">
      <div class="form-group" *ngIf="isCreation()">
        <label for="username">Username</label>
        <input
          type="text" class="form-control" id="username" placeholder="john"
          formControlName="username"
        >
        <div *ngIf="formErrors.username" class="alert alert-danger">
          {{ formErrors.username }}
        </div>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="text" class="form-control" id="email" placeholder="mail@example.com"
          formControlName="email"
        >
        <div *ngIf="formErrors.email" class="alert alert-danger">
          {{ formErrors.email }}
        </div>
      </div>

      <div class="form-group" *ngIf="isCreation()">
        <label for="password">Password</label>
        <input
          type="password" class="form-control" id="password"
          formControlName="password"
        >
        <div *ngIf="formErrors.password" class="alert alert-danger">
          {{ formErrors.password }}
        </div>
      </div>

      <div class="form-group">
        <label for="videoQuota">Video quota</label>
        <select class="form-control" id="videoQuota" formControlName="videoQuota">
          <option *ngFor="let videoQuotaOption of videoQuotaOptions" [value]="videoQuotaOption.value">
            {{ videoQuotaOption.label }}
          </option>
        </select>
      </div>

      <input type="submit" value="{{ getFormButtonTitle() }}" class="btn btn-default" [disabled]="!form.valid">
    </form>
  </div>
</div>
