@import '_variables';
@import '_mixins';

input:not([type=submit]):not([type=checkbox]) {
  @include peertube-input-text(340px);

  display: block;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
}

input[type=submit] {
  @include peertube-button;
  @include danger-button;
  @include disable-outline;

  margin-top: 10px;
}

.input-group-append {
  height: 30px;
}
