<div class="margin-content">

  <div class="title-page title-page-single">
    Create an account
  </div>

  <div *ngIf="error" class="alert alert-danger">{{ error }}</div>

  <form role="form" (ngSubmit)="signup()" [formGroup]="form">
    <div class="form-group">
      <label for="username">Username</label>
      <input
        type="text" id="username" placeholder="Username"
        formControlName="username" [ngClass]="{ 'input-error': formErrors['username'] }"
      >
      <div *ngIf="formErrors.username" class="form-error">
        {{ formErrors.username }}
      </div>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="text" id="email" placeholder="Email"
        formControlName="email" [ngClass]="{ 'input-error': formErrors['email'] }"
      >
      <div *ngIf="formErrors.email" class="form-error">
        {{ formErrors.email }}
      </div>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password" id="password" placeholder="Password"
        formControlName="password" [ngClass]="{ 'input-error': formErrors['password'] }"
      >
      <div *ngIf="formErrors.password" class="form-error">
        {{ formErrors.password }}
      </div>
    </div>

    <input type="submit" value="Signup" [disabled]="!form.valid">
  </form>

</div>
