@import '_variables';
@import '_mixins';

.initial-user-quota {
  font-size: 15px;
  margin-bottom: 20px;

  .initial-user-quota-label {
    font-weight: $font-semibold;
  }
}

.form-group-terms {
  margin: 30px 0;
}

.input-group {
  @include peertube-input-group(340px);
}

input:not([type=submit]) {
  @include peertube-input-text(340px);
  display: block;

  &#username {
    width: auto;
    flex-grow: 1;
  }
}

input[type=submit] {
  @include peertube-button;
  @include orange-button;
}
