<div class="margin-content">

  <div i18n class="title-page title-page-single">
    Create an account
  </div>

  <div class="initial-user-quota">
    <span i18n class="initial-user-quota-label">Initial video quota:</span>

    <span *ngIf="initialUserVideoQuota !== -1">
      {{ initialUserVideoQuota | bytes: 0 }}

      <my-help helpType="custom" [customHtml]="quotaHelpIndication"></my-help>
    </span>

    <ng-container i18n *ngIf="initialUserVideoQuota === -1">
      Unlimited
    </ng-container>
  </div>

  <div *ngIf="error" class="alert alert-danger">{{ error }}</div>

  <form role="form" (ngSubmit)="signup()" [formGroup]="form">
    <div class="form-group">
      <label for="username" i18n>Username</label>
      <input
        type="text" id="username" i18n-placeholder placeholder="Username"
        formControlName="username" [ngClass]="{ 'input-error': formErrors['username'] }"
      >
      <div *ngIf="formErrors.username" class="form-error">
        {{ formErrors.username }}
      </div>
    </div>

    <div class="form-group">
      <label for="email" i18n>Email</label>
      <input
        type="text" id="email" i18n-placeholder placeholder="Email"
        formControlName="email" [ngClass]="{ 'input-error': formErrors['email'] }"
      >
      <div *ngIf="formErrors.email" class="form-error">
        {{ formErrors.email }}
      </div>
    </div>

    <div class="form-group">
      <label for="password" i18n>Password</label>
      <input
        type="password" id="password" i18n-placeholder placeholder="Password"
        formControlName="password" [ngClass]="{ 'input-error': formErrors['password'] }"
      >
      <div *ngIf="formErrors.password" class="form-error">
        {{ formErrors.password }}
      </div>
    </div>

    <input type="submit" i18n-value value="Signup" [disabled]="!form.valid">
  </form>

</div>
