@import '_variables';
@import '_mixins';

my-instance-features-table {
  display: block;

  margin-bottom: 40px;
}

form {
  margin: 0 60px 40px 0;
}

.form-group-terms {
  margin: 30px 0;
}

.input-group {
  @include peertube-input-group(400px);
}

.input-group-append {
  height: 30px;
}

input:not([type=submit]) {
  @include peertube-input-text(400px);
  display: block;

  &#username {
    width: auto;
    flex-grow: 1;
  }
}

input[type=submit] {
  @include peertube-button;
  @include orange-button;
}
