{{#> base title=(t "Your account has been unblocked")}}
  <p>
    {{{t "Your account <strong>{username}</strong> has been unblocked by {instanceName} moderators." username=username instanceName=instanceName}}}
  </p>
{{/base}}
