<div class="container-fluid">
  <div class="row header">

    <div class="col-md-2 col-sm-3 col-xs-3 top-left-block" [ngClass]="{ 'border-bottom': isMenuDisplayed === false }">
      <div class="hamburger-block" (click)="toggleMenu()">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </div>

      <div id="peertube-title">
        <a [routerLink]="['/videos/list']" title="Homepage"></a>
      </div>
    </div>

    <!-- Used for the fixed title -->
    <div class="col-md-2 col-sm-3 col-xs-3 fake-title-block"></div>

    <!-- We need to reset col-md-* because my-search is in fixed position -->
    <my-search class="col-md-10 col-sm-9 col-xs-9"></my-search>
  </div>

  <div class="row">
    <div class="col-md-2 col-sm-3 col-xs-3 title-menu-left">

      <div class="title-menu-left-block menu">
        <my-menu *ngIf="isMenuDisplayed && isInAdmin() === false"></my-menu>
        <my-menu-admin *ngIf="isMenuDisplayed && isInAdmin() === true"></my-menu-admin>
      </div>
    </div>

    <!-- Used for the fixed menu -->
    <div class="col-md-2 col-sm-3 col-xs-3">
    </div>

    <div [ngClass]="getMainColClasses()">

      <div class="main-row">
        <router-outlet></router-outlet>
      </div>

      <footer class="row">
        <a href="https://github.com/Chocobozzz/PeerTube" title="PeerTube on Github">PeerTube</a> -
        <a href="https://github.com/Chocobozzz/PeerTube/blob/develop/LICENSE" title="PeerTube licence">CopyLeft 2015-2017</a>
      </footer>
    </div>
  </div>
</div>

<my-confirm></my-confirm>
<simple-notifications [options]="notificationOptions"></simple-notifications>
