<div class="container">

  <header class="row">
    <div class="col-md-2">
      <h4>PeerTube</h4>
    </div>

    <div class="col-md-9">
      <my-search (search)="onSearch($event)"></my-search>
    </div>
  </header>


  <div class="row">

    <menu class="col-md-2 col-xs-3">
      <div class="panel-block">
        <div id="panel-user-login" class="panel-button">
          <span class="glyphicon glyphicon-user"></span>
          <a *ngIf="!isLoggedIn" [routerLink]="['/users/login']">Login</a>
          <a *ngIf="isLoggedIn" (click)="logout()">Logout</a>
        </div>
      </div>

      <div class="panel-block">
        <div id="panel-get-videos" class="panel-button">
          <span class="glyphicon glyphicon-list"></span>
          <a [routerLink]="['/videos/list']">Get videos</a>
        </div>

        <div id="panel-upload-video" class="panel-button" *ngIf="isLoggedIn">
          <span class="glyphicon glyphicon-cloud-upload"></span>
          <a [routerLink]="['/videos/add']">Upload a video</a>
        </div>
      </div>

      <div class="panel-block" *ngIf="isLoggedIn">
        <div id="panel-make-friends" class="panel-button">
          <span class="glyphicon glyphicon-cloud"></span>
          <a (click)='makeFriends()'>Make friends</a>
        </div>

        <div id="panel-quit-friends" class="panel-button">
          <span class="glyphicon glyphicon-plane"></span>
          <a (click)='quitFriends()'>Quit friends</a>
        </div>
      </div>
    </menu>

    <div class="col-md-9 col-xs-8 router-outler-container">
      <router-outlet></router-outlet>
    </div>

  </div>


  <footer>
    PeerTube, CopyLeft 2015-2016
  </footer>
</div>
