#peertube-title a {
  color: inherit !important;

  &:hover {
    color: inherit !important;
    text-decoration: none !important;
  }
}

header div {
  line-height: 25px;
  margin-bottom: 30px;
}

.router-outlet-container {
  @media screen and (max-width: 400px) {
    padding: 0 3px 0 3px;
  }
}

[hidden] {
  display: none !important;
}
