@import '_variables';
@import '_mixins';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

$assets-path: '../assets';

.peertube-container {
  padding-bottom: 20px;
}

.main-row {
  min-height: calc(100vh - #{$header-height} - #{$footer-height} - #{$footer-margin});
}

.sub-header-container {
  margin-top: $header-height;
  background-color: pvar(--mainBackgroundColor);
  width: 100%;
}

.header {
  height: $header-height;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: pvar(--mainBackgroundColor);
  z-index: z(header);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16);
  display: flex;

  .top-left-block {
    z-index: 1;
    height: $header-height;
    display: flex;
    align-items: center;
    min-width: 0;

    .icon {
      @include icon(24px);

      &.icon-menu {
        background-color: pvar(--mainForegroundColor);
        mask-image: url('#{$assets-path}/images/misc/menu.svg');
        margin: 0 18px 0 20px;
      }
    }

    .peertube-title {
      @include disable-default-a-behaviour;

      font-size: 20px;
      font-weight: $font-bold;
      color: inherit !important;
      display: flex;
      align-items: center;
      overflow: hidden;

      .instance-name {
        @include ellipsis;

        width: 100%;
      }

      .icon.icon-logo {
        display: inline-block;
        width: 23px;
        height: 24px;
        margin-right: .5rem;
      }
    }

    @media screen and (max-width: $mobile-view) {
      width: 70px;

      .peertube-title {
        display: none;
      }
    }

    @media screen and (max-width: 350px) {
      flex: auto;
    }
  }

  .header-right {
    height: $header-height;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    white-space: nowrap;
    flex: 1;
  }
}

.broadcast-message {
  min-height: 50px;
  text-align: center;
  margin-bottom: 0;
  border-radius: 0;
  display: grid;
  grid-template-columns: 1fr 30px;
  column-gap: 10px;

  my-global-icon {
    justify-self: center;
    align-self: center;
    cursor: pointer;

    width: 20px;
  }

  @each $color, $value in $theme-colors {
    &.alert-#{$color} {
      my-global-icon {
        @include apply-svg-color(theme-color-level($color, $alert-color-level));
      }
    }
  }

  ::ng-deep {
    p {
      font-size: 16px;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }
}
