<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 col-sm-3 col-xs-3 title-menu-left">
      <h4 id="peertube-title" class="title-menu-left-block header">
        <a [routerLink]="['/videos/list']">PeerTube</a>
      </h4>

      <div class="title-menu-left-block menu">
        <my-menu *ngIf="isInAdmin() === false"></my-menu>
        <my-menu-admin *ngIf="isInAdmin() === true"></my-menu-admin>
      </div>
    </div>

    <!-- Used for the fixed menu -->
    <div class="col-md-2 col-sm-3 col-xs-3">
    </div>

    <div class="col-md-10 col-sm-9 col-xs-9 main-col">
      <div class="header">
        <my-search></my-search>
      </div>

      <div class="main-row">
        <router-outlet></router-outlet>
      </div>

      <footer>
        PeerTube, CopyLeft 2015-2017
      </footer>
    </div>
  </div>
</div>

<my-confirm></my-confirm>
<simple-notifications [options]="notificationOptions"></simple-notifications>
