{{#> base title=(t "Failed to create your export archive")}}
  <p>
    {{t "We are sorry but the generation of your export archive has failed:"}}
  </p>

  <blockquote>{{errorMessage}}</blockquote>

  <p>
    {{t "Please contact your administrator if the problem occurs again."}}
  </p>
{{/base}}
