<ng-template #modal let-hide="close">
  <div class="modal-header">
    <h4 i18n class="modal-title">Support {{ video.account.displayName }}</h4>
    <my-global-icon iconName="cross" aria-label="Close" role="button" (click)="hide()"></my-global-icon>
  </div>

  <div class="modal-body" [innerHTML]="videoHTMLSupport"></div>

  <div class="modal-footer inputs">
    <input
      type="button" role="button" i18n-value value="Maybe later" class="action-button action-button-cancel"
      (click)="hide()" (key.enter)="hide()"
    >
  </div>
</ng-template>
