@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

.action-button-cancel {
  margin-right: 0 !important;
}

.qr-code-group {
  text-align: center;
}

.start-at {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
