<div bsModal #modal="bs-modal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <span class="close" aria-hidden="true" (click)="hide()"></span>
        <h4 i18n class="modal-title">Share</h4>
      </div>

      <div class="modal-body">
        <div class="form-group">
          <label i18n>URL</label>
          <div class="input-group input-group-sm">
            <input #urlInput (click)="urlInput.select()" type="text" class="form-control input-sm readonly" readonly [value]="getVideoUrl()" />
            <div class="input-group-btn" placement="bottom right">
              <button [ngxClipboard]="urlInput" (click)="activateCopiedMessage()" type="button" class="btn btn-default btn-search">
                <span class="glyphicon glyphicon-copy"></span>
              </button>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label i18n>Embed</label>
          <div class="input-group input-group-sm">
            <input #shareInput (click)="shareInput.select()" type="text" class="form-control input-sm readonly" readonly [value]="getVideoIframeCode()" />
            <div class="input-group-btn" placement="bottom right">
              <button [ngxClipboard]="shareInput" (click)="activateCopiedMessage()" type="button" class="btn btn-default btn-search">
                <span class="glyphicon glyphicon-copy"></span>
              </button>
            </div>
          </div>
        </div>

        <div i18n *ngIf="notSecure()" class="alert alert-warning">
          The url is not secured (no HTTPS), so the embed video won't work on HTTPS websites (web browsers block non secured HTTP requests on HTTPS websites).
        </div>

        <div class="form-group inputs">
          <span i18n class="action-button action-button-cancel" (click)="hide()">
            Cancel
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
