<div bsModal #modal="bs-modal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <span class="close" aria-hidden="true" (click)="hide()"></span>
        <h4 i18n class="modal-title">Download video</h4>
      </div>

      <div class="modal-body">
        <div class="peertube-select-container">
          <select [(ngModel)]="resolutionId">
            <option *ngFor="let file of video.files" [value]="file.resolution.id">{{ file.resolution.label }}</option>
          </select>
        </div>

        <div class="download-type">
          <div class="peertube-radio-container">
            <input type="radio" name="download" id="download-torrent" [(ngModel)]="downloadType" value="torrent">
            <label i18n for="download-torrent">Torrent</label>
          </div>

          <div class="peertube-radio-container">
            <input type="radio" name="download" id="download-direct" [(ngModel)]="downloadType" value="direct">
            <label i18n for="download-direct">Direct download</label>
          </div>
        </div>

        <div class="form-group inputs">
          <span i18n class="action-button action-button-cancel" (click)="hide()">
            Cancel
          </span>

          <input
            type="submit" i18n-value value="Download" class="action-button-submit"
            (click)="download()"
          >
        </div>
      </div>
    </div>
  </div>
</div>
