<div bsModal #modal="bs-modal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <span class="close" aria-hidden="true" (click)="hide()"></span>
        <h4 i18n class="modal-title">Support</h4>
      </div>

      <div class="modal-body">

        <div [innerHTML]="videoHTMLSupport"></div>

        <div class="form-group inputs">
          <span i18n class="action-button action-button-cancel" (click)="hide()">
            Cancel
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
