<ng-template #modal let-hide="close">
  <div class="modal-header">
    <h4 i18n class="modal-title">Download video</h4>
    <span class="close" aria-hidden="true" (click)="hide()"></span>
  </div>

  <div class="modal-body">
    <div class="peertube-select-container">
      <select [(ngModel)]="resolutionId">
        <option *ngFor="let file of video.files" [value]="file.resolution.id">{{ file.resolution.label }}</option>
      </select>
    </div>

    <div class="download-type">
      <div class="peertube-radio-container">
        <input type="radio" name="download" id="download-direct" [(ngModel)]="downloadType" value="direct">
        <label i18n for="download-direct">Direct download</label>
      </div>

      <div class="peertube-radio-container">
        <input type="radio" name="download" id="download-torrent" [(ngModel)]="downloadType" value="torrent">
        <label i18n for="download-torrent">Torrent (.torrent file)</label>
      </div>

      <div class="peertube-radio-container">
        <input type="radio" name="download" id="download-magnet" [(ngModel)]="downloadType" value="magnet">
        <label i18n for="download-magnet">Torrent (magnet link)</label>
      </div>
    </div>
  </div>

  <div class="modal-footer inputs">
    <span i18n class="action-button action-button-cancel" (click)="hide()">
      Cancel
    </span>

    <input
      type="submit" i18n-value value="Download" class="action-button-submit"
      (click)="download()"
    >
  </div>
</ng-template>
