@use '_variables' as *;
@use '_mixins' as *;
@use '_form-mixins' as *;

.logs {
  font-family: monospace;
  font-size: 13px;
  max-height: 500px;
  overflow-y: auto;
  color: #000;
  background: rgb(250, 250, 250);
  padding: 20px;

  > div {
    position: relative;
  }

  .log-row {
    margin-top: 1px;
    word-break: break-word;

    &:hover {
      background: rgba(0, 0, 0, 0.07);
    }
  }

  .log-level {
    font-weight: $font-semibold;

    @include margin-right(5px);
  }

  .log-by {
    margin: 0 5px;
  }

  .warn {
    color: #C74801;
  }

  .error {
    color: #DC262B;
  }

  pre {
    margin-bottom: 5px;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
}

.header {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-bottom: 10px;

  .peertube-select-container {
    @include peertube-select-container(150px);
  }

  my-select-tags {
    display: block;
    width: 325px;
  }

  > * {
    margin-bottom: 10px;

    @include margin-left(10px);
  }
}

.level-choice {
  font-size: 14px;
  position: relative;
  top: -1px;

  &.debug {
    color: rgb(197, 197, 197);
  }

  &.info {
    color: rgb(136, 204, 247);
  }

  &.warn {
    color: rgb(252, 166, 7);
  }

  &.error {
    color: pvar(--red);
  }
}

my-copy-button {
  position: absolute;
  right: 5px;
  background: pvar(--bg-secondary-300);
}

@include on-small-main-col {
  .header {
    flex-direction: column;

    > * {
      width: 100% !important;

      @include margin-left(0 !important);
    }

    my-button {
      text-align: center;
    }
  }
}
