@import '_variables';
@import '_mixins';

.logs {
  font-family: monospace;
  font-size: 13px;
  max-height: 500px;
  overflow-y: auto;
  background: rgba(0, 0, 0, 0.03);
  padding: 20px;

  .log-row {
    margin-top: 1px;
    word-break: break-word;

    &:hover {
      background: rgba(0, 0, 0, 0.07);
    }
  }

  .log-level {
    font-weight: $font-semibold;
    margin-right: 5px;
  }

  .log-by {
    margin: 0 5px;
  }

  .warn {
    color: pvar(--mainColor);
  }

  .error {
    color: $red;
  }

  pre {
    margin-bottom: 5px;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
}

.header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;

  .peertube-select-container {
    @include peertube-select-container(150px);
  }

  my-button,
  .peertube-select-container {
    margin-left: 10px;
  }
}

@media screen and (max-width: $small-view) {
  .header {
    flex-direction: column;

    .peertube-select-container,
    my-button {
      width: 100% !important;
      margin-left: 0px !important;
      margin-bottom: 10px !important;
    }

    my-button {
      text-align: center;
    }
  }
}

@media screen and (max-width: #{$small-view + $menu-width}) {
  :host-context(.main-col:not(.expanded)) {
    .header {
      flex-direction: column;

      .peertube-select-container,
      my-button {
        width: 100% !important;
        margin-left: 0px !important;
        margin-bottom: 10px !important;
      }

      my-button {
        text-align: center;
      }
    }
  }
}
