@use '_variables' as *;
@use '_mixins' as *;
@use '_miniature' as *;

.section-title {
  // make the element span a full grid row within .videos grid
  grid-column: 1 / -1;
}

.margin-content {
  @include grid-videos-miniature-layout-with-margins;
}

.section {
  &:first-child {
    padding-top: 15px;

    .section-title {
      border-top: 0 !important;
    }
  }

  .section-title {
    @include font-size(1.5rem);
    @include padding-top(1.25rem);
    @include margin-bottom(2rem);

    &:not(h2) {
      border-top: 1px solid $separator-border-color;
    }

    a > h2 {
      margin-bottom: 0;
      display: inline-block;
      font-weight: $font-bold;
    }

    my-actor-avatar {
      display: inline-block;
      vertical-align: text-top;

      @include margin-right(8px);
    }
  }

  @media screen and (max-width: $mobile-view) {
    max-height: initial;
    overflow: initial;

    .section-title {
      @include margin-left(10px);
    }
  }
}
