<div class="margin-content">
  <div i18n class="title-page title-page-single">
    Update {{ video?.name }}
  </div>

  <form novalidate [formGroup]="form">

    <my-video-edit
      [form]="form" [formErrors]="formErrors" [schedulePublicationPossible]="schedulePublicationPossible"
      [validationMessages]="validationMessages" [videoPrivacies]="videoPrivacies" [userVideoChannels]="userVideoChannels"
      [videoCaptions]="videoCaptions"
    ></my-video-edit>

    <div class="submit-container">
      <div class="submit-button" (click)="update()" [ngClass]="{ disabled: !form.valid || isUpdatingVideo === true }">
        <span class="icon icon-validate"></span>
        <input type="button" i18n-value value="Update" />
      </div>
    </div>
  </form>
</div>
