@import '_variables';
@import '_mixins';

$border-width: 3px;
$border-type: solid;
$border-color: #EAEAEA;

.margin-content {
  padding-top: 50px;
}

.alert {
  font-size: 15px;
}

::ng-deep .root-tabset.video-add-tabset {
  margin-top: 50px;

  &.hide-nav > .nav {
    display: none !important;
  }

  & > .nav {
    border-bottom: $border-width $border-type $border-color;
    margin: 0 !important;

    & > li {
      margin-bottom: -$border-width;
    }

    a.nav-link {
      @include disable-default-a-behaviour;

      height: 40px !important;
      padding: 0 30px !important;
      font-size: 15px;

      &.active {
        border: $border-width $border-type $border-color;
        border-bottom: none;
        background-color: var(--submenuColor) !important;

        span {
          border-bottom: 2px solid var(--mainColor);
          font-weight: $font-bold;
        }
      }
    }
  }

  .upload-video-container {
    border: $border-width $border-type $border-color;
    border-top: none;

    background-color: var(--submenuColor);
    border-radius: 3px;
    width: 100%;
    min-height: 440px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
