<div class="margin-content">
  <div class="title-page title-page-single">
    <span class="mr-1" i18n>Update</span>
    <a [routerLink]="[ '/videos/watch', video.uuid ]">{{ video?.name }}</a>
  </div>

  <form novalidate [formGroup]="form">

    <my-video-edit
      [form]="form" [formErrors]="formErrors" [schedulePublicationPossible]="schedulePublicationPossible"
      [validationMessages]="validationMessages" [userVideoChannels]="userVideoChannels"
      [videoCaptions]="videoCaptions" [waitTranscodingEnabled]="waitTranscodingEnabled"
    ></my-video-edit>

    <div class="submit-container">
      <div class="submit-button" (click)="update()" [ngClass]="{ disabled: !form.valid || isUpdatingVideo === true }">
        <my-global-icon iconName="validate"></my-global-icon>
        <input type="button" i18n-value value="Update" />
      </div>
    </div>
  </form>
</div>
