<div class="margin-content">
  <div class="title-page title-page-single">
    <ng-container *ngIf="secondStepType === 'import'" i18n>Import {{ videoName }}</ng-container>
    <ng-container *ngIf="secondStepType === 'upload'" i18n>Upload {{ videoName }}</ng-container>
  </div>

  <tabset class="video-add-tabset root-tabset bootstrap" [ngClass]="{ 'hide-nav': secondStepType !== undefined }">

    <tab i18n-heading heading="Upload a file">
      <my-video-upload #videoUpload (firstStepDone)="onFirstStepDone('upload', $event)"></my-video-upload>
    </tab>

    <tab *ngIf="isVideoImportHttpEnabled()" i18n-heading heading="Import with URL">
      <my-video-import-url #videoImportUrl (firstStepDone)="onFirstStepDone('import-url', $event)"></my-video-import-url>
    </tab>

    <tab *ngIf="isVideoImportTorrentEnabled()" i18n-heading heading="Import with torrent">
      <my-video-import-torrent #videoImportTorrent (firstStepDone)="onFirstStepDone('import-torrent', $event)"></my-video-import-torrent>
    </tab>
  </tabset>
</div>
