<div class="margin-content">
  <div class="title-page title-page-single">
    Update {{ video?.name }}
  </div>

  <form novalidate [formGroup]="form">

    <my-video-edit
      [form]="form" [formErrors]="formErrors"
      [validationMessages]="validationMessages" [videoPrivacies]="videoPrivacies"
    ></my-video-edit>

    <div class="submit-container">
      <div class="submit-button" (click)="update()" [ngClass]="{ disabled: !form.valid }">
        <span class="icon icon-validate"></span>
        <input type="button" value="Update" />
      </div>
    </div>
  </form>
</div>
