<div class="margin-content">
  <div class="title-page title-page-single">
    <ng-container *ngIf="secondStepType === 'import-url' || secondStepType === 'import-torrent'" i18n>Import {{ videoName }}</ng-container>
    <ng-container *ngIf="secondStepType === 'upload'" i18n>Upload {{ videoName }}</ng-container>
  </div>

  <ngb-tabset class="video-add-tabset root-tabset bootstrap" [ngClass]="{ 'hide-nav': secondStepType !== undefined }">

    <ngb-tab i18n-title title="">
      <ng-template ngbTabTitle><span i18n>Upload a file</span></ng-template>
      <ng-template ngbTabContent>
        <my-video-upload #videoUpload (firstStepDone)="onFirstStepDone('upload', $event)"></my-video-upload>
      </ng-template>
    </ngb-tab>

    <ngb-tab *ngIf="isVideoImportHttpEnabled()">
      <ng-template ngbTabTitle><span i18n>Import with URL</span></ng-template>
      <ng-template ngbTabContent>
        <my-video-import-url #videoImportUrl (firstStepDone)="onFirstStepDone('import-url', $event)"></my-video-import-url>
      </ng-template>
    </ngb-tab>

    <ngb-tab *ngIf="isVideoImportTorrentEnabled()">
      <ng-template ngbTabTitle><span i18n>Import with torrent</span></ng-template>
      <ng-template ngbTabContent>
        <my-video-import-torrent #videoImportTorrent (firstStepDone)="onFirstStepDone('import-torrent', $event)"></my-video-import-torrent>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
