<div class="margin-content">
  <div class="title-page title-page-single">
    <ng-container *ngIf="secondStepType === 'import'" i18n>Import {{ videoName }}</ng-container>
    <ng-container *ngIf="secondStepType === 'upload'" i18n>Upload {{ videoName }}</ng-container>
  </div>

  <tabset class="video-add-tabset root-tabset bootstrap" [ngClass]="{ 'hide-nav': secondStepType !== undefined }">

    <tab i18n-heading heading="Upload your video">
      <my-video-upload #videoUpload (firstStepDone)="onFirstStepDone('upload', $event)"></my-video-upload>
    </tab>

    <tab *ngIf="isVideoImportEnabled()" i18n-heading heading="Import your video">
      <my-video-import #videoImport (firstStepDone)="onFirstStepDone('import', $event)"></my-video-import>
    </tab>
  </tabset>
</div>
