@use '_variables' as *;
@use '_mixins' as *;

.alert {
  font-size: 15px;
  text-align: center;
}

.signup-disabled {
  padding-top: 30vh;
}

.wrapper {
  display: flex;
  flex-direction: column;

  .register-form {
    max-width: 600px;
    align-self: center;
  }

  .register-form,
  .instance-information {
    width: 100%;
  }

  .instance-information {
    margin-bottom: 15px;
  }
}

input:not([type=submit]) {
  @include peertube-input-text(100%);
  display: block;

  &#username,
  &#name {
    width: auto !important;
    flex-grow: 1;
  }
}

input[type=submit],
button {
  @include peertube-button;

  &[cdkStepperNext] {
    @include orange-button;

    // Chrome does not support inline-end
    float: right;
    float: inline-end;
  }

  &[cdkStepperPrevious] {
    @include grey-button;

    // Chrome does not support inline-start
    float: left;
    float: inline-start;
  }
}

.name-information {
  margin-top: 10px;
}

.done-loader {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  my-loader {
    margin-bottom: 20px;

    ::ng-deep .loader div {
      border-color: pvar(--mainColor) transparent transparent transparent;
    }

    + div {
      font-size: 15px;
    }
  }
}
