@import '_variables';
@import '_mixins';
@import "./_bootstrap-variables";

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

.alert {
  font-size: 15px;
  text-align: center;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  & > div {
    margin-bottom: 40px;

    &.register-form {
      width: 450px;
      @media screen and (max-width: mobile-view) {
        width: 100%;
      }
    }

    &.instance-information {
      width: 600px;
      margin-bottom: 40px;

      .block {
        font-size: 15px;
        margin-bottom: 15px;
        padding: 0 $btn-padding-x;
      }

      @media screen and (max-width: 1500px) {
        width: 450px;
      }
@media screen and (max-width: mobile-view) {
        width: 100%;
      }
      ngb-accordion ::ng-deep {
        .btn {
          font-weight: $font-semibold !important;
          color: pvar(--mainForegroundColor) !important;
        }
      }
    }

  
  }
}

.form-group-terms {
  margin: 30px 0;
  @media screen and (max-width: mobile-view) {
        width: 100%;
      }
}

.input-group {
  @include peertube-input-group(400px);
  @media screen and (max-width: mobile-view) {
        width: 100%;
      }
}

.input-group-append {
  height: 30px;
  @media screen and (max-width: mobile-view) {
        width: 100%;
      }
}

input:not([type=submit]) {
  @include peertube-input-text(400px);
@media screen and (max-width: mobile-view) {
        width: 100%;
      }
  display: block;

  &#username,
  &#name {
    width: auto !important;
    flex-grow: 1;
  }
}

input[type=submit],
button {
  @include peertube-button;
  @include orange-button;
  
}

.name-information {
  margin-top: 10px;
}

.done-loader {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  my-loader {
    margin-bottom: 20px;

    ::ng-deep .loader div {
      border-color: pvar(--mainColor) transparent transparent transparent;
    }

    & + div {
      font-size: 15px;
    }
  }
}
