@use '_variables' as *;
@use '_mixins' as *;

my-signup-step-title strong {
  font-weight: $font-bold;
}

.signup-disabled {
  padding-top: 30vh;
}

.title-page-v2 {
  background-color: pvar(--mainColorVeryLight);
  margin: 0;
  padding-bottom: 10px;
}

my-instance-about-accordion {
  display: block;
  margin-bottom: 30px;
}

.step-buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .skip-step {
    display: inline-block;

    @include margin-right(30px);
  }

  .skip-step-description {
    margin-top: 5px;
    font-size: 14px;
  }

  .underline-orange {
    color: pvar(--mainForegroundColor);

    &:hover {
      opacity: 0.8;
    }
  }

  > button {
    @include peertube-button-big;

    &[cdkStepperNext] {
      @include orange-button;
    }

    &[cdkStepperPrevious] {
      @include grey-button;
    }
  }

  > button,
  .skip-step {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .skip-step,
  button[cdkStepperNext] {
    @include margin-left(auto);
  }

  .skip-step + button[cdkStepperNext] {
    @include margin-left(0);
  }
}

.done-loader {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  my-loader {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: $small-view) {
  .step-buttons {
    justify-content: space-between;

    .skip-step,
    button[cdkStepperNext] {
      @include margin-left(0);
    }
  }
}
