@use '_variables' as *;
@use '_mixins' as *;

.actor {
  display: flex;
}

.actor-info {
  display: inline-flex;
  flex-direction: column;
}

.actor-info-display-name {
  @include peertube-word-wrap;
  @include font-size(1.25rem);

  font-weight: $font-bold;

  @media screen and (max-width: $small-view) {
    @include font-size(18px);
  }
}

.actor-info-username {
  position: relative;
  font-size: 14px;
  color: pvar(--greyForegroundColor);
}

.actor-info-followers {
  padding-bottom: .5rem;
}

.actor-img-edit-button {
  border-radius: 50%;

  position: absolute;
  bottom: 5px;
  right: 5px;
}

.dropdown-item {
  @include dropdown-with-icon-item;
}

.dropdown-toggle::after {
  display: none;
}
