<div class="root" [ngStyle]="{ 'flex-direction': flexDirection }">
  <textarea
      [(ngModel)]="content" (ngModelChange)="onModelChange()"
      [ngClass]="classes" [ngStyle]="{ width: textareaWidth, height: textareaHeight, 'margin-right': textareaMarginRight }"
      id="description" name="description">
  </textarea>

  <tabset *ngIf="arePreviewsDisplayed()" class="previews">
    <tab *ngIf="truncate !== undefined" heading="Truncated preview" [innerHTML]="truncatedPreviewHTML"></tab>
    <tab heading="Complete preview" [innerHTML]="previewHTML"></tab>
  </tabset>
</div>
