<div class="root" [ngClass]="{ 'maximized': isMaximized }" [ngStyle]="{ 'max-width': textareaMaxWidth }">
  <textarea #textarea
    [(ngModel)]="content" (ngModelChange)="onModelChange()"
    class="form-control" [ngClass]="classes"
    [ngStyle]="{ height: textareaHeight }"
    [id]="name" [name]="name">
  </textarea>

  <div ngbNav #nav="ngbNav" class="nav-pills nav-preview">
    <ng-container ngbNavItem *ngIf="truncate !== undefined">
      <a ngbNavLink i18n>Truncated preview</a>

      <ng-template ngbNavContent>
        <div [innerHTML]="truncatedPreviewHTML"></div>
      </ng-template>
    </ng-container>

    <ng-container ngbNavItem>
      <a ngbNavLink i18n>Complete preview</a>

      <ng-template ngbNavContent>
        <div [innerHTML]="previewHTML"></div>
      </ng-template>
    </ng-container>

    <my-button
      *ngIf="!isMaximized" icon="fullscreen" (click)="onMaximizeClick()"
    ></my-button>

    <my-button
      *ngIf="isMaximized" icon="exit-fullscreen" (click)="onMaximizeClick()"
    ></my-button>
  </div>

  <div [ngbNavOutlet]="nav"></div>
</div>
