@import '_variables';
@import '_mixins';

.form-group {
  display: flex;

  .form-group-checkbox {
    display: flex;

    span {
      font-weight: $font-regular;
      margin: 0;
    }

    input {
      @include peertube-checkbox(1px);

      width: 10px;
      margin-right: 10px;
    }
  }

  my-help {
    position: relative;
    top: -2px;
  }
}