<div
  *ngIf="areActionsDisplayed(actions, entry)" class="dropdown-root"
  ngbDropdown (openChange)="openChange.emit($event)" [placement]="placement" [container]="container"
>
  <button
    class="action-button peertube-button border-0"
    [ngClass]="{ 'icon-only': !label, 'peertube-button-small': buttonSize === 'small', 'secondary-button': buttonStyled && theme === 'secondary', 'primary-button': buttonStyled && theme === 'primary' }"
    ngbDropdownToggle aria-label="Open actions" i18n-aria-label
  >
    @if (label) {
      <span class="dropdown-toggle">{{ label }}</span>
    } @else if (buttonDirection === 'horizontal') {
      <my-global-icon class="more-icon" iconName="more-horizontal"></my-global-icon>
    } @else if (buttonDirection === 'vertical') {
      <my-global-icon class="more-icon" iconName="more-vertical"></my-global-icon>
    }
  </button>

  <div ngbDropdownMenu class="dropdown-menu">
    <ng-container *ngFor="let actions of getActions()">

      <ng-container *ngFor="let action of actions">
        <div [ngClass]="action.class" *ngIf="isBlockDisplayed(actions, action, entry)">

          <ng-template #templateActionLabel let-action>
            <my-global-icon *ngIf="action.iconName" [iconName]="action.iconName" [ngClass]="'icon-' + action.iconName" aria-hidden="true"></my-global-icon>

            <div class="item-label">
              <span>
                {{ action.label }}

                <my-global-icon
                  *ngIf="action.ownerOrModeratorPrivilege && action.ownerOrModeratorPrivilege()" iconName="shield"
                  class="owner-moderator-privilege"
                  [ngbTooltip]="action.ownerOrModeratorPrivilege()"
                ></my-global-icon>
              </span>

              <small class="muted" *ngIf="action.description">{{ action.description }}</small>
            </div>
          </ng-template>

          @if (action.linkBuilder) {
            @if (!action.isHeader) {
              <a
                [ngClass]="{ 'with-icon': !!action.iconName }"
                class="dropdown-item"  [routerLink]="action.linkBuilder(entry)" [queryParams]="getQueryParams(action, entry)" [title]="action.title || ''"
              >
                <ng-container *ngTemplateOutlet="templateActionLabel; context:{ $implicit: action }"></ng-container>
              </a>
            }
          } @else {
            @if (!action.isHeader) {
              <span
                [ngClass]="{ 'with-icon': !!action.iconName }"
                class="custom-action dropdown-item" tabindex="0" role="button" [title]="action.title || ''"
                (click)="action.handler(entry)" (keyup.enter)="action.handler(entry)"
              >
                <ng-container *ngTemplateOutlet="templateActionLabel; context:{ $implicit: action }"></ng-container>
              </span>
            } @else if (areActionsDisplayed(actions, entry)) {
              <h6 [ngClass]="{ 'with-icon': !!action.iconName }" class="dropdown-header" [title]="action.title || ''">
                <ng-container *ngTemplateOutlet="templateActionLabel; context:{ $implicit: action }"></ng-container>
              </h6>
            }
          }
        </div>
      </ng-container>

      <div *ngIf="areActionsDisplayed(actions, entry)" class="dropdown-divider"></div>

    </ng-container>
  </div>
</div>
