@use "_variables" as *;
@use "_mixins" as *;
@use "_button-mixins" as *;

.dropdown-divider:last-child {
  display: none;
}

.action-button {
  display: inline-block;

  &::after {
    display: none;
  }

  &.icon-only {
    @include button-with-icon(21px, 0, 0);
  }
}

// So we can style the chevron color
button {
  color: inherit;
}

.chevron-down {
  color: inherit;
}

.primary-button {
  --co-fg: #{pvar(--on-primary-300)};
  --co-active-fg: #{pvar(--on-primary)};
}

.secondary-button {
  --co-fg: #{pvar(--fg-300)};
  --co-active-fg: #{pvar(--fg)};
}

.dropdown-toggle {
  .chevron-down {
    color: var(--co-fg);

    &:hover,
    &:active,
    &:focus,
    &:focus-visible {
      color: var(--co-active-fg);
    }
  }

  &::after {
    display: none;
  }
}

.dropdown-menu {
  max-width: 75vw;

  .dropdown-header {
    padding: 0.2rem 1rem;
  }

  .dropdown-item {
    display: flex;
    cursor: pointer;

    &.with-icon {
      @include dropdown-with-icon-item;

      .icon-video-lang {
        top: 0;
      }
    }

    a,
    span {
      display: block;
      width: 100%;
    }
  }
}

.item-label {
  display: flex;
  flex-direction: column;
  min-width: 1px;
}

.action-description {
  max-width: 300px;
  white-space: normal;
}

.owner-moderator-privilege {
  margin: 0 !important;
  width: 13px !important;
  top: -1px !important;

  @include margin-left(0.5rem !important);
}
