@use '_variables' as *;
@use '_mixins' as *;
@use '_button-mixins' as *;

.dropdown-divider:last-child {
  display: none;
}

.action-button {
  display: inline-block;

  &::after {
    display: none;
  }

  &.icon-only {
    @include button-with-icon(21px, 0, 0);
  }
}

.dropdown-toggle::after {
  position: relative;
  top: 1px;
}

.dropdown-menu {
  max-width: 75vw;

  .dropdown-header {
    padding: 0.2rem 1rem;
  }

  .dropdown-item {
    display: flex;
    cursor: pointer;

    &.with-icon {
      @include dropdown-with-icon-item;

      .icon-video-lang {
        top: 0;
      }
    }

    a,
    span {
      display: block;
      width: 100%;
    }
  }
}

.item-label {
  display: flex;
  flex-direction: column;
  min-width: 1px;

  > * {
    @include ellipsis;
  }
}

.owner-moderator-privilege {
  margin: 0 !important;
  width: 13px !important;

  @include margin-left(0.25rem !important);
}
