@use '_variables' as *;
@use '_mixins' as *;
@use '_button-mixins' as *;

:host {
  display: inline-block;
}

.action-button {
  width: 100%; // useful for ellipsis, allow to define a max-width on host component

  my-loader.displayed {
    display: inline-flex;
    vertical-align: middle;
    margin-top: -1px;

    @include margin-right(3px);
  }

  &:not(.rounded-icon-button) {
    &.has-icon {
      @include button-with-icon(24px, 0);
    }
  }
}

@mixin responsive-label {
  .action-button {
    padding: pvar(--input-y-padding) 8px !important;
  }

  .button-label {
    display: none;
  }
}

// In a table, try to minimize the space taken by this button
@media screen and (max-width: 1400px) {
  :host-context(td) {
    @include responsive-label;
  }
}

@media screen and (max-width: $small-view) {
  .responsive-label {
    @include responsive-label;
  }
}
