@use '_variables' as *;
@use '_mixins' as *;

button:not(.with-border, .is-input-group) {
  border: 0;
}

.is-input-group {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

my-global-icon {
  @include global-icon-size(15px);
  @include margin-right(5px);
}
