@use '_variables' as *;
@use '_mixins' as *;

.help-tooltip-button {
  my-global-icon {
    color: pvar(--fg-400);

    @include global-icon-size(18px);
  }
}

::ng-deep {
  .help-popover {
    border: 0;
    min-width: 200px;
    max-width: 300px;

    .popover-body {
      padding: 1rem;
      border-radius: 14px;

      .help-title {
        display: block;
        margin-bottom: 0.5rem;

        @include font-size(20px);
      }

      p {
        margin-bottom: 0;
      }

      ul {
        margin-bottom: 0;

        @include padding-left(20px);
      }
    }
  }
}
