<my-signup-step-title mascotImageName="success" i18n>
  <strong>Welcome</strong>
  <div>on {{ instanceName }}</div>
</my-signup-step-title>

<div class="alert pt-alert-primary">
  <p i18n>Your account has been created!</p>

  <p i18n *ngIf="requiresEmailVerification">
    <strong>Check your emails</strong> to validate your account and complete your inscription.
  </p>

  <ng-container *ngIf="!requiresEmailVerification">
    <p i18n>
      If you need help to use PeerTube, you can have a look at the <a class="link-orange" href="https://docs.joinpeertube.org/use-setup-account" target="_blank" rel="noopener noreferrer">documentation</a>.
    </p>

    <p i18n>
      To help moderators and other users to know <strong>who you are</strong>, don't forget to <a class="link-orange" routerLink="/my-account/settings">set up your account profile</a> by adding an <strong>avatar</strong> and a <strong>description</strong>.
    </p>
  </ng-container>
</div>
