<my-videos-selection
  [pagination]="pagination"
  [(selection)]="selection"
  [(videosModel)]="videos"
  [miniatureDisplayOptions]="miniatureDisplayOptions"
  [titlePage]="titlePage"
  [getVideosObservableFunction]="getVideosObservableFunction"
>
  <ng-template ptTemplate="globalButtons">
    <span class="action-button action-button-unblacklist-selection" (click)="removeSelectedVideosFromBlacklist()">
      <my-global-icon iconName="tick"></my-global-icon>
      <ng-container i18n>Unblacklist</ng-container>
    </span>
  </ng-template>

  <ng-template ptTemplate="rowButtons" let-video>
    <my-button i18n-label label="Unblacklist" icon="tick" (click)="removeVideoFromBlacklist(video)"></my-button>
  </ng-template>

</my-videos-selection>
