<div class="user">
  <img [src]="getAvatarUrl()" alt="Avatar" />

  <div class="user-info">
    <div class="user-info-username">{{ user.username }}</div>
    <div class="user-info-followers">{{ user.account?.followersCount }} subscribers</div>
  </div>
</div>

<div class="button-file">
  <span>Change your avatar</span>
  <input #avatarfileInput type="file" name="avatarfile" id="avatarfile" [accept]="avatarExtensions" (change)="changeAvatar()" />
</div>
<div class="file-max-size">(extensions: {{ avatarExtensions }}, max size: {{ maxAvatarSize | bytes }})</div>

<div class="account-title">Account settings</div>
<my-account-change-password></my-account-change-password>

<div class="account-title">Videos</div>
<my-account-details [user]="user"></my-account-details>
