.user-info {
  font-size: 20px;
  font-weight: $font-bold;
}

.account-title {
  text-transform: uppercase;
  color: $orange-color;
  font-weight: $font-bold;
  font-size: 13px;
  margin-top: 55px;
  margin-bottom: 30px;
}
