extends ../common/greetings

block title
  | New PeerTube version available

block content
  p
    | A new version of PeerTube is available: #{latestVersion}.
    | You can check the latest news on #[a(href="https://joinpeertube.org/news") JoinPeerTube].
