@import '_variables';
@import '_mixins';

input[type=text] {
  @include peertube-input-text(300px);
}

.video-channel {
  @include row-blocks;

  img {
    @include avatar(80px);

    margin-right: 10px;
  }

  .video-channel-info {
    flex-grow: 1;

    a.video-channel-names {
      @include disable-default-a-behaviour;

      width: fit-content;
      display: flex;
      align-items: baseline;
      color: pvar(--mainForegroundColor);

      .video-channel-display-name {
        font-weight: $font-semibold;
        font-size: 18px;
      }

      .video-channel-name {
        font-size: 14px;
        color: $grey-actor-name;
        margin-left: 5px;
      }
    }
  }

  .actor-owner {
    @include actor-owner;

    margin-top: 0;
  }
}

.video-subscriptions-header {
  margin-bottom: 30px;
}

@media screen and (max-width: $small-view) {
  .video-channel {
    .video-channel-info {
      padding-bottom: 10px;
      text-align: center;

      .video-channel-names {
        flex-direction: column;
        align-items: center !important;
        margin: auto;
      }
    }

    img {
      margin-right: 0;
    }
  }
}

@media screen and (max-width: $mobile-view) {
  .video-subscriptions-header {
    flex-direction: column;

    input[type=text] {
      width: 100% !important;
    }
  }
}


