@use '_variables' as *;
@use '_mixins' as *;

label {
  @include font-size(18px);

  display: block;
  margin-bottom: 5px;
}

input[type=text],
input[type=email] {
  @include peertube-input-text(100%);
}

.wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;

  > div {
    flex: 1 1;
  }
}

.wrapper,
.alert {
  max-width: 1200px;
}

.alert {
  @include margin(0, auto, 2rem);
}

.login-form-and-externals {
  @include margin-left(10px);
  @include margin-right(10px);
  @include margin-bottom(2.5rem);

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 450px;
}

.external-login-blocks {
  min-width: 200px;
  text-align: center;

  .external-login-block {
    @include disable-default-a-behaviour;

    cursor: pointer;
    border: 1px solid #d1d7e0;
    border-radius: 5px;
    color: pvar(--mainForegroundColor);
    margin: 10px 10px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 35px;
    min-width: 100px;

    &:hover {
      background-color: rgba(209, 215, 224, 0.5);
    }
  }
}

.instance-information {
  @include margin-left(10px);
  @include margin-right(10px);
  @include margin-bottom(2.5rem);
  @include rfs (22rem, min-width);

  max-width: 600px;
}

.terms-anchor {
  display: inline;
}

.terms-link {
  display: none;
}

@include on-small-main-col {
  .wrapper {
    flex-direction: column-reverse;

    .login-form-and-externals,
    .instance-information {
      @include margin-left(0);
      @include margin-right(0);

      width: 100%;
      max-width: 450px;
      min-width: unset;
      align-self: center;
    }

    .instance-information {
      ::ng-deep .accordion {
        display: none;
      }
    }

    .terms-anchor {
      display: none;
    }

    .terms-link {
      display: inline;
    }
  }
}
