@import '_variables';
@import '_mixins';

label {
  display: block;
}

input:not([type=submit]) {
  @include peertube-input-text(340px);
  display: inline-block;
  margin-right: 5px;

}

input[type=submit] {
  @include peertube-button;
  @include orange-button;
}

.create-an-account, .forgot-password-button {
  color: pvar(--mainForegroundColor);
  cursor: pointer;
  transition: opacity cubic-bezier(0.39, 0.575, 0.565, 1);

  &:hover {
    text-decoration: none !important;
    opacity: .7 !important;
  }
}

.login-form-and-externals {
  display: flex;
  flex-wrap: wrap;
  font-size: 15px;

  form {
    margin: 0 50px 20px 0;
  }

  .external-login-blocks {
    min-width: 200px;

    .block-title {
      font-weight: $font-semibold;
    }

    .external-login-block {
      @include disable-default-a-behaviour;

      cursor: pointer;
      border: 1px solid #d1d7e0;
      border-radius: 5px;
      color: pvar(--mainForegroundColor);
      margin: 10px 10px 0 0;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 35px;
      min-width: 100px;

      &:hover {
        background-color: rgba(209, 215, 224, 0.5)
      }
    }
  }
}
