@import '_variables';
@import '_mixins';
@import './_bootstrap-variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

label {
  display: block;
}

input:not([type=submit]) {
  @include peertube-input-text(340px);
  display: inline-block;
  margin-right: 5px;

}

input[type=submit] {
  @include peertube-button;
  @include orange-button;
}

.modal-body {
  text-align: left;

  .forgot-password-instructions {
    margin-bottom: 20px;
  }
}

.modal-footer.inputs {
  .action-button.action-button-cancel {
    width: auto !important;
    display: inline-block;
  }
}

@media screen and (max-width: #{map-get($container-max-widths, sm)}) {
  .modal-body {
    #forgot-password-email {
      width: 100%;
    }
  }

  .modal-footer.inputs {
    .action-button.action-button-cancel {
      display: none;
    }
  }
}

.create-an-account, .forgot-password-button {
  color: pvar(--mainForegroundColor);
  cursor: pointer;
  transition: opacity cubic-bezier(0.39, 0.575, 0.565, 1);

  &:hover {
    text-decoration: none !important;
    opacity: .7 !important;
  }
}

.wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  & > div {
    flex: 1 1;
  }

  .login-form-and-externals {
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    max-width: 450px;
    margin-bottom: 40px;
    margin-left: 10px;
    margin-right: 10px;

    form {
      margin: 0;

      &, input {
        width: 100%;
      }

      .additionnal-links {
        display: block;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;

        .forgot-password-button,
        .create-an-account {
          padding: 4px;
          display: inline-block;

          color: var(--mainColor);

          &:hover, &:active {
            color: var(--mainHoverColor);
          }
        }
      }
    }

    .external-login-blocks {
      min-width: 200px;

      .block-title {
        font-weight: $font-semibold;
      }

      .external-login-block {
        @include disable-default-a-behaviour;

        cursor: pointer;
        border: 1px solid #d1d7e0;
        border-radius: 5px;
        color: pvar(--mainForegroundColor);
        margin: 10px 10px 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 35px;
        min-width: 100px;

        &:hover {
          background-color: rgba(209, 215, 224, 0.5)
        }
      }
    }

    .signup-link {
      display: inline-block;
    }
  }

  .instance-information {
    max-width: 600px;
    min-width: 350px;
    margin-bottom: 40px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .terms-anchor {
    display: inline;
  }

  .terms-link {
    display: none;
  }
}

@mixin columnReverseDisplay {
  flex-direction: column-reverse;

  .login-form-and-externals,
  .instance-information {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    max-width: 450px;
    min-width: unset;
    align-self: center;
  }

  .instance-information {
    ::ng-deep .accordion {
      display: none;
    }
  }

  .terms-anchor {
    display: none;
  }

  .terms-link {
    display: inline;
  }
}

@media screen and (max-width: breakpoint(md)) {
  .wrapper {
    @include columnReverseDisplay();
  }
}

@media screen and (max-width: breakpoint(md) + $menu-width) {
  :host-context(.main-col:not(.expanded)) {
    .wrapper {
      @include columnReverseDisplay();
    }
  }
}
