<form novalidate [formGroup]="form" (ngSubmit)="formValidated()">
  <div class="avatar-and-textarea">
    <img [src]="getAvatarUrl()" alt="Avatar" />

    <div class="form-group">
      <textarea i18n-placeholder placeholder="Add comment..." myAutoResize
                [readonly]="(user === null) ? true : false"
                (click)="openVisitorModal($event)"
                formControlName="text" [ngClass]="{ 'input-error': formErrors['text'] }"
                (keyup.control.enter)="onValidKey()" (keyup.meta.enter)="onValidKey()" #textarea>

      </textarea>
      <div *ngIf="formErrors.text" class="form-error">
        {{ formErrors.text }}
      </div>
    </div>
  </div>

  <div class="comment-buttons">
    <button *ngIf="isAddButtonDisplayed()" class="cancel-button" (click)="cancelCommentReply()" type="button" i18n>
      Cancel
    </button>
    <button *ngIf="isAddButtonDisplayed()" [ngClass]="{ disabled: !form.valid || addingComment }" i18n>
      Reply
    </button>
  </div>
</form>

<ng-template #visitorModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title" i18n>You are one step away from commenting</h4>
    <my-global-icon iconName="cross" aria-label="Close" role="button" (click)="hideVisitorModal()"></my-global-icon>
  </div>
  <div class="modal-body">
    <span i18n>
      You can comment using an account on any ActivityPub-compatible instance.
      On most platforms, you can find the video by typing its URL in the search bar and then comment it
      from within the software's interface.
    </span>
    <span i18n>
      If you have an account on Mastodon or Pleroma, you can open it directly in their interface:
    </span>
    <my-remote-subscribe [interact]="true" [uri]="getUri()"></my-remote-subscribe>
  </div>
  <div class="modal-footer inputs">
    <input
      type="button" role="button" i18n-value value="Cancel" class="action-button action-button-cancel"
      (click)="hideVisitorModal()" (key.enter)="hideVisitorModal()"
    >

    <input
      type="submit" i18n-value value="Login to comment" class="action-button-submit"
      (click)="gotoLogin()"
    >
  </div>
</ng-template>
