<h1>
  <my-global-icon iconName="refresh" aria-hidden="true"></my-global-icon>
  <ng-container i18n>My synchronizations</ng-container>
</h1>

<p-table
  [value]="channelsSync" [lazy]="true" [paginator]="totalRecords > 0" [totalRecords]="totalRecords" [rows]="rowsPerPage" [rowsPerPageOptions]="rowsPerPageOptions"
  [sortField]="sort.field" [sortOrder]="sort.order" (onLazyLoad)="loadLazy($event)" dataKey="id"
  [showCurrentPageReport]="true" i18n-currentPageReportTemplate
  currentPageReportTemplate="Showing {{'{first}'}} to {{'{last}'}} of {{'{totalRecords}'}} synchronizations"
  [expandedRowKeys]="expandedRows"
>
  <ng-template pTemplate="caption">
    <div class="caption">
      <div class="left-buttons">
        <a class="add-sync" routerLink="{{ getVideoChannelCreateLink() }}">
          <my-global-icon iconName="add" aria-hidden="true"></my-global-icon>
          <ng-container i18n>Add synchronization</ng-container>
        </a>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 10%"><my-global-icon iconName="columns"></my-global-icon></th>
      <th style="width: 25%" i18n pSortableColumn="externalChannelUrl">External Channel <p-sortIcon field="externalChannelUrl"></p-sortIcon></th>
      <th style="width: 25%" i18n>Channel</th>
      <th style="width: 15%" i18n>State</th>
      <th style="width: 15%" i18n pSortableColumn="createdAt">Created <p-sortIcon field="createdAt"></p-sortIcon></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-expanded="expanded" let-videoChannelSync>
    <tr>
      <td class="action-cell">
        <my-action-dropdown
           container="body"
          [actions]="videoChannelSyncActions" [entry]="videoChannelSync"
        ></my-action-dropdown>
      </td>
      <td>
        <a [href]="videoChannelSync.externalChannelUrl" target="_blank" rel="noopener noreferrer">{{ videoChannelSync.externalChannelUrl }}</a>
      </td>
      <td>
        <a [href]="getChannelUrl(videoChannelSync.id)" target="_blank" rel="noopener noreferrer">{{ getChannelName(videoChannelSync.id) }}</a>
      </td>
      <td>
        <span class="badge" [ngClass]="getVideoChannelSyncStateClass(videoChannelSync.state.id)">
          {{ videoChannelSync.state.label }}
        </span>
      </td>
      <td>{{ videoChannelSync.createdAt | date: 'short' }}</td>

    </tr>
  </ng-template>
</p-table>
