@use '_variables' as *;
@use '_mixins' as *;
@use '_form-mixins' as *;

$width-size: 275px;

.alert.alert-danger {
  text-align: center;

  > div {
    font-weight: $font-semibold;
  }
}

.first-step-block {
  --input-bg: #{pvar(--bg-secondary-500)};

  display: flex;
  flex-direction: column;
  align-items: center;

  .upload-icon {
    width: 90px;
    margin-bottom: 25px;
    color: pvar(--fg-300);
  }

  .peertube-select-container {
    @include peertube-select-container($width-size);
  }

  my-select-channel,
  my-select-options,
  .peertube-radio-container,
  .form-group-description {
    display: block;
    width: $width-size;

    @media screen and (max-width: $width-size) {
      width: 100%;
    }
  }

  .form-group-description {
    white-space: nowrap;
  }

  input[type=text] {
    display: block;

    @include peertube-input-text($width-size);
  }

  .button-file {
    width: max-content;
  }
}
