<div class="admin-sub-header">
  <div class="form-sub-title">Video abuses list</div>
</div>

<p-table
  [value]="videoAbuses" [lazy]="true" [paginator]="true" [totalRecords]="totalRecords" [rows]="rowsPerPage"
  [sortField]="sort.field" [sortOrder]="sort.order" (onLazyLoad)="loadLazy($event)"
>
  <ng-template pTemplate="header">
    <tr>
      <th>Reason</th>
      <th>Reporter</th>
      <th pSortableColumn="createdAt">Created <p-sortIcon field="createdAt"></p-sortIcon></th>
      <th>Video</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-videoAbuse>
    <tr>
      <td>{{ videoAbuse.reason }}</td>
      <td>
        <a [href]="videoAbuse.reporterAccount.url" title="Go to the account" target="_blank" rel="noopener noreferrer">
          {{ createByString(videoAbuse.reporterAccount) }}
        </a>
      </td>
      <td>{{ videoAbuse.createdAt }}</td>
      <td>
        <a [href]="videoAbuse.video.url" title="Go to the video" target="_blank" rel="noopener noreferrer">
          {{ videoAbuse.video.name }}
        </a>
      </td>
    </tr>
  </ng-template>
</p-table>
