<h3>Account</h3>

<div *ngIf="information" class="alert alert-success">{{ information }}</div>
<div *ngIf="error" class="alert alert-danger">{{ error }}</div>

<form role="form" (ngSubmit)="changePassword(newPassword.value, newConfirmedPassword.value)" [ngFormModel]="changePasswordForm">
  <div class="form-group">
    <label for="new-password">New password</label>
    <input
      type="password" class="form-control" name="new-password" id="new-password"
      ngControl="newPassword" #newPassword="ngForm"
    >
    <div [hidden]="newPassword.valid || newPassword.pristine" class="alert alert-warning">
      The password should have more than 5 characters
    </div>
  </div>

  <div class="form-group">
    <label for="name">Confirm new password</label>
    <input
      type="password" class="form-control" name="new-confirmed-password" id="new-confirmed-password"
      ngControl="newConfirmedPassword" #newConfirmedPassword="ngForm"
    >
  </div>

  <input type="submit" value="Change password" class="btn btn-default" [disabled]="!changePasswordForm.valid">
</form>
