<h3>Account</h3>

<div *ngIf="error" class="alert alert-danger">{{ error }}</div>

<form role="form" (ngSubmit)="changePassword()" [formGroup]="form">
  <div class="form-group">
    <label for="new-password">New password</label>
    <input
      type="password" class="form-control" id="new-password"
      formControlName="new-password"
    >
    <div *ngIf="formErrors['new-password']" class="alert alert-danger">
      {{ formErrors['new-password'] }}
    </div>
  </div>

  <div class="form-group">
    <label for="name">Confirm new password</label>
    <input
      type="password" class="form-control" id="new-confirmed-password"
      formControlName="new-confirmed-password"
    >
  </div>

  <input type="submit" value="Change password" class="btn btn-default" [disabled]="!form.valid">
</form>
