@import '_variables';
@import '_mixins';

.create-button {
  @include create-button('../../../assets/images/global/add.svg');
}

/deep/ .action-button {
  &.action-button-delete {
    margin-right: 10px;
  }
}

.video-channel {
  @include row-blocks;

  img {
    @include avatar(80px);

    margin-right: 10px;
  }

  .video-channel-info {
    flex-grow: 1;

    a.video-channel-names {
      @include disable-default-a-behaviour;

      width: fit-content;
      display: flex;
      align-items: baseline;
      color: #000;

      .video-channel-display-name {
        font-weight: $font-semibold;
        font-size: 18px;
      }

      .video-channel-name {
        font-size: 14px;
        color: $grey-actor-name;
        margin-left: 5px;
      }

      .video-channel-followers {

      }
    }
  }

  .video-channel-buttons {
    min-width: 190px;
  }
}

.video-channels-header {
  text-align: right;
  margin: 20px 0 50px;
}

@media screen and (max-width: 800px) {
  .video-channels-header {
    text-align: center;
  }

  .video-channel {
    .video-channel-names {
      flex-direction: column;
      align-items: center !important;
    }

    img {
      margin-right: 0;
    }

    .video-channel-buttons {
      margin-top: 10px;
    }
  }
}
