@import '_variables';
@import '_mixins';

label {
  font-weight: $font-regular;
  font-size: 100%;
}

.video-channel-title {
  @include settings-big-title;
}

my-actor-avatar-info {
  display: block;
  margin-bottom: 20px;
}

.input-group {
  @include peertube-input-group(fit-content);
}

.input-group-append {
  height: 30px;
}

input {
  &[type=text] {
    @include peertube-input-text(340px);
  
    display: block;
  
    &#name {
      width: auto;
      flex-grow: 1;
    }
  }

  &[type=submit] {
    @include peertube-button;
    @include orange-button;
    margin-left: auto;
  }
}

textarea {
  @include peertube-textarea(500px, 150px);

  display: block;
}

my-markdown-textarea ::ng-deep {
  .root {
    @media screen and (max-width: 1400px) {
      flex-direction: column !important;
    }
  }
}

.peertube-select-container {
  @include peertube-select-container(340px);
}

.breadcrumb {
  @include breadcrumb;
}
