@import '_variables';
@import '_mixins';

.form-sub-title {
  margin-bottom: 20px;
}

input[type=text] {
  @include peertube-input-text(340px);

  display: block;
}

textarea {
  @include peertube-textarea(500px, 150px);

  display: block;
}

.peertube-select-container {
  @include peertube-select-container(340px);
}

input[type=submit] {
  @include peertube-button;
  @include orange-button;
}