<div class="video-channels-header">
  <a class="create-button" routerLink="create">
    <span class="icon icon-add"></span>
    <ng-container i18n>Create another video channel</ng-container>
  </a>
</div>

<div class="video-channels">
  <div *ngFor="let videoChannel of videoChannels" class="video-channel">
    <a [routerLink]="[ '/video-channels', videoChannel.nameWithHost ]">
      <img [src]="videoChannel.avatarUrl" alt="Avatar" />
    </a>

    <div class="video-channel-info">
      <a [routerLink]="[ '/video-channels', videoChannel.nameWithHost ]" class="video-channel-names" i18n-title title="Go to the channel">
        <div class="video-channel-display-name">{{ videoChannel.displayName }}</div>
        <div class="video-channel-name">{{ videoChannel.nameWithHost }}</div>
      </a>

      <div i18n class="video-channel-followers">{{ videoChannel.followersCount }} subscribers</div>
    </div>

    <div class="video-channel-buttons">
      <my-delete-button (click)="deleteVideoChannel(videoChannel)"></my-delete-button>

      <my-edit-button [routerLink]="[ 'update', videoChannel.nameWithHost ]"></my-edit-button>
    </div>
  </div>
</div>
