<div *ngIf="error" class="alert alert-danger">{{ error }}</div>

<form (ngSubmit)="addFollowing()">
  <div class="form-group">
    <label i18n for="hosts">1 host (without "http://") per line</label>

    <textarea
      type="text" class="form-control" placeholder="example.com" id="hosts" name="hosts"
      [(ngModel)]="hostsString" (ngModelChange)="onHostsChanged()" [ngClass]="{ 'input-error': hostsError }"
    ></textarea>

    <div *ngIf="hostsError" class="form-error">
      {{ hostsError }}
    </div>
  </div>

  <div i18n *ngIf="httpEnabled() === false"  class="alert alert-warning">
    It seems that you are not on a HTTPS server. Your webserver needs to have TLS activated in order to follow servers.
  </div>

  <input type="submit" i18n-value value="Add following" [disabled]="hostsError || !hostsString" class="btn btn-secondary">
</form>
