<p-table
  [value]="runners" [paginator]="totalRecords > 0" [totalRecords]="totalRecords" [rows]="rowsPerPage" [first]="pagination.start"
  [rowsPerPageOptions]="rowsPerPageOptions" [sortField]="sort.field" [sortOrder]="sort.order"
  [lazy]="true" (onLazyLoad)="loadLazy($event)"
  [showCurrentPageReport]="true" [currentPageReportTemplate]="getPaginationTemplate()"
>
  <ng-template pTemplate="header">
    <tr>
      <th scope="col" style="width: 120px;">
        <span i18n class="visually-hidden">Actions</span>
      </th>
      <th scope="col" i18n>Name</th>
      <th scope="col" i18n>Description</th>
      <th scope="col" i18n>IP</th>
      <th scope="col" i18n>Last contact</th>
      <th scope="col" style="width: 150px;" i18n [ngbTooltip]="sortTooltip" container="body" pSortableColumn="createdAt">Created <p-sortIcon field="createdAt"></p-sortIcon></th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-runner>
    <tr>
      <td class="action-cell">
        <my-action-dropdown
          placement="bottom-right top-right left auto" container="body"
          i18n-label label="Actions" [actions]="actions" [entry]="runner" buttonSize="small"
        ></my-action-dropdown>
      </td>

      <td>{{ runner.name }}</td>

      <td>{{ runner.description }}</td>

      <td>{{ runner.ip }}</td>

      <td>{{ runner.lastContact | ptDate: 'short' }}</td>

      <td>{{ runner.createdAt | ptDate: 'short' }}</td>
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr>
      <td myAutoColspan>
        <div class="no-results">
          <ng-container i18n>No remote runners found.</ng-container>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
