<div class="row">
  <div class="content-padding">

    <h3>Make friends</h3>

    <div *ngIf="error" class="alert alert-danger">{{ error }}</div>

    <form (ngSubmit)="makeFriends()" [formGroup]="form">
      <div class="form-group"  *ngFor="let host of hosts; let id = index; trackBy:customTrackBy">
        <label for="username">Host</label>

        <div class="input-group">
          <input
            type="text" class="form-control" placeholder="domain.tld"
            [id]="'host-' + id" [formControlName]="'host-' + id"
          />
          <span class="input-group-btn">
            <button *ngIf="displayAddField(id)" (click)="addField()" class="btn btn-default" type="button">+</button>
            <button *ngIf="displayRemoveField(id)" (click)="removeField(id)" class="btn btn-default" type="button">-</button>
          </span>
        </div>

        <div [hidden]="form.controls['host-' + id].valid || form.controls['host-' + id].pristine" class="alert alert-warning">
          It should be a valid host.
        </div>
      </div>

      <div *ngIf="canMakeFriends() === false"  class="alert alert-warning">
        It seems that you are not on a HTTPS pod. Your webserver need to have TLS activated in order to make friends.
      </div>

      <input type="submit" value="Make friends" class="btn btn-default" [disabled]="!isFormValid()">
    </form>
  </div>
</div>
