listen:
  port: 9000

webserver:
  https: false
  hostname: 'localhost'
  port: 9000

# Your database name will be "peertube"+database.suffix
database:
  hostname: 'localhost'
  port: 5432
  suffix: '_dev'
  username: 'peertube'
  password: 'peertube'

redis:
  hostname: 'localhost'
  port: 6379
  auth: null

smtp:
  hostname: null
  port: 465
  username: null
  password: null
  tls: true
  ca_file: null # Used for self signed certificates
  from_address: 'admin@example.com'

# From the project root directory
storage:
  avatars: 'storage/avatars/'
  videos: 'storage/videos/'
  logs: 'storage/logs/'
  previews: 'storage/previews/'
  thumbnails: 'storage/thumbnails/'
  torrents: 'storage/torrents/'
  cache: 'storage/cache/'

log:
  level: 'info' # debug/info/warning/error

cache:
  previews:
    size: 1 # Max number of previews you want to cache

admin:
  email: 'admin@example.com' # Your personal email as administrator

signup:
  enabled: false
  limit: 10 # When the limit is reached, registrations are disabled. -1 == unlimited

user:
  # Default value of maximum video BYTES the user can upload (does not take into account transcoded files).
  # -1 == unlimited
  video_quota: -1

# If enabled, the video will be transcoded to mp4 (x264) with "faststart" flag
# In addition, if some resolutions are enabled the mp4 video file will be transcoded to these new resolutions.
# Uses a lot of CPU and increases storage!
transcoding:
  enabled: true
  threads: 1
  resolutions: # Only created if the original video has a higher resolution
    240p: false
    360p: false
    480p: false
    720p: false
    1080p: false

instance:
  name: 'PeerTube'
  short_description: 'PeerTube, a federated (ActivityPub) video streaming platform using P2P (BitTorrent) directly in the web browser with WebTorrent and Angular.'
  description: 'Welcome to this PeerTube instance!' # Support markdown
  terms: 'No terms for now.' # Support markdown
  default_client_route: '/videos/trending'
  customizations:
    javascript: '' # Directly your JavaScript code (without <script> tags). Will be eval at runtime
    css: '' # Directly your CSS code (without <style> tags). Will be injected at runtime
