listen:
  port: 9000

# Correspond to your reverse proxy "listen" configuration
webserver:
  https: true
  hostname: 'example.com'
  port: 443

# Your database name will be "peertube"+database.suffix
database:
  hostname: 'localhost'
  port: 5432
  suffix: '_prod'
  username: 'peertube'
  password: 'peertube'

redis:
  hostname: 'localhost'
  port: 6379
  auth: null

smtp:
  hostname: null
  port: 465
  username: null
  password: null
  tls: true
  ca_file: null # Used for self signed certificates
  from_address: 'admin@example.com'

# From the project root directory
storage:
  avatars: '/var/www/peertube/storage/avatars/'
  videos: '/var/www/peertube/storage/videos/'
  logs: '/var/www/peertube/storage/logs/'
  previews: '/var/www/peertube/storage/previews/'
  thumbnails: '/var/www/peertube/storage/thumbnails/'
  torrents: '/var/www/peertube/storage/torrents/'
  cache: '/var/www/peertube/storage/cache/'

log:
  level: 'debug' # debug/info/warning/error

cache:
  previews:
    size: 100 # Max number of previews you want to cache

admin:
  email: 'admin@example.com'

signup:
  enabled: false
  limit: 10 # When the limit is reached, registrations are disabled. -1 == unlimited

user:
  # Default value of maximum video BYTES the user can upload (does not take into account transcoded files).
  # -1 == unlimited
  video_quota: -1

# If enabled, the video will be transcoded to mp4 (x264) with "faststart" flag
# Uses a lot of CPU!
transcoding:
  enabled: false
  threads: 2
  resolutions: # Only created if the original video has a higher resolution
    240p: true
    360p: true
    480p: true
    720p: true
    1080p: true

instance:
  name: 'PeerTube'
  description: '' # Support markdown
  terms: '' # Support markdown
