<div class="row">
  <div class="sub-menu">
    <a i18n routerLink="/my-account/settings" routerLinkActive="active" class="title-page">My settings</a>

    <a i18n routerLink="/my-account/video-channels" routerLinkActive="active" class="title-page">My channels</a>

    <a i18n routerLink="/my-account/videos" routerLinkActive="active" class="title-page">My videos</a>

    <a i18n routerLink="/my-account/subscriptions" routerLinkActive="active" class="title-page">My subscriptions</a>

    <a *ngIf="isVideoImportEnabled()" i18n routerLink="/my-account/video-imports" routerLinkActive="active" class="title-page">My imports</a>
  </div>

  <div class="margin-content">
    <router-outlet></router-outlet>
  </div>
</div>
