$primary-foreground-color: #fff;
$primary-foreground-opacity: 0.9;
$primary-foreground-opacity-hover: 1;
$primary-background-color: rgba(0, 0, 0, 0.8);

$font-size: 13px;
$control-bar-height: 34px;

$slider-bg-color: lighten($primary-background-color, 33%);

$progress-margin: 10px;

$dock-padding: 20px;

$first-control-bar-element-margin-left: 1em;

$assets-path: '../../assets/' !default;
