@use 'sass:math';
@use '_variables' as *;
@use '_mixins' as *;
@use './_player-variables' as *;

.video-js.vjs-peertube-skin .vjs-control-bar {
  z-index: 100;
  align-items: center;
  height: $control-bar-height;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6));
  box-shadow: 0 -15px 40px 10px rgba(0, 0, 0, 0.2);
  text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
  transition: visibility 0.3s, opacity 0.3s !important;
  padding-bottom: 2em;

  .vjs-control{
    display: flex;
    align-items: center;
  }

  &.control-bar-hidden {
    display: none !important;
  }

  > button:first-child {
    @include margin-left(2em);
  }

  > button:last-child {
    @include margin-right(2em);
  }

  .vjs-progress-control,
  .vjs-play-control,
  .vjs-playback-rate,
  .vjs-mute-control,
  .vjs-volume-control,
  .vjs-resolution-control,
  .vjs-fullscreen-control,
  .vjs-peertube-link,
  .vjs-theater-control,
  .vjs-settings {
    color: pvar(--embedForegroundColor) !important;

    opacity: $primary-foreground-opacity;
    transition: opacity .1s;

    &:hover {
      opacity: $primary-foreground-opacity-hover;
    }
  }

  .vjs-current-time,
  .vjs-duration,
  .vjs-peertube {
    color: pvar(--embedForegroundColor);
    opacity: $primary-foreground-opacity;
  }

  .vjs-progress-control {

    position: absolute;
    bottom: 0;
    z-index: 100; // On top of the progress bar
    height: 2.5em;
    left: 2em;
    right: 2em;
    width: auto;

    .vjs-slider {
      margin: 0;
      border-radius: 0;
      background-color: rgba(255, 255, 255, .2);
      height: 4px;
      border-radius: 2px;
      
      overflow: hidden;

      .vjs-slider-bar{
        transition: 0.3s;
      }

      .vjs-mouse-display{
        display: none!important;
      }

      .vjs-play-progress {
        background: #fff;
        width: 100%;

        &::before {
          opacity: 0;
          transition: opacity 0.1s ease;
          top: -0.3em;
          display: none!important;
        }

        .vjs-time-tooltip {
          display: none!important;
        }
      }

      .vjs-load-progress {
        &,
        div {
          background: rgba(255, 255, 255, .2);
        }
      }
    }
  }


  .vjs-play-control {
    @include disable-outline;
    
    cursor: pointer;

    .vjs-icon-placeholder::before {
      position: relative;
      top: -1px;
    }
  }

  .vjs-play-control{
    order: 0;
  }
  .vjs-mute-control{
    order: 1;
  }
  .vjs-volume-control{
    order: 2;
  }
  .vjs-current-time{
    order: 3;
  }
  .vjs-time-divider{
    order: 4;
    min-width: 0;
    width: auto;
  }
  .vjs-duration{
    order: 5;
  }

  .vjs-settings{
    order: 7;
  }

  .vjs-fullscreen-control{
    order: 8;
  }

  .vjs-time-control {
  

    &.vjs-current-time {
      @include margin-left(.5em);
      display: flex;
      align-items: center;
      padding: 0;
    }

    &.vjs-duration {
      display: flex;
      align-items: center;
      padding: 0;
      margin-right: auto;
    }

    &.vjs-remaining-time {
      display: none;
    }
  }

  .vjs-live-control {
    min-width: 4em;
    width: inherit;
  }

  .vjs-peertube {
    @include margin-right(6px);
    @include margin-left(auto);

    text-align: end;
    overflow: hidden;

    .vjs-peertube-displayed {
      display: block;
    }

    .vjs-peertube-hidden {
      display: none;
    }

    .download-speed-number,
    .upload-speed-number,
    .peers-number,
    .http-fallback {
      font-weight: $font-semibold;
    }

    .download-speed-text,
    .upload-speed-text,
    .peers-text,
    .http-fallback {
      @include margin-right(15px);
    }

    .icon {
      @include margin-right(2px);

      display: inline-block;
      width: 15px;
      height: 15px;
      background-size: contain;
      vertical-align: middle;
      background-repeat: no-repeat;
      position: relative;
      top: -1px;

      &.icon-download {
        background-image: url('#{$assets-path}/player/images/arrow-down.svg');
      }

      &.icon-upload {
        background-image: url('#{$assets-path}/player/images/arrow-up.svg');
      }
    }
  }

  .vjs-next-video,
  .vjs-previous-video {
    width: $control-bar-button-width - 4px;

    &.vjs-disabled {
      cursor: default;
    }

    .icon {
      &.icon-next,
      &.icon-previous {
        mask-image: url('#{$assets-path}/player/images/next.svg');
        -webkit-mask-image: url('#{$assets-path}/player/images/next.svg');
        mask-size: cover;
        -webkit-mask-size: cover;

        background-color: #fff;
        width: $control-bar-next-previous-play-font-size;
        height: $control-bar-next-previous-play-font-size;
        display: inline-block;
      }

      &.icon-previous {
        transform: rotate(180deg);
      }
    }
  }

  .vjs-mute-control {
    @include disable-outline;

    padding: 0;
    width: $control-bar-icon-size;

    .vjs-icon-placeholder {
      display: inline-block;
      vertical-align: middle;

    }

    
  }

  .vjs-volume-control {
    display: flex;
    align-items: center;
    margin-left: 1em;
    margin-right: 1em;
  }

  .vjs-volume-bar {
    height: 4px;
    width: 100%;
    margin: 0;
    border-radius: 2px;

    .vjs-volume-level {
      height: 100%;
      transform-origin: left;

      &::before {
        // Remove circle
        content: '';
      }
    }

    &:focus {
      text-shadow: none;
      box-shadow: none;
    }
  }

  .vjs-volume-panel.vjs-volume-panel-horizontal.vjs-slider-active,
  .vjs-volume-panel.vjs-volume-panel-horizontal:active,
  .vjs-volume-panel.vjs-volume-panel-horizontal:focus,
  .vjs-volume-panel.vjs-volume-panel-horizontal:hover {
    width: 6em;
    transition-property: none;
  }

  .vjs-volume-panel .vjs-mute-control:hover ~ .vjs-volume-control.vjs-volume-horizontal {
    width: 3em;
    height: auto;
  }

  .vjs-volume-panel .vjs-mute-control:hover ~ .vjs-volume-control {
    transition-property: none;
  }

  .vjs-volume-panel {
    .vjs-mute-control {
      width: 2em;
      z-index: 1;
      padding: 0;
    }

    .vjs-volume-control {
      display: inline-block;
      position: relative;
      left: 5px;
      opacity: 1;
      width: 3em;
      height: auto;
    }
  }

  .vjs-settings {
    font-family: VideoJS;
    font-weight: normal;
    font-style: normal;
    cursor: pointer;
    .vjs-icon-placeholder {
      &::before {
        content: '\f110';
      }
    }
  }

  .vjs-peertube-link {
    @include disable-outline;
    @include disable-default-a-behaviour;
    @include ellipsis;

    text-decoration: none;
    padding: 0 5px;
    max-width: 150px;
  }

  .vjs-theater-control {
    @include disable-outline;

    width: $control-bar-button-width;
    cursor: pointer;

    .vjs-icon-placeholder {
      transition: transform 0.2s ease;
      display: inline-block;
      width: $control-bar-icon-size;
      height: $control-bar-icon-size;
      vertical-align: middle;
      background: url('#{$assets-path}/player/images/theater.svg') no-repeat;
      background-size: contain;

      &::before {
        content: '';
      }
    }
  }

  .vjs-fullscreen-control {
    @include disable-outline;


    .vjs-icon-placeholder {
      display: inline-block;
      vertical-align: middle;

    }
  }

  @media screen and (max-width: $screen-width-750) {
    .vjs-theater-control {
      display: none;
    }

    .vjs-peertube {
      .icon,
      .download-speed-text,
      .upload-speed-text {
        display: none !important;
      }
    }
  }

  @media screen and (max-width: $screen-width-570) {
    .vjs-volume-control {
      display: none;
    }

    .vjs-peertube {
      padding: 0 !important;

      .vjs-peertube-displayed {
        display: none !important;
      }
    }

    .vjs-peertube-link {
      max-width: 100px;
    }

    &.vjs-live {
      .vjs-duration {
        display: none !important;
      }

      .vjs-peertube {
        display: none !important;
      }
    }
  }

  @media screen and (max-width: $screen-width-350) {
    .vjs-next-video,
    .vjs-previous-video {
      display: none !important;
    }

    .vjs-peertube-link {
      padding: 0 !important;
    }

    > button:first-child {
      @include margin-left(2em);
    }

    > button:last-child {
      @include margin-right(2em);
    }

    .vjs-play-control {
      @include margin-left(0);

      width: 30px;
    }

    &.vjs-live {
      .vjs-current-time {
        display: none !important;
      }
    }
  }
}
