@use 'sass:math';
@use '_variables' as *;
@use '_mixins' as *;
@use './_player-variables' as *;

.video-js.vjs-peertube-skin {
  .vjs-dock-text {
    @include padding-right(60px);

    padding: $dock-padding;
    background: linear-gradient(to bottom, rgba(20, 20, 20, .7) 0, rgba(20, 20, 20, 0));
  }

  .vjs-dock-title {
    font-weight: $font-semibold;
  }

  .vjs-dock-title,
  .vjs-dock-description {
    text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
  }

  .vjs-dock-description {
    font-size: 11px;

    .text::before {
      @include margin-right(4px);
    }

    .text::after {
      @include margin-left(4px);
      transform: scale(-1, 1);
    }
  }

  @media screen and (max-width: $screen-width-750) {
    .vjs-dock-text {
      font-size: 16px;
    }

    .vjs-dock-description {
      font-size: 9px;
    }
  }

  @media screen and (max-width: $screen-width-570) {
    .vjs-dock-text {
      font-size: 14px;
    }
  }

  @media screen and (max-width: $screen-width-350) {
    .vjs-dock-text {
      font-size: 13px;
    }
  }
}
