/*
 * SPDX-FileCopyrightText: 2023 PeerTube contributors <https://joinpeertube.org/>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

$height: 40px;

.vjs-peertube-offline-notification {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: $height;
  color: #000;
  background-color: var(--mainColorLightest);
  text-align: center;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
