@import 'mixins';
@import 'miniature';

.caption {
  justify-content: flex-end;

  input {
    @include peertube-input-text(250px);
  }
}

.video-details-date-updated {
  font-size: 90%;
  margin-top: .1rem;
}

.video-details-links {
  @include disable-default-a-behaviour;
}

.video-abuse-states .glyphicon-comment {
  margin-left: 0.5rem;
}
