@import 'variables';
@import 'mixins';

.moderation-comment-label {
  font-weight: $font-semibold;
}

.cell-multi-line {
    text-wrap: normal;
    word-wrap: break-word;
    overflow: visible !important;
    text-overflow: unset !important;
    white-space: unset !important;
}