@import 'mixins';
@import 'miniature';

.video-details-date-updated {
  font-size: 90%;
  margin-top: .1rem;
}

.video-details-links {
  @include disable-default-a-behaviour;
}

.video-abuse-states .glyphicon-comment {
  margin-left: 0.5rem;
}

.input-group {
  @include peertube-input-group(300px);

  .dropdown-toggle::after {
    margin-left: 0;
  }
}
