<menu class="col-md-2 col-sm-3 col-xs-3">
  <div class="panel-block">
    <div id="panel-user-login" class="panel-button">
      <span *ngIf="!isLoggedIn" >
        <span class="hidden-xs glyphicon glyphicon-log-in"></span>
        <a [routerLink]="['/login']">Login</a>
      </span>

      <span *ngIf="isLoggedIn">
        <span class="hidden-xs glyphicon glyphicon-log-out"></span>
        <a *ngIf="isLoggedIn" (click)="logout()">Logout</a>
      </span>
    </div>

    <div *ngIf="!isLoggedIn && isRegistrationEnabled()" id="panel-user-register" class="panel-button">
      <span class="hidden-xs glyphicon glyphicon-user"></span>
      <a [routerLink]="['/signup']">Signup</a>
    </div>

    <div *ngIf="isLoggedIn" id="panel-user-account" class="panel-button">
      <span class="hidden-xs glyphicon glyphicon-user"></span>
      <a [routerLink]="['/account']">My account</a>
    </div>
  </div>

  <div class="panel-block">
    <div id="panel-get-videos" class="panel-button">
      <span class="hidden-xs glyphicon glyphicon-list"></span>
      <a [routerLink]="['/videos/list']">See videos</a>
    </div>

    <div id="panel-upload-video" class="panel-button" *ngIf="isLoggedIn">
      <span class="hidden-xs glyphicon glyphicon-cloud-upload"></span>
      <a [routerLink]="['/videos/add']">Upload a video</a>
    </div>
  </div>

  <div class="panel-block" *ngIf="isUserAdmin()">
    <div id="panel-get-videos" class="panel-button">
      <span class="hidden-xs glyphicon glyphicon-cog"></span>
      <a [routerLink]="['/admin']">Administration</a>
    </div>
  </div>
</menu>
