menu {
  background-color: $black-background;
  padding: 15px;
  margin: 0;
  height: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  @media screen and (max-width: 550px) {
    font-size: 90%;
  }

  @media screen and (min-width: 1200px) {
    padding: 25px;
  }

  .panel-block {
    margin-bottom: 15px;
  }

  .block-title {
    text-transform: uppercase;
    font-weight: bold;
    color: $menu-color-block;
    margin-bottom: 10px;
  }

  a {
    display: block;
    margin-left: 5px;
    height: 30px;
    color: $menu-color-link;
    cursor: pointer;
    transition: color 0.3s;

    &:hover, &:focus {
      text-decoration: none !important;
      outline: none !important;
    }

    .glyphicon {
      margin-right: 15px;
    }

    &:hover, &.active {
      color: #fff;
    }
  }
}
