<menu>

  <div class="panel-block">
    <a routerLink="/admin/users/list" routerLinkActive="active">
      <span class="hidden-xs glyphicon glyphicon-user"></span>
      List users
    </a>

    <a routerLink="/admin/friends/list" routerLinkActive="active">
      <span class="hidden-xs glyphicon glyphicon-cloud"></span>
      List friends
    </a>

    <a routerLink="/admin/requests/stats" routerLinkActive="active">
      <span class="hidden-xs glyphicon glyphicon-stats"></span>
      Request stats
    </a>

    <a routerLink="/admin/video-abuses/list" routerLinkActive="active">
      <span class="hidden-xs glyphicon glyphicon-alert"></span>
      Video abuses
    </a>
  </div>

  <div class="panel-block">
    <a routerLink="/videos/list" routerLinkActive="active">
      <span class="hidden-xs glyphicon glyphicon-cog"></span>
      Quit admin.
    </a>
  </div>
</menu>
