<menu>
  <div class="panel-block">
    <a *ngIf="hasUsersRight()" routerLink="/admin/users" routerLinkActive="active">
      <span class="hidden-xs glyphicon glyphicon-user"></span>
      List users
    </a>

    <a *ngIf="hasFriendsRight()" routerLink="/admin/friends" routerLinkActive="active">
      <span class="hidden-xs glyphicon glyphicon-cloud"></span>
      List friends
    </a>

    <a *ngIf="hasRequestsStatRight()" routerLink="/admin/requests/stats" routerLinkActive="active">
      <span class="hidden-xs glyphicon glyphicon-stats"></span>
      Request stats
    </a>

    <a *ngIf="hasVideoAbusesRight()" routerLink="/admin/video-abuses" routerLinkActive="active">
      <span class="hidden-xs glyphicon glyphicon-alert"></span>
      Video abuses
    </a>

    <a *ngIf="hasVideoBlacklistRight()" routerLink="/admin/video-blacklist" routerLinkActive="active">
      <span class="hidden-xs glyphicon glyphicon-eye-close"></span>
      Video blacklist
    </a>
  </div>

  <div class="panel-block">
    <a routerLink="/videos/list" routerLinkActive="active">
      <span class="hidden-xs glyphicon glyphicon-cog"></span>
      Quit admin.
    </a>
  </div>
</menu>
