<menu>
  <div class="panel-block">
    <div class="block-title">Account</div>

    <div id="panel-user-login" class="panel-button">
      <a *ngIf="!isLoggedIn" routerLink="/login" routerLinkActive="active">
        <span class="hidden-xs glyphicon glyphicon-log-in"></span>
        Login
      </a>

      <a *ngIf="isLoggedIn" (click)="logout()">
        <span class="hidden-xs glyphicon glyphicon-log-out"></span>
        Logout
      </a>
    </div>

    <a *ngIf="!isLoggedIn && isRegistrationAllowed()" routerLink="/signup" routerLinkActive="active">
      <span class="hidden-xs glyphicon glyphicon-user"></span>
      Signup
    </a>

    <a *ngIf="isLoggedIn" routerLink="/account" routerLinkActive="active">
      <span class="hidden-xs glyphicon glyphicon-user"></span>
      My account
    </a>
  </div>

  <div class="panel-block">
    <div class="block-title">Videos</div>

    <a routerLink="/videos/list" routerLinkActive="active">
      <span class="hidden-xs glyphicon glyphicon-list"></span>
      See videos
    </a>

    <a *ngIf="isLoggedIn" routerLink="/videos/upload" routerLinkActive="active">
      <span class="hidden-xs glyphicon glyphicon-cloud-upload"></span>
      Upload a video
    </a>
  </div>

  <div *ngIf="isUserAdmin()" class="panel-block">
    <div class="block-title">Other</div>

    <a routerLink="/admin" routerLinkActive="active">
      <span class="hidden-xs glyphicon glyphicon-cog"></span>
      Administration
    </a>
  </div>
</menu>
