@import '_variables';
@import '_mixins';

.custom-row {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.10);

  &:first-child {
    font-size: 16px;

    & > div {
      font-weight: $font-semibold;
    }
  }

  & > div {
    width: 350px;
  }

  & > div {
    padding: 10px
  }
}

