@import '_variables';
@import '_mixins';

.custom-row {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $separator-border-color;

  &:first-child {
    font-size: 16px;
  }

  & > div {
    padding: 10px;

    &:first-child {
      width: 350px;
    }

    @media screen and (max-width: #{breakpoint(sm)}) {
      &:first-child {
        width: auto;
        flex-grow: 1;
      }
    }
  }
}
