@use '_variables' as *;
@use '_mixins' as *;
@use '_bootstrap-variables' as *;

.notification-row {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $separator-border-color;

  &.header {
    font-weight: $font-semibold;
    margin-top: 10px;
  }

  > div {
    padding: 10px;

    &:first-child {
      width: 350px;
    }

    @media screen and (max-width: #{breakpoint(sm)}) {
      &:first-child {
        width: auto;
        flex-grow: 1;
      }
    }
  }
}
