<h1>
  <my-global-icon iconName="cross" aria-hidden="true"></my-global-icon>
  <ng-container i18n>Video blocks</ng-container>
</h1>

<p-table
  [value]="blocklist" [lazy]="true" [paginator]="totalRecords > 0" [totalRecords]="totalRecords" [rows]="rowsPerPage" [rowsPerPageOptions]="rowsPerPageOptions"
  [sortField]="sort.field" [sortOrder]="sort.order" (onLazyLoad)="loadLazy($event)" dataKey="id"
  [showCurrentPageReport]="true" i18n-currentPageReportTemplate
  currentPageReportTemplate="Showing {{'{first}'}} to {{'{last}'}} of {{'{totalRecords}'}} blocked videos"
  (onPage)="onPage($event)" [expandedRowKeys]="expandedRows"
>
  <ng-template pTemplate="caption">
    <div class="caption">
      <div class="ml-auto">
        <div class="input-group has-feedback has-clear">
          <div class="input-group-prepend c-hand" ngbDropdown placement="bottom-left auto" container="body">
            <div class="input-group-text" ngbDropdownToggle>
              <span class="caret" aria-haspopup="menu" role="button"></span>
            </div>

            <div role="menu" ngbDropdownMenu>
              <h6 class="dropdown-header" i18n>Advanced block filters</h6>
              <a [routerLink]="[ '/admin/moderation/video-blocks/list' ]" [queryParams]="{ 'search': 'type:auto' }" class="dropdown-item" i18n>Automatic blocks</a>
              <a [routerLink]="[ '/admin/moderation/video-blocks/list' ]" [queryParams]="{ 'search': 'type:manual' }" class="dropdown-item" i18n>Manual blocks</a>
            </div>
          </div>
          <input
            type="text" name="table-filter" id="table-filter" i18n-placeholder placeholder="Filter..."
            (keyup)="onBlockSearch($event)"
          >
          <a class="glyphicon glyphicon-remove-sign form-control-feedback form-control-clear" (click)="resetTableFilter()"></a>
          <span class="sr-only" i18n>Clear filters</span>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th style="width: 40px"></th>
      <th i18n pSortableColumn="name">Video <p-sortIcon field="name"></p-sortIcon></th>
      <th style="width: 100px;" i18n>Sensitive</th>
      <th style="width: 120px;" i18n>Unfederated</th>
      <th style="width: 150px;" i18n pSortableColumn="createdAt">Date <p-sortIcon field="createdAt"></p-sortIcon></th>
      <th style="width: 150px;"></th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-videoBlock let-expanded="expanded">
    <tr>
      <td *ngIf="!videoBlock.reason"></td>
      <td *ngIf="videoBlock.reason" class="expand-cell c-hand" [pRowToggler]="videoBlock" i18n-ngbTooltip ngbTooltip="More information" placement="top-left" container="body">
        <span class="expander">
          <i [ngClass]="expanded ? 'glyphicon glyphicon-menu-down' : 'glyphicon glyphicon-menu-right'"></i>
        </span>
      </td>

      <td>
        <a [href]="getVideoUrl(videoBlock)" class="table-video-link" [title]="videoBlock.video.name" target="_blank" rel="noopener noreferrer">
          <div class="table-video">
            <div class="table-video-image">
              <img [src]="videoBlock.video.thumbnailPath">
            </div>
            <div class="table-video-text">
              <div>
                <my-global-icon i18n-title title="The video was blocked due to automatic blocking of new videos" *ngIf="videoBlock.type == 2" iconName="robot"></my-global-icon>
                {{ videoBlock.video.name }}
              </div>
              <div class="text-muted">by {{ videoBlock.video.channel?.displayName }} on {{ videoBlock.video.channel?.host }} </div>
            </div>
          </div>
        </a>
      </td>

      <ng-container *ngIf="videoBlock.reason">
        <td class="c-hand" [pRowToggler]="videoBlock">{{ booleanToText(videoBlock.video.nsfw) }}</td>
        <td class="c-hand" [pRowToggler]="videoBlock">{{ booleanToText(videoBlock.unfederated) }}</td>
        <td class="c-hand" [pRowToggler]="videoBlock">{{ videoBlock.createdAt | date: 'short' }}</td>
      </ng-container>
      <ng-container *ngIf="!videoBlock.reason">
        <td>{{ booleanToText(videoBlock.video.nsfw) }}</td>
        <td>{{ booleanToText(videoBlock.unfederated) }}</td>
        <td>{{ videoBlock.createdAt | date: 'short' }}</td>
      </ng-container>

      <td class="action-cell">
        <my-action-dropdown
          [ngClass]="{ 'show': expanded }" placement="bottom-right" container="body"
          i18n-label label="Actions" [actions]="videoBlocklistActions" [entry]="videoBlock"
        ></my-action-dropdown>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="rowexpansion" let-videoBlock>
    <tr>
      <td class="expand-cell" colspan="6">
        <div class="d-flex moderation-expanded">

          <!-- block right part (block details) -->
          <div class="col-8">
            <span class="col-3 moderation-expanded-label" i18n>Block reason:</span>
            <span class="col-9 moderation-expanded-text" [innerHTML]="videoBlock.reasonHtml"></span>
          </div>

          <!-- block right part (video embed) -->
          <div class="col-4">
            <div class="screenratio">
              <div [innerHTML]="videoBlock.embedHtml"></div>
            </div>
          </div>

        </div>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="6">
        <div class="no-results">
          <ng-container *ngIf="search" i18n>No blocked video found matching current filters.</ng-container>
          <ng-container *ngIf="!search" i18n>No blocked video found.</ng-container>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>

