<ng-template #modal let-hide="close">
  <div class="modal-header">
    <h4 class="modal-title">
      <ng-container i18n>Download</ng-container>

      <div *ngIf="videoCaptions" ngbDropdown class="d-inline-block">
        <span id="dropdownDownloadType" ngbDropdownToggle>
          {{ type }}
        </span>
        <div ngbDropdownMenu aria-labelledby="dropdownDownloadType">
          <button *ngIf="type === 'video'" (click)="switchToType('subtitles')" ngbDropdownItem i18n>subtitles</button>
          <button *ngIf="type === 'subtitles'" (click)="switchToType('video')" ngbDropdownItem i18n>video</button>
        </div>
      </div>
    </h4>
    <my-global-icon iconName="cross" aria-label="Close" role="button" (click)="hide()"></my-global-icon>
  </div>

  <div class="modal-body">
    <div class="form-group">
      <div class="input-group input-group-sm">
        <div class="input-group-prepend peertube-select-container">
          <select *ngIf="type === 'video'" [(ngModel)]="resolutionId" (ngModelChange)="onResolutionIdChange()">
            <option *ngFor="let file of getVideoFiles()" [value]="file.resolution.id">{{ file.resolution.label }}</option>
          </select>

          <select *ngIf="type === 'subtitles'" [(ngModel)]="subtitleLanguageId">
            <option *ngFor="let caption of videoCaptions" [value]="caption.language.id">{{ caption.language.label }}</option>
          </select>
        </div>

        <input #urlInput (click)="urlInput.select()" type="text" class="form-control input-sm readonly" readonly [value]="getLink()" />
        <div class="input-group-append">
          <button [cdkCopyToClipboard]="urlInput.value" (click)="activateCopiedMessage()" type="button" class="btn btn-outline-secondary">
            <span class="glyphicon glyphicon-copy"></span>
          </button>
        </div>
      </div>
    </div>

    <ng-container *ngIf="type === 'video' && videoFile?.metadata">
      <div ngbNav #nav="ngbNav" class="nav-tabs">

        <ng-container ngbNavItem>
          <a ngbNavLink i18n>Format</a>
          <ng-template ngbNavContent>
            <div class="file-metadata">
              <div class="metadata-attribute metadata-attribute-tags" *ngFor="let item of videoFileMetadataFormat | keyvalue">
                <span i18n class="metadata-attribute-label">{{ item.value.label }}</span>
                <span class="metadata-attribute-value">{{ item.value.value }}</span>
              </div>
            </div>
          </ng-template>
        </ng-container>

        <ng-container ngbNavItem [disabled]="videoFileMetadataVideoStream === undefined">
          <a ngbNavLink i18n>Video stream</a>
          <ng-template ngbNavContent>
            <div class="file-metadata">
              <div class="metadata-attribute metadata-attribute-tags" *ngFor="let item of videoFileMetadataVideoStream | keyvalue">
                <span i18n class="metadata-attribute-label">{{ item.value.label }}</span>
                <span class="metadata-attribute-value">{{ item.value.value }}</span>
              </div>
            </div>
          </ng-template>
        </ng-container>

        <ng-container ngbNavItem [disabled]="videoFileMetadataAudioStream === undefined">
          <a ngbNavLink i18n>Audio stream</a>
          <ng-template ngbNavContent>
            <div class="file-metadata">
              <div class="metadata-attribute metadata-attribute-tags" *ngFor="let item of videoFileMetadataAudioStream | keyvalue">
                <span i18n class="metadata-attribute-label">{{ item.value.label }}</span>
                <span class="metadata-attribute-value">{{ item.value.value }}</span>
              </div>
            </div>
          </ng-template>
        </ng-container>
      </div>

      <div [ngbNavOutlet]="nav"></div>
    </ng-container>

    <div class="download-type" *ngIf="type === 'video'">
      <div class="peertube-radio-container">
        <input type="radio" name="download" id="download-direct" [(ngModel)]="downloadType" value="direct">
        <label i18n for="download-direct">Direct download</label>
      </div>

      <div class="peertube-radio-container">
        <input type="radio" name="download" id="download-torrent" [(ngModel)]="downloadType" value="torrent">
        <label i18n for="download-torrent">Torrent (.torrent file)</label>
      </div>
    </div>
  </div>

  <div class="modal-footer inputs">
    <input
      type="button" role="button" i18n-value value="Cancel" class="action-button action-button-cancel"
      (click)="hide()" (key.enter)="hide()"
    >

    <input
      type="submit" i18n-value value="Download" class="action-button-submit"
      (click)="download()"
    >
  </div>
</ng-template>
