@import 'variables';
@import 'mixins';

.information {
  margin-bottom: 20px;
}

textarea {
  @include peertube-textarea(100%, 100px);
}

.start-at,
.stop-at {
  width: 300px;
  display: flex;
  align-items: center;

  my-timestamp-input {
    margin-left: 10px;
  }
}

.screenratio {
  @include large-screen-ratio($selector: 'div, ::ng-deep iframe') {
    left: 0;
  };
}
