@import 'variables';
@import 'mixins';

.peertube-select-container {
  @include peertube-select-container(100px);

  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;

  select {
    height: inherit;
  }
}

#dropdownDownloadType {
  cursor: pointer;
}

.download-type {
  margin-top: 30px;

  .peertube-radio-container {
    @include peertube-radio-container;

    display: inline-block;
    margin-right: 30px;
  }
}
