<ng-template #modal let-hide="close">
  <div class="modal-header">
    <h4 i18n class="modal-title">Download video</h4>
    <my-global-icon iconName="cross" aria-label="Close" role="button" (click)="hide()"></my-global-icon>
  </div>

  <div class="modal-body">
    <div class="form-group">
      <div class="input-group input-group-sm">
        <div class="input-group-prepend peertube-select-container">
          <select [(ngModel)]="resolutionId">
            <option *ngFor="let file of getVideoFiles()" [value]="file.resolution.id">{{ file.resolution.label }}</option>
          </select>
        </div>
        <input #urlInput (click)="urlInput.select()" type="text" class="form-control input-sm readonly" readonly [value]="getLink()" />
        <div class="input-group-append">
          <button [ngxClipboard]="urlInput" (click)="activateCopiedMessage()" type="button" class="btn btn-outline-secondary">
            <span class="glyphicon glyphicon-copy"></span>
          </button>
        </div>
      </div>
    </div>

    <div class="download-type">
      <div class="peertube-radio-container">
        <input type="radio" name="download" id="download-direct" [(ngModel)]="downloadType" value="direct">
        <label i18n for="download-direct">Direct download</label>
      </div>

      <div class="peertube-radio-container">
        <input type="radio" name="download" id="download-torrent" [(ngModel)]="downloadType" value="torrent">
        <label i18n for="download-torrent">Torrent (.torrent file)</label>
      </div>
    </div>
  </div>

  <div class="modal-footer inputs">
    <span i18n class="action-button action-button-cancel" (click)="hide()">
      Cancel
    </span>

    <input
      type="submit" i18n-value value="Download" class="action-button-submit"
      (click)="download()"
    >
  </div>
</ng-template>
