<ng-template #modal>
  <div class="modal-header">
    <h4 i18n class="modal-title">Block video "{{ video.name }}"</h4>
    <my-global-icon iconName="cross" aria-label="Close" role="button" (click)="hide()"></my-global-icon>
  </div>

  <div class="modal-body">

    <form novalidate [formGroup]="form" (ngSubmit)="block()">
      <div class="form-group">
        <textarea
          i18n-placeholder placeholder="Please describe the reason..." formControlName="reason"
          [ngClass]="{ 'input-error': formErrors['reason'] }" class="form-control"
        ></textarea>
        <div *ngIf="formErrors.reason" class="form-error">
          {{ formErrors.reason }}
        </div>
      </div>

      <div class="form-group" *ngIf="video.isLocal">
        <my-peertube-checkbox
          inputName="unfederate" formControlName="unfederate"
          i18n-labelText labelText="Unfederate the video"
        >
          <ng-container ngProjectAs="description">
            <span i18n>This will ask remote instances to delete it</span>
          </ng-container>
        </my-peertube-checkbox>
      </div>

      <div class="form-group inputs">
        <input
          type="button" role="button" i18n-value value="Cancel" class="action-button action-button-cancel"
          (click)="hide()" (key.enter)="hide()"
        >

        <input
          type="submit" i18n-value value="Submit" class="action-button-submit"
          [disabled]="!form.valid"
        >
      </div>
    </form>

  </div>
</ng-template>
