@use 'sass:math';
@use '_miniature' as *;
@use '_mixins' as *;

.chip {
  @include chip;
}

.badge {
  @include table-badge;
}

.video-table-video {
  display: inline-flex;

  .video-table-video-image {
    $image-height: 45px;

    @include miniature-thumbnail;
    @include margin-right(0.5rem);

    height: $image-height;
    width: #{math.div(16, 9) * $image-height};
    border-radius: 2px;
    border: 0;
    background: transparent;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;

    img {
      height: 100%;
      width: 100%;
      border-radius: 2px;
    }

    span {
      color: pvar(--inputPlaceholderColor);
    }

    .video-table-video-image-label {
      @include static-thumbnail-overlay;
      position: absolute;
      border-radius: 3px;
      font-size: 10px;
      padding: 0 3px;
      line-height: 1.3;
      bottom: 2px;
      right: 2px;
    }
  }

  .video-table-video-text {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    font-size: 90%;
    color: pvar(--mainForegroundColor);
    line-height: 1rem;

    div .glyphicon {
      @include margin-left(0.1rem);

      font-size: 80%;
      color: #808080;
    }

    div + div {
      font-size: 80%;
    }
  }
}
