@import '_variables';
@import '_mixins';

#highlighted-comment {
  margin-bottom: 25px;
}

.view-replies {
  font-weight: $font-semibold;
  font-size: 15px;
  cursor: pointer;
}

.glyphicon, .comment-thread-loading {
  margin-right: 5px;
  display: inline-block;
  font-size: 13px;
}

.title-block .title-page {
  margin-right: 0;
}

#dropdownSortComments {
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  transform: translateY(-7%);
}

my-feed {
  display: inline-block;
  margin-left: 5px;
}

@media screen and (max-width: 600px) {
  .view-replies {
    margin-left: 46px;
  }
}

@media screen and (max-width: 450px) {
  .view-replies {
    font-size: 14px;
  }
}
