@import '_variables';
@import '_mixins';

.root-comment {
  font-size: 15px;
  display: flex;

  img {
    @include avatar(36px);

    margin-top: 5px;
    margin-right: 20px;
  }

  .comment {
    flex-grow: 1;

    .comment-account-date {
      display: flex;
      margin-bottom: 4px;

      .comment-account {
        @include disable-default-a-behaviour;

        color: #000;
        font-weight: $font-bold;
      }

      .comment-date {
        color: #585858;
        margin-left: 10px;
      }
    }

    .marked-comment {
      background-color: #F5F5F5;
      padding-left: 3px;
      padding-right: 3px;
      font-size: 12px;
    }

    .comment-html {
      a {
        @include disable-default-a-behaviour;

        color: #000;
      }
    }

    .comment-actions {
      margin: 10px 0;
      display: flex;

      .comment-action-reply, .comment-action-delete {
        color: #585858;
        cursor: pointer;
        margin-right: 10px;

        &:hover {
          color: #000;
        }
      }
    }
  }
}
