@import '_variables';
@import '_mixins';

form {
  margin-bottom: 30px;
}

.avatar-and-textarea {
  display: flex;
  margin-bottom: 10px;

  img {
    @include avatar(25px);

    vertical-align: top;
    margin-right: 10px;
  }

  .form-group {
    flex-grow: 1;
    margin: 0;

    textarea {
      @include peertube-textarea(100%, 60px);

      &:focus::placeholder {
        opacity: 0;
      }
    }
  }
}

.cancel-button {
  font-weight: $font-semibold;
  display: inline-block;
  padding: 0 10px 0 10px;
  white-space: nowrap;
  background: transparent;
}

.comment-buttons {
  display: flex;
  justify-content: flex-end;

  button {
    @include peertube-button;

    &:last-child {
      @include orange-button;
    }
  }
}

@media screen and (max-width: 600px) {
  textarea, .comment-buttons button {
    font-size: 14px !important;
  }

  textarea {
    padding: 5px !important;
  }
}

.modal-body {
  .btn {
    @include peertube-button;
    @include orange-button;
  }

  span {
    float: left;
    margin-bottom: 20px;
  }
}
