@import '_variables';
@import '_mixins';

#highlighted-comment {
  margin-bottom: 25px;
}

.view-replies {
  font-weight: $font-semibold;
  font-size: 15px;
  cursor: pointer;
  margin-left: 56px;
  margin-bottom: 10px;
}

.glyphicon, .comment-thread-loading {
  margin-left: 5px;
  display: inline-block;
  font-size: 13px;
}

.comment-html {
  word-wrap: normal;
  word-break: normal;
  text-align: justify;
}
