@import '_variables';
@import '_mixins';

.root-comment {
  font-size: 15px;
  display: flex;

  .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;

    .vertical-border {
      width: 2px;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.05);
      margin: 10px 0;
    }
  }

  .comment-avatar {
    @include avatar(36px);

    margin-top: 5px;
  }

  .comment {
    flex-grow: 1;
    // Fix word-wrap with flex
    min-width: 1px;

    .highlighted-comment {
      display: inline-block;
      background-color: #F5F5F5;
      color: #3d3d3d;
      padding: 0 5px;
      font-size: 13px;
      margin-bottom: 5px;
      font-weight: $font-semibold;
      border-radius: 3px;
    }

    .comment-account-date {
      display: flex;
      margin-bottom: 4px;

      .comment-account {
        @include disable-default-a-behaviour;

        word-break: break-all;
        color: var(--mainForegroundColor);
        font-weight: $font-bold;
      }

      .comment-date {
        color: $grey-foreground-color;
        margin-left: 10px;
      }
    }

    .comment-html {
      @include peertube-word-wrap;
      margin-bottom: 10px;

      // Mentions
      ::ng-deep a {

        &:not(.linkified-url) {
          @include disable-default-a-behaviour;

          color: var(--mainForegroundColor);

          font-weight: $font-semibold;
        }

      }

      &.comment-html-deleted {
        color: $grey-foreground-color;
      }
    }

    .comment-actions {
      margin-bottom: 10px;
      display: flex;

      .comment-action-reply,
      .comment-action-delete {
        color: $grey-foreground-color;
        cursor: pointer;
        margin-right: 10px;

        &:hover {
          color: var(--mainForegroundColor);
        }
      }
    }
  }

  .children {
    // Reduce avatars size for replies
    .comment-avatar {
      @include avatar(25px);
    }

    .left {
      margin-right: 6px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .children {
    margin-left: -10px;
  }
}

@media screen and (max-width: 600px) {
  .root-comment {
    .children {
      margin-left: -20px;

      .left {
        align-items: flex-start;

        .vertical-border {
          margin-left: 2px;
        }
      }
    }

    .comment {
      .comment-account-date {
        flex-direction: column;

        .comment-date {
          margin-left: 0;
        }
      }
    }
  }
}
