<div class="root-comment">
  <img [src]="getAvatarUrl(comment.account)" alt="Avatar" />

  <div class="comment">
    <div class="comment-account-date">
      <a target="_blank" [href]="comment.account.url" class="comment-account">{{ comment.by }}</a>
      <div class="comment-date">{{ comment.createdAt | myFromNow }}</div>
    </div>
    <div class="comment-html" [innerHTML]="sanitizedCommentHTML"></div>

    <div class="comment-actions">
      <div *ngIf="isUserLoggedIn()" (click)="onWantToReply()" class="comment-action-reply">Reply</div>
      <div *ngIf="isRemovableByUser()" (click)="onWantToDelete()" class="comment-action-delete">Delete</div>
    </div>

    <my-video-comment-add
      *ngIf="isUserLoggedIn() && inReplyToCommentId === comment.id"
      [user]="user"
      [video]="video"
      [parentComment]="comment"
      [parentComments]="newParentComments"
      [focusOnInit]="true"
      (commentCreated)="onCommentReplyCreated($event)"
    ></my-video-comment-add>

    <div *ngIf="commentTree" class="children">
      <div *ngFor="let commentChild of commentTree.children">
        <my-video-comment
          [comment]="commentChild.comment"
          [video]="video"
          [inReplyToCommentId]="inReplyToCommentId"
          [commentTree]="commentChild"
          [parentComments]="newParentComments"
          (wantedToReply)="onWantToReply($event)"
          (wantedToDelete)="onWantToDelete($event)"
          (resetReply)="onResetReply()"
        ></my-video-comment>
      </div>
    </div>
  </div>
</div>
