<ng-template #modal let-hide="close">
  <div class="modal-header">
    <h4 i18n class="modal-title">Share</h4>

    <button class="border-0 p-0" title="Close this modal" i18n-title (click)="hide()">
      <my-global-icon iconName="cross"></my-global-icon>
    </button>
  </div>

  <div class="modal-body">
    @if (playlist()) {
      <my-share-playlist
        [playlist]="playlist()"
        [playlistPosition]="playlistPosition()"
        [video]="video()"
        [customizations]="customizations"
      ></my-share-playlist>
    }

    @if (video()) {
      <my-share-video
        [video]="video()"
        [videoCaptions]="videoCaptions()"
        [playlist]="playlist()"
        [customizations]="customizations"
      ></my-share-video>
    }
  </div>
</ng-template>
