<div class="admin-sub-header">
  <div i18n class="form-sub-title">Users list</div>

  <a class="add-button" routerLink="/admin/users/create">
    <my-global-icon iconName="add"></my-global-icon>
    <ng-container i18n>Create user</ng-container>
  </a>
</div>

<p-table
  [value]="users" [lazy]="true" [paginator]="true" [totalRecords]="totalRecords" [rows]="rowsPerPage"
  [sortField]="sort.field" [sortOrder]="sort.order" (onLazyLoad)="loadLazy($event)" dataKey="id"
  [(selection)]="selectedUsers"
>
  <ng-template pTemplate="caption">
    <div class="caption">
      <div>
        <my-action-dropdown
          *ngIf="isInSelectionMode()" i18n-label label="Batch actions" theme="orange"
          [actions]="bulkUserActions" [entry]="selectedUsers"
        >
        </my-action-dropdown>
      </div>

      <div>
        <input
          type="text" name="table-filter" id="table-filter" i18n-placeholder placeholder="Filter..."
          (keyup)="onSearch($event)"
        >
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th style="width: 40px">
        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
      </th>
      <th style="width: 40px"></th>
      <th i18n pSortableColumn="username">Username <p-sortIcon field="username"></p-sortIcon></th>
      <th i18n>Email</th>
      <th i18n pSortableColumn="videoQuotaUsed">Video quota <p-sortIcon field="videoQuotaUsed"></p-sortIcon></th>
      <th i18n>Role</th>
      <th i18n pSortableColumn="createdAt">Created <p-sortIcon field="createdAt"></p-sortIcon></th>
      <th style="width: 50px;"></th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-expanded="expanded" let-user>

    <tr [pSelectableRow]="user" [ngClass]="{ banned: user.blocked }">
      <td class="expand-cell">
        <p-tableCheckbox [value]="user"></p-tableCheckbox>
      </td>

      <td>
        <span *ngIf="user.blockedReason" class="expander" [pRowToggler]="user">
          <i [ngClass]="expanded ? 'glyphicon glyphicon-menu-down' : 'glyphicon glyphicon-menu-right'"></i>
        </span>
      </td>

      <td>
        <a i18n-title title="Go to the account page" target="_blank" rel="noopener noreferrer" [routerLink]="[ '/accounts/' + user.username ]">
          {{ user.username }}
          <span i18n *ngIf="user.blocked" class="banned-info">(banned)</span>
        </a>
      </td>

      <td *ngIf="!requiresEmailVerification || user.blocked; else emailWithVerificationStatus" [title]="user.email">{{ user.email }}</td>

      <ng-template #emailWithVerificationStatus>
        <td *ngIf="user.emailVerified === false; else emailVerifiedNotFalse" i18n-title title="User's email must be verified to login">
          <em>? {{ user.email }}</em>
        </td>
        <ng-template #emailVerifiedNotFalse>
          <td i18n-title title="User's email is verified / User can login without email verification">
            &#x2713; {{ user.email }}
          </td>
        </ng-template>
      </ng-template>

      <td>{{ user.videoQuotaUsed }} / {{ user.videoQuota }}</td>
      <td>{{ user.roleLabel }}</td>
      <td [title]="user.createdAt">{{ user.createdAt }}</td>
      <td class="action-cell">
        <my-user-moderation-dropdown *ngIf="!isInSelectionMode()" [user]="user" (userChanged)="onUserChanged()" (userDeleted)="onUserChanged()">
        </my-user-moderation-dropdown>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="rowexpansion" let-user>
    <tr class="user-blocked-reason">
      <td colspan="7">
        <span i18n class="ban-reason-label">Ban reason:</span>
        {{ user.blockedReason }}
      </td>
    </tr>
  </ng-template>
</p-table>

<my-user-ban-modal #userBanModal (userBanned)="onUserChanged()"></my-user-ban-modal>
