@import '_variables';
@import '_mixins';

.add-button {
  @include create-button;
}

tr.banned > td {
  background-color: lighten($color: $red, $amount: 40) !important;
}

.table-email {
  @include disable-default-a-behaviour;
  color: pvar(--mainForegroundColor);
}

.banned-info {
  font-style: italic;
}

.ban-reason-label {
  font-weight: $font-semibold;
}

.user-table-primary-text .glyphicon {
  font-size: 80%;
  color: gray;
  margin-left: 0.1rem;
}

.caption {
  justify-content: space-between;

  input {
    @include peertube-input-text(250px);
  }
}

p-tableCheckbox {
  position: relative;
  top: -2.5px;
}

my-global-icon {
  width: 18px;
}

.chip {
  @include chip;
}

.badge {
  @include table-badge;
}

.progress {
  @include progressbar($small: true);
  width: auto;
  max-width: 100%;
}

.input-group {
  @include peertube-input-group(300px);
  input {
    flex: 1;
  }

  .dropdown-toggle::after {
    margin-left: 0;
  }
}
