textarea {
  @include peertube-input-text(100%);

  font-size: 15px;
  height: 150px;
}

.previews /deep/ {
  font-size: 15px !important;

  .nav {
    margin-top: 10px;
  }

  .tab-content {
    min-height: 75px;
    padding: 5px;
  }
}
