extends ../common/greetings
include ../common/mixins.pug

block title
  | Abuse report state changed

block content
  p
    | #[a(href=abuseUrl) Your abuse report ##{abuseId}] on #{instanceName} has been #{isAccepted ? 'accepted' : 'rejected'}
