<ng-template #modal let-close="close" let-dismiss="dismiss">
  <div class="modal-header">
    <h1 i18n class="modal-title">Accept ownership</h1>

    <my-global-icon iconName="cross" aria-label="Close" role="button" (click)="dismiss()"></my-global-icon>
  </div>

  <div class="modal-body" [formGroup]="form">
    <div class="form-group">
      <label i18n for="channel">Select a channel to receive the video</label>
      <div class="peertube-select-container">
        <select formControlName="channel" id="channel" class="form-control">
          <option i18n value="undefined" disabled>Channel that will receive the video</option>
          <option *ngFor="let channel of videoChannels" [value]="channel.id">{{ channel.displayName }}
          </option>
        </select>
      </div>
      <div *ngIf="formErrors.channel" class="form-error">{{ formErrors.channel }}</div>
    </div>
  </div>

  <div class="modal-footer inputs">
    <div class="inputs">
      <input
        type="button" role="button" i18n-value value="Cancel" class="action-button action-button-cancel"
        (click)="dismiss()" (key.enter)="dismiss()"
      >

      <input
          type="submit" i18n-value value="Accept" class="action-button-submit"
          [disabled]="!form.valid"
          (click)="close()"
      >
    </div>
  </div>
</ng-template>
