@import '_variables';
@import '_mixins';

.action-button {
  @include peertube-button;
  @include grey-button;

  display: inline-block;
  padding: 0 10px;

  &::after {
    display: none;
  }

  &:hover, &:active, &:focus {
    background-color: $grey-color;
  }

  .icon-action {
    @include icon(21px);

    background-image: url('../../../assets/images/video/more.svg');
    top: -1px;
  }
}

.dropdown-menu {
  .dropdown-item {
    cursor: pointer;
    color: #000 !important;
  }
}