@import '_variables';
@import '_mixins';

.action-button {
  @include peertube-button;
  @include grey-button;

  &:hover, &:active, &:focus {
    background-color: $grey-color;
  }

  display: inline-block;
  padding: 0 10px;

  .icon-action {
    @include icon(21px);

    background-image: url('../../../assets/images/video/more.svg');
    top: -1px;
  }
}