@import '_variables';
@import '_mixins';

.action-button {
  @include peertube-button-link;
  @include button-with-icon(21px, 0, -2px);

  font-weight: $font-semibold;
  color: $grey-foreground-color;
  background-color: $grey-background-color;

  &:hover {
    background-color: $grey-background-hover-color;
  }

  my-global-icon {
    @include apply-svg-color($grey-foreground-color);
  }
}

// In a table, try to minimize the space taken by this button
@media screen and (max-width: 1400px) {
  :host-context(td) {
    .action-button {
      padding: 0 13px;
    }

    .button-label {
      display: none;
    }
  }
}
