{{#> base title=(t "Your video has been unblocked")}}
  <p>
    {{{t "Your video <strong>{videoName}</strong> has been unblocked by {instanceName} moderators." videoName=videoName instanceName=instanceName}}}
  </p>
{{/base}}
