@use '_variables' as *;
@use '_mixins' as *;

.caption-file {
  margin-top: 20px;
  width: max-content;

  ::ng-deep .root {
    width: max-content;
  }
}

.warning-replace-caption {
  color: pvar(--red);
  margin-top: 10px;
}
