@use '_variables' as *;
@use '_mixins' as *;
@use '_form-mixins' as *;

.caption-entry {
  display: flex;
  min-height: 40px;
  align-items: center;
  flex-wrap: wrap;

  a.caption-entry-label {
    color: pvar(--fg);

    @include disable-default-a-behaviour;

    &:hover {
      opacity: 0.8;
    }
  }

  .caption-entry-label {
    font-weight: bold;
    min-width: 100px;

    @include margin-right(20px);
  }

  .caption-entry-state {
    min-width: 250px;

    @include margin-right(15px);
  }
}

.no-caption {
  text-align: center;
}
