<div class="video-playlists-header d-flex justify-content-between align-items-end gap-2 flex-wrap">
  <my-advanced-input-filter (search)="onSearch($event)"></my-advanced-input-filter>

  <span class="total-items" *ngIf="pagination.totalItems"> {{ getTotalTitle() }}</span>

  <a class="peertube-create-button" routerLink="create">
    <my-global-icon iconName="add" aria-hidden="true"></my-global-icon>
    <ng-container i18n>Create playlist</ng-container>
  </a>
</div>

<div class="video-playlists" myInfiniteScroller (nearOfBottom)="onNearOfBottom()" [dataObservable]="onDataSubject.asObservable()">
  <div *ngFor="let playlist of videoPlaylists" class="video-playlist">
    <my-video-playlist-miniature
      [playlist]="playlist" [toManage]="true" [displayChannel]="true"
      [displayDescription]="true" [displayPrivacy]="true" [displayAsRow]="true"
    ></my-video-playlist-miniature>

    <div *ngIf="isRegularPlaylist(playlist)" class="video-playlist-buttons">
      <my-delete-button label (click)="deleteVideoPlaylist(playlist)"></my-delete-button>

      <my-edit-button label [ptRouterLink]="[ 'update', playlist.shortUUID ]"></my-edit-button>
    </div>
  </div>
</div>
