@import '_variables';
@import '_mixins';

label {
  font-weight: $font-regular;
  font-size: 100%;
}

.video-playlist-title {
  @include settings-big-title;
}

input[type=text] {
  @include peertube-input-text(340px);

  display: block;
}

textarea {
  @include peertube-textarea(500px, 150px);

  display: block;
}

.peertube-select-container {
  @include peertube-select-container(340px);
}

input[type=submit] {
  @include peertube-button;
  @include orange-button;
}

.breadcrumb {
  @include breadcrumb;
}
