@use "_variables" as *;
@use "_mixins" as *;
@use "_form-mixins" as *;
@use "_actor" as *;

.channel-filters {
  @include channel-filters;
}

.name {
  color: var(--fg);
  line-height: 1rem;
  font-weight: $font-bold;
  text-decoration: none;
}

.name-container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

my-video-playlist-miniature {
  display: block;
  width: 130px;
}
