@use '_variables' as *;
@use '_mixins' as *;

input[type=text] {
  @include peertube-input-text(340px);

  display: block;
}

.peertube-select-container {
  @include peertube-select-container(340px);
}

my-select-channel {
  display: block;
  max-width: 340px;
}

input[type=submit] {
  @include peertube-button;
  @include orange-button;
}

.breadcrumb {
  @include breadcrumb;
}
