@use '_variables' as *;
@use '_mixins' as *;

h1 {
  display: flex;
}

.create-button {
  @include create-button;
}

input[type=text] {
  @include peertube-input-text(300px);
}

.video-playlist {
  @include row-blocks($column-responsive: false);
}

.video-playlist-buttons {
  @include margin-left(10px);

  display: flex;
  align-self: flex-end;
}

.video-playlists-header {
  margin-bottom: 30px;
}

my-video-playlist-miniature {
  display: block;
  flex-grow: 1;
}

my-delete-button {
  @include margin-right(10px);
}

@include on-small-main-col {
  .video-playlists-header {
    text-align: center;
  }

  .video-playlist {
    flex-wrap: wrap;
  }

  .video-playlist-buttons {
    @include margin-left(auto);

    margin-top: 10px;
  }
}

@include on-mobile-main-col {
  .video-playlists-header {
    flex-direction: column;

    input[type=text] {
      width: 100% !important;
      margin-bottom: 12px;
    }
  }

  .action-button {
    @include margin-left(0);
  }
}
