@use '_variables' as *;
@use '_mixins' as *;
@use '_form-mixins' as *;

input[type=text] {
  @include peertube-input-text(340px);
}

.peertube-select-container {
  @include peertube-select-container(340px);
}

my-select-channel,
my-select-options {
  display: block;
  max-width: 340px;
}

.content-col {
  max-width: 500px;;
}
