<div class="row">
  <div class="content-padding">
    <h3>Blacklisted videos</h3>

    <p-dataTable
      [value]="blacklist" [lazy]="true" [paginator]="true" [totalRecords]="totalRecords" [rows]="rowsPerPage"
      sortField="id" (onLazyLoad)="loadLazy($event)"
    >
      <p-column field="id" header="ID" [sortable]="true"></p-column>
      <p-column field="name" header="Name" [sortable]="true"></p-column>
      <p-column field="description" header="Description"></p-column>
      <p-column field="duration" header="Duration" [sortable]="true"></p-column>
      <p-column field="views" header="Views" [sortable]="true"></p-column>
      <p-column field="likes" header="Likes" [sortable]="true"></p-column>
      <p-column field="dislikes" header="Dislikes" [sortable]="true"></p-column>
      <p-column field="nsfw" header="NSFW"></p-column>
      <p-column field="uuid" header="UUID" [sortable]="true"></p-column>
      <p-column field="createdAt" header="Created date" [sortable]="true"></p-column>
      <p-column header="Delete" styleClass="action-cell">
        <ng-template pTemplate="body" let-entry="rowData">
          <span (click)="removeVideoFromBlacklist(entry)" class="glyphicon glyphicon-remove glyphicon-black" title="Remove this video from blacklist"></span>
        </ng-template>
      </p-column>
    </p-dataTable>
  </div>
</div>
