@import '_variables';
@import '_mixins';

.actor {
  display: flex;

  img {
    @include avatar(100px);

    margin-right: 15px;
  }

  .actor-img-edit-container {
    position: relative;
    width: 0;

    .actor-img-edit-button {
      @include peertube-button-file(21px);
      @include button-with-icon(19px);
      @include orange-button;
    
      margin-top: 10px;
      margin-bottom: 5px;
      border-radius: 50%;
      top: 55px;
      right: 45px;
      cursor: pointer;

      input {
        width: 30px;
        height: 30px;
      }

      my-global-icon {
        right: 7px;
      }
    }
  }

  .actor-info {
    justify-content: center;
    display: inline-flex;
    flex-direction: column;

    .actor-info-names {
      display: flex;
      align-items: center;

      .actor-info-display-name {
        font-size: 20px;
        font-weight: $font-bold;

        @media screen and (max-width: $small-view) {
          font-size: 16px;
        }
      }

      .actor-info-username {
        margin-left: 7px;
        position: relative;
        top: 2px;
        font-size: 14px;
        color: $grey-actor-name;
      }
    }

    .actor-info-followers {
      font-size: 15px;
      padding-bottom: .5rem;
    }
  }
}
