<ng-container *ngIf="actor">
  <div class="actor">
    <div class="d-flex">
      <img [src]="actor.avatarUrl" alt="Avatar" />

      <div class="actor-img-edit-container">
        <div class="actor-img-edit-button" [ngbTooltip]="'(extensions: '+ avatarExtensions +', '+ maxSizeText +': '+ maxAvatarSizeInBytes +')'" placement="right" container="body">
          <my-global-icon iconName="edit"></my-global-icon>
          <label for="avatarfile" i18n>Change your avatar</label>
          <input #avatarfileInput type="file" title=" " name="avatarfile" id="avatarfile" [accept]="avatarExtensions" (change)="onAvatarChange()"/>
        </div>
      </div>
    </div>


    <div class="actor-info">
      <div class="actor-info-names">
        <div class="actor-info-display-name">{{ actor.displayName }}</div>
        <div class="actor-info-username">{{ actor.name }}</div>
      </div>
      <div i18n class="actor-info-followers">{{ actor.followersCount }} subscribers</div>
    </div>
  </div>
</ng-container>