{{#> base title=(t "Failed to import your archive")}}
  <p>
    {{t "We are sorry but the import of your archive has failed:"}}
  </p>

  <blockquote>{{errorMessage}}</blockquote>

  <p>
    {{t "Please contact your administrator if the problem occurs again."}}
  </p>
{{/base}}
