<h3>Users list</h3>

<table class="table table-hover">
  <thead>
    <tr>
      <th class="table-column-id">ID</th>
      <th>Username</th>
      <th>Created Date</th>
      <th class="text-right">Remove</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.id }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.createdDate | date: 'medium' }}</td>
      <td class="text-right">
        <span class="glyphicon glyphicon-remove" *ngIf="!user.isAdmin()" (click)="removeUser(user)"></span>
      </td>
    </tr>
  </tbody>
</table>

<a class="add-user btn btn-success pull-right" [routerLink]="['/admin/users/add']">
  <span class="glyphicon glyphicon-plus"></span>
  Add user
</a>
