@use "_variables" as *;
@use "_mixins" as *;
@use "_form-mixins" as *;

input[type="text"],
input[type="password"] {
  @include peertube-input-text(340px);
}

.btn {
  background-color: pvar(--input-bg);
  border-left: 1px solid pvar(--bg);

  &:hover {
    opacity: 0.8;
  }
}
