@import '_variables';
@import '_mixins';

.action-selection-mode {
  width: 174px;
  display: flex;
  justify-content: flex-end;

  .action-selection-mode-child {
    position: fixed;

    .action-button {
      display: inline-block;
    }

    .action-button-cancel-selection {
      @include peertube-button;
      @include grey-button;

      margin-right: 10px;
    }

    .action-button-delete-selection {
      @include peertube-button;
      @include orange-button;
      @include button-with-icon(21px);

      my-global-icon {
        @include apply-svg-color(#fff);
      }
    }
  }
}

.video {
  @include row-blocks;

  &:first-child {
    margin-top: 47px;
  }

  .checkbox-container {
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-left: 12px;
  }

  my-video-miniature {
    flex-grow: 1;
  }

  .video-buttons {
    min-width: 190px;

    *:not(:last-child) {
      margin-right: 10px;
    }
  }
}

@media screen and (max-width: $small-view) {
  .video {
    flex-direction: column;
    height: auto;

    .checkbox-container {
      display: none;
    }

    .video-buttons {
      margin-top: 10px;
    }
  }
}
