<my-videos-selection
  [pagination]="pagination"
  [(selection)]="selection"
  [(videosModel)]="videos"
  [miniatureDisplayOptions]="miniatureDisplayOptions"
  [titlePage]="titlePage"
  [getVideosObservableFunction]="getVideosObservableFunction"
  #videosSelection
>
  <ng-template ptTemplate="globalButtons">
    <span class="action-button action-button-delete-selection" (click)="deleteSelectedVideos()">
      <my-global-icon iconName="delete"></my-global-icon>
      <ng-container i18n>Delete</ng-container>
    </span>
  </ng-template>

  <ng-template ptTemplate="rowButtons" let-video>
    <my-delete-button (click)="deleteVideo(video)"></my-delete-button>

    <my-edit-button [routerLink]="[ '/videos', 'update', video.uuid ]"></my-edit-button>

    <my-button i18n-label label="Change ownership"
               className="action-button-change-ownership"
               icon="im-with-her"
               (click)="changeOwnership($event, video)"
    ></my-button>
  </ng-template>
</my-videos-selection>


<my-video-change-ownership #videoChangeOwnershipModal></my-video-change-ownership>
