@import '_variables';
@import '_mixins';

.videos-header {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 50px;

  h4,
  .fake-element {
    flex: 1;
  }

  input[type=text] {
    @include peertube-input-text(300px);
  }
}

.action-button-delete-selection {
  display: inline-block;

  @include peertube-button;
  @include orange-button;
  @include button-with-icon(21px);

  my-global-icon {
    @include apply-svg-color(#fff);
  }
}

::ng-deep {
  .action-button span {
    white-space: nowrap;
  }

  .video-miniature {
    &.display-as-row {
      // width: min-content !important;
      width: 100% !important;

      .video-bottom .video-miniature-information {
        width: max-content !important;
        min-width: unset !important;
      }
    }

    .video-bottom {
      max-width: 350px;
    }
  }
}

my-delete-button,
my-edit-button {
  margin-right: 10px;
}
