@use '_variables' as *;
@use '_mixins' as *;

label {
  font-weight: $font-regular;
  font-size: 100%;
}

.applications-title {
  @include settings-big-title;
}

.form-group {
  max-width: 500px;
}

input[type=submit] {
  @include peertube-button;
  @include orange-button;
  @include margin-left(auto);

  display: flex;

  + .form-error {
    @include margin-left(5px);

    display: inline;
  }
}
