<div class="pt-two-cols"> <!-- built-in token grid -->

  <div class="title-col">
    <h2 i18n>SUBSCRIPTION FEED</h2>

    <div i18n class="applications-description">
      Use third-party feed aggregators to retrieve the list of videos from channels you subscribed to.
    </div>
  </div>

  <div class="content-col">

    <div class="form-group">
      <label i18n for="feed-url">Feed URL</label>
      <my-input-text inputId="feed-url" [value]="feedUrl" [withToggle]="false" [withCopy]="true" [show]="true" [readonly]="true"></my-input-text>
    </div>

    <div class="form-group">
      <label i18n for="feed-token">Feed Token</label>
      <my-input-text inputId="feed-token" [value]="feedToken" [withCopy]="true" [readonly]="true"></my-input-text>

      <div class="form-group-description" i18n>⚠️ Never share your feed token with anyone.</div>
    </div>

    <input (click)="renewToken()" class="peertube-button primary-button mt-4" type="submit" i18n-value value="Renew token">

  </div>
</div>
