<div bsModal #modal="bs-modal" class="modal" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="title-page title-page-single">Share</h4>
      </div>

      <div class="modal-body">
        <div class="form-group">
          <label>URL</label>
          <div class="input-group">
            <input #urlInput (click)="urlInput.select()" type="text" class="form-control input-sm readonly" readonly [value]="getVideoUrl()" />
            <div class="input-group-btn" placement="bottom right">
              <button [ngxClipboard]="urlInput" (click)="activateCopiedMessage()" type="button" class="btn btn-default btn-search">
                <span class="glyphicon glyphicon-copy"></span>
              </button>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label>Embed</label>
          <div class="input-group">
            <input #shareInput (click)="shareInput.select()" type="text" class="form-control input-sm readonly" readonly [value]="getVideoIframeCode()" />
            <div class="input-group-btn" placement="bottom right">
              <button [ngxClipboard]="shareInput" (click)="activateCopiedMessage()" type="button" class="btn btn-default btn-search">
                <span class="glyphicon glyphicon-copy"></span>
              </button>
            </div>
          </div>
        </div>

        <div *ngIf="notSecure()" class="alert alert-warning">
          The url is not secured (no HTTPS), so the embed video won't work on HTTPS websites (web browsers block non secured HTTP requests on HTTPS websites).
        </div>
      </div>
    </div>
  </div>
</div>
