<div class="row">
  <!-- We need the video container for videojs so we just hide it -->
  <div [hidden]="videoNotFound" id="video-element-wrapper">
  </div>

  <div *ngIf="videoNotFound" id="video-not-found">Video not found :'(</div>

  <!-- Video information -->
  <div *ngIf="video" class="margin-content video-bottom">
    <div class="video-info">
      <div class="video-info-first-row">
        <div>
          <div class="video-info-name">{{ video.name }}</div>

          <div class="video-info-date-views">
            {{ video.publishedAt | myFromNow }} - {{ video.views | myNumberFormatter }} views
          </div>

          <div class="video-info-channel">
            <a [routerLink]="[ '/video-channels', video.channel.id ]" title="Go the channel page">
              {{ video.channel.displayName }}
            </a>
            <!-- Here will be the subscribe button -->
            <my-help helpType="custom" customHtml="You can subscribe to this account via any ActivityPub-capable fediverse instance. For instance with Mastodon or Pleroma you can type in the search box <strong>@{{video.account.displayName}}@{{video.account.host}}</strong> and subscribe there. Subscription as a PeerTube user is being worked on in <a href='https://github.com/Chocobozzz/PeerTube/issues/470'>#470</a>."></my-help>
          </div>

          <div class="video-info-by">
            <a [routerLink]="[ '/accounts', video.account.id ]" title="Go the account page">
              <span>By {{ video.by }}</span>
              <img [src]="video.accountAvatarUrl" alt="Account avatar" />
            </a>
          </div>
        </div>

        <div class="video-actions-rates">
          <div class="video-actions">
            <div
                *ngIf="isUserLoggedIn()" [ngClass]="{ 'activated': userRating === 'like' }" (click)="setLike()"
                class="action-button action-button-like"
            >
              <span class="icon icon-like" title="Like this video" ></span>
            </div>

            <div
                *ngIf="isUserLoggedIn()" [ngClass]="{ 'activated': userRating === 'dislike' }" (click)="setDislike()"
                class="action-button action-button-dislike"
            >
              <span class="icon icon-dislike" title="Dislike this video"></span>
            </div>

            <div *ngIf="video.support" (click)="showSupportModal()" class="action-button action-button-support">
              <span class="icon icon-support"></span>
              <span class="icon-text">Support</span>
            </div>

            <div (click)="showShareModal()" class="action-button action-button-share">
              <span class="icon icon-share"></span>
              <span class="icon-text">Share</span>
            </div>

            <div class="action-more" dropdown dropup="true" placement="right">
              <div class="action-button" dropdownToggle>
                <span class="icon icon-more"></span>
              </div>

              <ul *dropdownMenu class="dropdown-menu" id="more-menu" role="menu" aria-labelledby="single-button">
                <li role="menuitem">
                  <a class="dropdown-item" title="Download the video" href="#" (click)="showDownloadModal($event)">
                    <span class="icon icon-download"></span> Download
                  </a>
                </li>

                <li *ngIf="isUserLoggedIn()" role="menuitem">
                  <a class="dropdown-item" title="Report this video" href="#" (click)="showReportModal($event)">
                    <span class="icon icon-alert"></span> Report
                  </a>
                </li>

                <li *ngIf="isVideoBlacklistable()" role="menuitem">
                  <a class="dropdown-item" title="Blacklist this video" href="#" (click)="blacklistVideo($event)">
                    <span class="icon icon-blacklist"></span> Blacklist
                  </a>
                </li>

                <li *ngIf="isVideoUpdatable()" role="menuitem">
                  <a class="dropdown-item" title="Update this video" href="#" [routerLink]="[ '/videos/update', video.uuid ]">
                    <span class="icon icon-edit"></span> Update
                  </a>
                </li>

                <li *ngIf="isVideoRemovable()" role="menuitem">
                  <a class="dropdown-item" title="Delete this video" href="#" (click)="removeVideo($event)">
                    <span class="icon icon-blacklist"></span> Delete
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div
              class="video-info-likes-dislikes-bar"
              *ngIf="video.likes !== 0 || video.dislikes !== 0"  [tooltip]="likesBarTooltipText">
            <div class="likes-bar" [ngStyle]="{ 'width.%': video.likesPercent }"></div>
          </div>
        </div>
      </div>

      <div class="video-info-description">
        <div class="video-info-description-html" [innerHTML]="videoHTMLDescription"></div>

        <div class="video-info-description-more" *ngIf="completeDescriptionShown === false && video.description?.length >= 250" (click)="showMoreDescription()">
          Show more
          <span *ngIf="descriptionLoading === false" class="glyphicon glyphicon-menu-down"></span>
          <my-loader class="description-loading" [loading]="descriptionLoading"></my-loader>
        </div>

        <div *ngIf="completeDescriptionShown === true" (click)="showLessDescription()" class="video-info-description-more">
          Show less
          <span *ngIf="descriptionLoading === false" class="glyphicon glyphicon-menu-up"></span>
        </div>
      </div>

      <div class="video-attributes">
        <div class="video-attribute">
          <span class="video-attribute-label">
            Privacy
          </span>
          <span class="video-attribute-value">
            {{ video.privacy.label }}
          </span>
        </div>

        <div class="video-attribute">
          <span class="video-attribute-label">
            Category
          </span>
          <span class="video-attribute-value">
            {{ video.category.label }}
          </span>
        </div>

        <div class="video-attribute">
          <span class="video-attribute-label">
            Licence
          </span>
          <span class="video-attribute-value">
            {{ video.licence.label }}
          </span>
        </div>

        <div class="video-attribute">
          <span class="video-attribute-label">
            Language
          </span>
          <span class="video-attribute-value">
            {{ video.language.label }}
          </span>
        </div>

        <div class="video-attribute">
          <span class="video-attribute-label">
            Tags
          </span>

          <span class="video-attribute-value">
            {{ getVideoTags() }}
          </span>
        </div>
      </div>

      <my-video-comments [video]="video" [user]="user"></my-video-comments>
    </div>

    <div class="other-videos">
      <div class="title-page title-page-single">
        Other videos
      </div>

      <div *ngFor="let video of otherVideosDisplayed">
        <my-video-miniature [video]="video" [user]="user"></my-video-miniature>
      </div>
    </div>
  </div>


  <div class="privacy-concerns" *ngIf="hasAlreadyAcceptedPrivacyConcern === false">
    <strong>Friendly Reminder:</strong>
    <div class="privacy-concerns-text">
      The sharing system used by this video implies that some technical information about your system (such as a public IP address) can be accessed publicly.
      <a title="Get more information" target="_blank" rel="noopener noreferrer" href="/about#p2p-privacy">More information</a>
    </div>

    <div class="privacy-concerns-okay" (click)="acceptedPrivacyConcern()">
      OK
    </div>
  </div>
</div>

<ng-template [ngIf]="video !== null">
  <my-video-support #videoSupportModal [video]="video"></my-video-support>
  <my-video-share #videoShareModal [video]="video"></my-video-share>
  <my-video-download #videoDownloadModal [video]="video"></my-video-download>
  <my-video-report #videoReportModal [video]="video"></my-video-report>
</ng-template>
