<div bsModal #modal="bs-modal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content modal-lg">

      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Magnet Uri</h4>
      </div>

      <div class="modal-body">
        <div *ngFor="let file of video.files">
          <label>{{ file.resolutionLabel }}</label>
          <input #magnetUriInput (click)="magnetUriInput.select()" type="text" class="form-control input-sm readonly" readonly [value]="file.magnetUri" />
        </div>
      </div>
    </div>
  </div>
</div>
