#video-container {
  background-color: #000;
  display: flex;
  justify-content: center;

  #video-element {
    width: 888px;
    height: 500px;

    @media screen and (max-width: 800px) {
      height: auto;
    }

    // VideoJS create an inner video player
    video {
      outline: 0;
      position: relative !important;
    }
  }
}

#video-not-found {
  height: 300px;
  line-height: 300px;
  margin-top: 50px;
  text-align: center;
  font-weight: bold;
}

.video-bottom {
  margin-top: 40px;
  display: flex;

  .video-info {
    flex-grow: 1;
    margin-right: 28px;

    .video-info-name-actions {
      display: flex;
      align-items: center;

      .video-info-name {
        font-size: 27px;
        font-weight: $font-semibold;
        flex-grow: 1;
      }

      .video-info-actions {
        .action-button {
          @include peertube-button;
          @include grey-button;

          font-size: 15px;
          font-weight: $font-semibold;
          display: inline-block;
          padding: 0 10px 0 10px;

          .icon {
            @include icon(21px);

            position: relative;
            top: -2px;

            &.icon-like {
              background-image: url('../../../assets/images/video/like-grey.svg');
            }

            &.icon-dislike {
              background-image: url('../../../assets/images/video/dislike-grey.svg');
            }

            &.icon-share {
              background-image: url('../../../assets/images/video/share.svg');
            }

            &.icon-more {
              background-image: url('../../../assets/images/video/more.svg');
              top: -1px;
            }
          }

          &.activated {
            @include orange-button;

            .icon-like {
              background-image: url('../../../assets/images/video/like-white.svg');
            }

            .icon-dislike {
              background-image: url('../../../assets/images/video/dislike-white.svg');
            }
          }
        }

        .action-more {
          display: inline-block;

          .dropdown-menu .icon {
            display: inline-block;
            background-repeat: no-repeat;
            background-size: contain;
            width: 21px;
            height: 21px;
            vertical-align: middle;
            margin-right: 5px;
            position: relative;
            top: -1px;

            &.icon-download {
              background-image: url('../../../assets/images/video/download-grey.svg');
            }

            &.icon-alert {
              background-image: url('../../../assets/images/video/alert.svg');
            }

            &.icon-blacklist {
              background-image: url('../../../assets/images/video/eye-closed.svg');
            }
          }
        }
      }
    }

    .video-info-date-views-bar {
      display: flex;

      .video-info-date-views {
        font-size: 16px;
        margin-bottom: 10px;
        flex-grow: 1;
      }

      .video-info-likes-dislikes-bar {
        height: 5px;
        width: 186px;
        background-color: #E5E5E5;
        margin-top: 25px;

        .likes-bar {
          height: 100%;
          background-color: #39CC0B;
        }
      }
    }

    .video-info-channel {
      font-weight: $font-semibold;
      font-size: 15px;
    }

    .video-info-by {
      display: flex;
      align-items: center;
      font-size: 13px;

      img {
        width: 16px;
        height: 16px;
        margin-left: 3px;
      }
    }

    .video-info-description {
      margin: 20px 0;
      font-size: 15px;

      .description-loading {
        display: inline-block;
      }

      .video-info-description-more {
        cursor: pointer;
        font-weight: $font-semibold;
        color: #585858;
        font-size: 14px;

        .glyphicon {
          position: relative;
          top: 2px;
        }
      }
    }

    .video-attributes {
      .video-attribute {
        font-size: 13px;
        display: block;
        margin-bottom: 12px;

        .video-attribute-label {
          width: 86px;
          display: inline-block;
          color: #585858;
          font-weight: $font-bold;
        }
      }
    }
  }

  .other-videos {
    .title-page {
      margin-top: 0;
    }

    /deep/ .video-miniature {
      display: flex;
      height: 100%;
      margin-bottom: 20px;

      .video-miniature-information {
        margin-left: 10px;
      }
    }
  }
}


@media screen and (max-width: 1000px) {
  .other-videos {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .video-bottom {
    margin: 20px 0 0 0;

    .video-info {
      margin-right: 0;

      .video-info-name-actions {
        align-items: left;
        flex-direction: column;
        margin-bottom: 30px;
      }

      .video-info-date-views-bar {
        align-items: left;
        flex-direction: column;
        margin-bottom: 30px;

        .video-info-likes-dislikes-bar {
          margin-top: 0;
        }
      }
    }
  }
}
