@import '_variables';
@import '_mixins';

.peertube-select-container {
  @include peertube-select-container(130px);
}

.download-type {
  margin-top: 30px;

  .peertube-radio-container {
    @include peertube-radio-container;

    display: inline-block;
    margin-right: 30px;
  }
}
