#video-container {
  width: 100%;
  height: 100%;
}

#video-not-found {
  height: 300px;
  line-height: 300px;
  margin-top: 50px;
  text-align: center;
  font-weight: bold;
}

.embed-responsive {
  height: 500px;

  @media screen and (max-width: 600px) {
    height: 300px;
  }
}

#torrent-info {
  font-size: 10px;
  margin-top: 10px;
  text-align: center;

  div {
    min-width: 60px;
  }
}

#video-info {
  .video-name-views {
    font-weight: bold;
    font-size: 18px;
    min-height: $video-watch-title-height;
    display: flex;
    align-items: center;

    .video-name {
      padding-left: $video-watch-info-padding-left;
    }

    .video-views {
      text-align: right;
      // Keep a symmetry with the video name
      padding-right: $video-watch-info-padding-left
    }

  }

  .video-small-blocks {
    height: $video-watch-info-height;
    color: $video-watch-info-color;
    border-color: $video-watch-border-color;
    border-width: 1px 0px;
    border-style: solid;

    .video-small-block {
      height: $video-watch-info-height;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;

      a {
        cursor: pointer;
        transition: color 0.3s;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &, &:hover {
          color: inherit;
          text-decoration:none;
        }

        &:hover {
          color: #000 !important;
        }

        &:hover > .glyphicon {
          opacity: 1 !important;
        }
      }

      .option .glyphicon {
        font-size: 22px;
        color: inherit;
        opacity: 0.15;
        margin-bottom: 10px;
        transition: opacity 0.3s;
      }

      .video-small-block-text {
        font-size: 15px;
        font-weight: bold;
      }
    }

    .video-small-block:not(:last-child) {
      border-width: 0 1px 0 0;
      border-color: $video-watch-border-color;
      border-style: solid;
    }

    .video-small-block-author, .video-small-block-more {
      a.option {
        display: block;

        .glyphicon {
          display: block;
        }
      }
    }

    .video-small-block-share, .video-small-block-more {
      a.option {
        display: block;

        .glyphicon {
          display: block;
        }
      }
    }

    .video-small-block-more .video-small-block-dropdown {
      position: relative;

      .dropdown-item .glyphicon {
        margin-right: 5px;
      }
    }

    .video-small-block-rating {

      .video-small-block-like {
        margin-bottom: 10px;
      }

      .video-small-block-text {
        vertical-align: top;
      }

      .glyphicon {
        font-size: 18px;
        margin: 0 10px 0 0;
        opacity: 0.3;
      }

      .interactive {
        cursor: pointer;
        transition: opacity, color 0.3s;

        &.activated, &:hover {
          opacity: 1;
          color: #000;
        }
      }
    }
  }

  .video-details {
    margin-top: 30px;

    .video-details-date-description {
      padding-left: $video-watch-info-padding-left;

      .video-details-date {
        font-weight: bold;
        margin-bottom: 30px;
      }

      .video-details-description-more {
        cursor: pointer;
        margin-top: 15px;
        font-weight: bold;
        color: #acaeb7;

        .glyphicon {
          position: relative;
          top: 2px;
        }
      }
    }

    .video-details-attributes {
      font-weight: bold;
      font-size: 12px;

      .video-details-attribute {
        display: flex;

        .video-details-attribute-label {
          color: $video-watch-info-color;
          flex-basis: 60px;
          flex-grow: 0;
          flex-shrink: 0;
          margin-right: 5px;
        }
      }
    }

    .video-details-tags {
      display: flex;
      flex-wrap: wrap;

      a {
        margin: 0 3px 3px 0;
        font-size: 11px;
      }
    }
  }

  @media screen and (max-width: 400px) {
    .video-name-views {
      font-size: 16px !important;
    }
  }

  @media screen and (max-width: 800px) {
    .video-name-views {
      .video-name {
        padding-left: 5px;
        padding-right: 0px;
      }

      .video-views {
        padding-left: 0px;
        padding-right: 5px;
      }
    }

    .video-small-blocks {
      a, .video-small-block-text {
        font-size: 13px !important;
      }

      .glyphicon {
        font-size: 18px !important;
      }

      .video-small-block-author {
        padding-left: 10px;
      }
    }

    .video-details {
      .video-details-date-description {
        padding-left: 10px;
        font-size: 13px !important;
      }

      .video-details-attributes {
        font-size: 11px !important;

        .video-details-attribute-label {
          width: 50px;
        }
      }
    }
  }
}
