@import '_variables';
@import '_mixins';

input:not([type=submit]) {
  @include peertube-input-text(340px);
  display: block;
}

input[type=submit] {
  @include peertube-button;
  @include orange-button;
}

input[type=password] {
  display: inline-block;
  margin-right: 5px;
}

.forgot-password-button {
  display: inline-block;
  cursor: pointer;
}
