<div class="margin-content">
  <div *ngIf="videoChannel" class="row no-gutters">
    <div class="description col-md-6 col-sm-12 pr-2">
      <div class="block">
        <div i18n class="small-title">DESCRIPTION</div>
        <div class="content" [innerHtml]="getVideoChannelDescription()"></div>
      </div>
  
      <div class="block" *ngIf="supportHTML">
        <div i18n class="small-title">SUPPORT THIS CHANNEL</div>
        <div class="content" [innerHtml]="supportHTML"></div>
      </div>
    </div>
  
    <div class="stats col-md-6 col-sm-12">
      <div class="block">
        <div i18n class="small-title">STATS</div>
        <div i18n class="content">Created {{ videoChannel.createdAt | date }}</div>
      </div>
    </div>
  </div>
</div>
