<ng-template #modal let-close="close" let-dismiss="dismiss">
  <div class="modal-header">
    <h4 i18n class="modal-title">Change ownership</h4>

    <my-global-icon iconName="cross" aria-label="Close" role="button" (click)="dismiss()"></my-global-icon>
  </div>

  <div class="modal-body" [formGroup]="form">
    <div class="form-group">
      <label i18n for="next-ownership-username">Select the next owner</label>
      <p-autoComplete formControlName="username" [suggestions]="usernamePropositions"
                      (completeMethod)="search($event)" id="next-ownership-username"></p-autoComplete>
      <div *ngIf="formErrors.username" class="form-error">
        {{ formErrors.username }}
      </div>
    </div>
  </div>

  <div class="modal-footer inputs">
    <div class="form-group inputs">
      <input
        type="button" role="button" i18n-value value="Cancel" class="action-button action-button-cancel"
        (click)="dismiss()" (key.enter)="dismiss()"
      >

      <input
        type="submit" i18n-value value="Submit" class="action-button-submit"
        [disabled]="!form.valid"
        (click)="close()"
      />
    </div>
  </div>
</ng-template>
