#video-container {
  width: 100%;
  height: 100%;
}

#video-not-found {
  height: 300px;
  line-height: 300px;
  margin-top: 50px;
  text-align: center;
  font-weight: bold;
}

.embed-responsive {
  height: 500px;
}

#torrent-info {
  font-size: 10px;
  margin-top: 10px;
  text-align: center;

  div {
    min-width: 60px;
  }
}

.embed-responsive {
  @media screen and (max-width: 600px) {
    height: 300px;
  }
}

#video-info {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  padding-top: 5px;

  #video-name-actions {

    #video-name {
      font-size: 20px;
    }

    .btn .glyphicon {
      position: relative;
      top: 2px;
    }

    #magnet-uri, #share, #more {
      font-weight: bold;
      opacity: 0.85;
    }

    #more-menu .dropdown-item .glyphicon {
      margin-right: 5px;
    }
  }

  #video-by-date {
    font-size: 13px;
    opacity: 0.6;

    a {
      color: black;
    }

    #video-date:before {
      content: '\002022';
      margin: 0 5px;
    }
  }

  #video-tags {
    margin-top: 10px;

    a {
      margin-right: 5px;
    }
  }

  #video-description {
    margin-top: 15px;

    #description-label {
      font-weight: bold;
    }
  }
}
