my-loader {
  display: block;
  padding-top: 200px;
  width: 100%;
  text-align: center;
}

.embed-responsive {
  height: 500px;
}

#torrent-info {
  font-size: 10px;
  margin-top: 10px;
  text-align: center;

  div {
    min-width: 60px;
  }
}

.embed-responsive {
  @media screen and (max-width: 600px) {
    height: 300px;
  }
}
