@use '_variables' as *;
@use '_mixins' as *;

.peertube-contributors {
  .framasoft {
    font-size: 18px;
  }

  > p {
    text-align: center;
  }

  ::ng-deep h1 {
    font-size: 1rem;
    text-align: center;
    font-weight: $font-semibold;
    margin-top: 20px;
  }

  ::ng-deep ul {
    padding: 0;
    text-align: center;

    li {
      @include margin-right(10px);

      display: inline-block;
    }
  }
}
