@use '_variables' as *;
@use '_mixins' as *;

.root {
  max-width: 1200px;
  margin: auto;
}

.card {
  @include margin(2rem);

  flex-basis: 300px;
}

.card-title {
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: 1rem;
}
