@use '_variables' as *;
@use '_mixins' as *;

.feed {
  width: 100%;

  a {
    color: #000;
    display: block;
  }
}

my-global-icon {
  @include apply-svg-color(pvar(--mainForegroundColor));

  cursor: pointer;
  width: 100%;
}
