@import '_variables';
@import '_mixins';

.feed {
  width: 100%;

  a {
    color: black;
    display: block;
  }
}

my-global-icon {
  cursor: pointer;
  width: 100%;

  @include apply-svg-color(pvar(--mainForegroundColor))
}
