@use '_mixins' as *;

.wrapper {
  position: relative;
  margin-bottom: 5px;

  @include margin-right(5px);

  .second-avatar {
    height: 60%;
    width: 60%;
    position: absolute;
    bottom: -5px;
    right: -5px;
    background-color: rgba(0, 0, 0, 0);
  }
}
