@use '_variables' as *;
@use '_mixins' as *;

.attribute {
  font-size: 13px;
  display: block;
  margin-bottom: 12px;
}

.attribute-label {
  @include padding-right(5px);

  min-width: 142px;
  display: inline-block;
  color: pvar(--greyForegroundColor);
  font-weight: $font-bold;
}

a.attribute-value {
  @include disable-default-a-behaviour;
  color: pvar(--mainForegroundColor);

  &:hover {
    opacity: 0.9;
  }
}

.attribute-tags {
  .attribute-value:not(:nth-child(2)) {
    &::before {
      content: ', ';
    }
  }
}

@media screen and (max-width: 1600px) {
  .attributes .attribute {
    margin-bottom: 5px;
  }
}
