@use '_mixins' as *;

@mixin main {
  @include actor-avatar-size(35px);
}

@mixin secondary {
  height: 60%;
  width: 60%;
  position: absolute;
  bottom: -5px;
  right: -5px;
  background-color: rgba(0, 0, 0, 0);
}

.wrapper {
  @include actor-avatar-size(35px);
  @include margin-right(5px);

  position: relative;
  margin-bottom: 5px;

  &.generic-channel {
    .account {
      @include main();
    }

    .channel {
      display: none !important;
    }
  }

  &:not(.generic-channel) {
    .account {
      @include secondary();
    }

    .channel {
      @include main();
    }
  }
}
