extends ../common/greetings
include ../common/mixins.pug

block title
  | Your export archive has been created

block content
  p
    | Your export archive has been created. You can download it in #[a(href=exportsUrl) your account export page].
