{{! Your export archive has been created }}
{{#> base title=(t "Your export archive has been created")}}
  <p>
    {{t "Your export archive has been created."}}
  </p>

  <p>
    {{{t "You can download it in <a href=\"{exportsUrl}\">your account export page</a>." exportsUrl=exportsUrl}}}
  </p>
{{/base}}
