@use '_variables' as *;
@use '_mixins' as *;

:host {
  width: 100%;
}

li {
  // Fix child outline on focus-visible
  padding-top: 2px;
}

.root {
  overflow: hidden;
  max-width: calc(100vw - 30px);
  padding-bottom: 3px;
}

.list-overflow-parent {
  display: flex;
  align-items: center;

  // For the menu icon
  position: relative;

  &.has-border {
    border-bottom: 1px solid pvar(--fg-200);
  }
}

.list-overflow-menu {
  position: absolute;
  right: 0;
}

button {
  &::after {
    display: none;
  }

  &.route-active {
    &::after {
      display: inherit;
      border: 2px solid pvar(--primary);
      position: relative;
      right: 95%;
      top: 50%;
    }
  }
}

.modal-body {
  a {
    color: currentColor;
    box-sizing: border-box;
    display: block;
    font-size: 1.2rem;
    padding: 9px 12px;
    text-align: initial;
    text-transform: unset;
    width: 100%;

    @include disable-default-a-behaviour;

    &.active {
      color: pvar(--on-primary) !important;
      background-color: pvar(--primary-450);
      opacity: .9;
    }
  }
}
