@import '_variables';
@import '_mixins';

.btn-group-subscribe {
  @include peertube-button;
  @include disable-default-a-behaviour;

  float: right;
  padding: 0;

  & > .btn,
  & > .dropdown > .dropdown-toggle {
    font-size: 15px;
  }

  &:not(.big) {
    white-space: nowrap;
  }

  &.big {
    height: 35px;

    & > button:first-child {
      width: 175px;
    }

    button .extra-text {
      span:first-child {
        line-height: 80%;
      }
    
      span:not(:first-child) {
        font-size: 75%;
      }
    }
  }

  // Unlogged
  & > .dropdown > .dropdown-toggle span {
    padding-right: 3px;
  }

  // Logged
  & > .btn {
    padding-right: 4px;

    & + .dropdown > button {
      padding-left: 2px;

      &::after {
        position: relative;
        top: 1px;
      }
    }
  }

  &.subscribe-button {
    .btn {
      @include orange-button;
      font-weight: 600;
    }

    span.followers-count {
      padding-left: 5px;
    }
  }
  &.unsubscribe-button {
    .btn {
      @include grey-button;
      font-weight: 600;
    }
  }

  .dropdown-menu {
    cursor: default;

    button {
      cursor: pointer;
    }

    .dropdown-item-neutral {
      cursor: default;

      &:hover,
      &:focus {
        background-color: inherit;
      }
    }
  }

  ::ng-deep form {
    padding: 0.25rem 1rem;
  }

  input {
    @include peertube-input-text(100%);
  }
}

.extra-text {
  display: flex;
  flex-direction: column;

  span:first-child {
    line-height: 75%;
  }

  span:not(:first-child) {
    font-size: 60%;
    text-align: left;
  }
}
