@use '_variables' as *;
@use '_mixins' as *;

.btn-group-subscribe {
  padding: 0;

  @include peertube-button;

  button.dropdown-toggle {
    font-size: $button-font-size;
    line-height: 1.2;
  }

  &:not(.big) {
    white-space: nowrap;
  }

  &.big {
    height: 35px;

    > button:first-child {
      width: max-content;
      min-width: 175px;
    }

    button .extra-text {
      span:first-child {
        line-height: 80%;
      }

      span:not(:first-child) {
        font-size: 75%;
      }
    }
  }

  // Unlogged
  > .dropdown > .dropdown-toggle span {
    @include padding-right(5px);
  }

  // Logged
  > .btn {
    @include padding-right(4px);

    + .dropdown > button {
      @include padding-left(2px);

      &::after {
        position: relative;
        top: 1px;
      }
    }
  }

  &.subscribe-button {
    .btn {
      font-weight: 600;

      @include orange-button;
    }

    span.followers-count {
      @include padding-left(5px);
    }
  }

  &.unsubscribe-button {
    .btn {
      font-weight: 600;

      @include grey-button;
    }
  }

  .dropdown-menu {
    cursor: default;

    button {
      cursor: pointer;
    }

    .dropdown-item {
      @media screen and (max-width: $mobile-view) {
        white-space: normal;
      }
    }

    .dropdown-item-neutral {
      cursor: default;

      &:hover,
      &:focus {
        background-color: inherit;
      }
    }
  }

  ::ng-deep form {
    padding: 0.25rem 1rem;
  }

  input {
    @include peertube-input-text(100%);
  }
}

.extra-text {
  display: flex;
  flex-direction: column;

  span:first-child {
    line-height: 75%;
  }

  span:not(:first-child) {
    font-size: 60%;
    text-align: start;
  }
}
