@use 'sass:math';
@use '_variables' as *;
@use '_mixins' as *;
@use '_miniature' as *;

.table-video-link {
  position: relative;
  top: 3px;

  @include disable-outline;
}

.table-video {
  display: inline-flex;

  .table-video-image {
    @include miniature-thumbnail;
    @include margin-right(0.5rem);

    & {
      $image-height: 45px;

      height: $image-height;
      width: #{math.div(16, 9) * $image-height};
      border-radius: 2px;
      border: 0;
      background: transparent;
      display: inline-flex;
      justify-content: center;
      position: relative;
    }

    img {
      height: 100%;
      width: 100%;
      border-radius: 2px;
    }

    .table-video-image-label {
      position: absolute;
      border-radius: 3px;
      font-size: 10px;
      padding: 0 3px;
      line-height: 1.3;
      bottom: 2px;
      right: 2px;

      @include static-thumbnail-overlay;
    }
  }

  .table-video-text {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    font-size: 90%;
    color: pvar(--fg);
    line-height: 1rem;

    div + div {
      color: pvar(--fg-300);
      font-size: 11px;
    }
  }
}
