@use "sass:math";
@use "_variables" as *;
@use "_mixins" as *;
@use "_miniature" as *;

.root {
  --co-image-height: 78px;

  display: flex;
  align-items: center;
  gap: 0.5rem;

  @media screen and (max-width: $mobile-view) {
    --co-image-height: 64px;
  }

  &.small {
    --co-image-height: 45px;
  }
}

my-video-thumbnail {
  display: block;
  height: var(--co-image-height);
  width: calc(#{math.div(16, 9)} * var(--co-image-height));

  & + .name {
    @include margin-left(0.5rem);
  }
}

.name {
  color: pvar(--fg);
  line-height: 1rem;
  font-weight: $font-bold;
  text-decoration: none;
  max-width: 300px;
}

.channel {
  color: pvar(--fg-200);
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  margin-top: 0.25rem;

  @include font-size(14px);

  &:hover {
    opacity: 1;
    color: pvar(--fg-300);
  }
}
