@use 'sass:math';
@use '_variables' as *;
@use '_mixins' as *;
@use '_miniature' as *;

.table-video-link {
  @include disable-outline;

  position: relative;
  top: 3px;
}

.table-video {
  display: inline-flex;

  .table-video-image {
    $image-height: 45px;

    @include miniature-thumbnail;
    @include margin-right(0.5rem);

    height: $image-height;
    width: #{math.div(16, 9) * $image-height};
    border-radius: 2px;
    border: 0;
    background: transparent;
    display: inline-flex;
    justify-content: center;
    position: relative;

    img {
      height: 100%;
      width: 100%;
      border-radius: 2px;
    }

    span {
      color: pvar(--inputPlaceholderColor);
    }

    .table-video-image-label {
      @include static-thumbnail-overlay;

      position: absolute;
      border-radius: 3px;
      font-size: 10px;
      padding: 0 3px;
      line-height: 1.3;
      bottom: 2px;
      right: 2px;
    }
  }

  .table-video-text {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    font-size: 90%;
    color: pvar(--mainForegroundColor);
    line-height: 1rem;

    div + div {
      color: var(--greyForegroundColor);
      font-size: 11px;
    }
  }
}
