@import 'variables';
@import 'mixins';

.first-step-block {
  .form-group-channel {
    margin-bottom: 20px;
    margin-top: 35px;
  }

  .audio-image-info {
    margin-bottom: 10px;
  }

  .audio-preview {
    margin: 30px 0;
  }
}

.upload-progress-cancel {
  display: flex;
  margin-top: 25px;
  margin-bottom: 40px;

  .progress {
    @include progressbar;
    flex-grow: 1;
    height: 30px;
    font-size: 15px;
    background-color: rgba(11, 204, 41, 0.16);

    .progress-bar {
      background-color: $green;
      line-height: 30px;
      text-align: left;
      font-weight: $font-bold;

      span {
        color: pvar(--mainBackgroundColor);
        margin-left: 18px;
      }
    }
  }

  input {
    @include peertube-button;
    @include grey-button;

    margin-left: 10px;
  }
}
