@import 'variables';
@import 'mixins';

$width-size: 190px;

.alert.alert-danger {
  text-align: center;

  & > div {
    font-weight: $font-semibold;
  }
}

.first-step-block {
  display: flex;
  flex-direction: column;
  align-items: center;

  .upload-icon {
    width: 90px;
    margin-bottom: 25px;

    @include apply-svg-color(#C6C6C6);
  }

  .peertube-select-container {
    @include peertube-select-container($width-size);
  }

  input[type=text] {
    @include peertube-input-text($width-size);
    display: block;
  }

  input[type=button] {
    @include peertube-button;
    @include orange-button;

    width: $width-size;
    margin-top: 30px;
  }

  .button-file {
    @include peertube-button-file(max-content);
    @include orange-button;
  }
}
