@use '_variables' as *;
@use '_mixins' as *;

$width-size: 190px;

.alert.alert-danger {
  text-align: center;

  > div {
    font-weight: $font-semibold;
  }
}

.first-step-block {
  display: flex;
  flex-direction: column;
  align-items: center;

  .upload-icon {
    @include apply-svg-color(#C6C6C6);

    width: 90px;
    margin-bottom: 25px;
  }

  .peertube-select-container {
    @include peertube-select-container($width-size);
  }
  my-select-options ::ng-deep ng-select,
  my-select-channel ::ng-deep ng-select {
    width: $width-size;
    @media screen and (max-width: $width-size) {
      width: 100%;
    }
  }

  input[type=text] {
    @include peertube-input-text($width-size);
    display: block;
  }

  input[type=button] {
    @include peertube-button;
    @include orange-button;

    width: $width-size;
    margin-top: 30px;
  }

  .button-file {
    @include peertube-button-file(max-content);
    @include orange-button;
  }
}
