@use '_variables' as *;
@use '_mixins' as *;

$width-size: 275px;

.alert.alert-danger {
  text-align: center;

  > div {
    font-weight: $font-semibold;
  }
}

.first-step-block {
  display: flex;
  flex-direction: column;
  align-items: center;

  .upload-icon {
    width: 90px;
    margin-bottom: 25px;

    @include apply-svg-color(pvar(--inputBorderColor));
  }

  .peertube-select-container {
    @include peertube-select-container($width-size);
  }

  my-select-channel,
  my-select-options,
  .peertube-radio-container,
  .form-group-description {
    display: block;
    width: $width-size;

    @media screen and (max-width: $width-size) {
      width: 100%;
    }
  }

  .form-group-description {
    white-space: nowrap;
  }

  input[type=text] {
    display: block;

    @include peertube-input-text($width-size);
  }

  input[type=button] {
    width: $width-size;
    margin-top: 30px;

    @include peertube-button;
    @include orange-button;
  }

  .button-file {
    @include peertube-button-file(max-content);
    @include orange-button;
  }
}
