@import '_variables';
@import '_mixins';

:host {
  align-items: center;
}

my-search-typeahead {
  margin-right: 15px;
}

.publish-button {
  @include peertube-button-link;
  @include orange-button;
  @include button-with-icon(22px, 3px, -1px);

  margin-right: 10px;

  @media screen and (max-width: $small-view) {
    padding: 0 10px;

    .icon.icon-upload {
      margin-right: 0;
    }

    .publish-button-label {
      display: none;
    }
  }
}

.about-button {
  @include apply-svg-color(rgba(0, 0, 0, 0.75));

  &:hover, &:active {
    @include apply-svg-color(pvar(--mainColorLighter));
  }

  &.active {
    @include apply-svg-color(pvar(--mainColor));
  }

  ::ng-deep {
    svg {
      transition: color 0.15s;
    }
  }

  margin-right: 25px;
}
