#search-video {
  @include peertube-input-text($search-input-width);
  margin-right: 15px;
  padding-right: 25px; // For the search icon

  &::placeholder {
    color: #000;
  }
}

.icon.icon-search {
  @include icon(25px);
  height: 21px;

  background-image: url('../../assets/images/header/search.svg');

  // yolo
  position: absolute;
  margin-left: -50px;
  margin-top: 5px;
}

.upload-button {
  @include peertube-button-link;
  @include orange-button;

  margin-right: 25px;

  .icon.icon-upload {
    @include icon(22px);

    background-image: url('../../assets/images/header/upload.svg');
    height: 24px;
    vertical-align: middle;
    margin-right: 6px;
  }
}
