@use '_variables' as *;
@use '_mixins' as *;

.publish-button {
  @include peertube-button-link;
  @include orange-button;
  @include button-with-icon(22px, 3px, -1px);
  @include margin-right(25px);

  @media screen and (max-width: $mobile-view) {
    @include margin-right(10px);

    padding: 0 10px;

    .icon.icon-upload {
      @include margin-right(0);
    }

    .publish-button-label {
      display: none;
    }
  }
}
