@use '_variables' as *;
@use '_mixins' as *;

a {
  @include disable-default-a-behaviour;

  width: 100%;

  &,
  &:hover {
    color: pvar(--mainForegroundColor);

    &.focus-visible {
      background-color: pvar(--mainHoverColor);
      color: pvar(--mainBackgroundColor);
    }
  }
}

.result-type {
  background-color: pvar(--mainBackgroundColor);
  color: pvar(--mainForegroundColor);
}

my-global-icon {
  @include apply-svg-color(pvar(--mainForegroundColor));

  width: 17px;
  position: relative;
  top: -1px;
}
