@import '_mixins';

a {
  @include disable-default-a-behaviour;
  width: 100%;

  &, &:hover {
    color: pvar(--mainForegroundColor);

    &.focus-visible {
      background-color: pvar(--mainHoverColor);
      color: pvar(--mainBackgroundColor);
    }
  }
}

.bg-gray {
  background-color: pvar(--mainBackgroundColor);
}

.text-gray-light {
  color: pvar(--mainForegroundColor);
}

my-global-icon {
  width: 17px;
  position: relative;
  top: -2px;
  margin: 5px;

  @include apply-svg-color(pvar(--mainForegroundColor));
}
