@use '_variables' as *;
@use '_mixins' as *;
@use '_form-mixins' as *;

.no-history {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  font-weight: $font-semibold;
}

.top-buttons {
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 250px 1fr auto auto;
  align-items: center;

  .search-wrapper {
    grid-column: 1;

    input {
      @include peertube-input-text(250px);
    }
  }

  .history-switch {
    grid-column: 3;
    display: flex;
    align-items: center;

    @include margin-left(auto);
    @include margin-right(15px);

    label {
      margin: 0 0 0 5px;
      color: pvar(--fg-400);
      font-weight: $font-semibold;
    }
  }

  .delete-history {
    grid-column: 4;
  }
}

.video {
  @include row-blocks($column-responsive: false);
}

.action-button {
  display: flex;
  align-self: flex-end;
}

@media screen and (max-width: $small-view) {
  .top-buttons {
    grid-template-columns: auto 1fr auto;
    row-gap: 20px;

    .history-switch {
      grid-row: 1;
      grid-column: 1;
      margin: 0;
    }

    .delete-history {
      grid-row: 1;
      grid-column: 3;
    }

    .search-wrapper {
      grid-column: 1 / 4;
    }
  }
}
