<div class="root one-column">
  <div class="mascot-container">
    <img class="mascot" src="/client/assets/images/mascot/happy.svg" alt="mascot">
  </div>

  <h4>
    <div i18n class="title">Welcome to PeerTube</div>

    <div i18n class="sub-title">dear administrator!</div>
  </h4>

  <div class="text-content mt-3" i18n>Sepia, the cuttlefish, has a few questions to help you <strong>quickly pre-configure your platform</strong>.</div>

  <div class="buttons">
    <my-button i18n theme="primary" (click)="next.emit()">Let's go!</my-button>
    <my-button i18n (click)="hide.emit({ doNotOpenAgain: false })" theme="secondary">Remind me later</my-button>
    <button i18n (click)="hide.emit({ doNotOpenAgain: true })" class="button-as-link">Do not display again</button>
  </div>
</div>
