@import '_variables';
@import '_mixins';

.help-tooltip-button {
  cursor: pointer;
  border: none;

  my-global-icon {
    width: 17px;
    position: relative;
    top: -2px;
    margin: 5px;

    @include apply-svg-color(var(--mainForegroundColor))
  }
}

::ng-deep {
  .help-popover {
    max-width: 300px;

    .popover-body {
      font-family: $main-fonts;
      text-align: left;
      padding: 10px;
      font-size: 13px;
      background-color: var(--mainBackgroundColor);
      color: var(--mainForegroundColor);
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);

      p {
        margin-bottom: 0;
      }

      ul {
        padding-left: 20px;
        margin-bottom: 0;
      }
    }
  }
}
