@import '_variables';
@import '_mixins';

.help-tooltip-button {
  cursor: pointer;
  border: none;

  my-global-icon {
    width: 17px;
    position: relative;
    top: -2px;
    margin: 5px;

    @include apply-svg-color(var(--mainForegroundColor))
  }
}

::ng-deep {
  .help-popover {
    z-index: z(help-popover) !important;
    max-width: 300px;

    .popover-body {
      font-family: $main-fonts;
      text-align: left;
      padding: 10px;
      font-size: 13px;
      background-color: var(--mainBackgroundColor);
      color: var(--mainForegroundColor);
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);

      p {
        margin-bottom: 0;
      }

      ul {
        padding-left: 20px;
        margin-bottom: 0;
      }
    }
  }
}
