@import '_variables';
@import '_mixins';

.job-id {
  max-width: 30vw !important;
}

.job-type {
  width: 150px !important;
}

.job-date {
  width: 170px !important;
}

.job-state {
  max-width: 60px;
}

.admin-sub-header {
  flex-direction: row !important;
  justify-content: flex-end;

  .select-filter-block {
    &:not(:last-child) {
      margin-right: 10px;
    }

    label {
      margin-bottom: 2px;
    }

    .peertube-select-container {
      @include peertube-select-container(auto);
    }
  }
}

td .glyphicon {
  margin-right: 10px;
}

pre {
  font-size: 11px;
}

.job-error {
  color: red;
}
