@use '_variables' as *;
@use '_mixins' as *;

.select-job-state {
  min-width: 120px;
}

.select-job-type {
  min-width: 240px;

  ::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items {
    @media screen and (min-height: 500px) {
      max-height: calc(90vh - 250px);
    }
  }
}

@media screen and (min-width: $primeng-breakpoint) {
  .job-id {
    max-width: 30vw !important;
  }

  .job-type,
  .job-state,
  .job-priority {
    width: 150px !important;
  }

  .job-date {
    width: 200px !important;
  }
}

.admin-sub-header {
  flex-direction: row !important;
  justify-content: flex-end;

  .select-filter-block {
    &:not(:last-child) {
      @include margin-right(10px);
    }

    label {
      margin-bottom: 2px;
    }

    .peertube-select-container {
      @include peertube-select-container(auto);
    }
  }

  .button-filter-block {
    align-self: flex-end;
  }
}

pre {
  font-size: 11px;
}

.job-error {
  color: #ff0000;
}
