@use '_variables' as *;
@use '_mixins' as *;
@use 'form-mixins' as *;

.select-job-state {
  display: block;
  min-width: 120px;

  ::ng-deep .pt-badge {
    font-size: 13px;
  }
}

.select-job-type {
  display: block;
  min-width: 240px;
}

@media screen and (min-width: $primeng-breakpoint) {
  .job-id {
    max-width: 30vw !important;
  }

  .job-type,
  .job-state,
  .job-priority {
    width: 150px !important;
  }

  .job-date {
    width: 200px !important;
  }
}

.admin-sub-header {
  justify-content: flex-end;

  .peertube-select-container {
    @include peertube-select-container(auto);
  }
}

pre {
  font-size: 11px;
}

.job-error {
  color: pvar(--red);
}
