@import '_variables';
@import '_mixins';

.admin-sub-header {
  align-items: flex-end;

  .select-filter-block {
    &:not(:last-child) {
      margin-right: 10px;
    }

    label {
      margin-bottom: 2px;
    }

    .peertube-select-container {
      @include peertube-select-container(auto);
    }
  }
}

pre {
  font-size: 11px;
}

.job-error {
  color: red;
}
