<div class="admin-sub-header">
  <div class="select-filter-block">
    <label for="jobType" i18n>Job type</label>
    <div class="peertube-select-container">
      <select id="jobType" name="jobType" [(ngModel)]="jobType" (ngModelChange)="onJobStateOrTypeChanged()" class="form-control">
        <option *ngFor="let jobType of jobTypes" [value]="jobType">{{ jobType }}</option>
      </select>
    </div>
  </div>

  <div class="select-filter-block">
    <label for="jobState" i18n>Job state</label>
    <div class="peertube-select-container">
      <select id="jobState" name="jobState" [(ngModel)]="jobState" (ngModelChange)="onJobStateOrTypeChanged()" class="form-control">
        <option *ngFor="let state of jobStates" [value]="state">{{ state }}</option>
      </select>
    </div>
  </div>
</div>

<p-table
  [value]="jobs" [lazy]="true" [paginator]="totalRecords > 0" [totalRecords]="totalRecords" [rows]="rowsPerPage" dataKey="uniqId"
  [sortField]="sort.field" [sortOrder]="sort.order" (onLazyLoad)="loadLazy($event)" [first]="pagination.start"
  [tableStyle]="{'table-layout':'auto'}" (onPage)="onPage($event)" [expandedRowKeys]="expandedRows"
>
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 40px"></th>
      <th style="width: 100%" class="job-id" i18n>ID</th>
      <th style="width: 200px" class="job-type" i18n>Type</th>
      <th style="width: 150px" class="job-date" i18n pSortableColumn="createdAt">Created <p-sortIcon field="createdAt"></p-sortIcon></th>
      <th style="width: 150px" class="job-state" i18n>State</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-expanded="expanded" let-job>
    <tr>
      <td class="expand-cell">
        <span class="expander" [pRowToggler]="job" i18n-ngbTooltip ngbTooltip="More information" placement="top-left" container="body">
          <i [ngClass]="expanded ? 'glyphicon glyphicon-menu-down' : 'glyphicon glyphicon-menu-right'"></i>
        </span>
      </td>

      <td class="job-id" [title]="job.id">{{ job.id }}</td>
      <td class="job-type">{{ job.type }}</td>
      <td class="job-date">{{ job.createdAt | date: 'short' }}</td>
      <td class="job-state" *ngIf="job.state === 'delayed'" class="text-muted"><span class="glyphicon glyphicon-repeat"></span> <span i18n>Delayed</span></td>
      <td class="job-state" *ngIf="job.state === 'waiting'" class="text-warning"><span class="glyphicon glyphicon-hourglass"></span> <span i18n>Will start soon...</span></td>
      <td class="job-state" *ngIf="job.state === 'active'" class="text-warning"><span class="glyphicon glyphicon-cog"></span> <span i18n>Running...</span></td>
      <td class="job-state" *ngIf="job.state === 'completed'" class="text-success"><span class="glyphicon glyphicon-ok"></span> <span i18n>Finished</span></td>
      <td class="job-state" *ngIf="job.state === 'failed'" class="text-danger"><span class="glyphicon glyphicon-remove"></span> <span i18n>Failed</span></td>
    </tr>
  </ng-template>

  <ng-template pTemplate="rowexpansion" let-job>
    <tr>
      <td colspan="4">
        <pre>{{ [
          'Job: ' + job.id,
          'Type: ' + job.type,
          'Processed on ' + (job.processedOn || '-'),
          'Finished on ' + (job.finishedOn || '-')
        ].join('\n') }}</pre>
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <pre>{{ job.data }}</pre>
      </td>
    </tr>
    <tr class="job-error" *ngIf="job.error">
      <td colspan="4">
        <pre>{{ job.error }}</pre>
      </td>
    </tr>
  </ng-template>
</p-table>

