@import 'variables';
@import 'mixins';

.first-step-block {

  .form-group-channel {
    margin-bottom: 20px;
    margin-top: 35px;
  }

  .audio-image-info {
    margin-bottom: 10px;
  }

  .audio-preview {
    margin: 30px 0;
  }
}

.upload-progress-cancel {
  display: flex;
  margin-top: 25px;
  margin-bottom: 40px;

  p-progressBar {
    flex-grow: 1;

    ::ng-deep .ui-progressbar {
      font-size: 15px !important;
      height: 30px !important;
      border-radius: 3px !important;
      background-color: rgba(11, 204, 41, 0.16) !important;

      .ui-progressbar-value {
        background-color: #0BCC29 !important;
      }

      .ui-progressbar-label {
        text-align: left;
        padding-left: 18px;
        margin-top: 0 !important;
        color: #fff !important;
        line-height: 30px !important;
      }
    }

    &.processing {
      ::ng-deep .ui-progressbar-label {
        // Same color as background to hide "100%"
        color: rgba(11, 204, 41, 0.16) !important;

        &::before {
          content: 'Processing...';
          color: #fff;
        }
      }
    }
  }

  input {
    @include peertube-button;
    @include grey-button;

    margin-left: 10px;
  }
}
