<h1 class="sr-only" i18n>Video channels</h1>
<div class="margin-content">

  <div class="no-results" i18n *ngIf="channelPagination.totalItems === 0">This account does not have channels.</div>

  <div class="channels" myInfiniteScroller (nearOfBottom)="onNearOfBottom()" [autoInit]="true" [dataObservable]="onChannelDataSubject.asObservable()">
    <div class="section channel" *ngFor="let videoChannel of videoChannels">
      <div class="section-title">
        <a [routerLink]="getVideoChannelLink(videoChannel)" i18n-title title="See this video channel">
          <img [src]="videoChannel.avatarUrl" alt="Avatar" />

          <h2 class="section-title">{{ videoChannel.displayName }}</h2>
          <div class="followers" i18n>{videoChannel.followersCount, plural, =1 {1 subscriber} other {{{ videoChannel.followersCount }} subscribers}}</div>
        </a>

        <my-subscribe-button [videoChannels]="[videoChannel]"></my-subscribe-button>
      </div>

      <div *ngIf="getVideosOf(videoChannel)" class="videos">
        <div class="no-results my-5" i18n *ngIf="getVideosOf(videoChannel).length === 0">This channel doesn't have any videos.</div>

        <my-video-miniature
          *ngFor="let video of getVideosOf(videoChannel)"
          [video]="video" [user]="userMiniature" [displayVideoActions]="true"
        ></my-video-miniature>
      </div>

      <a *ngIf="getVideosOf(videoChannel).length !== 0" class="show-more" i18n [routerLink]="getVideoChannelLink(videoChannel)">
        SHOW THIS CHANNEL
      </a>
    </div>
  </div>
</div>
