<div class="margin-content">

  <div class="channels" myInfiniteScroller (nearOfBottom)="onNearOfBottom()" [autoInit]="true">
    <div class="section channel" *ngFor="let videoChannel of videoChannels">
      <div class="section-title">
        <a [routerLink]="[ '/video-channels', videoChannel.nameWithHost ]" i18n-title title="See this video channel">
          <img [src]="videoChannel.avatarUrl" alt="Avatar" />

          <div>{{ videoChannel.displayName }}</div>
          <div i18n class="followers">{{ videoChannel.followersCount }} subscribers</div>
        </a>
      </div>

      <my-video-miniature *ngFor="let video of getVideosOf(videoChannel)" [video]="video" [user]="user" [displayVideoActions]="false"></my-video-miniature>
    </div>
  </div>
</div>
