<div
  [ngbPopover]="popContent" autoClose="outside" placement="bottom-left" container="body" popoverClass="popover-notifications"
  i18n-title title="View your notifications" class="notification-avatar" #popover="ngbPopover"
>
  <div *ngIf="unreadNotifications > 0" class="unread-notifications">{{ unreadNotifications }}</div>

  <img [src]="user.accountAvatarUrl" alt="Avatar" />
</div>

<ng-template #popContent>
  <div class="notifications-header">
    <div i18n>Notifications</div>

    <a
      i18n-title title="Update your notification preferences" class="glyphicon glyphicon-cog"
      routerLink="/my-account/settings" fragment="notifications"
    ></a>
  </div>

  <my-user-notifications [ignoreLoadingBar]="true" [infiniteScroll]="false" itemsPerPage="10"></my-user-notifications>

  <a class="all-notifications" routerLink="/my-account/notifications" i18n>See all your notifications</a>
</ng-template>
