@import '_variables';
@import '_mixins';

::ng-deep {
  .popover-notifications.popover {
    max-width: none;
    left: 7px !important;

    .popover-body {
      padding: 0;
      font-size: 14px;
      font-family: $main-fonts;
      width: 400px;
      box-shadow: 0 6px 14px rgba(0, 0, 0, 0.30);

      .loader {
        display: flex;
        align-items: center;
        justify-content: center;

        padding: 5px 0;
      }

      .content {
        max-height: 150px;
        transition: max-height 0.15s ease-out;
        display: flex;
        height: 500px;
        flex-direction: column;

        &.loaded {
          max-height: 500px;
        }

        & > my-user-notifications:nth-child(2) {
          overflow-y: auto;
          flex-grow: 1;
        }
      }

      .notifications-header {
        display: flex;
        justify-content: space-between;

        background-color: rgba(0, 0, 0, 0.10);
        align-items: center;
        padding: 0 10px;
        font-size: 16px;
        min-height: 50px;

        a {
          @include disable-default-a-behaviour;
        }
        
        button {
          @include peertube-button;
        
          padding: 0;
          background: transparent;
        }

        a, button {
          color: rgba(20, 20, 20, 0.5);

          &:hover:not(:disabled) {
            color: rgba(20, 20, 20, 0.8);
          }
        }
      }

      .all-notifications {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: $font-semibold;
        color: $fg-color;
        padding: 7px 0;
        margin-top: auto;
        text-decoration: none;
      }
    }
  }
}

.notification-avatar {
  cursor: pointer;
  position: relative;

  img,
  .unread-notifications {
    margin-left: 20px;
  }

  img {
    @include avatar(34px);

    margin-right: 10px;
  }

  .unread-notifications {
    position: absolute;
    top: -5px;
    left: -5px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: pvar(--mainColor);
    color: #fff;
    font-size: 10px;
    font-weight: $font-semibold;

    border-radius: 15px;
    width: 15px;
    height: 15px;
  }
}

@media screen and (max-width: $mobile-view) {
  ::ng-deep {
    .popover-notifications.popover {
      left: unset !important;

      .arrow {
        left: calc(2em + 7px);
      }

      .popover-body {
        width: 100vw;
      }
    }
  }
}
