@import '_variables';
@import '_mixins';

.modal {
  z-index: 10005;
}

.modal-title {
  text-align: center;
}

.modal-body {
  text-align: center;

  a {
    font-size: 16px;
    margin-top: 10px;
  }
}