<div class="container">
  <div class="row">
    <menu class="col-md-2">
      <div id="panel_get_videos" class="panel_button">
        <a [routerLink]="['VideosList']" class="glyphicon glyphicon-list">Get videos</a>
      </div>

      <div id="panel_upload_video" class="panel_button">
        <a [routerLink]="['VideosAdd']" class="glyphicon glyphicon-cloud-upload">Upload a video</a>
      </div>

      <div id="panel_make_friends" class="panel_button">
        <a (click)='makeFriends()' class="glyphicon glyphicon-user">Make friends</a>
      </div>

      <div id="panel_quit_friends" class="panel_button">
        <a (click)='quitFriends()' class="glyphicon glyphicon-plane">Quit friends</a>
      </div>
    </menu>

    <router-outlet class="col-md-9"></router-outlet>
  </div>
</div>
