<p-table
  [value]="videoImports" [lazy]="true" [paginator]="true" [totalRecords]="totalRecords" [rows]="rowsPerPage"
  [sortField]="sort.field" [sortOrder]="sort.order" (onLazyLoad)="loadLazy($event)"
>
  <ng-template pTemplate="header">
    <tr>
      <th i18n>URL</th>
      <th i18n>Video</th>
      <th i18n style="width: 150px">State</th>
      <th i18n pSortableColumn="createdAt">Created <p-sortIcon field="createdAt"></p-sortIcon></th>
      <th></th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-videoImport>
    <tr>
      <td>
        <a [href]="videoImport.targetUrl" target="_blank" rel="noopener noreferrer">{{ videoImport.targetUrl }}</a>
      </td>

      <td *ngIf="isVideoImportPending(videoImport)">
        {{ videoImport.video.name }}
      </td>
      <td *ngIf="isVideoImportSuccess(videoImport)">
        <a [href]="getVideoUrl(videoImport.video)" target="_blank" rel="noopener noreferrer">{{ videoImport.video.name }}</a>
      </td>
      <td *ngIf="isVideoImportFailed(videoImport)"></td>

      <td>{{ videoImport.state.label }}</td>
      <td>{{ videoImport.createdAt }}</td>

      <td class="action-cell">
        <my-edit-button *ngIf="isVideoImportSuccess(videoImport)" [routerLink]="getEditVideoUrl(videoImport.video)"></my-edit-button>
      </td>
    </tr>
  </ng-template>
</p-table>
