<h3>Login</h3>
<form role="form" (submit)="login(username.value, password.value)">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" #username class="form-control" id="username" placeholder="Username">
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" #password class="form-control" id="password" placeholder="Password">
  </div>

  <input type="submit" value="Login" class="btn btn-default">
</form>
