@use "sass:color";

$primary-foreground-color: #fff;
$primary-foreground-opacity: 0.9;
$primary-foreground-opacity-hover: 1;
$primary-background-color: rgba(0, 0, 0, 0.8);

$font-size: 13px;

$dock-padding: 20px;
