$height: 40px;

.vjs-peertube-offline-notification {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: $height;
  color: pvar(--on-primary);
  background-color: pvar(--primary-50);
  text-align: center;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
