@use "_variables" as *;
@use "_mixins" as *;

// Thanks: https://projects.lukehaas.me/css-loaders/
.vjs-loading-spinner {
  --spinner-size: 6em;

  top: calc(50% - var(--spinner-size) / 2);
  left: calc(50% - var(--spinner-size) / 2);
  font-size: 10px;
  text-indent: -9999em;
  border: 0.7em solid rgba(255, 255, 255, 0.2);
  border-left-color: #ffffff;
  transform: translateZ(0);
  animation: 0.3s ease-out 1.1s forwards vjs-spinner-show, spinner 1.4s infinite linear !important;
  overflow: hidden;
  visibility: hidden;

  &::before {
    animation: none !important;
  }

  &::after {
    display: none !important;
  }

  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes vjs-spinner-show {
    0% {
      opacity: 0;
    }

    1% {
      visibility: visible;
      opacity: 0;
    }

    100% {
      visibility: visible;
      opacity: 1;
    }
  }
}
