@use '_variables' as *;
@use '_mixins' as *;
@use 'bootstrap/scss/functions' as *;

.account-title {
  @include settings-big-title;

  &.account-title-danger {
    color: lighten($color: #c54130, $amount: 10);
  }
}

.row > div {
  max-width: 500px;
}
