<div class="form-row"> <!-- profile grid -->
  <div class="form-group col-12 col-lg-4 col-xl-3">
    <div i18n class="account-title">PROFILE</div>
  </div>

  <div class="form-group form-group-right col-12 col-lg-8 col-xl-9">
    <my-actor-avatar-info [actor]="user.account" (avatarChange)="onAvatarChange($event)"></my-actor-avatar-info>

    <div class="user-quota mb-3">
      <div>
        <div class="progress" i18n-title title="Total video quota">
          <div class="progress-bar" role="progressbar" [style]="{ width: userVideoQuotaPercentage + '%' }" [attr.aria-valuenow]="userVideoQuotaUsed" aria-valuemin="0" [attr.aria-valuemax]="userVideoQuota">{{ userVideoQuotaUsed | bytes: 0 }}</div>
          <span class="ml-auto mr-2">{{ userVideoQuota }}</span>
        </div>
      </div>

      <div *ngIf="hasDailyQuota()" class="mt-3">
        <div class="progress" i18n-title title="Daily video quota">
          <div class="progress-bar secondary" role="progressbar" [style]="{ width: userVideoQuotaDailyPercentage + '%' }" [attr.aria-valuenow]="userVideoQuotaUsedDaily" aria-valuemin="0" [attr.aria-valuemax]="userVideoQuotaDaily">{{ userVideoQuotaUsedDaily | bytes: 0 }}</div>
          <span class="ml-auto mr-2">{{ userVideoQuotaDaily }}</span>
        </div>
      </div>
    </div>

    <my-account-profile [user]="user" [userInformationLoaded]="userInformationLoaded"></my-account-profile>
  </div>
</div>

<div class="form-row mt-5"> <!-- video settings grid -->
  <div class="form-group col-12 col-lg-4 col-xl-3">
    <div class="anchor" id="video-settings"></div> <!-- video settings anchor -->
    <div i18n class="account-title">VIDEO SETTINGS</div>
  </div>

  <div class="form-group form-group-right col-12 col-lg-8 col-xl-9">
    <my-account-video-settings [user]="user" [userInformationLoaded]="userInformationLoaded"></my-account-video-settings>
  </div>
</div>

<div class="form-row mt-5"> <!-- notifications grid -->
  <div class="form-group col-12 col-lg-4 col-xl-3">
    <div class="anchor" id="notifications"></div> <!-- notifications anchor -->
    <div i18n class="account-title">NOTIFICATIONS</div>
  </div>

  <div class="form-group form-group-right col-12 col-lg-8 col-xl-9">
    <my-account-notification-preferences [user]="user" [userInformationLoaded]="userInformationLoaded"></my-account-notification-preferences>
  </div>
</div>

<div class="form-row mt-5"> <!-- interface grid -->
  <div class="form-group col-12 col-lg-4 col-xl-3">
    <div i18n class="account-title">INTERFACE</div>
  </div>

  <div class="form-group form-group-right col-12 col-lg-8 col-xl-9">
    <my-account-interface-settings [user]="user" [userInformationLoaded]="userInformationLoaded"></my-account-interface-settings>
  </div>
</div>

<div class="form-row mt-5" *ngIf="user.pluginAuth === null"> <!-- password grid -->
  <div class="form-group col-12 col-lg-4 col-xl-3">
    <div i18n class="account-title">PASSWORD</div>
  </div>

  <div class="form-group form-group-right col-12 col-lg-8 col-xl-9">
    <my-account-change-password></my-account-change-password>
  </div>
</div>

<div class="form-row mt-5"> <!-- email grid -->
  <div class="form-group col-12 col-lg-4 col-xl-3">
    <div i18n class="account-title">EMAIL</div>
  </div>

  <div class="form-group form-group-right col-12 col-lg-8 col-xl-9">
    <my-account-change-email></my-account-change-email>
  </div>
</div>

<div class="form-row mt-5"> <!-- danger zone grid -->
  <div class="form-group col-12 col-lg-4 col-xl-3">
    <div i18n class="account-title">DANGER ZONE</div>
  </div>

  <div class="form-group form-group-right col-12 col-lg-8 col-xl-9">
    <my-account-danger-zone [user]="user"></my-account-danger-zone>
  </div>
</div>
