@import '_variables';
@import '_mixins';

.user-quota {
  font-size: 15px;
  margin-top: 20px;

  label {
    margin-right: 5px;
  }
}

.account-title {
  @include settings-big-title;

  &.account-title-danger {
    color: lighten($color: #c54130, $amount: 10);
  }
}

.progress {
  @include progressbar;
  width: 500px;
  max-width: 100%;
}

@media screen and (max-width: $small-view) {
  .progress {
    width: 100%;
  }
}
