@import '_variables';
@import '_mixins';

.user-quota {
  font-size: 15px;
  margin-top: 20px;

  label {
    margin-right: 5px;
  }
}

.account-title {
  @include settings-big-title;
}

.progress {
  width: 500px;
  max-width: 100%;
}
