<div class="feature-table">

  <table class="table" *ngIf="serverConfig">
    <tr>
      <td i18n class="label">PeerTube version</td>

      <td class="value">{{ getServerVersionAndCommit() }}</td>
    </tr>

    <tr>
      <td i18n class="label">
        <div>Default NSFW/sensitive videos policy</div>
        <div class="more-info">can be redefined by the users</div>
      </td>

      <td class="value">{{ buildNSFWLabel() }}</td>
    </tr>

    <tr>
      <td i18n class="label">User registration allowed</td>
      <td>
        <my-feature-boolean [value]="serverConfig.signup.allowed"></my-feature-boolean>
      </td>
    </tr>

    <tr>
      <td i18n class="label" colspan="2">Video uploads</td>
    </tr>

    <tr>
      <td i18n class="sub-label">Transcoding in multiple resolutions</td>
      <td>
        <my-feature-boolean [value]="serverConfig.transcoding.enabledResolutions.length !== 0"></my-feature-boolean>
      </td>
    </tr>

    <tr>
      <td i18n class="sub-label">Video uploads</td>
      <td>
        <span i18n *ngIf="serverConfig.autoBlacklist.videos.ofUsers.enabled">Requires manual validation by moderators</span>
        <span i18n *ngIf="!serverConfig.autoBlacklist.videos.ofUsers.enabled">Automatically published</span>
      </td>
    </tr>

    <tr>
      <td i18n class="sub-label">Video quota</td>

      <td class="value">
        <ng-container *ngIf="initialUserVideoQuota !== -1">
          {{ initialUserVideoQuota | bytes: 0 }} <ng-container *ngIf="dailyUserVideoQuota !== -1">({{ dailyUserVideoQuota | bytes: 0 }} per day)</ng-container>

          <my-help tooltipPlacement="auto" helpType="custom">
            <ng-template ptTemplate="customHtml">
              <div [innerHTML]="quotaHelpIndication"></div>
            </ng-template>
          </my-help>
        </ng-container>

        <ng-container i18n *ngIf="initialUserVideoQuota === -1">
          Unlimited <ng-container *ngIf="dailyUserVideoQuota !== -1">({{ dailyUserVideoQuota | bytes: 0 }} per day)</ng-container>
        </ng-container>
      </td>
    </tr>

    <tr>
      <td i18n class="label" colspan="2">Import</td>
    </tr>

    <tr>
      <td i18n class="sub-label">HTTP import (YouTube, Vimeo, direct URL...)</td>
      <td>
        <my-feature-boolean [value]="serverConfig.import.videos.http.enabled"></my-feature-boolean>
      </td>
    </tr>

    <tr>
      <td i18n class="sub-label">Torrent import</td>
      <td>
        <my-feature-boolean [value]="serverConfig.import.videos.torrent.enabled"></my-feature-boolean>
      </td>
    </tr>


    <tr>
      <td i18n class="label" colspan="2">Player</td>
    </tr>

    <tr>
      <td i18n class="sub-label">P2P enabled</td>
      <td>
        <my-feature-boolean [value]="serverConfig.tracker.enabled"></my-feature-boolean>
      </td>
    </tr>

    <tr>
      <td i18n class="label" colspan="2">Search</td>
    </tr>

    <tr>
      <td i18n class="sub-label">Users can resolve distant content</td>
      <td>
        <my-feature-boolean [value]="serverConfig.search.remoteUri.users"></my-feature-boolean>
      </td>
    </tr>
  </table>
</div>
