@use '_variables' as *;
@use '_mixins' as *;
@use '_actor' as *;
@use '_form-mixins' as *;

.followers-header {
  margin-bottom: 30px;
  display: flex;
}

input[type=text] {
  @include peertube-input-text(300px);
}

.actor {
  @include actor-row($min-height: auto, $separator: true);
}
