<my-alert *ngIf="error" type="danger">{{ error }}</my-alert>

<form (ngSubmit)="changePassword()" [formGroup]="form">

  <label i18n for="current-password">Change password</label>
  <my-input-text
    formControlName="current-password" inputId="current-password" i18n-placeholder placeholder="Current password"
    [formError]="formErrors['current-password']" autocomplete="current-password"
  ></my-input-text>

  <my-input-text
    formControlName="new-password" inputId="new-password" i18n-placeholder placeholder="New password"
    [formError]="formErrors['new-password']" autocomplete="new-password"
  ></my-input-text>

  <my-input-text
    formControlName="new-confirmed-password" inputId="new-confirmed-password" i18n-placeholder placeholder="Confirm new password"
    [formError]="formErrors['new-confirmed-password']" autocomplete="new-password"
  ></my-input-text>

  <input class="mt-3 peertube-button primary-button" type="submit" i18n-value value="Change password" [disabled]="!form.valid">
</form>
