@import '_variables';
@import '_mixins';

label {
  font-weight: $font-regular;
  font-size: 100%;
}

input[type=password] {
  @include peertube-input-text(340px);
  display: block;

  &#new-password,
  &#new-confirmed-password  {
    margin-top: 15px;
  }
}

input[type=submit] {
  @include peertube-button;
  @include orange-button;

  margin-top: 15px;
}

