@use '_variables' as *;
@use '_mixins' as *;

label {
  font-weight: $font-regular;
  font-size: 100%;
}

my-input-text {
  width: 340px;
  display: block;
}

my-input-text + my-input-text {
  margin-top: 15px;
}

input[type=submit] {
  @include peertube-button;
  @include orange-button;

  margin-top: 15px;
}
