<div class="admin-sub-header">
  <div i18n class="form-sub-title">Follows & redundancies</div>

  <div class="admin-sub-nav">
    <a i18n routerLink="following-list" routerLinkActive="active">Following</a>

    <a i18n routerLink="following-add" routerLinkActive="active">Follow</a>

    <a i18n routerLink="followers-list" routerLinkActive="active">Followers</a>

    <a i18n routerLink="video-redundancies-list" routerLinkActive="active">Video redundancies</a>
  </div>
</div>

<router-outlet></router-outlet>
