<div class="title-page">
  {{ titlePage }}
</div>

<div class="videos-miniatures">
  <my-video-miniature
    class="ng-animate"
    *ngFor="let video of videos" [video]="video" [user]="user" [currentSort]="sort"
  >
  </my-video-miniature>
</div>

<pagination *ngIf="pagination.totalItems !== null && pagination.totalItems !== 0"
  [totalItems]="pagination.totalItems" [itemsPerPage]="pagination.itemsPerPage" [maxSize]="6" [boundaryLinks]="true" [rotate]="false"
  [(ngModel)]="pagination.currentPage" (pageChanged)="onPageChanged($event)"
></pagination>
