.video-miniature {
  margin: 15px 10px;
  display: inline-block;
  position: relative;
  height: 190px;
  vertical-align: top;

  .video-miniature-thumbnail {
    display: inline-block;
    position: relative;
    border-radius: 3px;
    overflow: hidden;

    &:hover {
      text-decoration: none !important;
    }

    img.blur-filter {
      filter: blur(5px);
      transform : scale(1.03);
    }

    .video-miniature-thumbnail-overlay {
      position: absolute;
      right: 0px;
      bottom: 0px;
      display: inline-block;
      background-color: rgba(0, 0, 0, 0.7);
      color: #fff;
      padding: 3px 5px;
      font-size: 11px;
      font-weight: bold;
      width: 100%;

      .video-miniature-thumbnail-overlay-views {

      }

      .video-miniature-thumbnail-overlay-duration {
        float: right;
      }
    }
  }

  .video-miniature-information {
    width: 200px;

    .video-miniature-name {
      height: 23px;
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-weight: bold;
      transition: color 0.2s;
      font-size: 15px;

      &:hover {
        text-decoration: none;
      }

      &.blur-filter {
        filter: blur(3px);
        padding-left: 4px;
      }

      .video-miniature-tags {
        // Fix for chrome when tags are long
        width: 201px;

        .video-miniature-tag {
          font-size: 13px;
          cursor: pointer;
          position: relative;
          top: -2px;

          .label {
            transition: background-color 0.2s;
          }
        }
      }
    }

    .video-miniature-author, .video-miniature-created-at {
      display: block;
      margin-left: 1px;
      font-size: 11px;
      color: $video-miniature-other-infos;
      opacity: 0.9;
    }

    .video-miniature-author {
      transition: color 0.2s;

      &:hover {
        color: #23527c;
        text-decoration: none;
      }
    }
  }
}
