<div class="video-miniature">
  <a
    [routerLink]="['/videos/watch', video.uuid]" [attr.title]="video.description"
    class="video-miniature-thumbnail"
  >
    <img [attr.src]="video.thumbnailUrl" alt="video thumbnail" [ngClass]="{ 'blur-filter': isVideoNSFWForThisUser() }" />

    <div class="video-miniature-thumbnail-overlay">
      {{ video.durationLabel }}
    </div>
  </a>

  <div class="video-miniature-information">
    <span class="video-miniature-name">
      <a
        class="video-miniature-name"
        [routerLink]="['/videos/watch', video.uuid]" [attr.title]="video.name" [ngClass]="{ 'blur-filter': isVideoNSFWForThisUser() }"
      >
          {{ video.name }}
      </a>
    </span>

    <span class="video-miniature-created-at-views">{{ video.createdAt | fromNow }} - {{ video.views | numberFormatter }} views</span>
    <span class="video-miniature-account">{{ video.by }}</span>
  </div>
</div>
