@use '_variables' as *;
@use '_mixins' as *;
@use '_button-mixins' as *;

@mixin show-more-description {
  @include margin(10px, auto, 45px);
}

@mixin avatar-row-responsive ($img-margin, $actor-handle-font-size) {
  display: flex;
  grid-column: 1;

  @include margin-bottom(2rem);

  > div {
    min-width: 1px;

    @include margin-left($img-margin);
  }

  .actor-info {
    display: flex;

    > div:first-child {
      flex-grow: 1;
      min-width: 1px;
    }
  }

  .actor-display-name {
    display: flex;
    flex-wrap: wrap;

    @include peertube-word-wrap;
  }

  h1 {
    font-weight: $font-bold;
    margin: 0;

    @include font-size(2rem);
  }

  .actor-handle {
    @include ellipsis;
  }

  .actor-handle,
  .actor-counters {
    color: pvar(--fg-300);

    @include font-size($actor-handle-font-size);
  }

  .actor-counters > *:not(:last-child)::after {
    content: '•';
    margin: 0 10px;
    color: pvar(--primary);
  }
}
