@use '_variables' as *;
@use '_mixins' as *;

@mixin section-label-responsive {
  color: pvar(--mainColor);
  font-size: 12px;
  margin-bottom: 15px;
  font-weight: $font-bold;
  letter-spacing: 2.5px;

  @media screen and (max-width: $mobile-view) {
    font-size: 10px;
    letter-spacing: 2.1px;
    margin-bottom: 5px;
  }
}

@mixin show-more-description {
  color: pvar(--mainColor);
  cursor: pointer;
  margin: 10px auto 45px;
}

@mixin avatar-row-responsive ($img-margin, $grey-font-size) {
  display: flex;
  grid-column: 1;
  margin-bottom: 30px;

  .main-avatar {
    @include actor-avatar-size(120px);
  }

  > div {
    @include margin-left($img-margin);

    min-width: 1px;
  }

  .actor-info {
    display: flex;

    > div:first-child {
      flex-grow: 1;
      min-width: 1px;
    }
  }

  .actor-display-name {
    @include peertube-word-wrap;

    display: flex;
    flex-wrap: wrap;
  }

  h1 {
    font-size: 28px;
    font-weight: $font-bold;
    margin: 0;
  }

  .actor-handle {
    @include ellipsis;
  }

  .actor-handle,
  .actor-counters {
    color: pvar(--greyForegroundColor);
    font-size: $grey-font-size;
  }

  .actor-counters > *:not(:last-child)::after {
    content: '•';
    margin: 0 10px;
    color: pvar(--mainColor);
  }

  @media screen and (max-width: $mobile-view) {
    margin-bottom: 15px;

    h1 {
      font-size: 22px;
    }

    .main-avatar {
      @include actor-avatar-size(80px);
    }
  }
}
