@use "sass:math";
@use "sass:color";
@use "_variables" as *;
@use "_mixins" as *;
@use "_button-mixins" as *;

@mixin peertube-input-text($width, $font-size: $form-input-font-size) {
  font-size: $font-size;

  padding: pvar(--input-y-padding) pvar(--input-x-padding);
  width: $width;
  max-width: $width;
  color: pvar(--input-fg);
  background-color: pvar(--input-bg);
  border: pvar(--input-border-width) solid pvar(--input-border-color);
  border-radius: pvar(--input-border-radius);

  @include rounded-line-height-1-5($font-size);

  &::placeholder {
    color: pvar(--input-placeholder-color);
    font-size: pvar(--input-placeholder-font-size);
  }

  &[readonly] {
    color: pvar(--fg-300);
  }

  &:focus,
  &:focus-visible {
    box-shadow: $focus-box-shadow-form;
    outline: 0;
  }

  &[disabled] {
    color: pvar(--fg-300);
    opacity: 0.8;
  }

  @media screen and (max-width: calc(#{$width} + 40px)) {
    width: 100%;
  }
}

@mixin peertube-textarea($width, $height) {
  @include peertube-input-text($width);

  & {
    color: pvar(--textarea-fg) !important;
    background-color: pvar(--textarea-bg) !important;
    height: $height;
    padding: pvar(--textarea-y-padding) pvar(--textarea-x-padding);
  }
}

@mixin peertube-select-container($width) {
  padding: 0;
  margin: 0;
  position: relative;
  height: min-content;

  @include responsive-width($width);

  &::after {
    top: 50%;
    right: calc(0% + 15px);
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border: 5px solid rgba(0, 0, 0, 0);
    border-top-color: pvar(--fg-300);
    margin-top: -2px;
    z-index: 100;
  }

  select {
    @include secondary-button;
    @include rounded-line-height-1-5($form-input-font-size);

    & {
      font-size: $form-input-font-size;

      padding: pvar(--input-y-padding) calc(#{pvar(--input-x-padding)} + 23px) pvar(--input-y-padding) pvar(--input-x-padding);
      position: relative;
      border: pvar(--input-border-width) solid var(--input-border-color) !important;
      appearance: none;
      text-overflow: ellipsis;

      color: pvar(--input-fg);
      background: pvar(--input-bg);

      border-radius: pvar(--input-border-radius);
    }

    &:focus,
    &:focus-visible {
      box-shadow: $focus-box-shadow-form;
    }

    &[disabled] {
      opacity: 0.5;
    }
  }
}

// Thanks: https://codepen.io/manabox/pen/raQmpL
@mixin peertube-radio-container {
  --pt-radio-scale-font: 1;
  --pt-radio-scale-el: 1;

  &[disabled] {
    opacity: 0.5;
  }

  label {
    font-size: calc(#{$form-input-font-size} * var(--pt-radio-scale-font));
    color: pvar(--fg-350);
  }

  [type="radio"]:focus-visible,
  [type="radio"]:focus {
    & + label::before {
      box-shadow: $focus-box-shadow-form;
    }
  }

  [type="radio"]:checked,
  [type="radio"]:not(:checked) {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  [type="radio"]:checked + label,
  [type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: calc(28px * var(--pt-radio-scale-el));
    cursor: pointer;
    line-height: calc(20px * var(--pt-radio-scale-el));
    display: inline-block;
    font-weight: $font-regular;
  }

  [type="radio"]:checked + label::before,
  [type="radio"]:not(:checked) + label::before {
    content: "";
    position: absolute;
    left: 0;
    top: calc(-1px * var(--pt-radio-scale-el));
    width: calc(20px * var(--pt-radio-scale-el));
    height: calc(20px * var(--pt-radio-scale-el));
    border: 2px solid pvar(--fg-300);
    border-radius: 100%;
  }

  [type="radio"]:checked + label::after,
  [type="radio"]:not(:checked) + label::after {
    content: "";
    width: calc(10px * var(--pt-radio-scale-el));
    height: calc(10px * var(--pt-radio-scale-el));
    background: pvar(--input-check-active-bg);
    position: absolute;
    top: calc(4px * var(--pt-radio-scale-el));
    left: calc(5px * var(--pt-radio-scale-el));
    border-radius: 100%;
    transition: all 0.2s ease;
  }
  [type="radio"]:not(:checked) + label::after {
    opacity: 0;
    transform: scale(0);
  }

  [type="radio"]:checked + label::before {
    border: 2px solid pvar(--fg);
  }

  [type="radio"]:checked + label::after {
    opacity: 1;
    transform: scale(1);
  }

  .form-group-description {
    display: block;
    margin-top: -7px;
    margin-bottom: 10px;
    margin-left: 29px;
  }

  &.small {
    --pt-radio-scale-font: 0.875;
    --pt-radio-scale-el: 0.8;
  }
}
