$main-fonts: 'Source Sans Pro', sans-serif;
$font-regular: 400;
$font-semibold: 600;
$font-bold: 700;

$grey-color: #01CDFE;
$grey-hoover-color: #CBFFE6;;
$orange-color: #ff71ce;
$orange-hoover-color: #FFCFEA;

$black-background: #BFB9FF;
$grey-background: #D9E1FB;
$red-error: #FF71CE;

$expanded-horizontal-margins: 150px;
$not-expanded-horizontal-margins: 30px;

$button-height: 30px;

$header-height: 50px;
$header-border-color: #e9eff6;
$search-input-width: 375px;

$menu-color: #FEFFBE;
$menu-width: 240px;

$footer-height: 30px;
$footer-margin: 30px;

$footer-border-color: $header-border-color;

$video-thumbnail-height: 110px;
$video-thumbnail-width: 200px;
