$small-view: 800px;
$mobile-view: 500px;

$main-fonts: 'Source Sans Pro', sans-serif;
$font-regular: 400;
$font-semibold: 600;
$font-bold: 700;

$grey-background-color: #E5E5E5;
$grey-background-hover-color: #EFEFEF;
$grey-foreground-color: #585858;
$grey-foreground-hover-color: #303030;

$orange-color: #F1680D;
$orange-hover-color: #F97D46;

$bg-color: #fff;
$fg-color: #000;

$red: #FF0000;
$green: #39CC0B;

$grey-actor-name: #777272;

$expanded-horizontal-margins: 150px;
$not-expanded-horizontal-margins: 30px;

$button-height: 30px;

$header-height: 50px;
$header-border-color: #e9eff6;
$search-input-width: 375px;

$menu-background: #000;
$menu-color: #fff;
$menu-bottom-color: #C6C6C6;
$menu-width: 240px;
$menu-lateral-padding: 26px;

$sub-menu-color: #F7F7F7;

$footer-height: 30px;
$footer-margin: 30px;

$footer-border-color: $header-border-color;

$separator-border-color: rgba(0, 0, 0, 0.10);

$video-miniature-width: 238px;
$video-thumbnail-height: 122px;
$video-thumbnail-width: 223px;
$video-thumbnail-ratio: $video-thumbnail-width / $video-thumbnail-height;

$theater-bottom-space: 115px;

$input-background-color: $bg-color;
$input-placeholder-color: #898989;

$sub-menu-margin-bottom: 30px;

/*** map theme ***/

// pass variables into a sass map,
// to be warned of non-existing variables
$variables: (
  --mainColor: var(--mainColor),
  --mainHoverColor: var(--mainHoverColor),
  --mainBackgroundColor: var(--mainBackgroundColor),
  --mainForegroundColor: var(--mainForegroundColor),
  --menuBackgroundColor: var(--menuBackgroundColor),
  --menuForegroundColor: var(--menuForegroundColor),
  --submenuColor: var(--submenuColor),
  --inputColor: var(--inputColor),
  --inputPlaceholderColor: var(--inputPlaceholderColor)
);

/*** theme helper ***/

@function var($variable) {
  @return map-get($variables, $variable);
}
