@use '_variables' as *;
@use '_mixins' as *;
@use '_miniature' as *;

.comment-html {
  background-color: pvar(--bg-secondary-400);
  padding: 10px;
}

.abuse-details-date-updated {
  font-size: 90%;
  margin-top: .1rem;
}

.abuse-details-links {
  @include disable-default-a-behaviour;
}

my-global-icon[iconName=flag] {
  @include global-icon-size(15px);
}
