<p-table
  [value]="abuses" [paginator]="totalRecords > 0" [totalRecords]="totalRecords" [rows]="rowsPerPage" [first]="pagination.start"
  [rowsPerPageOptions]="rowsPerPageOptions" [sortField]="sort.field" [sortOrder]="sort.order" dataKey="id" [resizableColumns]="true"
  [lazy]="true" (onLazyLoad)="loadLazy($event)" [lazyLoadOnInit]="false"
  [showCurrentPageReport]="true" [currentPageReportTemplate]="getPaginationTemplate()" [expandedRowKeys]="expandedRows"
>
  <ng-template pTemplate="caption">
    <div class="caption">
      <div class="ms-auto">
        <my-advanced-input-filter [filters]="inputFilters" (search)="onSearch($event)"></my-advanced-input-filter>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr> <!-- header -->
      <th scope="col" style="width: 40px;">
        <span i18n class="visually-hidden">More information</span>
      </th>
      <th scope="col" style="width: 70px;">
        <span i18n class="visually-hidden">Actions</span>
      </th>
      <th scope="col" *ngIf="isAdminView()" style="width: 20%;" pResizableColumn i18n>Reporter</th>
      <th scope="col" i18n>Video/Comment/Account</th>
      <th scope="col" style="width: 150px;" i18n [ngbTooltip]="sortTooltip" container="body" pSortableColumn="createdAt">Created <p-sortIcon field="createdAt"></p-sortIcon></th>
      <th scope="col" i18n [ngbTooltip]="sortTooltip" container="body" pSortableColumn="state" style="width: 80px;">State <p-sortIcon field="state"></p-sortIcon></th>
      <th scope="col" i18n style="width: 80px;">Messages</th>
      <th scope="col" i18n *ngIf="isAdminView()" style="width: 100px;">Internal note</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-expanded="expanded" let-abuse>
    <tr>
      <td class="expand-cell">
        <my-table-expander-icon [pRowToggler]="abuse" [expanded]="expanded"></my-table-expander-icon>
      </td>

      <td class="action-cell">
        <my-action-dropdown
          [ngClass]="{ 'show': expanded }" placement="bottom-right top-right left auto" container="body"
          [actions]="abuseActions" [entry]="abuse" buttonSize="small"
        ></my-action-dropdown>
      </td>

      <td *ngIf="isAdminView()">
        <a *ngIf="abuse.reporterAccount" [href]="abuse.reporterAccount.url" i18n-title title="Open account in a new tab" target="_blank" rel="noopener noreferrer">
          <div class="chip two-lines">
            <my-actor-avatar [actor]="abuse.reporterAccount" actorType="account" size="32"></my-actor-avatar>
            <div>
              {{ abuse.reporterAccount.displayName }}
              <span>{{ abuse.reporterAccount.nameWithHost }}</span>
            </div>
          </div>
        </a>

        <span i18n *ngIf="!abuse.reporterAccount">
          Deleted account
        </span>
      </td>

      <ng-container *ngIf="abuse.video">

        <td *ngIf="!abuse.video.deleted">
          <my-video-cell [video]="abuse.video">
            <span image>
              <span
                class="table-video-image-label" *ngIf="abuse.count > 1"
                i18n-title title="This video has been reported multiple times."
              >
                {{ abuse.nth }}/{{ abuse.count }}
              </span>
            </span>

            <span name>
              <my-global-icon *ngIf="abuse.video.blacklisted" iconName="no" i18n-title title="The video was blocked"></my-global-icon>
            </span>
          </my-video-cell>
        </td>

        <td *ngIf="abuse.video.deleted" class="c-hand" [pRowToggler]="abuse">
          <div class="table-video" i18n-title title="Video was deleted">
            <div class="table-video-text">
              <div>
                {{ abuse.video.name }}

                <span i18n class="fst-italic">(Deleted video)</span>
              </div>

              <div class="video-owner" i18n>by {{ abuse.video.channel?.displayName }} on {{ abuse.video.channel?.host }} </div>
            </div>
          </div>
        </td>
      </ng-container>

      <ng-container *ngIf="abuse.comment">
        <td>
          <a
            [href]="getCommentUrl(abuse)" [innerHTML]="abuse.commentHTML" class="table-comment-link ellipsis-multiline-1"
            [title]="abuse.comment.video.name" target="_blank" rel="noopener noreferrer"
          ></a>

          <div class="comment-flagged-account" *ngIf="abuse.flaggedAccount">by {{ abuse.flaggedAccount.displayName }}</div>
        </td>
      </ng-container>

      <ng-container *ngIf="!abuse.comment && !abuse.video">
        <td *ngIf="abuse.flaggedAccount">
          <a [href]="getAccountUrl(abuse)"  class="table-account-link" target="_blank" rel="noopener noreferrer">
            <span>{{ abuse.flaggedAccount.displayName }}</span>

            <span class="account-flagged-handle">{{ abuse.flaggedAccount.nameWithHostForced }}</span>
          </a>
        </td>

        <td i18n *ngIf="!abuse.flaggedAccount">
          Account deleted
        </td>

      </ng-container>

      <td class="c-hand" [pRowToggler]="abuse">{{ abuse.createdAt | ptDate: 'short'  }}</td>

      <td class="c-hand abuse-states" [pRowToggler]="abuse">
        <div *ngIf="isAbuseAccepted(abuse)" [title]="abuse.state.label" class="pt-badge badge-success">
          <my-global-icon iconName="tick"></my-global-icon>
        </div>

        <div *ngIf="isAbuseRejected(abuse)" [title]="abuse.state.label" class="pt-badge badge-danger">
          <my-global-icon iconName="cross"></my-global-icon>
        </div>
      </td>

      <td class="abuse-messages">
        <button
          *ngIf="isLocalAbuse(abuse)" (click)="openAbuseMessagesModal(abuse)"
          class="peertube-button secondary-button icon-only"
          [ariaLabel]="getSendMessageButtonLabel(abuse)"
          [title]="getSendMessageButtonLabel(abuse)"
        >
          {{ abuse.countMessages }}

          <my-global-icon aria- iconName="message-circle"></my-global-icon>
        </button>
      </td>

      <td *ngIf="isAdminView()" class="internal-note" container="body" placement="left auto" [ngbTooltip]="abuse.moderationComment">
        {{ abuse.moderationComment }}
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="rowexpansion" let-abuse>
      <tr>
        <td *ngIf="isAdminView()" class="expand-cell" myAutoColspan>
          <my-abuse-details [abuse]="abuse" [isAdminView]="true"></my-abuse-details>
        </td>
        <td *ngIf="!isAdminView()" class="expand-cell" myAutoColspan>
          <my-abuse-details [abuse]="abuse" [isAdminView]="false"></my-abuse-details>
        </td>
      </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr>
      <td myAutoColspan>
        <div class="no-results">
          <ng-container *ngIf="search" i18n>No abuses found matching current filters.</ng-container>
          <ng-container *ngIf="!search" i18n>No abuses found.</ng-container>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>

<my-moderation-comment-modal #moderationCommentModal (commentUpdated)="onModerationCommentUpdated()"></my-moderation-comment-modal>
<my-abuse-message-modal #abuseMessagesModal [isAdminView]="isAdminView()" (countMessagesUpdated)="onCountMessagesUpdated($event)"></my-abuse-message-modal>
