<div class="d-flex moderation-expanded">
  <!-- report left part (report details) -->
  <div class="col-8">

    <!-- report metadata -->
    <div class="d-flex" *ngIf="isAdminView && abuse.reporterAccount">
      <span class="col-3 moderation-expanded-label" i18n>Reporter</span>

      <span class="col-9 moderation-expanded-text">
        <a [routerLink]="[ baseRoute ]" [queryParams]="{ 'search': 'reporter:&quot;' + abuse.reporterAccount.displayName + '&quot;' }"
          class="chip"
        >
          <img
            class="avatar"
            [src]="abuse.reporterAccount.avatar?.path"
            (error)="switchToDefaultAvatar($event)"
            alt="Avatar"
          >
          <div>
            <span class="text-muted">{{ abuse.reporterAccount.nameWithHost }}</span>
          </div>
        </a>

        <a [routerLink]="[ baseRoute ]" [queryParams]="{ 'search': 'reporter:&quot;' + abuse.reporterAccount.displayName + '&quot;' }"
          class="ml-auto text-muted abuse-details-links" i18n
        >
          {abuse.countReportsForReporter, plural, =1 {1 report} other {{{ abuse.countReportsForReporter }} reports}}<span class="ml-1 glyphicon glyphicon-flag"></span>
        </a>
      </span>
    </div>

    <div class="d-flex" *ngIf="abuse.flaggedAccount">
      <span class="col-3 moderation-expanded-label" i18n>Reportee</span>
      <span class="col-9 moderation-expanded-text">
        <a [routerLink]="[ baseRoute ]" [queryParams]="{ 'search': 'reportee:&quot;' +abuse.flaggedAccount.displayName + '&quot;' }"
          class="chip"
        >
          <img
            class="avatar"
            [src]="abuse.flaggedAccount?.avatar?.path"
            (error)="switchToDefaultAvatar($event)"
            alt="Avatar"
          >
          <div>
            <span class="text-muted">{{ abuse.flaggedAccount ? abuse.flaggedAccount.nameWithHost : '' }}</span>
          </div>
        </a>

        <a *ngIf="isAdminView" [routerLink]="[ baseRoute ]" [queryParams]="{ 'search': 'reportee:&quot;' +abuse.flaggedAccount.displayName + '&quot;' }"
          class="ml-auto text-muted abuse-details-links" i18n
        >
          {abuse.countReportsForReportee, plural, =1 {1 report} other {{{ abuse.countReportsForReportee }} reports}}<span class="ml-1 glyphicon glyphicon-flag"></span>
        </a>
      </span>
    </div>

    <div class="d-flex" *ngIf="abuse.updatedAt">
      <span class="col-3 moderation-expanded-label" i18n>Updated</span>
      <time class="col-9 moderation-expanded-text abuse-details-date-updated">{{ abuse.updatedAt | date: 'medium' }}</time>
    </div>

    <!-- report text -->
    <div class="mt-3 d-flex">
      <span class="col-3 moderation-expanded-label">
        <ng-container i18n>Report</ng-container>
        <a [routerLink]="[ baseRoute ]" [queryParams]="{ 'search': '#' + abuse.id  }" class="ml-1 text-muted">#{{ abuse.id }}</a>
      </span>
      <span class="col-9 moderation-expanded-text" [innerHTML]="abuse.reasonHtml"></span>
    </div>

    <div *ngIf="getPredefinedReasons()" class="mt-2 d-flex">
      <span class="col-3"></span>
      <span class="col-9">
        <a *ngFor="let reason of getPredefinedReasons()"  [routerLink]="[ baseRoute ]"
          [queryParams]="{ 'search': 'tag:' + reason.id  }" class="chip rectangular bg-secondary text-light"
        >
          <div>{{ reason.label }}</div>
        </a>
      </span>
    </div>

    <div *ngIf="abuse.video?.startAt" class="mt-2 d-flex">
      <span class="col-3 moderation-expanded-label" i18n>Reported part</span>
      <span class="col-9">
        {{ startAt }}<ng-container *ngIf="abuse.video.endAt"> - {{ endAt }}</ng-container>
      </span>
    </div>

    <div class="mt-3 d-flex" *ngIf="isAdminView && abuse.moderationComment">
      <span class="col-3 moderation-expanded-label" i18n>Note</span>
      <span class="col-9 moderation-expanded-text d-block" [innerHTML]="abuse.moderationCommentHtml"></span>
    </div>

  </div>

  <!-- report right part (video/comment details) -->
  <div class="col-4">
    <div *ngIf="abuse.video" class="screenratio">
      <div *ngIf="abuse.video.deleted" i18n>The video was deleted</div>
      <div *ngIf="!abuse.video.deleted" [innerHTML]="abuse.embedHtml"></div>
    </div>

    <div *ngIf="abuse.comment" class="comment-html">
      <div>
        <strong i18n>Comment:</strong>
      </div>

      <div [innerHTML]="abuse.commentHtml"></div>
    </div>
  </div>
</div>
