@use '_mixins' as *;
@use '_variables' as *;

.comment-flagged-account,
.account-flagged-handle {
  font-size: 11px;
  color: var(--greyForegroundColor);
}

.abuse-states .glyphicon-comment {
  @include margin-left(0.5rem);
}

.abuse-messages {
  my-global-icon {
    @include margin-left(3px);

    width: 22px;
    position: relative;
    top: -2px;
  }
}
