@import 'variables';
@import 'mixins';
@import 'miniature';

.comment-html {
  background-color: #ececec;
  padding: 10px;
}

.abuse-details-date-updated {
  font-size: 90%;
  margin-top: .1rem;
}

.abuse-details-links {
  @include disable-default-a-behaviour;
}
