<ng-template #modal>
  <div class="modal-header">
    <h4 i18n class="modal-title">Moderation comment</h4>

    <my-global-icon iconName="cross" aria-label="Close" role="button" (click)="hide()"></my-global-icon>
  </div>

  <div class="modal-body">
    <form novalidate [formGroup]="form" (ngSubmit)="banUser()">
      <div class="form-group">
        <textarea
          formControlName="moderationComment" ngbAutofocus i18-placeholder placeholder="Comment this report…"
          [ngClass]="{ 'input-error': formErrors['moderationComment'] }" class="form-control">
        </textarea>
        <div *ngIf="formErrors.moderationComment" class="form-error">
          {{ formErrors.moderationComment }}
        </div>
      </div>

      <div class="form-group" i18n>
        This comment can only be seen by you or the other moderators.
      </div>

      <div class="form-group inputs">
        <input
          type="button" role="button" i18n-value value="Cancel" class="action-button action-button-cancel"
          (click)="hide()" (key.enter)="hide()"
        >

        <input
          type="submit" i18n-value value="Update this comment" class="action-button-submit"
          [disabled]="!form.valid"
        >
      </div>
    </form>
  </div>

</ng-template>
