@import 'miniature';
@import 'mixins';

.chip {
  @include chip;
}

.badge {
  @include table-badge;
}

.video-table-video {
  display: inline-flex;

  .video-table-video-image {
    @include miniature-thumbnail;

    $image-height: 45px;

    height: $image-height;
    width: #{(16/9) * $image-height};
    margin-right: 0.5rem;
    border-radius: 2px;
    border: none;
    background: transparent;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;

    img {
      height: 100%;
      width: 100%;
      border-radius: 2px;
    }

    span {
      color: pvar(--inputPlaceholderColor);
    }

    .video-table-video-image-label {
      @include static-thumbnail-overlay;
      position: absolute;
      border-radius: 3px;
      font-size: 10px;
      padding: 0 3px;
      line-height: 1.3;
      bottom: 2px;
      right: 2px;
    }
  }

  .video-table-video-text {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    font-size: 90%;
    color: pvar(--mainForegroundColor);
    line-height: 1rem;

    div .glyphicon {
      font-size: 80%;
      color: gray;
      margin-left: 0.1rem;
    }

    div + div {
      font-size: 80%;
    }
  }
}
