<form (ngSubmit)="updateEmailPublic()" [formGroup]="form">

  <div class="form-group">
    <my-peertube-checkbox
      inputName="email-public" formControlName="email-public"
      i18n-labelText labelText="Allow email to be publicly displayed"
    >
      <ng-container ngProjectAs="description">
        <p class="mb-0">
          @if (user.emailVerified) {
            <ng-container i18n>Necessary to claim podcast RSS feeds.</ng-container>
          } @else {
            <ng-container i18n>⚠️ Your email cannot be used in podcast RSS feeds because it has not yet been verified.</ng-container>
          }
          </p>
      </ng-container>
    </my-peertube-checkbox>
  </div>

  <input class="peertube-button primary-button" type="submit" i18n-value value="Save email settings" [disabled]="!form.valid">
</form>
