@import '_variables';
@import '_mixins';

.create-button {
  @include create-button;
}

::ng-deep .action-button {
  &.action-button-delete {
    margin-right: 10px;
  }
}

.video-playlist {
  @include row-blocks;

  .miniature-wrapper {
    flex-grow: 1;

    ::ng-deep .miniature {
      display: flex;

      .miniature-info {
        margin-left: 10px;
        width: auto;
      }
    }
  }

  .video-playlist-buttons {
    min-width: 190px;
  }
}

.video-playlists-header {
  text-align: right;
  margin: 20px 0 50px;
}

@media screen and (max-width: 800px) {
  .video-playlists-header {
    text-align: center;
  }

  .video-playlist {

    .video-playlist-buttons {
      margin-top: 10px;
    }
  }

  my-video-playlist-miniature ::ng-deep .miniature {
    flex-direction: column;

    .miniature-info {
      margin-left: 0 !important;
    }

    .miniature-name {
      max-width: $video-thumbnail-width;
    }
  }
}
