<h1>
  <span>
    <my-global-icon iconName="playlists" aria-hidden="true"></my-global-icon>
    <ng-container i18n>My playlists</ng-container> <span class="badge badge-secondary">{{ pagination.totalItems }}</span>
  </span>
</h1>

<div class="video-playlists-header d-flex justify-content-between">
  <div class="has-feedback has-clear">
    <input type="text" placeholder="Search your playlists" i18n-placeholder [(ngModel)]="videoPlaylistsSearch"
      (ngModelChange)="onVideoPlaylistSearchChanged()" />
    <a class="glyphicon glyphicon-remove-sign form-control-feedback form-control-clear" (click)="resetSearch()"></a>
    <span class="sr-only" i18n>Clear filters</span>
  </div>

  <a class="create-button" routerLink="create">
    <my-global-icon iconName="add" aria-hidden="true"></my-global-icon>
    <ng-container i18n>Create playlist</ng-container>
  </a>
</div>

<div class="video-playlists" myInfiniteScroller [autoInit]="true" (nearOfBottom)="onNearOfBottom()" [dataObservable]="onDataSubject.asObservable()">
  <div *ngFor="let playlist of videoPlaylists" class="video-playlist">
    <div class="miniature-wrapper">
      <my-video-playlist-miniature [playlist]="playlist" [toManage]="true" [displayChannel]="true" [displayDescription]="true" [displayPrivacy]="true"
      ></my-video-playlist-miniature>
    </div>

    <div *ngIf="isRegularPlaylist(playlist)" class="video-playlist-buttons">
      <my-delete-button label (click)="deleteVideoPlaylist(playlist)"></my-delete-button>

      <my-edit-button label [routerLink]="[ 'update', playlist.uuid ]"></my-edit-button>
    </div>
  </div>
</div>
