@import '_variables';
@import '_mixins';
@import '_miniature';

.playlist-info {
  background-color: pvar(--submenuColor);
  margin-left: -$not-expanded-horizontal-margins;
  margin-top: -$sub-menu-margin-bottom;

  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* fix ellipsis dots background color */
  ::ng-deep .miniature-name::after {
    background-color: pvar(--submenuColor) !important;
  }
}

.playlist-buttons {
  display:flex;
  margin: 30px 0 10px 0;

  .share-button {
    @include peertube-button;
    @include button-with-icon(17px, 3px, -1px);
    @include grey-button;
    @include apply-svg-color(pvar(--actionButtonColor));

    margin-right: 10px;
  }
}

// Thanks Angular CDK <3 https://material.angular.io/cdk/drag-drop/examples
.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.video:last-child {
  border: none;
}

.videos.cdk-drop-list-dragging .video:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

@media screen and (max-width: $small-view) {
  .playlist-info {
    width: 100vw;
    padding-top: 20px;
    margin-left: calc(#{var(--expanded-horizontal-margin-content)} * -1);
  }
}

@media not all and (hover: hover) and (pointer: fine) {
  .video {
    .more {
      opacity: 1;
    }
  }
}
