@import '_variables';
@import '_mixins';

.create-button {
  @include create-button;
}

::ng-deep .action-button {
  &.action-button-delete {
    margin-right: 10px;
  }
}

.video-playlist {
  @include row-blocks;

  .miniature-wrapper {
    flex-grow: 1;

    ::ng-deep .miniature {
      display: flex;

      .miniature-info {
        margin-left: 10px;
        width: auto;
      }
    }
  }

  .video-playlist-buttons {
    min-width: 190px;
    height: max-content;
  }
}

.video-playlists-header {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 50px;

  input[type=text] {
    @include peertube-input-text(300px);
  }

  h1 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: $small-view) {
  .video-playlists-header {
    text-align: center;
  }

  .video-playlist {

    .video-playlist-buttons {
      margin-top: 10px;
    }
  }

  my-video-playlist-miniature ::ng-deep .miniature {
    flex-direction: column;

    .miniature-info {
      margin-left: 0 !important;
    }

    .miniature-name {
      max-width: $video-thumbnail-width;
    }
  }
}

@media only screen and (min-width: $mobile-view) and (max-width: $small-view) {
  .video-playlists-header {
    input[type=text] {
      width: 42% !important;
    }
  }
}

@media screen and (max-width: $mobile-view) {
  .video-playlists-header {
    flex-direction: column;

    input[type=text] {
      width: 100% !important;
      margin-bottom: 12px;
    }
  }
}
