name: Docker

on:
  push:
    branches:
      - 'master'
  schedule:
    - cron: '0 3 * * *'

jobs:
  generate-matrix:
    name: Generate matrix for Docker build
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: master
      - name: Set matrix for build
        id: set-matrix
        run: |
          # FIXME: https://github.com/actions/checkout/issues/290
          git fetch --force --tags

          one="{ \"file\": \"./support/docker/production/Dockerfile.bullseye\", \"ref\": \"develop\", \"tags\": \"chocobozzz/peertube:develop-bullseye\", \"platforms\": \"linux/amd64\" }"
          one="{ \"file\": \"./support/docker/production/Dockerfile.bullseye\", \"ref\": \"develop\", \"tags\": \"chocobozzz/peertube:develop-bullseye\", \"platforms\": \"linux/arm64\" }"
          two="{ \"file\": \"./support/docker/production/Dockerfile.bullseye\", \"ref\": \"master\", \"tags\": \"chocobozzz/peertube:production-bullseye,chocobozzz/peertube:$(git describe --abbrev=0)-bullseye\", \"platforms\": \"linux/amd64\" }"
          two="{ \"file\": \"./support/docker/production/Dockerfile.bullseye\", \"ref\": \"master\", \"tags\": \"chocobozzz/peertube:production-bullseye,chocobozzz/peertube:$(git describe --abbrev=0)-bullseye\", \"platforms\": \"linux/arm64\" }"
          three="{ \"file\": \"./support/docker/production/Dockerfile.nginx\", \"ref\": \"master\", \"tags\": \"chocobozzz/peertube-webserver:latest\", \"platforms\": \"linux/amd64,linux/arm64\" }"

          matrix="[$one,$two,$three]"
          echo "matrix={\"include\":$matrix}" >> $GITHUB_OUTPUT

  docker:
    runs-on: ubuntu-latest

    needs: generate-matrix

    strategy:
      matrix: ${{ fromJson(needs.generate-matrix.outputs.matrix) }}
      fail-fast: false

    name: ${{ matrix.tags }}

    steps:
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      -
        name: Checkout develop
        uses: actions/checkout@v3
        with:
          ref: ${{ matrix.ref }}
      -
        name: Docker build
        uses: docker/build-push-action@v3
        with:
          context: '.'
          platforms: ${{ matrix.platforms }}
          push: true
          file: ${{ matrix.file }}
          tags: ${{ matrix.tags }}
