@import 'variables';
@import 'mixins';
@import 'miniature';

.form-sub-title {
  flex-grow: 0;
  margin-right: 30px;
}

.moderation-expanded-label {
  font-weight: $font-semibold;
  display: inline-block;
  vertical-align: top;
  text-align: right;
}

.moderation-expanded-text {
  display: inline-block;
  word-wrap: break-word;

  ::ng-deep p:last-child {
    margin-bottom: 0px !important;
  }
}

.video-abuse-states {
  & > :not(:first-child) {
    margin-left: .4rem;
  }
}

.glyphicon-trash {
  font-size: 80%;
}

.screenratio {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56%;

  div {
    @include miniature-thumbnail;
    position: absolute;
    height: 100%;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  ::ng-deep iframe {
    position: absolute;
    width: 100% !important;
    height: 100% !important;
    left: 0;
    top: 0;
  }
}

.chip {
  @include chip;
}
