@import '_variables';
@import '_mixins';

.root-comment {
  font-size: 15px;
  display: flex;

  img {
    @include avatar(36px);

    margin-top: 5px;
    margin-right: 20px;
  }

  .comment {
    flex-grow: 1;
    // Fix word-wrap with flex
    min-width: 1px;

    .highlighted-comment {
      display: inline-block;
      background-color: #F5F5F5;
      color: #3d3d3d;
      padding: 0 5px;
      font-size: 13px;
      margin-bottom: 5px;
      font-weight: $font-semibold;
      border-radius: 3px;
    }

    .comment-account-date {
      display: flex;
      margin-bottom: 4px;

      .comment-account {
        @include disable-default-a-behaviour;

        color: #000;
        font-weight: $font-bold;
      }

      .comment-date {
        color: #585858;
        margin-left: 10px;
      }
    }

    .comment-html {
      @include peertube-word-wrap;

      // Mentions
      /deep/ a {

        &:not(.linkified-url) {
          @include disable-default-a-behaviour;

          color: #000;

          font-weight: $font-semibold;
        }

      }
    }

    .comment-actions {
      margin: 10px 0;
      display: flex;

      .comment-action-reply,
      .comment-action-delete {
        color: #585858;
        cursor: pointer;
        margin-right: 10px;

        &:hover {
          color: #000;
        }
      }
    }
  }
}

// Decrease the space of child comments on small screens
@media screen and (max-width: 1600px) {
  .children {
    margin-left: -20px;
  }
}

@media screen and (max-width: 1200px) {
  .children {
    margin-left: -30px;
  }
}

@media screen and (max-width: 600px) {
  .children {
    margin-left: -35px;
  }

  .root-comment {
    img { margin-right: 10px; }
  }
}
