@use '_variables' as *;
@use '_mixins' as *;
@use '_form-mixins' as *;

my-timestamp-input {
  width: 100px;
}

.information {
  margin-bottom: 20px;
}

textarea {
  @include peertube-textarea(100%, 100px);
}

.start-at,
.stop-at {
  width: 300px;
  display: flex;
  align-items: center;

  my-timestamp-input {
    @include margin-left(10px);
  }
}
