@import '_mixins';
@import '_miniature';

.videos-header {
  display: flex;
  height: 80px;
  align-items: center;

  .title-page.title-page-single {
    margin: 0 5px 0 0;
  }

  my-feed {
    display: inline-block;
    top: 1px;
    min-width: 60px;
  }

  .moderation-block {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
  }
}

.margin-content {
  @include adapt-margin-content-width;
}

