<div [ngClass]="{ 'margin-content': marginContent }">
  <div *ngIf="titlePage" class="title-page title-page-single">
    {{ titlePage }}
  </div>
  <my-video-feed [syndicationItems]="syndicationItems"></my-video-feed>

  <div i18n *ngIf="pagination.totalItems === 0">No results.</div>
  <div
    myInfiniteScroller
    [pageHeight]="pageHeight"
    (nearOfTop)="onNearOfTop()" (nearOfBottom)="onNearOfBottom()" (pageChanged)="onPageChanged($event)"
    class="videos" #videosElement
  >
    <div *ngFor="let videos of videoPages" class="videos-page">
      <my-video-miniature
        class="ng-animate"
        *ngFor="let video of videos" [video]="video" [user]="user" [ownerDisplayType]="ownerDisplayType"
      >
      </my-video-miniature>
    </div>
  </div>
</div>
