@import '_mixins';
@import '_miniature';

.videos-header {
  display: flex;
  height: 80px;
  align-items: center;

  .title-page.title-page-single {
    margin: 0 5px 0 0;
  }

  my-feed {
    display: inline-block;
    top: 1px;
    min-width: 60px;
  }

  .moderation-block {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
  }
}

.margin-content {
  width: $video-miniature-width * 6;
  margin: auto !important;

  @media screen and (max-width: 1800px) {
    width: $video-miniature-width * 5;
  }

  @media screen and (max-width: 1800px - $video-miniature-width) {
    width: $video-miniature-width * 4;
  }

  @media screen and (max-width: 1800px - (2* $video-miniature-width)) {
    width: $video-miniature-width * 3;
  }

  @media screen and (max-width: 1800px - (3* $video-miniature-width)) {
    width: $video-miniature-width * 2;
  }

  @media screen and (max-width: 500px) {
    width: auto;
    margin: 0 !important;

    .videos {
      @include video-miniature-small-screen;
    }
  }
}

