@import '_mixins';

.video-feed {
  a {
    color: black;
    display: block;
  }

  .icon {
    @include icon(12px);

    &.icon-syndication {
      position: relative;
      top: -2px;
      background-color: var(--mainForegroundColor);
      mask-image: url('../../../assets/images/global/syndication.svg');
    }
  }
}