@import '_variables';
@import '_mixins';

.video-feed {
  width: min-content;

  a {
    color: black;
    display: block;
  }

  my-global-icon {
    cursor: pointer;
    width: 12px;
    position: relative;
    top: -2px;

    @include apply-svg-color(pvar(--mainForegroundColor))
  }
}
