@import '_variables';
@import '_mixins';
@import '_miniature';

.video-thumbnail {
  @include miniature-thumbnail;

  .progress-bar {
    height: 3px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.20);

    div {
      height: 100%;
      background-color: var(--mainColor);
    }
  }

  .video-thumbnail-duration-overlay {
    @include static-thumbnail-overlay;

    position: absolute;
    right: 5px;
    bottom: 5px;
    padding: 0 5px;
    border-radius: 3px;
    font-size: 12px;
    font-weight: $font-bold;
    z-index: 1;
  }
}
