@import '_variables';
@import '_mixins';

.video-thumbnail {
  display: inline-block;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  width: $video-thumbnail-width;
  height: $video-thumbnail-height;
  background-color: #ececec;

  &:hover {
    text-decoration: none !important;
  }

  @include disable-outline;
  &.focus-visible {
    box-shadow: 0 0 0 2px var(--mainColor);
  }

  img {
    width: $video-thumbnail-width;
    height: $video-thumbnail-height;

    &.blur-filter {
      filter: blur(5px);
      transform : scale(1.03);
    }
  }

  .progress-bar {
    height: 3px;
    width: 100%;
    position: relative;
    top: -3px;
    background-color: rgba(0, 0, 0, 0.20);

    div {
      height: 100%;
      background-color: var(--mainColor);
    }
  }

  .video-thumbnail-overlay {
    position: absolute;
    right: 5px;
    bottom: 5px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-size: 12px;
    font-weight: $font-bold;
    border-radius: 3px;
    padding: 0 5px;
  }
}
