<div class="video-miniature">
  <my-video-thumbnail [video]="video" [nsfw]="isVideoBlur()"></my-video-thumbnail>

  <div class="video-miniature-information">
    <a
      class="video-miniature-name"
      [routerLink]="[ '/videos/watch', video.uuid ]" [attr.title]="video.name" [ngClass]="{ 'blur-filter': isVideoBlur() }"
    >
        {{ video.name }}
    </a>

    <span class="video-miniature-created-at-views">{{ video.publishedAt | myFromNow }} - {{ video.views | myNumberFormatter }} views</span>
    <a class="video-miniature-account" [routerLink]="[ '/accounts', video.account.id ]">{{ video.by }}</a>
  </div>
</div>
