@import '_variables';
@import '_mixins';

.video-miniature {
  display: inline-block;
  padding-right: 15px;
  margin-bottom: 30px;
  height: 175px;
  vertical-align: top;

  .video-miniature-information {
    width: 200px;
    margin-top: 2px;
    line-height: normal;

    .video-miniature-name {
      @include ellipsis-multiline(
        $font-size: 1rem,
        $line-height: 1,
        $lines-to-show: 2
      );
      transition: color 0.2s;
      font-size: 16px;
      font-weight: $font-semibold;
      color: var(--mainForegroundColor);
      margin-top: 5px;
      margin-bottom: 5px;

      &:hover {
        text-decoration: none;
      }

      &.blur-filter {
        filter: blur(3px);
        padding-left: 4px;
      }
    }

    .video-miniature-created-at-views {
      display: block;
      font-size: 13px;
    }

    .video-miniature-account,
    .video-miniature-channel {
      @include disable-default-a-behaviour;

      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 13px;
      color: #585858;

      &:hover {
        color: #303030;
      }
    }
    .video-miniature-account {
      padding: 0 25px 0 0; // leave some space for the action button
    }

    .icon-action:hover:active
    .icon-action:hover,
    .icon-action {
      @include icon(21px);
      @include disable-outline;
  
      background: var(--mainBackgroundColor) url('../../../assets/images/video/more.svg');
      top: -1px;
      float: right;
      border: none;
      transform: rotate(90deg) scale(.7);
    }

    .dropdown-toggle::after {
      display:none;
    }

    .dropdown {
      top: -18px; // to align with the channel name bloc
      right: -5px;
    }
    .dropdown-item {
      font-size: 13px;
      padding: 4px 14px;

      &.disabled,&:disabled {
        color: #6c757d !important;
      }
    }
    .dropdown-menu {
      padding: 0.2rem 0;
    }
    .dropdown-divider {
      margin: 0.2rem 0;
    }
  }
}