@import '_variables';
@import '_mixins';
@import '_miniature';

.video-miniature {
  display: inline-block;
  padding-right: 15px;
  margin-bottom: 30px;
  height: 195px;
  vertical-align: top;

  .video-miniature-information {
    width: 200px;
    margin-top: 2px;
    line-height: normal;

    .video-miniature-name {
      @include miniature-name;
    }

    .video-miniature-created-at-views {
      display: block;
      font-size: 13px;
    }

    .video-miniature-account,
    .video-miniature-channel {
      @include disable-default-a-behaviour;
      @include ellipsis;

      display: block;
      font-size: 13px;
      color: $grey-foreground-color;

      &:hover {
        color: $grey-foreground-hover-color;
      }
    }
  }
}
