@import '_variables';
@import '_mixins';
@import '_miniature';

$more-button-width: 41px;
$more-margin-right: 15px;

.video-miniature {
  display: inline-flex;
  flex-direction: column;
  margin-bottom: $video-miniature-margin-bottom;
  height: 195px;
  vertical-align: top;

  .video-bottom {
    display: flex;

    .video-miniature-information {
      width: $video-miniature-width - $more-button-width - $more-margin-right;
      line-height: normal;
      font-size: 13px;

      .video-miniature-name {
        @include miniature-name;
        font-size: 110%;
      }

      .video-miniature-created-at-views {
        display: block;
        font-size: 95%;
      }

      .video-miniature-account,
      .video-miniature-channel {
        @include disable-default-a-behaviour;
        @include ellipsis;

        display: block;
        font-size: 95%;
        color: pvar(--greyForegroundColor);

        &:hover {
          color: $grey-foreground-hover-color;
        }
      }

      .video-info-privacy,
      .video-info-blacklisted .blacklisted-label,
      .video-info-nsfw {
        font-weight: $font-semibold;
      }

      .video-info-blacklisted {
        color: red;

        .blacklisted-reason::before {
          content: ' - ';
        }
      }

      .video-info-nsfw {
        color: red;
      }
    }

    .video-actions {
      margin-top: 3px;
      width: $more-button-width;
      height: 30px;

      ::ng-deep .dropdown-root:not(.show) {
        opacity: 0;
      }

      ::ng-deep .playlist-dropdown.show + my-action-dropdown .dropdown-root {
        opacity: 1;
      }

      ::ng-deep .more-icon {
        opacity: .6;

        &:hover {
          opacity: 1;
        }
      }
    }

    @media screen and (max-width: $small-view) {
      .video-miniature-information {
        margin: 0 10px;
      }

      .video-actions {
        margin: 0;
        top: -3px;

        ::ng-deep .dropdown-root {
          opacity: 1 !important;
        }
      }
    }
  }

  &:hover ::ng-deep .video-thumbnail .video-thumbnail-actions-overlay,
  &:hover .video-bottom .video-actions ::ng-deep .dropdown-root {
    opacity: 1;
  }

  &.fit-width {
    width: 100%;
    height: unset;
    margin-bottom: $video-miniature-margin-bottom / 2;

    .video-bottom {
      width: 100% !important;

      .video-miniature-information {
        width: calc(100% - 40px) !important;
      }
    }

    my-video-thumbnail {
      position: relative;
      height: 0;
      width: 100%;
      padding-top: 56%;
  
      ::ng-deep .video-thumbnail {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  &.display-as-row {
    flex-direction: row;
    margin-bottom: 0;
    height: auto;
    display: flex;
    flex-grow: 1;

    my-video-thumbnail {
      margin-right: 10px;
    }

    .video-bottom {
      .video-miniature-information {
        @media screen and (min-width: $small-view) {
          width: auto;
          min-width: 500px;
        }

        .video-miniature-name {
          @include ellipsis-multiline(1.3em, 2);

          margin-top: 2px;
          margin-bottom: 5px;
        }

        .video-miniature-created-at-views,
        .video-miniature-account,
        .video-miniature-channel {
          font-size: 95%;
          width: fit-content;
        }

        .video-info-privacy {
          margin-top: 5px;
        }

        .video-info-blacklisted {
          margin-top: 3px;
        }
      }

      .video-actions {
        margin: 0;
        top: -3px;
      }
    }

    @media screen and (max-width: $small-view) {
      flex-direction: column;
      height: auto;

      my-video-thumbnail {
        margin-right: 0;
      }

      .video-miniature-information {
        min-width: initial;
      }
    }
  }
}
